{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Navigatr Universal API",
    "version": "0.0.4",
    "description": "Create, issue, and manage digital badges and learning pathways"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/navigatr/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/navigatr/latest/actions/get-user-detail": {
      "get": {
        "operationId": "navigatr.get-user-detail",
        "summary": "Get User Detail",
        "description": "Retrieves user details from Navigatr.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/navigatr/latest/actions/get-user-detail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatar_url": {
                            "type": "string",
                            "description": "Avatar URL"
                          },
                          "bio": {
                            "type": "string",
                            "description": "User biography"
                          },
                          "communities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "description": "Community ID"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Community name"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Community URL"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string",
                                  "description": "Email address"
                                },
                                "is_primary": {
                                  "type": "boolean",
                                  "description": "Whether the email is primary"
                                },
                                "is_verified": {
                                  "type": "boolean",
                                  "description": "Whether the email is verified"
                                },
                                "user_id": {
                                  "type": "number",
                                  "description": "Owning user ID"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "firstname": {
                            "type": "string",
                            "description": "First name"
                          },
                          "id": {
                            "type": "number",
                            "description": "User ID"
                          },
                          "interests": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "User interests"
                            }
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Last name"
                          },
                          "learning_styles": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "User learning styles"
                            }
                          },
                          "providers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "description": "Provider ID"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Provider name"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Provider URL"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "role": {
                            "type": "string",
                            "description": "User role"
                          },
                          "status": {
                            "type": "string",
                            "description": "User status"
                          },
                          "time_created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "time_updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/navigatr/latest/actions/list-badge-assertions": {
      "get": {
        "operationId": "navigatr.list-badge-assertions",
        "summary": "List Badge Assertions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/navigatr/latest/actions/list-badge-assertions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "query",
            "required": false,
            "description": "Retrieve assertions issued to a specific user. Use `0` for the current user, or `19524` for the known Navigatr test user when a concrete ID is needed.",
            "schema": {
              "type": "number",
              "description": "Retrieve assertions issued to a specific user. Use `0` for the current user, or `19524` for the known Navigatr test user when a concrete ID is needed.",
              "default": 0
            }
          },
          {
            "name": "badgeId",
            "in": "query",
            "required": false,
            "description": "Retrieve assertions for a specific badge.",
            "schema": {
              "type": "number",
              "description": "Retrieve assertions for a specific badge."
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "required": false,
            "description": "Retrieve assertions issued by a specific provider.",
            "schema": {
              "type": "number",
              "description": "Retrieve assertions issued by a specific provider."
            }
          },
          {
            "name": "recipientEmail",
            "in": "query",
            "required": false,
            "description": "Retrieve assertions issued to a specific email address. The docs note this filter is typically admin-only.",
            "schema": {
              "type": "string",
              "description": "Retrieve assertions issued to a specific email address. The docs note this filter is typically admin-only.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Order results by newest first by default, or by badge name / time created using the provider-supported values.",
            "schema": {
              "type": "string",
              "description": "Order results by newest first by default, or by badge name / time created using the provider-supported values."
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Filter badge assertions by badge names similar to the provided text.",
            "schema": {
              "type": "string",
              "description": "Filter badge assertions by badge names similar to the provided text."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by one or more badge assertion statuses as a comma-separated string, such as `Pending,Claimed`.",
            "schema": {
              "type": "string",
              "description": "Filter by one or more badge assertion statuses as a comma-separated string, such as `Pending,Claimed`."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "badge_id": {
                                  "type": "number"
                                },
                                "badge_issuer_id": {
                                  "type": "number"
                                },
                                "badge": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "end_date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "image_url": {
                                  "type": "string"
                                },
                                "image_url_2x": {
                                  "type": "string"
                                },
                                "image_url_original": {
                                  "type": "string"
                                },
                                "issue_date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "issuing_method": {
                                  "type": "string"
                                },
                                "provider_id": {
                                  "type": "number"
                                },
                                "provider": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "recipient_email": {
                                  "type": "string"
                                },
                                "recipient_firstname": {
                                  "type": "string"
                                },
                                "recipient_id": {
                                  "type": "number"
                                },
                                "recipient_lastname": {
                                  "type": "string"
                                },
                                "recipient_organisation": {
                                  "type": "string"
                                },
                                "recipient": {
                                  "type": "object",
                                  "properties": {
                                    "firstname": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "lastname": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "reminder_emails_sent": {
                                  "type": "number"
                                },
                                "revocation_reason": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "time_claimed": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "time_created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "time_updated": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "time_verified": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "url": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "Paginated badge assertion results."
                          },
                          "page": {
                            "type": "number"
                          },
                          "pages": {
                            "type": "number"
                          },
                          "size": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/navigatr/latest/actions/list-badges": {
      "get": {
        "operationId": "navigatr.list-badges",
        "summary": "List Badges",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/navigatr/latest/actions/list-badges"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issuerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "communityId",
            "in": "query",
            "required": false,
            "description": "Community ID. Runtime verification shows this endpoint requires provider_id or community_id for this account.",
            "schema": {
              "type": "number",
              "description": "Community ID. Runtime verification shows this endpoint requires provider_id or community_id for this account."
            }
          },
          {
            "name": "qaCommunityId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "required": false,
            "description": "Provider ID. Runtime verification shows this endpoint requires provider_id or community_id for this account.",
            "schema": {
              "type": "number",
              "description": "Provider ID. Runtime verification shows this endpoint requires provider_id or community_id for this account."
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "qaRequired",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "community_ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "description": "Community IDs"
                                  }
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Badge description"
                                },
                                "earn_url": {
                                  "type": "string",
                                  "description": "Badge earn URL"
                                },
                                "external_url": {
                                  "type": "string",
                                  "description": "Badge external URL"
                                },
                                "featured": {
                                  "type": "boolean",
                                  "description": "Whether the badge is featured"
                                },
                                "id": {
                                  "type": "number",
                                  "description": "Badge ID"
                                },
                                "image_url": {
                                  "type": "string",
                                  "description": "Badge image URL"
                                },
                                "information_url": {
                                  "type": "string",
                                  "description": "Badge information URL"
                                },
                                "issuer_id": {
                                  "type": "number",
                                  "description": "Issuer ID"
                                },
                                "issuer": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number",
                                      "description": "Issuer record ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Issuer name"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Badge name"
                                },
                                "provider_ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "description": "Provider IDs"
                                  }
                                },
                                "qa_required": {
                                  "type": "boolean",
                                  "description": "Whether QA is required"
                                },
                                "recipient_type": {
                                  "type": "string",
                                  "description": "Badge recipient type"
                                },
                                "source": {
                                  "type": "string",
                                  "description": "Badge source"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Badge status"
                                },
                                "time_created": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Creation timestamp"
                                },
                                "time_updated": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Last update timestamp"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Badge type"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public badge URL"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "page": {
                            "type": "number",
                            "description": "Current page number"
                          },
                          "pages": {
                            "type": "number",
                            "description": "Total number of pages"
                          },
                          "size": {
                            "type": "number",
                            "description": "Page size"
                          },
                          "total": {
                            "type": "number",
                            "description": "Total number of badges"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/navigatr/latest/actions/list-user-badges": {
      "get": {
        "operationId": "navigatr.list-user-badges",
        "summary": "List User Badges",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/navigatr/latest/actions/list-user-badges"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "Use 0 for the current user, or a specific user ID such as 19524 when needed.",
            "schema": {
              "type": "number",
              "description": "Use 0 for the current user, or a specific user ID such as 19524 when needed.",
              "default": 0
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Sort order for the user's badges.",
            "schema": {
              "type": "string",
              "description": "Sort order for the user's badges."
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Filter badges by keyword.",
            "schema": {
              "type": "string",
              "description": "Filter badges by keyword."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter badges by status.",
            "schema": {
              "type": "string",
              "description": "Filter badges by status."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "badge_id": {
                                  "type": "number",
                                  "description": "Badge ID"
                                },
                                "badge_issuer_id": {
                                  "type": "number",
                                  "description": "Badge issuer ID"
                                },
                                "badge": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number",
                                      "description": "Badge record ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Badge name"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "end_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "End date"
                                },
                                "id": {
                                  "type": "number",
                                  "description": "Badge assertion ID"
                                },
                                "issue_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Issue date"
                                },
                                "issuing_method": {
                                  "type": "string",
                                  "description": "Issuing method"
                                },
                                "provider_id": {
                                  "type": "number",
                                  "description": "Provider ID"
                                },
                                "provider": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number",
                                      "description": "Provider record ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Provider name"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "recipient_email": {
                                  "type": "string",
                                  "description": "Recipient email"
                                },
                                "recipient_firstname": {
                                  "type": "string",
                                  "description": "Recipient first name"
                                },
                                "recipient_id": {
                                  "type": "number",
                                  "description": "Recipient user ID"
                                },
                                "recipient_lastname": {
                                  "type": "string",
                                  "description": "Recipient last name"
                                },
                                "recipient": {
                                  "type": "object",
                                  "properties": {
                                    "firstname": {
                                      "type": "string",
                                      "description": "Recipient first name from profile"
                                    },
                                    "id": {
                                      "type": "number",
                                      "description": "Recipient record ID"
                                    },
                                    "lastname": {
                                      "type": "string",
                                      "description": "Recipient last name from profile"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "source": {
                                  "type": "string",
                                  "description": "Source type"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Badge assertion status"
                                },
                                "time_claimed": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Claim timestamp"
                                },
                                "time_created": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Creation timestamp"
                                },
                                "time_updated": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Last update timestamp"
                                },
                                "time_verified": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Verification timestamp"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public badge assertion URL"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "page": {
                            "type": "number",
                            "description": "Current page number"
                          },
                          "pages": {
                            "type": "number",
                            "description": "Total number of pages"
                          },
                          "size": {
                            "type": "number",
                            "description": "Page size"
                          },
                          "total": {
                            "type": "number",
                            "description": "Total number of badge assertions"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/navigatr/latest/actions/list-user-communities": {
      "get": {
        "operationId": "navigatr.list-user-communities",
        "summary": "List User Communities",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/navigatr/latest/actions/list-user-communities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "Use 0 for the current user, or a specific user ID such as 19524 when needed.",
            "schema": {
              "type": "number",
              "description": "Use 0 for the current user, or a specific user ID such as 19524 when needed.",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "banner_url": {
                                  "type": "string",
                                  "description": "Community banner URL"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "Community city"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Community country"
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Community email"
                                },
                                "enable_members": {
                                  "type": "boolean",
                                  "description": "Whether community members are enabled"
                                },
                                "external_url": {
                                  "type": "string",
                                  "description": "External website URL"
                                },
                                "featured": {
                                  "type": "boolean",
                                  "description": "Whether this community is featured"
                                },
                                "id": {
                                  "type": "number",
                                  "description": "Community ID"
                                },
                                "image_url": {
                                  "type": "string",
                                  "description": "Community image URL"
                                },
                                "is_default": {
                                  "type": "boolean",
                                  "description": "Whether this is the default community"
                                },
                                "is_demo": {
                                  "type": "boolean",
                                  "description": "Whether this is a demo community"
                                },
                                "is_verified": {
                                  "type": "boolean",
                                  "description": "Whether this community is verified"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Community name"
                                },
                                "organisation_name": {
                                  "type": "string",
                                  "description": "Organisation name"
                                },
                                "phone": {
                                  "type": "string",
                                  "description": "Community phone number"
                                },
                                "short_name": {
                                  "type": "string",
                                  "description": "Community short name"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Community status"
                                },
                                "time_created": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Creation timestamp"
                                },
                                "time_updated": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Last update timestamp"
                                },
                                "time_verified": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Verification timestamp"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Community type"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public community URL"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
