{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Advanced Scraper Universal API",
    "version": "0.0.6",
    "description": "Scrape remote URLs through APILayer Advanced Scraper with rotating IPs, browser rendering, CSS selectors, form submission, and JavaScript execution."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/advancedScraper/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/advancedScraper/latest/actions/scrape-url": {
      "get": {
        "operationId": "advancedScraper.scrape-url",
        "summary": "Scrape URL",
        "description": "Retrieves scraped data from a remote URL in Advanced Scraper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/advancedScraper/latest/actions/scrape-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Remote URL to scrape.",
            "schema": {
              "type": "string",
              "description": "Remote URL to scrape."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional two-character country code for originating IP address.",
            "schema": {
              "type": "string",
              "description": "Optional two-character country code for originating IP address."
            }
          },
          {
            "name": "render",
            "in": "query",
            "required": false,
            "description": "Render the remote page with a browser. Set false for images, JSON, PDFs, XML, or other files.",
            "schema": {
              "type": "boolean",
              "description": "Render the remote page with a browser. Set false for images, JSON, PDFs, XML, or other files."
            }
          },
          {
            "name": "selector",
            "in": "query",
            "required": false,
            "description": "CSS selector to return only selected content.",
            "schema": {
              "type": "string",
              "description": "CSS selector to return only selected content."
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in seconds before returning a result. APILayer documents min 5 and max 45.",
            "schema": {
              "type": "number",
              "description": "Timeout in seconds before returning a result. APILayer documents min 5 and max 45."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "The scraped response body returned by APILayer."
                          },
                          "options": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Scraping options applied by APILayer for the request."
                          },
                          "request_headers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Headers APILayer sent to the remote site."
                          },
                          "response_headers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Headers returned by the remote site."
                          },
                          "url": {
                            "type": "string",
                            "description": "The remote URL that was scraped."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
