{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Go4Clients Universal API",
    "version": "0.0.3",
    "description": "Create campaigns, send SMS and emails, and track analytics"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/go4Clients/latest/actions/add-calls-to-voice-campaign": {
      "put": {
        "operationId": "go4Clients.add-calls-to-voice-campaign",
        "summary": "Add Calls to Voice Campaign",
        "description": "Adds calls to an existing Go4Clients voice campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/add-calls-to-voice-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "voiceCampaignId",
                  "destinationsList[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "voiceCampaignId": {
                    "type": "string",
                    "description": "Voice campaign identifier.",
                    "example": "69dd2799f931660008cdc96f"
                  },
                  "destinationsList[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Destination list of phone numbers."
                  },
                  "stepList[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "IVR step list when not using a prebuilt IVR."
                  },
                  "ivrId": {
                    "type": "string",
                    "description": "Identifier for a prebuilt IVR.",
                    "example": "ivr-id"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Map of personalized IVR fields."
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority of the voice calls.",
                    "example": "LOW"
                  },
                  "scheduledDate": {
                    "type": "string",
                    "description": "Scheduled date in YYYY-MM-DDTHH:mm:sssZ format.",
                    "example": "2026-04-14T10:00:000Z"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignId": {
                            "type": "string",
                            "description": "Identifier of the voice campaign."
                          },
                          "campaignName": {
                            "type": "string",
                            "description": "Name of the voice campaign."
                          },
                          "destinationsList": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Destinations included in the request."
                          },
                          "generatedIds": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Generated IDs mapped to destinations."
                          },
                          "ivrId": {
                            "type": "string",
                            "description": "IVR identifier when used."
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority of the voice request."
                          },
                          "recordCall": {
                            "type": "boolean",
                            "description": "Whether call recording is enabled."
                          },
                          "sender": {
                            "type": "string",
                            "description": "Sender used for the campaign."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/add-email-to-campaign": {
      "put": {
        "operationId": "go4Clients.add-email-to-campaign",
        "summary": "Add Email to Campaign",
        "description": "Adds email recipients to an existing Go4Clients campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/add-email-to-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "campaignId",
                  "destinationsList[]",
                  "landingCustomFields",
                  "fromEmail"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Email campaign identifier.",
                    "example": "69dd2653841fc80008eba9e1"
                  },
                  "destinationsList[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Email destination list."
                  },
                  "landingCustomFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Map of custom fields keyed by destination email."
                  },
                  "fromEmail": {
                    "type": "string",
                    "description": "From email used in the email sent.",
                    "example": "apps@mindcloud.co"
                  },
                  "fromName": {
                    "type": "string",
                    "description": "From name associated to the sender email.",
                    "example": "Apps MindCloud"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject of the email.",
                    "example": "MindCloud follow-up email"
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority of the email.",
                    "example": "LOW"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignId": {
                            "type": "string",
                            "description": "Identifier of the email campaign."
                          },
                          "destinationsList": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Destinations included in the request."
                          },
                          "fromEmail": {
                            "type": "string",
                            "description": "From email used for the message."
                          },
                          "fromName": {
                            "type": "string",
                            "description": "From name used for the message."
                          },
                          "generatedIds": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Generated IDs mapped to destinations."
                          },
                          "landingCustomFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom fields keyed by destination."
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority of the message."
                          },
                          "replyEmail": {
                            "type": "string",
                            "description": "Reply-to email used for the message."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject of the message."
                          },
                          "waitForAddOn": {
                            "type": "number",
                            "description": "Wait time before add-on processing."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/add-personalized-ivr": {
      "put": {
        "operationId": "go4Clients.add-personalized-ivr",
        "summary": "Add Personalized IVR",
        "description": "Adds a personalized IVR to a Go4Clients voice campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/add-personalized-ivr"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "voiceCampaignId",
                  "destinationsList[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "voiceCampaignId": {
                    "type": "string",
                    "description": "Voice campaign identifier.",
                    "example": "69dd2799f931660008cdc96f"
                  },
                  "destinationsList[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Destination list of phone numbers."
                  },
                  "ivrId": {
                    "type": "string",
                    "description": "Identifier of the IVR to use in the call.",
                    "example": "5c8bf92ca73e1a0007e25851"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Map of values used to personalize the IVR."
                  },
                  "stepList[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional IVR step list when no IVR ID is provided."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/add-shortlink-to-campaign": {
      "put": {
        "operationId": "go4Clients.add-shortlink-to-campaign",
        "summary": "Add Shortlink to Campaign",
        "description": "Adds shortlinks to an existing Go4Clients campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/add-shortlink-to-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shortlinkCampaignId",
                  "key[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shortlinkCampaignId": {
                    "type": "string",
                    "description": "Shortlink campaign identifier.",
                    "example": "69dd271fcc9a80000773ba02"
                  },
                  "key[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of shortlink keys to create."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shortlinksApi": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Shortlinks created for the campaign."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-and-send-voice": {
      "post": {
        "operationId": "go4Clients.create-and-send-voice",
        "summary": "Create and Send Voice",
        "description": "Creates a campaign and sends voice calls in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-and-send-voice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "destinationsList[]",
                  "sender",
                  "campaignName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "destinationsList[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Destination phone numbers in international format."
                  },
                  "stepList[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Step list for the IVR flow when not using a prebuilt IVR."
                  },
                  "ivrId": {
                    "type": "string",
                    "description": "Identifier for a prebuilt IVR.",
                    "example": "ivr-id"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Map of values used to personalize the IVR."
                  },
                  "sender": {
                    "type": "string",
                    "description": "Caller ID shown to recipients.",
                    "example": "573112233445"
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority of the calls in Go4Clients.",
                    "example": "LOW"
                  },
                  "scheduledDate": {
                    "type": "string",
                    "description": "Scheduled date in YYYY-MM-DDTHH:mm:sssZ format.",
                    "example": "2026-04-14T10:00:000Z"
                  },
                  "campaignName": {
                    "type": "string",
                    "description": "Campaign name to identify the call in analytics.",
                    "example": "MindCloud voice blast"
                  },
                  "text2speech": {
                    "type": "string",
                    "description": "Text that will be converted into voice for the call.",
                    "example": "Hello from MindCloud"
                  },
                  "voice": {
                    "type": "string",
                    "description": "Voice used to convert text to speech.",
                    "example": "PEDRO"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignId": {
                            "type": "string",
                            "description": "Identifier of the created voice campaign."
                          },
                          "campaignName": {
                            "type": "string",
                            "description": "Name of the created voice campaign."
                          },
                          "destinationsList": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Destinations included in the request."
                          },
                          "generatedIds": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Generated IDs mapped to destinations."
                          },
                          "ivrId": {
                            "type": "string",
                            "description": "IVR identifier when used."
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority of the voice campaign."
                          },
                          "recordCall": {
                            "type": "boolean",
                            "description": "Whether call recording is enabled."
                          },
                          "sender": {
                            "type": "string",
                            "description": "Sender used for the voice campaign."
                          },
                          "text2speech": {
                            "type": "string",
                            "description": "Text-to-speech message when used."
                          },
                          "voice": {
                            "type": "string",
                            "description": "Voice used for text-to-speech."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-contact": {
      "post": {
        "operationId": "go4Clients.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mobileNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mobileNumber": {
                    "type": "string",
                    "description": "Contact phone number.",
                    "example": "573001234500"
                  },
                  "name": {
                    "type": "string",
                    "description": "Custom field value for name.",
                    "example": "Stage 3 Contact"
                  },
                  "sex": {
                    "type": "string",
                    "description": "Custom field value for sex.",
                    "example": "F"
                  },
                  "weight": {
                    "type": "string",
                    "description": "Custom field value for weight.",
                    "example": "95"
                  },
                  "height": {
                    "type": "string",
                    "description": "Custom field value for height.",
                    "example": "1.82"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "height": {
                            "type": "string"
                          },
                          "lastUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "mobileNumber": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "string"
                          },
                          "whiteLabelId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-email-campaign": {
      "post": {
        "operationId": "go4Clients.create-email-campaign",
        "summary": "Create Email Campaign",
        "description": "Creates a new email campaign in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-email-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "fromName",
                  "fromEmail",
                  "replyEmail",
                  "subject",
                  "template"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name set to the campaign.",
                    "example": "Spring promo"
                  },
                  "fromName": {
                    "type": "string",
                    "description": "From name associated to the campaign sender email.",
                    "example": "MindCloud Marketing"
                  },
                  "fromEmail": {
                    "type": "string",
                    "description": "From email of the campaign.",
                    "example": "campaigns@example.com"
                  },
                  "replyEmail": {
                    "type": "string",
                    "description": "Email address recipients reply to.",
                    "example": "support@example.com"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject used on the email campaign.",
                    "example": "Your April update"
                  },
                  "template": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Template object used on the campaign, for example {\"body\":\"<html>...</html>\"}."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "string",
                            "description": "Rendered HTML body used for the campaign."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique email campaign identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Campaign name."
                          },
                          "starDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign start timestamp returned by Go4Clients."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-group": {
      "post": {
        "operationId": "go4Clients.create-group",
        "summary": "Create Group",
        "description": "Creates a new contact group in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "groupName",
                  "filterParameters[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "groupName": {
                    "type": "string",
                    "description": "Name of the group to create.",
                    "example": "Heavy People"
                  },
                  "filterParameters[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of filter objects with key, type, and value."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "filterParameters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "canonicalFilterClass": {
                                  "type": "string"
                                },
                                "filterClass": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "groupName": {
                            "type": "string"
                          },
                          "lastUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organizationId": {
                            "type": "string"
                          },
                          "organizationName": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "whitelabelId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-shortlink-campaign": {
      "post": {
        "operationId": "go4Clients.create-shortlink-campaign",
        "summary": "Create Shortlink Campaign",
        "description": "Creates a new shortlink campaign in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-shortlink-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "programId",
                  "expirationDays",
                  "input"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the shortlink campaign.",
                    "example": "MindCloud shortlink campaign"
                  },
                  "programId": {
                    "type": "string",
                    "description": "Program identifier the campaign belongs to.",
                    "example": "5bb63583b5615f00085fb1a5"
                  },
                  "expirationDays": {
                    "type": "number",
                    "description": "How many days the shortlink remains available.",
                    "example": 5
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional shortlink campaign description.",
                    "example": "Shortlink campaign for MindCloud"
                  },
                  "input": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Shortlink input object with type and either baseUrl or landing details."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingProduct": {
                            "type": "string",
                            "description": "Billing product associated with the campaign."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign creation date."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the shortlink campaign."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign expiration date."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifier of the shortlink campaign."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the shortlink campaign."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-single-shortlink": {
      "post": {
        "operationId": "go4Clients.create-single-shortlink",
        "summary": "Create Single Shortlink",
        "description": "Creates a shortlink without a campaign in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-single-shortlink"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "key",
                  "expirationDays",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "key": {
                    "type": "string",
                    "description": "Shortlink key.",
                    "example": "mindcloud-api-shortlink"
                  },
                  "expirationDays": {
                    "type": "number",
                    "description": "How many days the shortlink remains active.",
                    "example": 1
                  },
                  "type": {
                    "type": "string",
                    "description": "Shortlink target type: URL or LANDING.",
                    "example": "URL"
                  },
                  "url": {
                    "type": "string",
                    "description": "Target URL when type is URL.",
                    "example": "https://www.google.com"
                  },
                  "landingId": {
                    "type": "string",
                    "description": "Landing identifier when type is LANDING.",
                    "example": "landing-id"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Generated short code."
                          },
                          "key": {
                            "type": "string",
                            "description": "Key used to generate the shortlink."
                          },
                          "link": {
                            "type": "string",
                            "description": "Generated shortlink URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL for the shortlink."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create-voice-campaign": {
      "post": {
        "operationId": "go4Clients.create-voice-campaign",
        "summary": "Create Voice Campaign",
        "description": "Creates a new voice campaign in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create-voice-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "sender"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Campaign name to identify the call in analytics.",
                    "example": "MindCloud voice campaign"
                  },
                  "sender": {
                    "type": "string",
                    "description": "Caller ID shown to recipients.",
                    "example": "573112233445"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional voice campaign description.",
                    "example": "MindCloud voice test"
                  },
                  "callAttempts": {
                    "type": "string",
                    "description": "Number of call attempts per destination.",
                    "example": "2"
                  },
                  "timeBetweenDials": {
                    "type": "number",
                    "description": "Minutes between call attempts.",
                    "example": 15
                  },
                  "currentCalls": {
                    "type": "number",
                    "description": "Maximum simultaneous calls.",
                    "example": 100
                  },
                  "earliestTimeToCall": {
                    "type": "string",
                    "description": "Earliest allowed local time in HH:mm format.",
                    "example": "06:00"
                  },
                  "latestTimeToCall": {
                    "type": "string",
                    "description": "Latest allowed local time in HH:mm format.",
                    "example": "20:00"
                  },
                  "nextDayContinuation": {
                    "type": "boolean",
                    "description": "Continue the campaign on the next day when the call window ends.",
                    "example": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingProduct": {
                            "type": "string",
                            "description": "Billing product associated with the campaign."
                          },
                          "callAttempts": {
                            "type": "number",
                            "description": "Configured number of call attempts."
                          },
                          "campaignType": {
                            "type": "string",
                            "description": "Campaign type."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign creation date."
                          },
                          "currentCalls": {
                            "type": "number",
                            "description": "Maximum concurrent calls."
                          },
                          "earliestTimeToCall": {
                            "type": "string",
                            "description": "Earliest time to call."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifier of the voice campaign."
                          },
                          "latestTimeToCall": {
                            "type": "string",
                            "description": "Latest time to call."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the voice campaign."
                          },
                          "nextDayContinuation": {
                            "type": "boolean",
                            "description": "Whether calls continue the next day."
                          },
                          "sender": {
                            "type": "string",
                            "description": "Sender associated with the voice campaign."
                          },
                          "sendNow": {
                            "type": "boolean",
                            "description": "Whether the campaign sends immediately."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign start date."
                          },
                          "timeBetweenDials": {
                            "type": "number",
                            "description": "Time between dials in seconds."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/create2-fa-challenge": {
      "post": {
        "operationId": "go4Clients.create2-fa-challenge",
        "summary": "Create 2FA Challenge",
        "description": "Creates a two-factor authentication challenge in Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/create2-fa-challenge"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "application",
                  "key"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "application": {
                    "type": "string",
                    "description": "Application creating the 2FA challenge.",
                    "example": "MindCloud"
                  },
                  "key": {
                    "type": "string",
                    "description": "Challenge key, typically a phone number.",
                    "example": "57311224477"
                  },
                  "validMinutes": {
                    "type": "number",
                    "description": "Expiration time in minutes for the generated code.",
                    "example": 10
                  },
                  "maxAttempts": {
                    "type": "number",
                    "description": "Maximum validation attempts before the code is blocked.",
                    "example": 20
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/go4Clients/latest/actions/get-balance": {
      "get": {
        "operationId": "go4Clients.get-balance",
        "summary": "Get Balance",
        "description": "Retrieves plan and wallet balances from Go4Clients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/go4Clients/latest/actions/get-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
[...]
