{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PostGrid Print & Mail Universal API",
    "version": "0.0.5",
    "description": "Create, send, and track direct mail, templates, and contacts"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/postGridPrintMail/latest/actions/cancel-cheque": {
      "delete": {
        "operationId": "postGridPrintMail.cancel-cheque",
        "summary": "Cancel Cheque",
        "description": "Cancels a cheque in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/cancel-cheque"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "bankAccount": {
                            "type": "string"
                          },
                          "cancellation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "carrierTracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "envelope": {
                            "type": "string"
                          },
                          "from": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingClass": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "to": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/cancel-letter": {
      "delete": {
        "operationId": "postGridPrintMail.cancel-letter",
        "summary": "Cancel Letter",
        "description": "Cancels a letter in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/cancel-letter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressPlacement": {
                            "type": "string"
                          },
                          "attachedPDF": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cancellation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "carrierTracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "doubleSided": {
                            "type": "boolean"
                          },
                          "envelope": {
                            "type": "string"
                          },
                          "envelopeType": {
                            "type": "string"
                          },
                          "from": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "html": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingClass": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string"
                          },
                          "to": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/cancel-postcard": {
      "delete": {
        "operationId": "postGridPrintMail.cancel-postcard",
        "summary": "Cancel Postcard",
        "description": "Cancels a postcard in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/cancel-postcard"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backHTML": {
                            "type": "string"
                          },
                          "cancellation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "carrierTracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "frontHTML": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingClass": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "paper": {
                            "type": "string"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "to": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/create-bank-account": {
      "post": {
        "operationId": "postGridPrintMail.create-bank-account",
        "summary": "Create Bank Account",
        "description": "Creates a bank account in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/create-bank-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bankName",
                  "bankCountryCode",
                  "accountNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bankName": {
                    "type": "string",
                    "description": "The name of the bank."
                  },
                  "bankCountryCode": {
                    "type": "string",
                    "description": "The bank country code."
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "The bank account number."
                  },
                  "signatureText": {
                    "type": "string",
                    "description": "The signature text to print on cheques."
                  },
                  "signatureImage": {
                    "type": "string",
                    "description": "The signature image source to print on cheques."
                  },
                  "routingNumber": {
                    "type": "string",
                    "description": "The US routing number."
                  },
                  "transitNumber": {
                    "type": "string",
                    "description": "The Canadian transit number."
                  },
                  "routeNumber": {
                    "type": "string",
                    "description": "The Canadian route number."
                  },
                  "caDesignationNumber": {
                    "type": "string",
                    "description": "The Canadian designation number."
                  },
                  "bankPrimaryLine": {
                    "type": "string",
                    "description": "The primary address line for the bank."
                  },
                  "bankSecondaryLine": {
                    "type": "string",
                    "description": "The secondary address line for the bank."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description visible in the API and dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata for this bank account."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumberAndIDSHA256": {
                            "type": "string"
                          },
                          "accountNumberLast4": {
                            "type": "string"
                          },
                          "bankCountryCode": {
                            "type": "string"
                          },
                          "bankName": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "object": {
                            "type": "string"
                          },
                          "routingNumber": {
                            "type": "string"
                          },
                          "signatureText": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/create-cheque": {
      "post": {
        "operationId": "postGridPrintMail.create-cheque",
        "summary": "Create Cheque",
        "description": "Creates a cheque in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/create-cheque"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "to",
                  "from",
                  "bankAccount",
                  "amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "to": {
                    "type": "string",
                    "description": "The recipient contact ID or recipient payload."
                  },
                  "from": {
                    "type": "string",
                    "description": "The sender contact ID or sender payload."
                  },
                  "bankAccount": {
                    "type": "string",
                    "description": "The PostGrid bank account ID to use for the cheque."
                  },
                  "amount": {
                    "type": "number",
                    "description": "The cheque amount in the smallest currency unit."
                  },
                  "mergeVariables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Template merge variables for the cheque."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description visible in the API and dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata for this cheque."
                  },
                  "sendDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Schedule the cheque for a future send date."
                  },
                  "mailingClass": {
                    "type": "string",
                    "description": "The mailing class for the cheque."
                  },
                  "memo": {
                    "type": "string",
                    "description": "The memo text for the cheque."
                  },
                  "message": {
                    "type": "string",
                    "description": "The message body for the cheque."
                  },
                  "logoURL": {
                    "type": "string",
                    "description": "A logo URL to print on the cheque."
                  },
                  "number": {
                    "type": "number",
                    "description": "The cheque number."
                  },
                  "envelope": {
                    "type": "string",
                    "description": "Envelope settings for the cheque."
                  },
                  "digitalOnly": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Digital delivery settings for the cheque."
                  },
                  "redirectTo": {
                    "type": "string",
                    "description": "A redirected recipient contact ID or payload."
                  },
                  "size": {
                    "type": "string",
                    "description": "The cheque paper size."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "The currency code for the cheque amount."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "bankAccount": {
                            "type": "string"
                          },
                          "cancellation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "carrierTracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "envelope": {
                            "type": "string"
                          },
                          "from": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingClass": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "to": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/create-contact": {
      "post": {
        "operationId": "postGridPrintMail.create-contact",
        "summary": "Create Contact",
        "description": "Creates a contact in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "addressLine1",
                  "countryCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name for the contact recipient."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "The company name for the contact recipient."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name for the contact recipient."
                  },
                  "addressLine1": {
                    "type": "string",
                    "description": "The first line of the contact address."
                  },
                  "addressLine2": {
                    "type": "string",
                    "description": "The second line of the contact address, if applicable."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city for the contact address."
                  },
                  "provinceOrState": {
                    "type": "string",
                    "description": "The province or state for the contact address."
                  },
                  "postalOrZip": {
                    "type": "string",
                    "description": "The postal or ZIP code for the contact address."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "The ISO 3166-1 country code for the contact address."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address for the contact."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The phone number for the contact."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "The job title for the contact."
                  },
                  "skipVerification": {
                    "type": "boolean",
                    "description": "Skip PostGrid address verification for this contact."
                  },
                  "forceVerifiedStatus": {
                    "type": "boolean",
                    "description": "Force the contact address status to verified."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description visible in the API and dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata for this contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressStatus": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingLists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "object": {
                            "type": "string"
                          },
                          "postalOrZip": {
                            "type": "string"
                          },
                          "provinceOrState": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/create-letter": {
      "post": {
        "operationId": "postGridPrintMail.create-letter",
        "summary": "Create Letter",
        "description": "Creates a letter in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/create-letter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "to"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "to": {
                    "type": "string",
                    "description": "The recipient contact ID or recipient payload."
                  },
                  "from": {
                    "type": "string",
                    "description": "The sender contact ID or sender payload."
                  },
                  "html": {
                    "type": "string",
                    "description": "Inline HTML content for the letter."
                  },
                  "template": {
                    "type": "string",
                    "description": "The PostGrid template ID to use for the letter."
                  },
                  "pdf": {
                    "type": "string",
                    "description": "A PDF URL or PDF source for the letter."
                  },
                  "mergeVariables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Template merge variables for the letter."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description visible in the API and dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata for this letter."
                  },
                  "sendDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Schedule the letter for a future send date."
                  },
                  "mailingClass": {
                    "type": "string",
                    "description": "The mailing class for the letter."
                  },
                  "size": {
                    "type": "string",
                    "description": "The page size for the letter."
                  },
                  "addressPlacement": {
                    "type": "string",
                    "description": "How to place the address window content."
                  },
                  "doubleSided": {
                    "type": "boolean",
                    "description": "Print the letter double sided."
                  },
                  "color": {
                    "type": "boolean",
                    "description": "Print the letter in color."
                  },
                  "perforatedPage": {
                    "type": "number",
                    "description": "The page number to perforate for the letter."
                  },
                  "envelope": {
                    "type": "string",
                    "description": "Envelope settings for the letter."
                  },
                  "returnEnvelope": {
                    "type": "string",
                    "description": "The return-envelope configuration for the letter."
                  },
                  "attachedPDF": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Attach an additional PDF to the letter."
                  },
                  "plasticCard": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Plastic card settings for the letter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressPlacement": {
                            "type": "string"
                          },
                          "attachedPDF": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cancellation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "carrierTracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "doubleSided": {
                            "type": "boolean"
                          },
                          "envelope": {
                            "type": "string"
                          },
                          "envelopeType": {
                            "type": "string"
                          },
                          "from": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "html": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingClass": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string"
                          },
                          "to": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/create-postcard": {
      "post": {
        "operationId": "postGridPrintMail.create-postcard",
        "summary": "Create Postcard",
        "description": "Creates a postcard in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/create-postcard"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "to",
                  "size"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "to": {
                    "type": "string",
                    "description": "The recipient contact ID or recipient payload."
                  },
                  "size": {
                    "type": "string",
                    "description": "The postcard size."
                  },
                  "frontHTML": {
                    "type": "string",
                    "description": "Inline HTML for the front of the postcard."
                  },
                  "backHTML": {
                    "type": "string",
                    "description": "Inline HTML for the back of the postcard."
                  },
                  "frontTemplate": {
                    "type": "string",
                    "description": "The template ID for the front of the postcard."
                  },
                  "backTemplate": {
                    "type": "string",
                    "description": "The template ID for the back of the postcard."
                  },
                  "pdf": {
                    "type": "string",
                    "description": "A two-page PDF source for the postcard."
                  },
                  "from": {
                    "type": "string",
                    "description": "The sender contact ID or sender payload."
                  },
                  "mergeVariables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Template merge variables for the postcard."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description visible in the API and dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata for this postcard."
                  },
                  "sendDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Schedule the postcard for a future send date."
                  },
                  "mailingClass": {
                    "type": "string",
                    "description": "The mailing class for the postcard."
                  },
                  "paper": {
                    "type": "string",
                    "description": "Paper stock settings for the postcard."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backHTML": {
                            "type": "string"
                          },
                          "cancellation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "carrierTracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "frontHTML": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "mailingClass": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "paper": {
                            "type": "string"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "to": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/create-template": {
      "post": {
        "operationId": "postGridPrintMail.create-template",
        "summary": "Create Template",
        "description": "Creates a template in PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "html": {
                    "type": "string",
                    "description": "The HTML content for the template."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description visible in the API and dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata for this template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "html": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "object": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/delete-contact": {
      "delete": {
        "operationId": "postGridPrintMail.delete-contact",
        "summary": "Delete Contact",
        "description": "Deletes a contact from PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/delete-template": {
      "delete": {
        "operationId": "postGridPrintMail.delete-template",
        "summary": "Delete Template",
        "description": "Deletes a template from PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/delete-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/postGridPrintMail/latest/actions/get-bank-account": {
      "get": {
        "operationId": "postGridPrintMail.get-bank-account",
        "summary": "Get Bank Account",
        "description": "Retrieves a bank account from PostGrid Print & Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/postGridPrintMail/latest/actions/get-bank-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
[...]
