{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "CPSC Recalls Retrieval Universal API",
    "version": "0.0.2",
    "description": "Retrieve publicly available recall records from the U.S. Consumer Product Safety Commission recall database via the official CPSC Recall Retrieval REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cPSCRecallsRetrieval/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cPSCRecallsRetrieval/latest/actions/search-recalls": {
      "get": {
        "operationId": "cPSCRecallsRetrieval.search-recalls",
        "summary": "Search Recalls",
        "description": "Finds public product recalls in CPSC by search fields.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cPSCRecallsRetrieval/latest/actions/search-recalls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recallNumber",
            "in": "query",
            "required": false,
            "description": "Find recalls whose recall number matches this value.",
            "schema": {
              "type": "string",
              "description": "Find recalls whose recall number matches this value."
            }
          },
          {
            "name": "recallTitle",
            "in": "query",
            "required": false,
            "description": "Find recalls whose title contains this text.",
            "schema": {
              "type": "string",
              "description": "Find recalls whose title contains this text."
            }
          },
          {
            "name": "recallDescription",
            "in": "query",
            "required": false,
            "description": "Find recalls whose description contains this text.",
            "schema": {
              "type": "string",
              "description": "Find recalls whose description contains this text."
            }
          },
          {
            "name": "productName",
            "in": "query",
            "required": false,
            "description": "Find recalls by product name text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by product name text."
            }
          },
          {
            "name": "recallDateStart",
            "in": "query",
            "required": false,
            "description": "Find recalls on or after this recall date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Find recalls on or after this recall date."
            }
          },
          {
            "name": "recallDateEnd",
            "in": "query",
            "required": false,
            "description": "Find recalls on or before this recall date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Find recalls on or before this recall date."
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "required": false,
            "description": "Find recalls by manufacturer or firm name.",
            "schema": {
              "type": "string",
              "description": "Find recalls by manufacturer or firm name."
            }
          },
          {
            "name": "hazard",
            "in": "query",
            "required": false,
            "description": "Find recalls by hazard text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by hazard text."
            }
          },
          {
            "name": "remedy",
            "in": "query",
            "required": false,
            "description": "Find recalls by remedy text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by remedy text."
            }
          },
          {
            "name": "consumerContact",
            "in": "query",
            "required": false,
            "description": "Find recalls whose consumer contact text matches this value.",
            "schema": {
              "type": "string",
              "description": "Find recalls whose consumer contact text matches this value.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lastPublishDateStart",
            "in": "query",
            "required": false,
            "description": "Find recalls last published on or after this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Find recalls last published on or after this date.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lastPublishDateEnd",
            "in": "query",
            "required": false,
            "description": "Find recalls last published on or before this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Find recalls last published on or before this date.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "recallUrl",
            "in": "query",
            "required": false,
            "description": "Find recalls whose recall URL matches this value.",
            "schema": {
              "type": "string",
              "description": "Find recalls whose recall URL matches this value.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "productDescription",
            "in": "query",
            "required": false,
            "description": "Find recalls by product description text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by product description text.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "productModel",
            "in": "query",
            "required": false,
            "description": "Find recalls by product model text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by product model text.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "productType",
            "in": "query",
            "required": false,
            "description": "Find recalls by product type text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by product type text.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "recallInconjunctionCountry",
            "in": "query",
            "required": false,
            "description": "Find recalls by country involved in a joint recall.",
            "schema": {
              "type": "string",
              "description": "Find recalls by country involved in a joint recall.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "imageUrl",
            "in": "query",
            "required": false,
            "description": "Find recalls whose image URL matches this value.",
            "schema": {
              "type": "string",
              "description": "Find recalls whose image URL matches this value.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "injury",
            "in": "query",
            "required": false,
            "description": "Find recalls by injury text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by injury text.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "manufacturerCountry",
            "in": "query",
            "required": false,
            "description": "Find recalls by manufacturer country.",
            "schema": {
              "type": "string",
              "description": "Find recalls by manufacturer country.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "upc",
            "in": "query",
            "required": false,
            "description": "Find recalls by product UPC.",
            "schema": {
              "type": "string",
              "description": "Find recalls by product UPC.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "retailer",
            "in": "query",
            "required": false,
            "description": "Find recalls by retailer text.",
            "schema": {
              "type": "string",
              "description": "Find recalls by retailer text.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ConsumerContact": {
                            "type": "string",
                            "description": "Consumer contact instructions for the recall."
                          },
                          "Description": {
                            "type": "string",
                            "description": "Recall product description."
                          },
                          "Distributors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Distributor records."
                          },
                          "Hazards": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hazard records."
                          },
                          "Images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Recall image records."
                          },
                          "Importers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Importer records."
                          },
                          "Inconjunctions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Countries involved in recalls conducted in conjunction with CPSC."
                          },
                          "Injuries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Reported injury records."
                          },
                          "LastPublishDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent publication date for the recall record."
                          },
                          "ManufacturerCountries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Manufacturer country records."
                          },
                          "Manufacturers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Manufacturer or firm records."
                          },
                          "Products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Products involved in the recall."
                          },
                          "ProductUPCs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Product UPC records."
                          },
                          "RecallDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the recall was announced."
                          },
                          "RecallID": {
                            "type": "number",
                            "description": "Numeric CPSC recall identifier."
                          },
                          "RecallNumber": {
                            "type": "string",
                            "description": "CPSC recall number."
                          },
                          "Remedies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Remedy records."
                          },
                          "RemedyOptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Structured remedy option records when provided."
                          },
                          "Retailers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Retailer records."
                          },
                          "SoldAtLabel": {
                            "type": "string",
                            "description": "Label describing where the product was sold."
                          },
                          "Title": {
                            "type": "string",
                            "description": "Recall title."
                          },
                          "URL": {
                            "type": "string",
                            "description": "CPSC recall detail page URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
