{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Byteplant Address Validator Universal API",
    "version": "0.0.4",
    "description": "Validate, autocomplete, geocode, and bulk-check postal addresses"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/byteplantAddressValidator/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/byteplantAddressValidator/latest/actions/get-address-details": {
      "get": {
        "operationId": "byteplantAddressValidator.get-address-details",
        "summary": "Get Address Details",
        "description": "Retrieves address details from Byteplant Address Validator by suggestion ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/byteplantAddressValidator/latest/actions/get-address-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Address id returned by Search Address Suggestions.",
            "schema": {
              "type": "string",
              "description": "Address id returned by Search Address Suggestions."
            }
          },
          {
            "name": "geocoding",
            "in": "query",
            "required": false,
            "description": "Include latitude and longitude in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include latitude and longitude in the response.",
              "default": false
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Request timeout in seconds.",
            "schema": {
              "type": "number",
              "description": "Request timeout in seconds.",
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Normalized city."
                          },
                          "cost": {
                            "type": "number",
                            "description": "Credits consumed by the request."
                          },
                          "country": {
                            "type": "string",
                            "description": "Normalized ISO country code."
                          },
                          "county": {
                            "type": "string",
                            "description": "County or regional subdivision."
                          },
                          "formattedaddress": {
                            "type": "string",
                            "description": "Normalized full address."
                          },
                          "postalcode": {
                            "type": "string",
                            "description": "Normalized postal code."
                          },
                          "ratelimit_remain": {
                            "type": "number",
                            "description": "Remaining requests in the current rate-limit window."
                          },
                          "ratelimit_seconds": {
                            "type": "number",
                            "description": "Seconds remaining in the current rate-limit window."
                          },
                          "state": {
                            "type": "string",
                            "description": "Normalized state or province."
                          },
                          "status": {
                            "type": "string",
                            "description": "Byteplant retrieval status."
                          },
                          "street": {
                            "type": "string",
                            "description": "Normalized street name."
                          },
                          "streetnumber": {
                            "type": "string",
                            "description": "Normalized street number."
                          },
                          "type": {
                            "type": "string",
                            "description": "Address type code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/byteplantAddressValidator/latest/actions/search-address-suggestions": {
      "get": {
        "operationId": "byteplantAddressValidator.search-address-suggestions",
        "summary": "Search Address Suggestions",
        "description": "Finds address suggestions in Byteplant Address Validator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/byteplantAddressValidator/latest/actions/search-address-suggestions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Freeform address text to match against Byteplant suggestions.",
            "schema": {
              "type": "string",
              "description": "Freeform address text to match against Byteplant suggestions."
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "description": "Two-letter ISO 3166-1 country code. Use XX for international.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO 3166-1 country code. Use XX for international."
            }
          },
          {
            "name": "matchLevel",
            "in": "query",
            "required": false,
            "description": "Optional suggestion granularity: locality, street, building, or subbuilding.",
            "schema": {
              "type": "string",
              "description": "Optional suggestion granularity: locality, street, building, or subbuilding."
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Output language for countries with multiple postal languages.",
            "schema": {
              "type": "string",
              "description": "Output language for countries with multiple postal languages."
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of suggestions to return.",
              "default": 5
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Request timeout in seconds.",
            "schema": {
              "type": "number",
              "description": "Request timeout in seconds.",
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Human-readable address suggestion."
                          },
                          "id": {
                            "type": "string",
                            "description": "Suggestion identifier used by Get Address Details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/byteplantAddressValidator/latest/actions/start-bulk-address-validation": {
      "post": {
        "operationId": "byteplantAddressValidator.start-bulk-address-validation",
        "summary": "Start Bulk Address Validation",
        "description": "Creates a bulk address validation task in Byteplant Address Validator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/byteplantAddressValidator/latest/actions/start-bulk-address-validation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "addressesCsv"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "addressesCsv": {
                    "type": "string",
                    "description": "CSV content with address rows for bulk validation."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Optional two-letter ISO 3166-1 country code. Use XX for international."
                  },
                  "geocoding": {
                    "type": "boolean",
                    "description": "Include latitude and longitude in bulk validation results.",
                    "default": false
                  },
                  "outputCharset": {
                    "type": "string",
                    "description": "Output character set.",
                    "default": "utf-8"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Output language for countries with multiple postal languages."
                  },
                  "taskName": {
                    "type": "string",
                    "description": "Optional name for the bulk validation task."
                  },
                  "notifyEmail": {
                    "type": "string",
                    "description": "Optional email address to receive task completion notifications."
                  },
                  "notifyUrl": {
                    "type": "string",
                    "description": "Optional URL to receive task completion notifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "info": {
                            "type": "string",
                            "description": "Task identifier when accepted, or provider error information when the request is rejected."
                          },
                          "status": {
                            "type": "string",
                            "description": "Bulk task submission status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/byteplantAddressValidator/latest/actions/verify-address": {
      "get": {
        "operationId": "byteplantAddressValidator.verify-address",
        "summary": "Verify Address",
        "description": "Retrieves address validation results from Byteplant Address Validator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/byteplantAddressValidator/latest/actions/verify-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "description": "Street, house number, or complete address.",
            "schema": {
              "type": "string",
              "description": "Street, house number, or complete address."
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "description": "Two-letter ISO 3166-1 country code. Use XX for international.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO 3166-1 country code. Use XX for international."
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City or locality.",
            "schema": {
              "type": "string",
              "description": "City or locality."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State or province.",
            "schema": {
              "type": "string",
              "description": "State or province."
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "description": "ZIP or postal code.",
            "schema": {
              "type": "string",
              "description": "ZIP or postal code."
            }
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": false,
            "description": "House number or building number, when separate from the street address.",
            "schema": {
              "type": "string",
              "description": "House number or building number, when separate from the street address."
            }
          },
          {
            "name": "additionalAddressInfo",
            "in": "query",
            "required": false,
            "description": "Building, unit, apartment, floor, or other extra address details.",
            "schema": {
              "type": "string",
              "description": "Building, unit, apartment, floor, or other extra address details."
            }
          },
          {
            "name": "geocoding",
            "in": "query",
            "required": false,
            "description": "Include latitude and longitude in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include latitude and longitude in the response.",
              "default": false
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Output language for countries with multiple postal languages.",
            "schema": {
              "type": "string",
              "description": "Output language for countries with multiple postal languages."
            }
          },
          {
            "name": "outputCharset",
            "in": "query",
            "required": false,
            "description": "Output character set.",
            "schema": {
              "type": "string",
              "description": "Output character set.",
              "default": "utf-8"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Request timeout in seconds.",
            "schema": {
              "type": "number",
              "description": "Request timeout in seconds.",
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressline1": {
                            "type": "string",
                            "description": "Normalized first address line."
                          },
                          "addresslinelast": {
                            "type": "string",
                            "description": "Normalized final address line."
                          },
                          "city": {
                            "type": "string",
                            "description": "Normalized city."
                          },
                          "corrections": {
                            "type": "string",
                            "description": "Correction codes returned by Byteplant."
                          },
                          "cost": {
                            "type": "number",
                            "description": "Credits consumed by the request."
                          },
                          "country": {
                            "type": "string",
                            "description": "Normalized ISO country code."
                          },
                          "county": {
                            "type": "string",
                            "description": "County or regional subdivision."
                          },
                          "formattedaddress": {
                            "type": "string",
                            "description": "Normalized full address."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude when geocoding is enabled."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude when geocoding is enabled."
                          },
                          "postalcode": {
                            "type": "string",
                            "description": "Normalized postal code."
                          },
                          "ratelimit_remain": {
                            "type": "number",
                            "description": "Remaining requests in the current rate-limit window."
                          },
                          "ratelimit_seconds": {
                            "type": "number",
                            "description": "Seconds remaining in the current rate-limit window."
                          },
                          "rdi": {
                            "type": "string",
                            "description": "Residential delivery indicator."
                          },
                          "state": {
                            "type": "string",
                            "description": "Normalized state or province."
                          },
                          "status": {
                            "type": "string",
                            "description": "Byteplant validation status."
                          },
                          "street": {
                            "type": "string",
                            "description": "Normalized street name."
                          },
                          "streetnumber": {
                            "type": "string",
                            "description": "Normalized street number."
                          },
                          "type": {
                            "type": "string",
                            "description": "Address type code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
