{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Datelist Universal API",
    "version": "0.0.7",
    "description": "Datelist is an online scheduling platform API for calendars, products, booked slots, and webhooks."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/datelist/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/datelist/latest/actions/create-webhook": {
      "post": {
        "operationId": "datelist.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in Datelist for booking notifications.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/datelist/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url",
                  "calendarId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL Datelist should call for new booking notifications."
                  },
                  "calendarId": {
                    "type": "number",
                    "description": "The Datelist calendar to watch for new bookings."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarId": {
                            "type": "number",
                            "description": "Calendar ID."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "number",
                            "description": "Webhook ID."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Update timestamp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook URL."
                          },
                          "userId": {
                            "type": "number",
                            "description": "User ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/datelist/latest/actions/delete-booked-slot": {
      "delete": {
        "operationId": "datelist.delete-booked-slot",
        "summary": "Delete Booked Slot",
        "description": "Cancels an existing booked slot in Datelist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/datelist/latest/actions/delete-booked-slot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the booked slot to delete.",
            "schema": {
              "type": "number",
              "description": "The ID of the booked slot to delete."
            }
          },
          {
            "name": "sendEmailOnDelete",
            "in": "query",
            "required": false,
            "description": "Whether Datelist should send an email when the booked slot is deleted.",
            "schema": {
              "type": "boolean",
              "description": "Whether Datelist should send an email when the booked slot is deleted."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarId": {
                            "type": "number",
                            "description": "Calendar ID."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "createdFrom": {
                            "type": "string",
                            "description": "Source that created the booking."
                          },
                          "customFieldValues": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values."
                          },
                          "deletedAt": {
                            "type": "string",
                            "description": "Deletion timestamp, when present."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email."
                          },
                          "emailNotificationReallySentAt": {
                            "type": "string",
                            "description": "Confirmed email send timestamp."
                          },
                          "emailNotificationSentAt": {
                            "type": "string",
                            "description": "Email notification sent timestamp."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "External identifier."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Booked slot ID."
                          },
                          "integrationDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Integration details."
                          },
                          "language": {
                            "type": "string",
                            "description": "Preferred language."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Customer phone."
                          },
                          "phoneNotificationReallySentAt": {
                            "type": "string",
                            "description": "Confirmed phone send timestamp."
                          },
                          "phoneNotificationSentAt": {
                            "type": "string",
                            "description": "Phone notification sent timestamp."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/datelist/latest/actions/list-booked-slots": {
      "get": {
        "operationId": "datelist.list-booked-slots",
        "summary": "List Booked Slots",
        "description": "Retrieves booked slots from Datelist by email, calendar, or date.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/datelist/latest/actions/list-booked-slots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Only return booked slots matching a specific email.",
            "schema": {
              "type": "string",
              "description": "Only return booked slots matching a specific email."
            }
          },
          {
            "name": "calendarId",
            "in": "query",
            "required": false,
            "description": "Only return booked slots for a specific calendar.",
            "schema": {
              "type": "number",
              "description": "Only return booked slots for a specific calendar."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Only return booked slots starting from this ISO 8601 date-time.",
            "schema": {
              "type": "string",
              "description": "Only return booked slots starting from this ISO 8601 date-time."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Only return booked slots up to this ISO 8601 date-time.",
            "schema": {
              "type": "string",
              "description": "Only return booked slots up to this ISO 8601 date-time."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarId": {
                            "type": "number",
                            "description": "Calendar ID."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "createdFrom": {
                            "type": "string",
                            "description": "Source that created the booking."
                          },
                          "customFieldValues": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values."
                          },
                          "deletedAt": {
                            "type": "string",
                            "description": "Deletion timestamp, when present."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email."
                          },
                          "emailNotificationReallySentAt": {
                            "type": "string",
                            "description": "Confirmed email send timestamp."
                          },
                          "emailNotificationSentAt": {
                            "type": "string",
                            "description": "Email notification sent timestamp."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "External identifier."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Booked slot ID."
                          },
                          "integrationDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Integration details."
                          },
                          "language": {
                            "type": "string",
                            "description": "Preferred language."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Customer phone."
                          },
                          "phoneNotificationReallySentAt": {
                            "type": "string",
                            "description": "Confirmed phone send timestamp."
                          },
                          "phoneNotificationSentAt": {
                            "type": "string",
                            "description": "Phone notification sent timestamp."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/datelist/latest/actions/list-calendars": {
      "get": {
        "operationId": "datelist.list-calendars",
        "summary": "List Calendars",
        "description": "Retrieves available calendars from your Datelist account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/datelist/latest/actions/list-calendars"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Calendar ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Calendar name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/datelist/latest/actions/list-products": {
      "get": {
        "operationId": "datelist.list-products",
        "summary": "List Products",
        "description": "Retrieves available products from Datelist by name or calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/datelist/latest/actions/list-products"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Only return products matching a specific name.",
            "schema": {
              "type": "string",
              "description": "Only return products matching a specific name."
            }
          },
          {
            "name": "calendarId",
            "in": "query",
            "required": false,
            "description": "Only return products for a specific calendar.",
            "schema": {
              "type": "number",
              "description": "Only return products for a specific calendar."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the product is active."
                          },
                          "calendarId": {
                            "type": "number",
                            "description": "Calendar ID."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deletedAt": {
                            "type": "string",
                            "description": "Deletion timestamp, when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Product description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Duration in minutes."
                          },
                          "id": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "places": {
                            "type": "number",
                            "description": "Available places."
                          },
                          "price": {
                            "type": "number",
                            "description": "Product price."
                          },
                          "taxAmount": {
                            "type": "number",
                            "description": "Tax amount."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/datelist/latest/actions/update-booked-slot": {
      "put": {
        "operationId": "datelist.update-booked-slot",
        "summary": "Update Booked Slot",
        "description": "Updates an existing booked slot in Datelist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/datelist/latest/actions/update-booked-slot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "The ID of the booked slot to update."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Booked slot fields to update, using the documented booked-slot object shape."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarId": {
                            "type": "number",
                            "description": "Calendar ID."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "createdFrom": {
                            "type": "string",
                            "description": "Source that created the booking."
                          },
                          "customFieldValues": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values."
                          },
                          "deletedAt": {
                            "type": "string",
                            "description": "Deletion timestamp, when present."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email."
                          },
                          "emailNotificationReallySentAt": {
                            "type": "string",
                            "description": "Confirmed email send timestamp."
                          },
                          "emailNotificationSentAt": {
                            "type": "string",
                            "description": "Email notification sent timestamp."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "External identifier."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Booked slot ID."
                          },
                          "integrationDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Integration details."
                          },
                          "language": {
                            "type": "string",
                            "description": "Preferred language."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Customer phone."
                          },
                          "phoneNotificationReallySentAt": {
                            "type": "string",
                            "description": "Confirmed phone send timestamp."
                          },
                          "phoneNotificationSentAt": {
                            "type": "string",
                            "description": "Phone notification sent timestamp."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
