{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Customer.io Universal API",
    "version": "0.0.11",
    "description": "Create journeys, send messages, sync data, and analyze campaign performance."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/customerio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/customerio/latest/actions/get-broadcast": {
      "get": {
        "operationId": "customerio.get-broadcast",
        "summary": "Get Broadcast",
        "description": "Retrieves a broadcast from Customer.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-broadcast"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the broadcast you want to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the broadcast you want to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The actions configured in the broadcast."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the broadcast is active."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the broadcast was created."
                          },
                          "deduplicateId": {
                            "type": "string",
                            "description": "The deduplication token for the broadcast."
                          },
                          "firstStarted": {
                            "type": "number",
                            "description": "Unix timestamp when the broadcast first started."
                          },
                          "id": {
                            "type": "number",
                            "description": "The identifier for the broadcast."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the broadcast."
                          },
                          "state": {
                            "type": "string",
                            "description": "The broadcast state."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags applied to the broadcast."
                          },
                          "type": {
                            "type": "string",
                            "description": "The broadcast type."
                          },
                          "updated": {
                            "type": "number",
                            "description": "Unix timestamp when the broadcast was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-broadcast-metrics": {
      "get": {
        "operationId": "customerio.get-broadcast-metrics",
        "summary": "Get Broadcast Metrics",
        "description": "Retrieves metrics for a Customer.io broadcast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-broadcast-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the broadcast whose metrics you want to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the broadcast whose metrics you want to retrieve."
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Unit of time for the returned report.",
            "schema": {
              "type": "string",
              "description": "Unit of time for the returned report.",
              "enum": [
                "days",
                "hours",
                "months",
                "weeks"
              ],
              "default": "days",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "description": "Number of periods to include in the report.",
            "schema": {
              "type": "number",
              "description": "Number of periods to include in the report.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Limit metrics to one message type such as email, push, or in_app.",
            "schema": {
              "type": "string",
              "description": "Limit metrics to one message type such as email, push, or in_app.",
              "enum": [
                "email",
                "in_app",
                "push",
                "slack",
                "twilio",
                "webhook",
                "whatsapp"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Metric series arrays keyed by metric name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-campaign": {
      "get": {
        "operationId": "customerio.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a campaign from Customer.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the campaign you want to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the campaign you want to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The actions configured in the campaign."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the campaign is active."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the campaign was created."
                          },
                          "deduplicateId": {
                            "type": "string",
                            "description": "The deduplication token for the campaign."
                          },
                          "firstStarted": {
                            "type": "number",
                            "description": "Unix timestamp when the campaign first started."
                          },
                          "id": {
                            "type": "number",
                            "description": "The identifier for the campaign."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the campaign."
                          },
                          "state": {
                            "type": "string",
                            "description": "The campaign state."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags applied to the campaign."
                          },
                          "type": {
                            "type": "string",
                            "description": "The campaign trigger type."
                          },
                          "updated": {
                            "type": "number",
                            "description": "Unix timestamp when the campaign was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-campaign-metrics": {
      "get": {
        "operationId": "customerio.get-campaign-metrics",
        "summary": "Get Campaign Metrics",
        "description": "Retrieves metrics for a Customer.io campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-campaign-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the campaign whose metrics you want to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the campaign whose metrics you want to retrieve."
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "The metrics API version. Customer.io recommends version 2 for this endpoint.",
            "schema": {
              "type": "string",
              "description": "The metrics API version. Customer.io recommends version 2 for this endpoint.",
              "enum": [
                "1",
                "2"
              ],
              "default": "2"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Limit metrics to one message type such as email, push, or in_app.",
            "schema": {
              "type": "string",
              "description": "Limit metrics to one message type such as email, push, or in_app.",
              "enum": [
                "email",
                "in_app",
                "push",
                "slack",
                "twilio",
                "webhook",
                "whatsapp"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "description": "Version 2 only. Bucket metrics hourly, daily, weekly, or monthly.",
            "schema": {
              "type": "string",
              "description": "Version 2 only. Bucket metrics hourly, daily, weekly, or monthly.",
              "enum": [
                "daily",
                "days",
                "hourly",
                "hours",
                "monthly",
                "months",
                "weekly",
                "weeks"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Version 2 only. Region-style time zone such as America/New_York.",
            "schema": {
              "type": "string",
              "description": "Version 2 only. Region-style time zone such as America/New_York.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Version 2 only. Unix timestamp for the beginning of the metrics window.",
            "schema": {
              "type": "number",
              "description": "Version 2 only. Unix timestamp for the beginning of the metrics window.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Version 2 only. Unix timestamp for the end of the metrics window.",
            "schema": {
              "type": "number",
              "description": "Version 2 only. Unix timestamp for the end of the metrics window.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Version 1 only. Unit of time for the returned report.",
            "schema": {
              "type": "string",
              "description": "Version 1 only. Unit of time for the returned report.",
              "enum": [
                "days",
                "hours",
                "months",
                "weeks"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "description": "Version 1 only. Number of periods to include in the report.",
            "schema": {
              "type": "number",
              "description": "Version 1 only. Number of periods to include in the report.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Metric series arrays keyed by metric name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-newsletter": {
      "get": {
        "operationId": "customerio.get-newsletter",
        "summary": "Get Newsletter",
        "description": "Retrieves a newsletter from Customer.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-newsletter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newsletterId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the newsletter you want to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the newsletter you want to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "The content IDs included in the newsletter."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the newsletter was created."
                          },
                          "deduplicateId": {
                            "type": "string",
                            "description": "The deduplication token for the newsletter."
                          },
                          "id": {
                            "type": "number",
                            "description": "The identifier for the newsletter."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the newsletter."
                          },
                          "recipientSegmentIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Segments used to filter newsletter recipients."
                          },
                          "sentAt": {
                            "type": "number",
                            "description": "Unix timestamp when the newsletter was last sent."
                          },
                          "subscriptionTopicId": {
                            "type": "number",
                            "description": "The subscription topic ID for the newsletter."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags applied to the newsletter."
                          },
                          "type": {
                            "type": "string",
                            "description": "The newsletter delivery type."
                          },
                          "updated": {
                            "type": "number",
                            "description": "Unix timestamp when the newsletter was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-newsletter-metrics": {
      "get": {
        "operationId": "customerio.get-newsletter-metrics",
        "summary": "Get Newsletter Metrics",
        "description": "Retrieves metrics for a Customer.io newsletter.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-newsletter-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newsletterId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the newsletter whose metrics you want to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the newsletter whose metrics you want to retrieve."
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Unit of time for the returned report.",
            "schema": {
              "type": "string",
              "description": "Unit of time for the returned report.",
              "enum": [
                "days",
                "hours",
                "months",
                "weeks"
              ],
              "default": "days",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "description": "Number of periods to include in the report.",
            "schema": {
              "type": "number",
              "description": "Number of periods to include in the report.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Limit metrics to one message type such as email, push, or in_app.",
            "schema": {
              "type": "string",
              "description": "Limit metrics to one message type such as email, push, or in_app.",
              "enum": [
                "email",
                "in_app",
                "push",
                "slack",
                "twilio",
                "webhook",
                "whatsapp"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Metric series arrays keyed by metric name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-segment": {
      "get": {
        "operationId": "customerio.get-segment",
        "summary": "Get Segment",
        "description": "Retrieves a segment from Customer.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "required": true,
            "description": "The identifier for the segment to inspect.",
            "schema": {
              "type": "string",
              "description": "The identifier for the segment to inspect."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conditions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The segment conditions object."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The segment creation timestamp."
                          },
                          "deduplicateId": {
                            "type": "string",
                            "description": "The segment deduplication identifier."
                          },
                          "description": {
                            "type": "string",
                            "description": "The segment description."
                          },
                          "id": {
                            "type": "number",
                            "description": "The identifier for a segment."
                          },
                          "name": {
                            "type": "string",
                            "description": "The segment name."
                          },
                          "progress": {
                            "type": "number",
                            "description": "The segment processing progress."
                          },
                          "state": {
                            "type": "string",
                            "description": "The segment state."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The tags assigned to the segment."
                          },
                          "type": {
                            "type": "string",
                            "description": "The segment type."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The segment update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-segment-customer-count": {
      "get": {
        "operationId": "customerio.get-segment-customer-count",
        "summary": "Get Segment Customer Count",
        "description": "Retrieves the customer count for a Customer.io segment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-segment-customer-count"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "required": true,
            "description": "The identifier for the segment to inspect.",
            "schema": {
              "type": "string",
              "description": "The identifier for the segment to inspect."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "The total number of customers in the segment."
                          },
                          "segmentId": {
                            "type": "number",
                            "description": "The identifier for the segment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-transactional-message": {
      "get": {
        "operationId": "customerio.get-transactional-message",
        "summary": "Get Transactional Message",
        "description": "Retrieves a transactional message from Customer.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-transactional-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionalId",
            "in": "query",
            "required": true,
            "description": "The identifier of your transactional message.",
            "schema": {
              "type": "number",
              "description": "The identifier of your transactional message.",
              "example": 3
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the transactional message was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The transactional message description."
                          },
                          "hideMessageBody": {
                            "type": "boolean",
                            "description": "Whether message contents are retained in delivery history."
                          },
                          "id": {
                            "type": "number",
                            "description": "The identifier Customer.io assigned to the transactional message."
                          },
                          "linkTracking": {
                            "type": "boolean",
                            "description": "Whether link tracking is enabled."
                          },
                          "name": {
                            "type": "string",
                            "description": "The transactional message name."
                          },
                          "openTracking": {
                            "type": "boolean",
                            "description": "Whether open tracking is enabled."
                          },
                          "queueDrafts": {
                            "type": "boolean",
                            "description": "Whether deliveries queue as drafts instead of sending automatically."
                          },
                          "sendToUnsubscribed": {
                            "type": "boolean",
                            "description": "Whether unsubscribed people can still trigger the message."
                          },
                          "triggerName": {
                            "type": "string",
                            "description": "The trigger name configured for the transactional message."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the transactional message was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-transactional-message-deliveries": {
      "get": {
        "operationId": "customerio.get-transactional-message-deliveries",
        "summary": "Get Transactional Message Deliveries",
        "description": "Retrieves deliveries for a Customer.io transactional message.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-transactional-message-deliveries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionalId",
            "in": "query",
            "required": true,
            "description": "The identifier of your transactional message.",
            "schema": {
              "type": "number",
              "description": "The identifier of your transactional message.",
              "example": 3
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of results you want to retrieve per page.",
            "schema": {
              "type": "number",
              "description": "The maximum number of results you want to retrieve per page.",
              "example": 100
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Determines the metric you want to return.",
            "schema": {
              "type": "string",
              "description": "Determines the metric you want to return.",
              "enum": [
                "attempted",
                "bounced",
                "clicked",
                "converted",
                "delivered",
                "dropped",
                "failed",
                "opened",
                "sent",
                "spammed",
                "undeliverable",
                "unsubscribed"
              ],
              "example": "delivered"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "The state of the delivery set you want to return.",
            "schema": {
              "type": "string",
              "description": "The state of the delivery set you want to return.",
              "enum": [
                "attempted",
                "drafted",
                "failed",
                "sent"
              ],
              "example": "sent"
            }
          },
          {
            "name": "startTs",
            "in": "query",
            "required": false,
            "description": "The beginning timestamp for your query.",
            "schema": {
              "type": "number",
              "description": "The beginning timestamp for your query.",
              "example": 1772820000
            }
          },
          {
            "name": "endTs",
            "in": "query",
            "required": false,
            "description": "The ending timestamp for your query.",
            "schema": {
              "type": "number",
              "description": "The ending timestamp for your query.",
              "example": 1772823600
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The token for the page of results you want to return.",
            "schema": {
              "type": "string",
              "description": "The token for the page of results you want to return.",
              "example": "next-page-token",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionId": {
                            "type": "number",
                            "description": "The action identifier associated with the delivery."
                          },
                          "broadcastId": {
                            "type": "number",
                            "description": "The broadcast identifier associated with the delivery."
                          },
                          "campaignId": {
                            "type": "number",
                            "description": "The campaign identifier associated with the delivery."
                          },
                          "contentId": {
                            "type": "number",
                            "description": "The content identifier associated with the delivery."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the delivery record was created."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "The customer identifier associated with the delivery."
                          },
                          "customerIdentifiers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The customer identifiers returned with the delivery."
                          },
                          "deduplicateId": {
                            "type": "string",
                            "description": "The Customer.io deduplication identifier for the delivery."
                          },
                          "failureMessage": {
                            "type": "string",
                            "description": "Failure details when the delivery failed."
                          },
                          "forgotten": {
                            "type": "boolean",
                            "description": "Whether the delivery has been forgotten by retention rules."
                          },
                          "id": {
                            "type": "string",
                            "description": "The delivery identifier."
                          },
                          "messageTemplateId": {
                            "type": "number",
                            "description": "The transactional message template identifier."
                          },
                          "metrics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Delivery metrics returned for the message."
                          },
                          "newsletterId": {
                            "type": "number",
                            "description": "The newsletter identifier associated with the delivery."
                          },
                          "parentActionId": {
                            "type": "number",
                            "description": "The parent action identifier associated with the delivery."
                          },
                          "recipient": {
                            "type": "string",
                            "description": "The recipient for the delivery."
                          },
                          "subject": {
                            "type": "string",
                            "description": "The delivery subject line."
                          },
                          "triggerEventId": {
                            "type": "string",
                            "description": "The triggering event identifier for the delivery."
                          },
                          "type": {
                            "type": "string",
                            "description": "The delivery type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/get-transactional-message-metrics": {
      "get": {
        "operationId": "customerio.get-transactional-message-metrics",
        "summary": "Get Transactional Message Metrics",
        "description": "Retrieves metrics for a Customer.io transactional message.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/get-transactional-message-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionalId",
            "in": "query",
            "required": true,
            "description": "The identifier of your transactional message.",
            "schema": {
              "type": "number",
              "description": "The identifier of your transactional message.",
              "example": 3
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "The unit of time for your report.",
            "schema": {
              "type": "string",
              "description": "The unit of time for your report.",
              "enum": [
                "days",
                "hours",
                "months",
                "weeks"
              ],
              "example": "days"
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "description": "The number of periods you want to return.",
            "schema": {
              "type": "number",
              "description": "The number of periods you want to return.",
              "example": 7
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The end of the metrics range."
                          },
                          "metric": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Metric series arrays keyed by metric name."
                          },
                          "res": {
                            "type": "string",
                            "description": "The reporting resolution returned by Customer.io."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The beginning of the metrics range."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/customerio/latest/actions/list-broadcasts": {
      "get": {
        "operationId": "customerio.list-broadcasts",
        "summary": "List Broadcasts",
        "description": "Retrieves broadcasts from Customer.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/customerio/latest/actions/list-broadcasts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The actions configured in the broadcast."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the broadcast is active."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the broadcast was created."
                          },
                          "deduplicateId": {
                            "type": "string",
                            "description": "The deduplication token for the broadcast."
                          },
                          "firstStarted": {
                            "type": "number",
                            "description": "Unix timestamp when the broadcast first started."
                          },
                          "id": {
                            "type": "number",
                            "description": "The identifier for the broadcast."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the broadcast."
                          },
                          "state": {
                            "type": "string",
                            "description": "The broadcast state."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags applied to the broadcast."
                          },
                          "type": {
                            "type": "string",
                            "description": "The broadcast type."
                          },
                          "updated": {
                            "type": "number",
                            "description": "Unix timestamp when the broadcast was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
[...]
