{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "HTML 2 PDF Universal API",
    "version": "0.0.5",
    "description": "Generate PDFs from HTML or URLs"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/hTML2PDF/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/hTML2PDF/latest/actions/generate-pdf": {
      "post": {
        "operationId": "hTML2PDF.generate-pdf",
        "summary": "Generate PDF",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hTML2PDF/latest/actions/generate-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "html"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "html": {
                    "type": "string",
                    "description": "HTML markup or a public URL to convert into a PDF document."
                  },
                  "format": {
                    "type": "string",
                    "description": "Optional paper format for the generated PDF.",
                    "enum": [
                      "A0",
                      "A1",
                      "A2",
                      "A3",
                      "A4",
                      "A5",
                      "A6",
                      "Ledger",
                      "Legal",
                      "Letter",
                      "Tabloid"
                    ]
                  },
                  "landscape": {
                    "type": "boolean",
                    "description": "Render the pages in landscape orientation."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Optional filename to suggest for the generated PDF."
                  },
                  "media": {
                    "type": "string",
                    "description": "Emulate the selected CSS media type while rendering.",
                    "enum": [
                      "print",
                      "screen"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "scale": {
                    "type": "number",
                    "description": "Rendering scale factor for the output PDF.",
                    "x-mindcloud-advanced": true
                  },
                  "width": {
                    "type": "number",
                    "description": "Custom page width for the generated PDF.",
                    "x-mindcloud-advanced": true
                  },
                  "height": {
                    "type": "number",
                    "description": "Custom page height for the generated PDF.",
                    "x-mindcloud-advanced": true
                  },
                  "waitFor": {
                    "type": "number",
                    "description": "Milliseconds to wait before rendering the page.",
                    "x-mindcloud-advanced": true
                  },
                  "callBackUrl": {
                    "type": "string",
                    "description": "Optional webhook URL to notify when PDF generation is complete.",
                    "x-mindcloud-advanced": true
                  },
                  "state": {
                    "type": "string",
                    "description": "State value returned unchanged to the callback URL.",
                    "x-mindcloud-advanced": true
                  },
                  "marginTop": {
                    "type": "number",
                    "description": "Top margin in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "marginRight": {
                    "type": "number",
                    "description": "Right margin in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "marginBottom": {
                    "type": "number",
                    "description": "Bottom margin in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "marginLeft": {
                    "type": "number",
                    "description": "Left margin in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "headerTemplate": {
                    "type": "string",
                    "description": "Optional HTML template rendered in the PDF header.",
                    "x-mindcloud-advanced": true
                  },
                  "footerTemplate": {
                    "type": "string",
                    "description": "Optional HTML template rendered in the PDF footer.",
                    "x-mindcloud-advanced": true
                  },
                  "userPassword": {
                    "type": "string",
                    "description": "User password required to open the generated PDF.",
                    "x-mindcloud-advanced": true
                  },
                  "ownerPassword": {
                    "type": "string",
                    "description": "Owner password used for PDF permission controls.",
                    "x-mindcloud-advanced": true
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "assemble",
                        "copy",
                        "edit",
                        "extract",
                        "fillform",
                        "modify",
                        "print",
                        "printbest"
                      ]
                    },
                    "description": "Optional PDF permissions to allow when encryption is enabled.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
