{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Motive Universal API",
    "version": "0.0.1",
    "description": "Motive fleet management endpoints for the Kendall job-backed data pulls: assets, vehicles, users, driver performance events, scorecard summary, driver utilization, and vehicle utilization."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/motive/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/motive/latest/actions/list-assets": {
      "get": {
        "operationId": "motive.list-assets",
        "summary": "List assets",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-assets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter assets by name.",
            "schema": {
              "type": "string",
              "description": "Filter assets by name."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter assets by status.",
            "schema": {
              "type": "string",
              "description": "Filter assets by status."
            }
          },
          {
            "name": "exactMatch",
            "in": "query",
            "required": false,
            "description": "Require exact-casing name matches.",
            "schema": {
              "type": "boolean",
              "description": "Require exact-casing name matches."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "object",
                            "properties": {
                              "assetGateway": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "identifier": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "availabilityDetails": {
                                "type": "object",
                                "properties": {
                                  "availabilityStatus": {
                                    "type": "string"
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "updatedByUser": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "axle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gawr": {
                                "type": "number"
                              },
                              "groupIds": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "gvwr": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "leased": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "length": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lengthMetricUnits": {
                                "type": "boolean"
                              },
                              "licensePlateNumber": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "licensePlateState": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "make": {
                                "type": "string"
                              },
                              "model": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "vin": {
                                "type": "string"
                              },
                              "weightMetricUnits": {
                                "type": "boolean"
                              },
                              "year": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/motive/latest/actions/list-driver-performance-events": {
      "get": {
        "operationId": "motive.list-driver-performance-events",
        "summary": "List driver performance events",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-driver-performance-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "required": false,
            "description": "Filter events by one or more driver IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter events by one or more driver IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "required": false,
            "description": "Filter events by one or more vehicle IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter events by one or more vehicle IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "eventTypes",
            "in": "query",
            "required": false,
            "description": "Filter events by Motive event type.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter events by Motive event type."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Fetch events from this date onward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fetch events from this date onward."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Fetch events up to this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fetch events up to this date."
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Return events updated after the given timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return events updated after the given timestamp."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "driverPerformanceEvent": {
                            "type": "object",
                            "properties": {
                              "acceleration": {
                                "type": "number"
                              },
                              "coachingStatus": {
                                "type": "string"
                              },
                              "driver": {
                                "type": "object",
                                "properties": {
                                  "driverCompanyId": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "duration": {
                                "type": "number"
                              },
                              "eldDevice": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "identifier": {
                                    "type": "string"
                                  },
                                  "model": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "endBearing": {
                                "type": "number"
                              },
                              "endSpeed": {
                                "type": "number"
                              },
                              "endTime": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "intensity": {
                                "type": "string"
                              },
                              "lat": {
                                "type": "number"
                              },
                              "location": {
                                "type": "string"
                              },
                              "lon": {
                                "type": "number"
                              },
                              "mGpsHeading": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "mGpsLat": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "mGpsLon": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "mGpsSpd": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "mVehSpd": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "startBearing": {
                                "type": "number"
                              },
                              "startSpeed": {
                                "type": "number"
                              },
                              "startTime": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "vehicle": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "make": {
                                    "type": "string"
                                  },
                                  "metricUnits": {
                                    "type": "boolean"
                                  },
                                  "model": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "string"
                                  },
                                  "vin": {
                                    "type": "string"
                                  },
                                  "year": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/motive/latest/actions/list-driver-utilization": {
      "get": {
        "operationId": "motive.list-driver-utilization",
        "summary": "List driver utilization",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-driver-utilization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "required": false,
            "description": "Filter utilization by one or more driver IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter utilization by one or more driver IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Fetch utilization from this date onward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fetch utilization from this date onward."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Fetch utilization through this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fetch utilization through this date."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "driverIdleRollup": {
                            "type": "object",
                            "properties": {
                              "driver": {
                                "type": "object",
                                "properties": {
                                  "driverCompanyId": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "drivingFuel": {
                                "type": "number"
                              },
                              "drivingTime": {
                                "type": "number"
                              },
                              "idleFuel": {
                                "type": "number"
                              },
                              "idleTime": {
                                "type": "number"
                              },
                              "utilization": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/motive/latest/actions/list-scorecard-summaries": {
      "get": {
        "operationId": "motive.list-scorecard-summaries",
        "summary": "List scorecard summaries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-scorecard-summaries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "required": false,
            "description": "Filter scorecard summaries by one or more driver IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter scorecard summaries by one or more driver IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Calculate scores from this date onward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Calculate scores from this date onward."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Calculate scores through this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Calculate scores through this date."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "driverPerformanceRollup": {
                            "type": "object",
                            "properties": {
                              "driver": {
                                "type": "object",
                                "properties": {
                                  "driverCompanyId": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "numCoachedEvents": {
                                "type": "number"
                              },
                              "numHardAccels": {
                                "type": "number"
                              },
                              "numHardBrakes": {
                                "type": "number"
                              },
                              "numHardCorners": {
                                "type": "number"
                              },
                              "score": {
                                "type": "number"
                              },
                              "totalKilometers": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/motive/latest/actions/list-users": {
      "get": {
        "operationId": "motive.list-users",
        "summary": "List users",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "description": "Filter users by role.",
            "schema": {
              "type": "string",
              "description": "Filter users by role."
            }
          },
          {
            "name": "dutyStatus",
            "in": "query",
            "required": false,
            "description": "Filter drivers by duty status.",
            "schema": {
              "type": "string",
              "description": "Filter drivers by duty status."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter users by status.",
            "schema": {
              "type": "string",
              "description": "Filter users by status."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter users by first name, last name, or both.",
            "schema": {
              "type": "string",
              "description": "Filter users by first name, last name, or both."
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Return users updated after the given date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return users updated after the given date."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "companyReferenceId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "expiresAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "metricUnits": {
                                "type": "boolean"
                              },
                              "mobileCurrentSignInAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mobileLastActiveAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mobileLastSignInAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "string"
                              },
                              "phone2": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phoneCountryCode": {
                                "type": "string"
                              },
                              "phoneCountryCode2": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phoneExt": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "webCurrentSignInAt": {
                                "type": "string"
                              },
                              "webLastActiveAt": {
                                "type": "string"
                              },
                              "webLastSignInAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/motive/latest/actions/list-vehicle-utilization": {
      "get": {
        "operationId": "motive.list-vehicle-utilization",
        "summary": "List vehicle utilization",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-vehicle-utilization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "required": false,
            "description": "Filter utilization by one or more vehicle IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter utilization by one or more vehicle IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Fetch utilization from this date onward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fetch utilization from this date onward."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Fetch utilization through this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fetch utilization through this date."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vehicleIdleRollup": {
                            "type": "object",
                            "properties": {
                              "drivingFuel": {
                                "type": "number"
                              },
                              "drivingTime": {
                                "type": "number"
                              },
                              "idleFuel": {
                                "type": "number"
                              },
                              "idleTime": {
                                "type": "number"
                              },
                              "utilization": {
                                "type": "number"
                              },
                              "vehicle": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "make": {
                                    "type": "string"
                                  },
                                  "metricUnits": {
                                    "type": "boolean"
                                  },
                                  "model": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "string"
                                  },
                                  "vin": {
                                    "type": "string"
                                  },
                                  "year": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/motive/latest/actions/list-vehicles": {
      "get": {
        "operationId": "motive.list-vehicles",
        "summary": "List vehicles",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/motive/latest/actions/list-vehicles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Return vehicles updated after the given UTC timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return vehicles updated after the given UTC timestamp."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vehicle": {
                            "type": "object",
                            "properties": {
                              "availabilityDetails": {
                                "type": "object",
                                "properties": {
                                  "availabilityStatus": {
                                    "type": "string"
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "updatedByUser": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "carbCtcEmissionStatus": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "carbCtcTestEnabled": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "companyId": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currentDriver": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "driverFacingCamera": {
                                "type": "number"
                              },
                              "eldDevice": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "identifier": {
                                    "type": "string"
                                  },
                                  "model": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "fuelType": {
                                "type": "string"
                              },
                              "groupIds": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "id": {
                                "type": "number"
                              },
                              "ifta": {
                                "type": "boolean"
                              },
                              "incabAlertLiveStreamEnable": {
                                "type": "number"
                              },
                              "incabAudioRecording": {
                                "type": "number"
                              },
                              "licensePlateCountryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "licensePlateNumber": {
                                "type": "string"
                              },
                              "licensePlateState": {
                                "type": "string"
                              },
                              "make": {
                                "type": "string"
                              },
                              "metricUnits": {
                                "type": "boolean"
                              },
                              "model": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "number": {
                                "type": "string"
                              },
                              "permanentDriver": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "preventAutoOdometerEntry": {
                                "type": "boolean"
                              },
                              "registrationExpiryDate": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "vin": {
                                "type": "string"
                              },
                              "year": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
