{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Calculate Working Day Universal API",
    "version": "0.0.5",
    "description": "Calculate valid working days, next working days, month boundaries, and working-day offsets using Mightora's free Calculate Working Day API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/calculateWorkingDay/latest/actions/basic-next-working-day": {
      "get": {
        "operationId": "calculateWorkingDay.basic-next-working-day",
        "summary": "Basic Next Working Day",
        "description": "Retrieves the next Monday-to-Friday working day.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/basic-next-working-day"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Input date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Input date in YYYY-MM-DD format.",
              "example": "2026-04-29"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input_date": {
                            "type": "string",
                            "description": "Input date returned by the API."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "next_working_day": {
                            "type": "string",
                            "description": "Next working day after the input date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calculateWorkingDay/latest/actions/combined": {
      "get": {
        "operationId": "calculateWorkingDay.combined",
        "summary": "Combination Of All Calculate Working Day Endpoints",
        "description": "Retrieves combined results from all working-day calculations.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/combined"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Input date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Input date in YYYY-MM-DD format."
            }
          },
          {
            "name": "working_days",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of working day numbers where Monday is 1.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of working day numbers where Monday is 1.",
              "default": "1,2,3,4,5"
            }
          },
          {
            "name": "x_working_days",
            "in": "query",
            "required": true,
            "description": "Number of working days to add.",
            "schema": {
              "type": "number",
              "description": "Number of working days to add.",
              "default": 4
            }
          },
          {
            "name": "non_working_days",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated dates in YYYY-MM-DD format to treat as non-working days.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated dates in YYYY-MM-DD format to treat as non-working days.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional country value for bank holiday filtering.",
            "schema": {
              "type": "string",
              "description": "Optional country value for bank holiday filtering.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "first_working_day_of_month": {
                            "type": "string",
                            "description": "First working day in the input date's month."
                          },
                          "input_date": {
                            "type": "string",
                            "description": "Input date returned by the API."
                          },
                          "is_input_date_a_working_day": {
                            "type": "boolean",
                            "description": "Whether the input date is a working day."
                          },
                          "last_working_day_of_month": {
                            "type": "string",
                            "description": "Last working day in the input date's month."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "next_working_day": {
                            "type": "string",
                            "description": "Next working day after the input date."
                          },
                          "non_working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-working dates used in the calculation."
                          },
                          "working_day_in_x_days": {
                            "type": "string",
                            "description": "Working day found after adding the requested number of working days."
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day numbers used in the calculation."
                          },
                          "working_days_in_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day names used in the calculation."
                          },
                          "x_days": {
                            "type": "number",
                            "description": "Number of working days added to the input date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calculateWorkingDay/latest/actions/date-difference-calculator": {
      "get": {
        "operationId": "calculateWorkingDay.date-difference-calculator",
        "summary": "Date Difference Calculator",
        "description": "Retrieves total and working-day counts between two dates.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/date-difference-calculator"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date in YYYY-MM-DD format."
            }
          },
          {
            "name": "working_days",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of working day numbers where Monday is 1.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of working day numbers where Monday is 1.",
              "default": "1,2,3,4,5"
            }
          },
          {
            "name": "non_working_days",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated dates in YYYY-MM-DD format to treat as non-working days.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated dates in YYYY-MM-DD format to treat as non-working days.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end_date": {
                            "type": "string",
                            "description": "End date returned by the API."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "non_working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-working days included in the calculation."
                          },
                          "start_date": {
                            "type": "string",
                            "description": "Start date returned by the API."
                          },
                          "total_days": {
                            "type": "number",
                            "description": "Total days between the start and end dates."
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working days included in the calculation."
                          },
                          "working_days_count": {
                            "type": "number",
                            "description": "Count of working days between the start and end dates."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calculateWorkingDay/latest/actions/date-in-x-working-days": {
      "get": {
        "operationId": "calculateWorkingDay.date-in-x-working-days",
        "summary": "Date In X Working Days",
        "description": "Retrieves the date after a working-day offset.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/date-in-x-working-days"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Input date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Input date in YYYY-MM-DD format.",
              "example": "2026-04-29"
            }
          },
          {
            "name": "working_days",
            "in": "query",
            "required": true,
            "description": "Comma-separated weekday numbers where Monday is 1. Default is 1,2,3,4,5.",
            "schema": {
              "type": "string",
              "description": "Comma-separated weekday numbers where Monday is 1. Default is 1,2,3,4,5.",
              "default": "1,2,3,4,5"
            }
          },
          {
            "name": "x_working_days",
            "in": "query",
            "required": true,
            "description": "Number of working days to look ahead.",
            "schema": {
              "type": "number",
              "description": "Number of working days to look ahead.",
              "default": 4
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input_date": {
                            "type": "string",
                            "description": "Input date returned by the API."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "non_working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-working dates used in the calculation."
                          },
                          "working_day_in_x_days": {
                            "type": "string",
                            "description": "Working day found after adding the requested number of working days."
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day numbers used in the calculation."
                          },
                          "working_days_in_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day names used in the calculation."
                          },
                          "x_days": {
                            "type": "number",
                            "description": "Number of working days added to the input date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calculateWorkingDay/latest/actions/first-and-last-working-day-of-month": {
      "get": {
        "operationId": "calculateWorkingDay.first-and-last-working-day-of-month",
        "summary": "First And Last Working Day Of Month",
        "description": "Retrieves a month's first and last working days.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/first-and-last-working-day-of-month"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Input date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Input date in YYYY-MM-DD format.",
              "example": "2026-04-29"
            }
          },
          {
            "name": "working_days",
            "in": "query",
            "required": true,
            "description": "Comma-separated weekday numbers where Monday is 1. Default is 1,2,3,4,5.",
            "schema": {
              "type": "string",
              "description": "Comma-separated weekday numbers where Monday is 1. Default is 1,2,3,4,5.",
              "default": "1,2,3,4,5"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "first_working_day_of_month": {
                            "type": "string",
                            "description": "First working day in the input date's month."
                          },
                          "input_date": {
                            "type": "string",
                            "description": "Input date returned by the API."
                          },
                          "last_working_day_of_month": {
                            "type": "string",
                            "description": "Last working day in the input date's month."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "non_working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-working dates used in the calculation."
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day numbers used in the calculation."
                          },
                          "working_days_in_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day names used in the calculation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calculateWorkingDay/latest/actions/is-today-a-working-day": {
      "get": {
        "operationId": "calculateWorkingDay.is-today-a-working-day",
        "summary": "Is Today A Working Day",
        "description": "Retrieves whether a date is a working day.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/is-today-a-working-day"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Input date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Input date in YYYY-MM-DD format."
            }
          },
          {
            "name": "working_days",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of working day numbers where Monday is 1.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of working day numbers where Monday is 1.",
              "default": "1,2,3,4,5"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input_date": {
                            "type": "string",
                            "description": "Input date returned by the API."
                          },
                          "is_input_date_a_working_day": {
                            "type": "boolean",
                            "description": "Whether the input date is a working day."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "non_working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-working dates used in the calculation."
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day numbers used in the calculation."
                          },
                          "working_days_in_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day names used in the calculation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calculateWorkingDay/latest/actions/next-working-day": {
      "get": {
        "operationId": "calculateWorkingDay.next-working-day",
        "summary": "Next Working Day",
        "description": "Retrieves the next working day using custom working-day rules.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calculateWorkingDay/latest/actions/next-working-day"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Input date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Input date in YYYY-MM-DD format.",
              "example": "2026-04-29"
            }
          },
          {
            "name": "working_days",
            "in": "query",
            "required": true,
            "description": "Comma-separated weekday numbers where Monday is 1. Default is 1,2,3,4,5.",
            "schema": {
              "type": "string",
              "description": "Comma-separated weekday numbers where Monday is 1. Default is 1,2,3,4,5.",
              "default": "1,2,3,4,5"
            }
          },
          {
            "name": "x_working_days",
            "in": "query",
            "required": true,
            "description": "Number of working days to look ahead.",
            "schema": {
              "type": "number",
              "description": "Number of working days to look ahead.",
              "default": 4
            }
          },
          {
            "name": "non_working_days",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated dates to exclude in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated dates to exclude in YYYY-MM-DD format.",
              "example": "2026-12-25,2026-12-26",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input_date": {
                            "type": "string",
                            "description": "Input date returned by the API."
                          },
                          "message_from_developer": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "more_info": {
                            "type": "string",
                            "description": "Provider information URL."
                          },
                          "next_working_day": {
                            "type": "string",
                            "description": "Next working day after the input date."
                          },
                          "non_working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-working dates used in the calculation."
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day numbers used in the calculation."
                          },
                          "working_days_in_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Working day names used in the calculation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
