{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PDF4me Image Universal API",
    "version": "0.0.3",
    "description": "Process images with PDF4me to extract metadata and text, resize, crop, compress, flip, and convert image files."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pDF4meImage/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pDF4meImage/latest/actions/get-image-metadata": {
      "get": {
        "operationId": "pDF4meImage.get-image-metadata",
        "summary": "Get Image Metadata",
        "description": "Retrieves metadata for an image in PDF4me Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDF4meImage/latest/actions/get-image-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PNG or JPG image content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PNG or JPG image content."
            }
          },
          {
            "name": "docName",
            "in": "query",
            "required": true,
            "description": "File name for the uploaded image, including the extension.",
            "schema": {
              "type": "string",
              "description": "File name for the uploaded image, including the extension."
            }
          },
          {
            "name": "imageType",
            "in": "query",
            "required": false,
            "description": "Optional image type such as PNG or JPG when the provider needs it.",
            "schema": {
              "type": "string",
              "description": "Optional image type such as PNG or JPG when the provider needs it.",
              "example": "PNG or JPG"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bitsperPixel": {
                            "type": "number",
                            "description": "Bits per pixel."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Image size in bytes."
                          },
                          "hasExifData": {
                            "type": "boolean",
                            "description": "Whether EXIF data is present."
                          },
                          "hasXmpData": {
                            "type": "boolean",
                            "description": "Whether XMP data is present."
                          },
                          "height": {
                            "type": "number",
                            "description": "Image height in pixels."
                          },
                          "horizontalResolution": {
                            "type": "number",
                            "description": "Horizontal resolution."
                          },
                          "imageFormat": {
                            "type": "string",
                            "description": "Detected image format."
                          },
                          "verticalResolution": {
                            "type": "number",
                            "description": "Vertical resolution."
                          },
                          "width": {
                            "type": "number",
                            "description": "Image width in pixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDF4meImage/latest/actions/read-barcode-from-image": {
      "get": {
        "operationId": "pDF4meImage.read-barcode-from-image",
        "summary": "Read Barcode from Image",
        "description": "Retrieves barcode data from an image in PDF4me Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDF4meImage/latest/actions/read-barcode-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded source image content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded source image content."
            }
          },
          {
            "name": "docName",
            "in": "query",
            "required": true,
            "description": "Filename for the source image.",
            "schema": {
              "type": "string",
              "description": "Filename for the source image."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "barcode": {
                            "type": "string",
                            "description": "Decoded barcode or QR code value."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "Provider job identifier when available."
                          },
                          "traceId": {
                            "type": "string",
                            "description": "Provider trace identifier for the scan request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
