{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Base64.ai Universal API",
    "version": "0.0.9",
    "description": "AI-powered document, face, and signature extraction and verification for files and URLs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/base64ai/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/base64ai/latest/actions/ask-result-question": {
      "get": {
        "operationId": "base64ai.ask-result-question",
        "summary": "Ask Result Question",
        "description": "Retrieves answers to questions about a Base64.ai result.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/base64ai/latest/actions/ask-result-question"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resultUuid",
            "in": "query",
            "required": true,
            "description": "Base64.ai result UUID.",
            "schema": {
              "type": "string",
              "description": "Base64.ai result UUID."
            }
          },
          {
            "name": "questions[]",
            "in": "query",
            "required": true,
            "description": "One or more natural-language questions about the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more natural-language questions about the result."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "locale": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "bottomLeft": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "bottomRight": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pageNumber": {
                                "type": "number"
                              },
                              "source": {
                                "type": "object",
                                "properties": {
                                  "resultUUID": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "topLeft": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "topRight": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "modality": {
                            "type": "string"
                          },
                          "suggestedQuestions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/base64ai/latest/actions/create-flow": {
      "post": {
        "operationId": "base64ai.create-flow",
        "summary": "Create Flow",
        "description": "Creates a new flow in Base64.ai.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/base64ai/latest/actions/create-flow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the Base64.ai flow."
                  },
                  "status": {
                    "type": "string",
                    "description": "Flow status, usually enabled.",
                    "default": "enabled"
                  },
                  "hitl": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Human-in-the-loop settings object.",
                    "default": {
                      "status": "enabled",
                      "storeFiles": true
                    },
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalListColumns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "fieldName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "administrators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "allowedUploaders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "allowPublicUploads": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdByDomain": {
                            "type": "string"
                          },
                          "createdByEmail": {
                            "type": "string"
                          },
                          "dataRetention": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "destination": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "documentsToAsk": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fileTypeDimensionLimits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flowID": {
                            "type": "string"
                          },
                          "flowSearch": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hideSampleFiles": {
                            "type": "boolean"
                          },
                          "hitl": {
                            "type": "object",
                            "properties": {
                              "allowReviewersToDownloadOriginalFiles": {
                                "type": "boolean"
                              },
                              "chartAggregateX": {
                                "type": "boolean"
                              },
                              "chartBackground": {
                                "type": "string"
                              },
                              "hideReviewerWatermarks": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "storeFiles": {
                                "type": "boolean"
                              },
                              "tableHighlightThreshold": {
                                "type": "number"
                              },
                              "tablePosition": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "instructions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "isOwner": {
                            "type": "boolean"
                          },
                          "lastUploadedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfApproved": {
                            "type": "number"
                          },
                          "numberOfDeleted": {
                            "type": "number"
                          },
                          "numberOfError": {
                            "type": "number"
                          },
                          "numberOfNeedsReview": {
                            "type": "number"
                          },
                          "numberOfProcessing": {
                            "type": "number"
                          },
                          "numberOfRejected": {
                            "type": "number"
                          },
                          "numberOfUploads": {
                            "type": "number"
                          },
                          "onlyProcessLimitedMimeTypes": {
                            "type": "boolean"
                          },
                          "postProcessing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "predefinedFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "rejectionReasons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "resultManipulation": {
                            "type": "object",
                            "properties": {
                              "disableAllExceptMustHaveFields": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "reviewSla": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "allowIncompleteResults": {
                                "type": "boolean"
                              },
                              "classificationFallback": {
                                "type": "string"
                              },
                              "convertBlocksToFields": {
                                "type": "boolean"
                              },
                              "convertTextToSpeech": {
                                "type": "boolean"
                              },
                              "decodeVin": {
                                "type": "boolean"
                              },
                              "defaultCurrency": {
                                "type": "string"
                              },
                              "detectBarcodes": {
                                "type": "boolean"
                              },
                              "detectBlur": {
                                "type": "boolean"
                              },
                              "detectCheckboxes": {
                                "type": "boolean"
                              },
                              "detectDatamatrix": {
                                "type": "boolean"
                              },
                              "detectEnhancedIDs": {
                                "type": "boolean"
                              },
                              "detectFaces": {
                                "type": "boolean"
                              },
                              "detectFraud": {
                                "type": "boolean"
                              },
                              "detectGlares": {
                                "type": "boolean"
                              },
                              "detectIBAN": {
                                "type": "boolean"
                              },
                              "detectQrCodes": {
                                "type": "boolean"
                              },
                              "detectSignatures": {
                                "type": "boolean"
                              },
                              "detectStamps": {
                                "type": "boolean"
                              },
                              "detectWatermarks": {
                                "type": "boolean"
                              },
                              "eagerProcessID": {
                                "type": "boolean"
                              },
                              "extractExifData": {
                                "type": "boolean"
                              },
                              "flattenTable": {
                                "type": "boolean"
                              },
                              "generatePDF": {
                                "type": "boolean"
                              },
                              "geocodeAddresses": {
                                "type": "boolean"
                              },
                              "hideDom": {
                                "type": "boolean"
                              },
                              "hideFieldLocations": {
                                "type": "boolean"
                              },
                              "integrationConcurrency": {
                                "type": "number"
                              },
                              "integrations": {
                                "type": "object",
                                "properties": {
                                  "scanFromEmail": {
                                    "type": "object",
                                    "properties": {
                                      "processAttachments": {
                                        "type": "boolean"
                                      },
                                      "processEmailMessage": {
                                        "type": "boolean"
                                      },
                                      "replyToSender": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "keepOriginalTables": {
                                "type": "boolean"
                              },
                              "mergeSemanticResults": {
                                "type": "boolean"
                              },
                              "mergeTables": {
                                "type": "boolean"
                              },
                              "processDocxOnly": {
                                "type": "boolean"
                              },
                              "processExcelOnly": {
                                "type": "boolean"
                              },
                              "readDigitalSignatures": {
                                "type": "boolean"
                              },
                              "recognizeEntities": {
                                "type": "boolean"
                              },
                              "renderLineItemsAsObjects": {
                                "type": "boolean"
                              },
                              "runDocumentClassificationOnly": {
                                "type": "boolean"
                              },
                              "usePretrainedModels": {
                                "type": "boolean"
                              },
                              "useSegmentation": {
                                "type": "boolean"
                              },
                              "verifyDocumentShape": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "suggestedQuestions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tableTaxonomies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "taxonomies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/base64ai/latest/actions/delete-flow": {
      "delete": {
        "operationId": "base64ai.delete-flow",
        "summary": "Delete Flow",
        "description": "Deletes an existing flow from Base64.ai.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/base64ai/latest/actions/delete-flow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "query",
            "required": true,
            "description": "Flow identifier to delete.",
            "schema": {
              "type": "string",
              "description": "Flow identifier to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalListColumns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "fieldName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "administrators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "allowedUploaders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "allowPublicUploads": {
                            "type": "boolean"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdByDomain": {
                            "type": "string"
                          },
                          "createdByEmail": {
                            "type": "string"
                          },
                          "dataRetention": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "destination": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "documentsToAsk": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fileTypeDimensionLimits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flowID": {
                            "type": "string"
                          },
                          "flowSearch": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hideSampleFiles": {
                            "type": "boolean"
                          },
                          "hitl": {
                            "type": "object",
                            "properties": {
                              "allowReviewersToDownloadOriginalFiles": {
                                "type": "boolean"
                              },
                              "chartAggregateX": {
                                "type": "boolean"
                              },
                              "chartBackground": {
                                "type": "string"
                              },
                              "hideReviewerWatermarks": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "storeFiles": {
                                "type": "boolean"
                              },
                              "tableHighlightThreshold": {
                                "type": "number"
                              },
                              "tablePosition": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "instructions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "isOwner": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfApproved": {
                            "type": "number"
                          },
                          "numberOfDeleted": {
                            "type": "number"
                          },
                          "numberOfError": {
                            "type": "number"
                          },
                          "numberOfNeedsReview": {
                            "type": "number"
                          },
                          "numberOfProcessing": {
                            "type": "number"
                          },
                          "numberOfRejected": {
                            "type": "number"
                          },
                          "numberOfUploads": {
                            "type": "number"
                          },
                          "onlyProcessLimitedMimeTypes": {
                            "type": "boolean"
                          },
                          "postProcessing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "predefinedFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "rejectionReasons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "resultManipulation": {
                            "type": "object",
                            "properties": {
                              "disableAllExceptMustHaveFields": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "reviewSla": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "allowIncompleteResults": {
                                "type": "boolean"
                              },
                              "classificationFallback": {
                                "type": "string"
                              },
                              "convertBlocksToFields": {
                                "type": "boolean"
                              },
                              "convertTextToSpeech": {
                                "type": "boolean"
                              },
                              "decodeVin": {
                                "type": "boolean"
                              },
                              "defaultCurrency": {
                                "type": "string"
                              },
                              "detectBarcodes": {
                                "type": "boolean"
                              },
                              "detectBlur": {
                                "type": "boolean"
                              },
                              "detectCheckboxes": {
                                "type": "boolean"
                              },
                              "detectDatamatrix": {
                                "type": "boolean"
                              },
                              "detectEnhancedIDs": {
                                "type": "boolean"
                              },
                              "detectFaces": {
                                "type": "boolean"
                              },
                              "detectFraud": {
                                "type": "boolean"
                              },
                              "detectGlares": {
                                "type": "boolean"
                              },
                              "detectIBAN": {
                                "type": "boolean"
                              },
                              "detectQrCodes": {
                                "type": "boolean"
                              },
                              "detectSignatures": {
                                "type": "boolean"
                              },
                              "detectStamps": {
                                "type": "boolean"
                              },
                              "detectWatermarks": {
                                "type": "boolean"
                              },
                              "eagerProcessID": {
                                "type": "boolean"
                              },
                              "extractExifData": {
                                "type": "boolean"
                              },
                              "flattenTable": {
                                "type": "boolean"
                              },
                              "generatePDF": {
                                "type": "boolean"
                              },
                              "geocodeAddresses": {
                                "type": "boolean"
                              },
                              "hideDom": {
                                "type": "boolean"
                              },
                              "hideFieldLocations": {
                                "type": "boolean"
                              },
                              "integrationConcurrency": {
                                "type": "number"
                              },
                              "integrations": {
                                "type": "object",
                                "properties": {
                                  "scanFromEmail": {
                                    "type": "object",
                                    "properties": {
                                      "processAttachments": {
                                        "type": "boolean"
                                      },
                                      "processEmailMessage": {
                                        "type": "boolean"
                                      },
                                      "replyToSender": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "keepOriginalTables": {
                                "type": "boolean"
                              },
                              "mergeSemanticResults": {
                                "type": "boolean"
                              },
                              "mergeTables": {
                                "type": "boolean"
                              },
                              "processDocxOnly": {
                                "type": "boolean"
                              },
                              "processExcelOnly": {
                                "type": "boolean"
                              },
                              "readDigitalSignatures": {
                                "type": "boolean"
                              },
                              "recognizeEntities": {
                                "type": "boolean"
                              },
                              "renderLineItemsAsObjects": {
                                "type": "boolean"
                              },
                              "runDocumentClassificationOnly": {
                                "type": "boolean"
                              },
                              "usePretrainedModels": {
                                "type": "boolean"
                              },
                              "useSegmentation": {
                                "type": "boolean"
                              },
                              "verifyDocumentShape": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "suggestedQuestions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tableTaxonomies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "taxonomies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "updatedAt": {
                            "type": "object",
                            "properties": {
                              "Nanoseconds": {
                                "type": "number"
                              },
                              "Seconds": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/base64ai/latest/actions/get-asynchronous-scan-result": {
      "get": {
        "operationId": "base64ai.get-asynchronous-scan-result",
        "summary": "Get Asynchronous Scan Result",
        "description": "Retrieves an asynchronous scan result from Base64.ai.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/base64ai/latest/actions/get-asynchronous-scan-result"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asyncFileUUID",
            "in": "query",
            "required": true,
            "description": "Asynchronous scan identifier returned by Base64.ai.",
            "schema": {
              "type": "string",
              "description": "Asynchronous scan identifier returned by Base64.ai."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "barcodes": {
                                "type": "object",
                                "properties": {
                                  "mrz": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "creditsSpent": {
                                "type": "number"
                              },
                              "dom": {
                                "type": "object",
                                "properties": {
                                  "box": {
                                    "type": "object",
                                    "properties": {
                                      "bottom": {
                                        "type": "number"
                                      },
                                      "height": {
                                        "type": "number"
                                      },
                                      "left": {
                                        "type": "number"
                                      },
                                      "pageNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "right": {
                                        "type": "number"
                                      },
                                      "top": {
                                        "type": "number"
                                      },
                                      "width": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "confidence": {
                                    "type": "number"
                                  },
                                  "pages": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "blocks": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "box": {
                                                "type": "object",
                                                "properties": {
                                                  "bottom": {
                                                    "type": "number"
                                                  },
                                                  "height": {
                                                    "type": "number"
                                                  },
                                                  "left": {
                                                    "type": "number"
                                                  },
                                                  "pageNumber": {
                                                    "type": "number"
                                                  },
                                                  "right": {
                                                    "type": "number"
                                                  },
                                                  "top": {
                                                    "type": "number"
                                                  },
                                                  "width": {
                                                    "type": "number"
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "lines": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "box": {
                                                      "type": "object",
                                                      "properties": {
                                                        "bottom": {
                                                          "type": "number"
                                                        },
                                                        "height": {
                                                          "type": "number"
                                                        },
                                                        "left": {
                                                          "type": "number"
                                                        },
                                                        "pageNumber": {
                                                          "type": "number"
                                                        },
                                                        "right": {
                                                          "type": "number"
                                                        },
                                                        "top": {
                                                          "type": "number"
                                                        },
                                                        "width": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    },
                                                    "confidence": {
                                                      "type": "number"
                                                    },
                                                    "location": {
                                                      "type": "object",
                                                      "properties": {
                                                        "bottomLeft": {
                                                          "type": "object",
                                                          "properties": {
                                                            "x": {
                                                              "type": "number"
                                                            },
                                                            "y": {
                                                              "type": "number"
                                                            }
                                                          },
                                                          "additionalProperties": false
                                                        },
                                                        "bottomRight": {
                                                          "type": "object",
                                                          "properties": {
                                                            "x": {
                                                              "type": "number"
                                                            },
                                                            "y": {
                                                              "type": "number"
                                                            }
                                                          },
                                                          "additionalProperties": false
                                                        },
                                                        "pageNumber": {
                                                          "type": "number"
                                                        },
                                                        "topLeft": {
                                                          "type": "object",
                                                          "properties": {
                                                            "x": {
                                                              "type": "number"
                                                            },
                                                            "y": {
                                                              "type": "number"
                                                            }
                                                          },
                                                          "additionalProperties": false
                                                        },
                                                        "topRight": {
                                                          "type": "object",
                                                          "properties": {
                                                            "x": {
                                                              "type": "number"
                                                            },
                                                            "y": {
                                                              "type": "number"
                                                            }
                                                          },
                                                          "additionalProperties": false
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    },
                                                    "text": {
                                                      "type": "string"
                                                    },
                                                    "words": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "box": {
                                                            "type": "object",
                                                            "properties": {
                                                              "bottom": {
                                                                "type": "number"
                                                              },
                                                              "height": {
                                                                "type": "number"
                                                              },
                                                              "left": {
                                                                "type": "number"
                                                              },
                                                              "pageNumber": {
                                                                "type": "number"
                                                              },
                                                              "right": {
                                                                "type": "number"
                                                              },
                                                              "top": {
                                                                "type": "number"
                                                              },
                                                              "width": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "confidence": {
                                                            "type": "number"
                                                          },
                                                          "location": {
                                                            "type": "object",
                                                            "properties": {
                                                              "bottomLeft": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "x": {
                                                                    "type": "number"
                                                                  },
                                                                  "y": {
                                                                    "type": "number"
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              },
                                                              "bottomRight": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "x": {
                                                                    "type": "number"
                                                                  },
                                                                  "y": {
                                                                    "type": "number"
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              },
                                                              "pageNumber": {
                                                                "type": "number"
                                                              },
                                                              "topLeft": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "x": {
                                                                    "type": "number"
                                                                  },
                                                                  "y": {
                                                                    "type": "number"
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              },
                                                              "topRight": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "x": {
                                                                    "type": "number"
                                                                  },
                                                                  "y": {
                                                                    "type": "number"
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "text": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                }
                                              },
                                              "location": {
                                                "type": "object",
                                                "properties": {
                                                  "bottomLeft": {
                                                    "type": "object",
                                                    "properties": {
                                                      "x": {
                                                        "type": "number"
                                                      },
                                                      "y": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "bottomRight": {
                                                    "type": "object",
                                                    "properties": {
                                                      "x": {
                                                        "type": "number"
                                                      },
                                                      "y": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "pageNumber": {
                                                    "type": "number"
                                                  },
                                                  "topLeft": {
                                                    "type": "object",
                                                    "properties": {
                                                      "x": {
                                                        "type": "number"
                                                      },
                                                      "y": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "topRight": {
                                                    "type": "object",
                                                    "properties": {
                                                      "x": {
                                                        "type": "number"
                                                      },
                                                      "y": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              "text": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "box": {
                                          "type": "object",
                                          "properties": {
                                            "bottom": {
                                              "type": "number"
                                            },
                                            "height": {
                                              "type": "number"
                                            },
                                            "left": {
                                              "type": "number"
                                            },
                                            "pageNumber": {
                                              "type": "number"
                                            },
                                            "right": {
                                              "type": "number"
                                            },
                                            "top": {
                                              "type": "number"
                                            },
                                            "width": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "location": {
                                          "type": "object",
                                          "properties": {
                                            "bottomLeft": {
                                              "type": "object",
                                              "properties": {
                                                "x": {
                                                  "type": "number"
                                                },
                                                "y": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "bottomRight": {
                                              "type": "object",
                                              "properties": {
                                                "x": {
                                                  "type": "number"
                                                },
                                                "y": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "pageNumber": {
                                              "type": "number"
                                            },
                                            "topLeft": {
                                              "type": "object",
                                              "properties": {
                                                "x": {
                                                  "type": "number"
                                                },
                                                "y": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "topRight": {
                                              "type": "object",
                                              "properties": {
                                                "x": {
                                                  "type": "number"
                                                },
                                                "y": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "properties": {
                                          "type": "object",
                                          "properties": {
                                            "dpiX": {
                                              "type": "number"
                                            },
                                            "dpiY": {
                                              "type": "number"
                                            },
                                            "height": {
                                              "type": "number"
                                            },
                                            "mimeType": {
                                              "type": "string"
                                            },
                                            "normalizedHeight": {
                                              "type": "number"
                                            },
                                            "normalizedWidth": {
                                              "type": "number"
                                            },
                                            "rotationAngle": {
                                              "type": "number"
                                            },
                                            "width": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "text": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "faces": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bottom": {
                                      "type": "number"
                                    },
                                    "bottomLeft": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "bottomRight": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "confidence": {
                                      "type": "number"
                                    },
                                    "height": {
                                      "type": "number"
                                    },
                                    "image": {
                                      "type": "string"
                                    },
                                    "left": {
                                      "type": "number"
                                    },
                                    "pageNumber": {
                                      "type": "number"
                                    },
                                    "right": {
                                      "type": "number"
                                    },
                                    "top": {
                                      "type": "number"
                                    },
                                    "topLeft": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "topRight": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "fraud": {
                                "type": "object",
                                "properties": {
                                  "indicators": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "category": {
                                          "type": "string"
                                        },
                                        "confidence": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "evidences": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "ocr": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "risk": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "risk": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "documentPageCount": {
                                    "type": "number"
                                  },
                                  "dpiX": {
                                    "type": "number"
                                  },
                                  "dpiY": {
                                    "type": "number"
                                  },
                                  "flowID": {
                                    "type": "string"
                                  },
                                  "height": {
                                    "type": "number"
                                  },
                                  "isEditable": {
                                    "type": "boolean"
                                  },
                                  "isGlareFree": {
                                    "type": "boolean"
                                  },
                                  "isInFocus": {
                                    "type": "boolean"
                                  },
                                  "isSelectable": {
                                    "type": "boolean"
                                  },
                                  "mimeType": {
                                    "type": "string"
                                  },
                                  "originalFileName": {
                                    "type": "string"
                                  },
                                  "pageCount": {
                                    "type": "number"
                                  },
                                  "rotationAngle": {
                                    "type": "number"
                                  },
                                  "startPage": {
                                    "type": "number"
                                  },
                                  "width": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "signatures": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bottom": {
                                      "type": "number"
                                    },
                                    "bottomLeft": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "bottomRight": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "confidence": {
                                      "type": "number"
                                    },
                                    "height": {
                                      "type": "number"
                                    },
                                    "image": {
                                      "type": "string"
                                    },
                                    "left": {
                                      "type": "number"
                                    },
                                    "pageNumber": {
                                      "type": "number"
                                    },
                                    "right": {
                                      "type": "number"
                                    },
                                    "top": {
                                      "type": "number"
                                    },
                                    "topLeft": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
[...]
