{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Corsizio Universal API",
    "version": "0.0.3",
    "description": "Manage Corsizio events, attendees, registrations, and payments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/corsizio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/corsizio/latest/actions/get-account-details": {
      "get": {
        "operationId": "corsizio.get-account-details",
        "summary": "Get Account Details",
        "description": "Retrieves account details from a Corsizio account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/corsizio/latest/actions/get-account-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "alias": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "genders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "levels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "zip": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "priceRanges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "from": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "to": {
                                  "type": "number"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "siteUrl": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/corsizio/latest/actions/get-attendee-details": {
      "get": {
        "operationId": "corsizio.get-attendee-details",
        "summary": "Get Attendee Details",
        "description": "Retrieves an attendee from Corsizio by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/corsizio/latest/actions/get-attendee-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The attendee ID to request.",
            "schema": {
              "type": "string",
              "description": "The attendee ID to request."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated values: payment, activity, details.",
            "schema": {
              "type": "string",
              "description": "Comma-separated values: payment, activity, details. Pass multiple values separated by `,`.",
              "enum": [
                "activity",
                "details",
                "payment"
              ]
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Comma-separated values: event, account.",
            "schema": {
              "type": "string",
              "description": "Comma-separated values: event, account. Pass multiple values separated by `,`.",
              "enum": [
                "account",
                "event"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "siteUrl": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "activity": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "author": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "addons": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "address": {
                            "type": "string"
                          },
                          "attended": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "canceled": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checkin": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "entries": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "last": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "coupon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "event": {
                            "type": "object",
                            "properties": {
                              "account": {
                                "type": "object",
                                "properties": {
                                  "created": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "siteUrl": {
                                    "type": "string"
                                  },
                                  "timeZone": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "descriptionHtml": {
                                "type": "string"
                              },
                              "displayDate": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "formUrl": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instructors": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "location": {
                                "type": "string"
                              },
                              "mapUrl": {
                                "type": "string"
                              },
                              "maxSpots": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "pageUrl": {
                                "type": "string"
                              },
                              "photoUrl": {
                                "type": "string"
                              },
                              "priceFrom": {
                                "type": "number"
                              },
                              "prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "earlyBefore": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "earlyPrice": {
                                      "type": "number"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "priceTo": {
                                "type": "number"
                              },
                              "registrationCloseDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "startDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "status": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "summaryHtml": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              },
                              "videoEmbed": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "expunged": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "feedback": {
                            "type": "object",
                            "properties": {
                              "added": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "asked": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "manual": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "addons": {
                                "type": "number"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "asked": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "changed": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "deposit": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "discount": {
                                "type": "number"
                              },
                              "discountable": {
                                "type": "boolean"
                              },
                              "early": {
                                "type": "boolean"
                              },
                              "exempt": {
                                "type": "boolean"
                              },
                              "fees": {
                                "type": "number"
                              },
                              "full": {
                                "type": "number"
                              },
                              "label": {
                                "type": "string"
                              },
                              "offline": {
                                "type": "boolean"
                              },
                              "paid": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pending": {
                                "type": "number"
                              },
                              "price": {
                                "type": "number"
                              },
                              "priceId": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "number"
                              },
                              "refunded": {
                                "type": "boolean"
                              },
                              "released": {
                                "type": "boolean"
                              },
                              "subtotal": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "taxes": {
                                "type": "number"
                              },
                              "variable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone": {
                            "type": "string"
                          },
                          "refCode": {
                            "type": "string"
                          },
                          "relationToken": {
                            "type": "string"
                          },
                          "remark": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "card": {
                                  "type": "object",
                                  "properties": {
                                    "brand": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "last4": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "chargeId": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "fees": {
                                  "type": "number"
                                },
                                "method": {
                                  "type": "string"
                                },
                                "paid": {
                                  "type": "boolean"
                                },
                                "refund": {
                                  "type": "number"
                                },
                                "refunded": {
                                  "type": "boolean"
                                },
                                "refunds": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number"
                                      },
                                      "created": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "currency": {
                                        "type": "string"
                                      },
                                      "fee": {
                                        "type": "number"
                                      },
                                      "id": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "transferred": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/corsizio/latest/actions/get-event-details": {
      "get": {
        "operationId": "corsizio.get-event-details",
        "summary": "Get Event Details",
        "description": "Retrieves an event from Corsizio by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/corsizio/latest/actions/get-event-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The event ID to request.",
            "schema": {
              "type": "string",
              "description": "The event ID to request."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated values: filters, stats, attendees, payment.",
            "schema": {
              "type": "string",
              "description": "Comma-separated values: filters, stats, attendees, payment. Pass multiple values separated by `,`.",
              "enum": [
                "attendees",
                "filters",
                "payment",
                "stats"
              ]
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Comma-separated values: filters, instructors, account.",
            "schema": {
              "type": "string",
              "description": "Comma-separated values: filters, instructors, account. Pass multiple values separated by `,`.",
              "enum": [
                "account",
                "filters",
                "instructors"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "siteUrl": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ageGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "string"
                                },
                                "activity": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "added": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "author": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "kind": {
                                        "type": "string"
                                      },
                                      "message": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "addons": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {}
                                  }
                                },
                                "address": {
                                  "type": "string"
                                },
                                "attended": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "canceled": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "checkin": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "entries": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {}
                                      }
                                    },
                                    "last": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "coupon": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "eventId": {
                                  "type": "string"
                                },
                                "expunged": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "feedback": {
                                  "type": "object",
                                  "properties": {
                                    "added": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "asked": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "comment": {
                                      "type": "string"
                                    },
                                    "rating": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "manual": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "note": {
                                  "type": "string"
                                },
                                "payment": {
                                  "type": "object",
                                  "properties": {
                                    "addons": {
                                      "type": "number"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "asked": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "changed": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "currency": {
                                      "type": "string"
                                    },
                                    "deposit": {
                                      "type": "boolean"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "discount": {
                                      "type": "number"
                                    },
                                    "discountable": {
                                      "type": "boolean"
                                    },
                                    "early": {
                                      "type": "boolean"
                                    },
                                    "exempt": {
                                      "type": "boolean"
                                    },
                                    "fees": {
                                      "type": "number"
                                    },
                                    "full": {
                                      "type": "number"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "offline": {
                                      "type": "boolean"
                                    },
                                    "paid": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "pending": {
                                      "type": "number"
                                    },
                                    "price": {
                                      "type": "number"
                                    },
                                    "priceId": {
                                      "type": "string"
                                    },
                                    "refund": {
                                      "type": "number"
                                    },
                                    "refunded": {
                                      "type": "boolean"
                                    },
                                    "released": {
                                      "type": "boolean"
                                    },
                                    "subtotal": {
                                      "type": "number"
                                    },
                                    "tax": {
                                      "type": "number"
                                    },
                                    "taxes": {
                                      "type": "number"
                                    },
                                    "variable": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "refCode": {
                                  "type": "string"
                                },
                                "relationToken": {
                                  "type": "string"
                                },
                                "remark": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "transactions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number"
                                      },
                                      "card": {
                                        "type": "object",
                                        "properties": {
                                          "brand": {
                                            "type": "string"
                                          },
                                          "country": {
                                            "type": "string"
                                          },
                                          "last4": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "chargeId": {
                                        "type": "string"
                                      },
                                      "created": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "currency": {
                                        "type": "string"
                                      },
                                      "fees": {
                                        "type": "number"
                                      },
                                      "method": {
                                        "type": "string"
                                      },
                                      "paid": {
                                        "type": "boolean"
                                      },
                                      "refund": {
                                        "type": "number"
                                      },
                                      "refunded": {
                                        "type": "boolean"
                                      },
                                      "refunds": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "type": "number"
                                            },
                                            "created": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "currency": {
                                              "type": "string"
                                            },
                                            "fee": {
                                              "type": "number"
                                            },
                                            "id": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "transferred": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updated": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "descriptionHtml": {
                            "type": "string"
                          },
                          "displayDate": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "formUrl": {
                            "type": "string"
                          },
                          "genders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "hideDates": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instructors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bioHtml": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "name": {
                                  "type": "string"
                                },
                                "photo": {
                                  "type": "string"
                                },
                                "position": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "levels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "location": {
                            "type": "string"
                          },
                          "mapUrl": {
                            "type": "string"
                          },
                          "maxSpots": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "pageUrl": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "priceFrom": {
                            "type": "number"
                          },
                          "prices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "earlyBefore": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "earlyPrice": {
                                  "type": "number"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "priceTo": {
                            "type": "number"
                          },
                          "registrationCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "addons": {
                                "type": "number"
                              },
                              "attended": {
                                "type": "number"
                              },
                              "attendees": {
                                "type": "number"
                              },
                              "canceled": {
                                "type": "number"
                              },
                              "certified": {
                                "type": "number"
                              },
                              "discounts": {
                                "type": "number"
                              },
                              "fees": {
                                "type": "number"
                              },
                              "gross": {
                                "type": "number"
                              },
                              "notes": {
                                "type": "number"
                              },
                              "paid": {
                                "type": "number"
                              },
                              "pending": {
                                "type": "number"
                              },
                              "refunds": {
                                "type": "number"
                              },
                              "revenue": {
                                "type": "number"
                              },
                              "soldout": {
                                "type": "boolean"
                              },
                              "spotsNeeded": {
                                "type": "number"
                              },
                              "taxes": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              },
                              "views": {
                                "type": "number"
                              },
                              "waiting": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "summaryHtml": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "videoEmbed": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/corsizio/latest/actions/list-attendees": {
      "get": {
        "operationId": "corsizio.list-attendees",
        "summary": "List Attendees",
        "description": "Retrieves attendees from a Corsizio account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/corsizio/latest/actions/list-attendees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Attendee status filter such as active, waiting, paid, owing, or any.",
            "schema": {
              "type": "string",
              "description": "Attendee status filter such as active, waiting, paid, owing, or any. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date range like 2026-03-01:2026-03-31.",
            "schema": {
              "type": "string",
              "description": "Date range like 2026-03-01:2026-03-31."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Filter by a specific event ID.",
            "schema": {
              "type": "string",
              "description": "Filter by a specific event ID."
            }
          },
          {
            "name": "coupon",
            "in": "query",
            "required": false,
            "description": "Filter by a specific coupon code.",
            "schema": {
              "type": "string",
              "description": "Filter by a specific coupon code."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search by attendee name, email, phone, or exact attendee ID.",
            "schema": {
              "type": "string",
              "description": "Search by attendee name, email, phone, or exact attendee ID."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated values: payment, activity, details.",
            "schema": {
              "type": "string",
              "description": "Comma-separated values: payment, activity, details. Pass multiple values separated by `,`.",
              "enum": [
                "activity",
                "details",
                "payment"
              ]
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Comma-separated values: event, account.",
            "schema": {
              "type": "string",
              "description": "Comma-separated values: event, account. Pass multiple values separated by `,`.",
              "enum": [
                "account",
                "event"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "siteUrl": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "activity": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "author": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "addons": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "address": {
                            "type": "string"
                          },
                          "attended": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "canceled": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checkin": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "entries": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "last": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "coupon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "event": {
                            "type": "object",
                            "properties": {
                              "account": {
                                "type": "object",
                                "properties": {
                                  "created": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "siteUrl": {
                                    "type": "string"
                                  },
                                  "timeZone": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "descriptionHtml": {
                                "type": "string"
                              },
                              "displayDate": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "formUrl": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instructors": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "location": {
                                "type": "string"
                              },
                              "mapUrl": {
                                "type": "string"
                              },
                              "maxSpots": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "pageUrl": {
                                "type": "string"
                              },
                              "photoUrl": {
                                "type": "string"
                              },
                              "priceFrom": {
                                "type": "number"
                              },
                              "prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "earlyBefore": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "earlyPrice": {
                                      "type": "number"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "priceTo": {
                                "type": "number"
                              },
                              "registrationCloseDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "startDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "status": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "summaryHtml": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              },
                              "videoEmbed": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "expunged": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "feedback": {
                            "type": "object",
                            "properties": {
                              "added": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "asked": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "manual": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "addons": {
                                "type": "number"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "asked": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "changed": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "deposit": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "discount": {
                                "type": "number"
                              },
                              "discountable": {
                                "type": "boolean"
                              },
                              "early": {
                                "type": "boolean"
                              },
                              "exempt": {
                                "type": "boolean"
                              },
                              "fees": {
                                "type": "number"
                              },
                              "full": {
                                "type": "number"
                              },
                              "label": {
                                "type": "string"
                              },
                              "offline": {
                                "type": "boolean"
                              },
                              "paid": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pending": {
                                "type": "number"
                              },
                              "price": {
                                "type": "number"
                              },
                              "priceId": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "number"
                              },
                              "refunded": {
                                "type": "boolean"
                              },
                              "released": {
                                "type": "boolean"
                              },
                              "subtotal": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "taxes": {
                                "type": "number"
                              },
                              "variable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone": {
                            "type": "string"
                          },
                          "refCode": {
                            "type": "string"
                          },
                          "relationToken": {
                            "type": "string"
                          },
                          "remark": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "card": {
                                  "type": "object",
                                  "properties": {
                                    "brand": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "last4": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "chargeId": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
[...]
