{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Front Universal API",
    "version": "0.0.11",
    "description": "Manage shared inbox conversations, contacts, drafts, tags, and comments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/front/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/front/latest/actions/add-comment": {
      "post": {
        "operationId": "front.add-comment",
        "summary": "Add Comment",
        "description": "Creates a conversation comment in Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/add-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "The conversation ID.",
                    "example": "cnv_123"
                  },
                  "body": {
                    "type": "string",
                    "description": "Content of the comment. Can include markdown formatting.",
                    "example": "Internal note for this conversation."
                  },
                  "authorId": {
                    "type": "string",
                    "description": "ID of the teammate creating the comment.",
                    "example": "tea_123",
                    "x-mindcloud-advanced": true
                  },
                  "isPinned": {
                    "type": "boolean",
                    "description": "Whether the comment is pinned in its conversation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {}
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "customFields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isAdmin": {
                                "type": "boolean"
                              },
                              "isAvailable": {
                                "type": "boolean"
                              },
                              "isBlocked": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "related": {
                                    "type": "object",
                                    "properties": {
                                      "conversations": {
                                        "type": "string"
                                      },
                                      "inboxes": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "body": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPinned": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "related": {
                                "type": "object",
                                "properties": {
                                  "conversation": {
                                    "type": "string"
                                  },
                                  "mentions": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "postedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/add-conversation-followers": {
      "post": {
        "operationId": "front.add-conversation-followers",
        "summary": "Add Conversation Followers",
        "description": "Adds followers to a conversation in Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/add-conversation-followers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId",
                  "teammateIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "The conversation ID.",
                    "example": "cnv_123"
                  },
                  "teammateIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of the teammates to add to the followers list."
                  },
                  "ignoreErrors": {
                    "type": "boolean",
                    "description": "Whether to ignore invalid teammate IDs and continue adding valid ones.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The raw response body. The saved successful response was an empty string (HTTP 204)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/add-conversation-tag": {
      "post": {
        "operationId": "front.add-conversation-tag",
        "summary": "Add Conversation Tag",
        "description": "Adds a tag to a conversation in Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/add-conversation-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId",
                  "tagIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "The conversation ID.",
                    "example": "cnv_123"
                  },
                  "tagIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag IDs to add."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The raw response body. The saved successful response was an empty string (HTTP 204)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/create-contact": {
      "post": {
        "operationId": "front.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handles[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "example": "Stage 3 Test Contact"
                  },
                  "description": {
                    "type": "string",
                    "example": "Created during Front Stage 3 buildout"
                  },
                  "avatar": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "links[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "groupNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Deprecated by Front. Prefer `list_names`.",
                    "x-mindcloud-advanced": true
                  },
                  "listNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "handles[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "JSON array of Front handle objects, for example [{\"handle\":\"person@example.com\",\"source\":\"email\"}]."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "avatarUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "handles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "handle": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "related": {
                                "type": "object",
                                "properties": {
                                  "conversations": {
                                    "type": "string"
                                  },
                                  "notes": {
                                    "type": "string"
                                  },
                                  "owner": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/create-draft-reply": {
      "post": {
        "operationId": "front.create-draft-reply",
        "summary": "Create Draft Reply",
        "description": "Creates a draft reply in Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/create-draft-reply"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId",
                  "body",
                  "channelId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "The conversation ID.",
                    "example": "cnv_123"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body of the draft.",
                    "example": "Draft reply body."
                  },
                  "channelId": {
                    "type": "string",
                    "description": "ID of the channel from which the draft will be sent.",
                    "example": "cha_123"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject of the draft.",
                    "example": "Re: Subject"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isAdmin": {
                                "type": "boolean"
                              },
                              "isAvailable": {
                                "type": "boolean"
                              },
                              "isBlocked": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "related": {
                                    "type": "object",
                                    "properties": {
                                      "conversations": {
                                        "type": "string"
                                      },
                                      "inboxes": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "blurb": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "draftMode": {
                            "type": "string"
                          },
                          "errorType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "isInbound": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "related": {
                                "type": "object",
                                "properties": {
                                  "conversation": {
                                    "type": "string"
                                  },
                                  "messageRepliedTo": {
                                    "type": "string"
                                  },
                                  "messageSeen": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "messageUid": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "handle": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "related": {
                                      "type": "object",
                                      "properties": {
                                        "contact": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "signature": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/delete-message-draft": {
      "delete": {
        "operationId": "front.delete-message-draft",
        "summary": "Delete Message Draft",
        "description": "Deletes an existing message draft from Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/delete-message-draft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draftId",
            "in": "query",
            "required": true,
            "description": "The draft ID.",
            "schema": {
              "type": "string",
              "description": "The draft ID.",
              "example": "msg_123"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "Version of the draft.",
            "schema": {
              "type": "string",
              "description": "Version of the draft."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The raw response body. The saved successful response was an empty string (HTTP 204)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/edit-message-draft": {
      "put": {
        "operationId": "front.edit-message-draft",
        "summary": "Edit Message Draft",
        "description": "Updates an existing message draft in Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/edit-message-draft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "messageId",
                  "body",
                  "channelId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "The draft ID.",
                    "example": "msg_123"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body of the draft.",
                    "example": "Updated draft body."
                  },
                  "channelId": {
                    "type": "string",
                    "description": "ID of the channel from which the draft will be sent.",
                    "example": "cha_123"
                  },
                  "version": {
                    "type": "string",
                    "description": "Version of the draft.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isAdmin": {
                                "type": "boolean"
                              },
                              "isAvailable": {
                                "type": "boolean"
                              },
                              "isBlocked": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "related": {
                                    "type": "object",
                                    "properties": {
                                      "conversations": {
                                        "type": "string"
                                      },
                                      "inboxes": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "blurb": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "draftMode": {
                            "type": "string"
                          },
                          "errorType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "isInbound": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "related": {
                                "type": "object",
                                "properties": {
                                  "conversation": {
                                    "type": "string"
                                  },
                                  "messageRepliedTo": {
                                    "type": "string"
                                  },
                                  "messageSeen": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "messageUid": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "handle": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "related": {
                                      "type": "object",
                                      "properties": {
                                        "contact": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "signature": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/get-api-token-details": {
      "get": {
        "operationId": "front.get-api-token-details",
        "summary": "Get API Token Details",
        "description": "Retrieves API token details from Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/get-api-token-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/get-conversation": {
      "get": {
        "operationId": "front.get-conversation",
        "summary": "Get Conversation",
        "description": "Retrieves detailed conversation information from Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/get-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "related": {
                                "type": "object",
                                "properties": {
                                  "comments": {
                                    "type": "string"
                                  },
                                  "events": {
                                    "type": "string"
                                  },
                                  "followers": {
                                    "type": "string"
                                  },
                                  "inboxes": {
                                    "type": "string"
                                  },
                                  "lastMessage": {
                                    "type": "string"
                                  },
                                  "messages": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "recipient": {
                            "type": "object",
                            "properties": {
                              "handle": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "related": {
                                    "type": "object",
                                    "properties": {
                                      "contact": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "name": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "role": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusCategory": {
                            "type": "string"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "number"
                                },
                                "description": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "highlight": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isPrivate": {
                                  "type": "boolean"
                                },
                                "isVisibleInConversationLists": {
                                  "type": "boolean"
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "related": {
                                      "type": "object",
                                      "properties": {
                                        "children": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "conversations": {
                                          "type": "string"
                                        },
                                        "owner": {
                                          "type": "string"
                                        },
                                        "parentTag": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "ticketIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "waitingSince": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/get-message": {
      "get": {
        "operationId": "front.get-message",
        "summary": "Get Message",
        "description": "Retrieves detailed message information from Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "msg_123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isAdmin": {
                                "type": "boolean"
                              },
                              "isAvailable": {
                                "type": "boolean"
                              },
                              "isBlocked": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "related": {
                                    "type": "object",
                                    "properties": {
                                      "conversations": {
                                        "type": "string"
                                      },
                                      "inboxes": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "blurb": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "draftMode": {
                            "type": "string"
                          },
                          "errorType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "isInbound": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "related": {
                                "type": "object",
                                "properties": {
                                  "conversation": {
                                    "type": "string"
                                  },
                                  "messageRepliedTo": {
                                    "type": "string"
                                  },
                                  "messageSeen": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "messageUid": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "handle": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "related": {
                                      "type": "object",
                                      "properties": {
                                        "contact": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "signature": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/front/latest/actions/get-teammate": {
      "get": {
        "operationId": "front.get-teammate",
        "summary": "Get Teammate",
        "description": "Retrieves detailed teammate information from Front.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/front/latest/actions/get-teammate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teammateId",
            "in": "query",
            "required": true,
            "description": "The teammate ID. Front also accepts a teammate email as a resource alias.",
            "schema": {
              "type": "string",
              "description": "The teammate ID. Front also accepts a teammate email as a resource alias.",
              "example": "tea_123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
