{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Video Indexer (V2) Universal API",
    "version": "0.0.4",
    "description": "Upload, index, search, and retrieve video insights"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/videoIndexerV2/latest/actions/delete-video": {
      "delete": {
        "operationId": "videoIndexerV2.delete-video",
        "summary": "Delete Video",
        "description": "Deletes a video from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/delete-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The video ID.",
            "schema": {
              "type": "string",
              "description": "The video ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with write permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with write permissions."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/delete-video-source-file": {
      "delete": {
        "operationId": "videoIndexerV2.delete-video-source-file",
        "summary": "Delete Video Source File",
        "description": "Deletes a video's source file from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/delete-video-source-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The video ID.",
            "schema": {
              "type": "string",
              "description": "The video ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with write permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with write permissions."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-account": {
      "get": {
        "operationId": "videoIndexerV2.get-account",
        "summary": "Get Account",
        "description": "Retrieves an account from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with read permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with read permissions."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "cName": {
                            "type": "string"
                          },
                          "createTime": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPaid": {
                            "type": "boolean"
                          },
                          "limitedAccessFeatures": {
                            "type": "object",
                            "properties": {
                              "isCelebrityRecognitionEnabled": {
                                "type": "boolean"
                              },
                              "isFaceIdentificationEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "location": {
                            "type": "string"
                          },
                          "moveToArmStartedDate": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owners": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "provider": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-account-access-token": {
      "get": {
        "operationId": "videoIndexerV2.get-account-access-token",
        "summary": "Get Account Access Token",
        "description": "Retrieves an account access token from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-account-access-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Azure region to route the call to, such as Trial for trial accounts.",
            "schema": {
              "type": "string",
              "description": "Azure region to route the call to, such as Trial for trial accounts."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "allowEdit",
            "in": "query",
            "required": true,
            "description": "Whether the returned account access token can be used for write operations.",
            "schema": {
              "type": "boolean",
              "description": "Whether the returned account access token can be used for write operations.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-accounts": {
      "get": {
        "operationId": "videoIndexerV2.get-accounts",
        "summary": "Get Accounts",
        "description": "Retrieves accounts from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "moveToArmStartedDate": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-video-captions": {
      "get": {
        "operationId": "videoIndexerV2.get-video-captions",
        "summary": "Get Video Captions",
        "description": "Retrieves video captions from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-video-captions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The video ID.",
            "schema": {
              "type": "string",
              "description": "The video ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with read permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with read permissions."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "description": "The captions format, for example vtt.",
            "schema": {
              "type": "string",
              "description": "The captions format, for example vtt."
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "The language of the captions.",
            "schema": {
              "type": "string",
              "description": "The language of the captions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-video-id-by-external-id": {
      "get": {
        "operationId": "videoIndexerV2.get-video-id-by-external-id",
        "summary": "Get Video ID By External ID",
        "description": "Retrieves a video ID from an external ID in Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-video-id-by-external-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "description": "The external ID.",
            "schema": {
              "type": "string",
              "description": "The external ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with read permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with read permissions."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-video-index": {
      "get": {
        "operationId": "videoIndexerV2.get-video-index",
        "summary": "Get Video Index",
        "description": "Retrieves a video's index from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-video-index"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The video ID.",
            "schema": {
              "type": "string",
              "description": "The video ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with read permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with read permissions."
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "The language of the captions.",
            "schema": {
              "type": "string",
              "description": "The language of the captions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "duration": {
                            "type": "string"
                          },
                          "durationInSeconds": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isBase": {
                            "type": "boolean"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "isOwned": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "partition": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "privacyMode": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "summarizedInsights": {
                            "type": "object",
                            "properties": {
                              "duration": {
                                "type": "object",
                                "properties": {
                                  "seconds": {
                                    "type": "number"
                                  },
                                  "time": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string"
                              },
                              "labels": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "appearances": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "confidence": {
                                            "type": "number"
                                          },
                                          "endSeconds": {
                                            "type": "number"
                                          },
                                          "endTime": {
                                            "type": "string"
                                          },
                                          "startSeconds": {
                                            "type": "number"
                                          },
                                          "startTime": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "privacyMode": {
                                "type": "string"
                              },
                              "statistics": {
                                "type": "object",
                                "properties": {
                                  "correspondenceCount": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "thumbnailId": {
                                "type": "string"
                              },
                              "thumbnailVideoId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userName": {
                            "type": "string"
                          },
                          "videos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "string"
                                },
                                "detectSourceLanguage": {
                                  "type": "boolean"
                                },
                                "externalId": {
                                  "type": "string"
                                },
                                "externalUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "failureMessage": {
                                  "type": "string"
                                },
                                "height": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "indexingPreset": {
                                  "type": "string"
                                },
                                "insights": {
                                  "type": "object",
                                  "properties": {
                                    "blocks": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "instances": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "adjustedEnd": {
                                                  "type": "string"
                                                },
                                                "adjustedStart": {
                                                  "type": "string"
                                                },
                                                "end": {
                                                  "type": "string"
                                                },
                                                "start": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "detectedObjects": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "displayName": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "number"
                                          },
                                          "instances": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "adjustedEnd": {
                                                  "type": "string"
                                                },
                                                "adjustedStart": {
                                                  "type": "string"
                                                },
                                                "confidence": {
                                                  "type": "number"
                                                },
                                                "end": {
                                                  "type": "string"
                                                },
                                                "start": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "thumbnailId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string"
                                          },
                                          "wikiDataId": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "duration": {
                                      "type": "string"
                                    },
                                    "labels": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "instances": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "adjustedEnd": {
                                                  "type": "string"
                                                },
                                                "adjustedStart": {
                                                  "type": "string"
                                                },
                                                "confidence": {
                                                  "type": "number"
                                                },
                                                "end": {
                                                  "type": "string"
                                                },
                                                "start": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "language": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "language": {
                                      "type": "string"
                                    },
                                    "languages": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "scenes": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "instances": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "adjustedEnd": {
                                                  "type": "string"
                                                },
                                                "adjustedStart": {
                                                  "type": "string"
                                                },
                                                "end": {
                                                  "type": "string"
                                                },
                                                "start": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "shots": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "instances": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "adjustedEnd": {
                                                  "type": "string"
                                                },
                                                "adjustedStart": {
                                                  "type": "string"
                                                },
                                                "end": {
                                                  "type": "string"
                                                },
                                                "start": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "keyFrames": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "number"
                                                },
                                                "instances": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "adjustedEnd": {
                                                        "type": "string"
                                                      },
                                                      "adjustedStart": {
                                                        "type": "string"
                                                      },
                                                      "end": {
                                                        "type": "string"
                                                      },
                                                      "start": {
                                                        "type": "string"
                                                      },
                                                      "thumbnailId": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "sourceLanguage": {
                                      "type": "string"
                                    },
                                    "sourceLanguages": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "statistics": {
                                      "type": "object",
                                      "properties": {
                                        "correspondenceCount": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "textualContentModeration": {
                                      "type": "object",
                                      "properties": {
                                        "bannedWordsCount": {
                                          "type": "number"
                                        },
                                        "bannedWordsRatio": {
                                          "type": "number"
                                        },
                                        "id": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "version": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "isAdult": {
                                  "type": "boolean"
                                },
                                "isSearchable": {
                                  "type": "boolean"
                                },
                                "language": {
                                  "type": "string"
                                },
                                "languageAutoDetectMode": {
                                  "type": "string"
                                },
                                "languages": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "linguisticModelId": {
                                  "type": "string"
                                },
                                "logoGroupId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "metadata": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "moderationState": {
                                  "type": "string"
                                },
                                "personModelId": {
                                  "type": "string"
                                },
                                "privacyMode": {
                                  "type": "string"
                                },
                                "processingProgress": {
                                  "type": "string"
                                },
                                "publishedProxyUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "publishedUrl": {
                                  "type": "string"
                                },
                                "reviewState": {
                                  "type": "string"
                                },
                                "sourceLanguage": {
                                  "type": "string"
                                },
                                "sourceLanguages": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "state": {
                                  "type": "string"
                                },
                                "streamingPreset": {
                                  "type": "string"
                                },
                                "thumbnailId": {
                                  "type": "string"
                                },
                                "viewToken": {
                                  "type": "string"
                                },
                                "width": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "videosRanges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "range": {
                                  "type": "object",
                                  "properties": {
                                    "end": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "videoId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/get-video-thumbnail": {
      "get": {
        "operationId": "videoIndexerV2.get-video-thumbnail",
        "summary": "Get Video Thumbnail",
        "description": "Retrieves a video thumbnail from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/get-video-thumbnail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The video ID.",
            "schema": {
              "type": "string",
              "description": "The video ID."
            }
          },
          {
            "name": "thumbnailId",
            "in": "query",
            "required": true,
            "description": "The thumbnail ID.",
            "schema": {
              "type": "string",
              "description": "The thumbnail ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with read permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with read permissions."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/videoIndexerV2/latest/actions/list-videos": {
      "get": {
        "operationId": "videoIndexerV2.list-videos",
        "summary": "List Videos",
        "description": "Retrieves videos from Video Indexer (V2).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/videoIndexerV2/latest/actions/list-videos"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Indicates the Azure region to which the call should be routed.",
            "schema": {
              "type": "string",
              "description": "Indicates the Azure region to which the call should be routed."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Video Indexer account ID.",
            "schema": {
              "type": "string",
              "description": "Video Indexer account ID."
            }
          },
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "description": "An account access token with read permissions.",
            "schema": {
              "type": "string",
              "description": "An account access token with read permissions."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nextPage": {
                            "type": "object",
                            "properties": {
                              "done": {
                                "type": "boolean"
                              },
                              "pageSize": {
                                "type": "number"
                              },
                              "skip": {
                                "type": "number"
                              },
                              "totalCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "durationInSeconds": {
                                  "type": "number"
                                },
                                "externalId": {
                                  "type": "string"
                                },
                                "hasSourceVideoFile": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "indexingPreset": {
                                  "type": "string"
                                },
                                "isBase": {
                                  "type": "boolean"
                                },
                                "isOwned": {
                                  "type": "boolean"
                                },
                                "isSearchable": {
                                  "type": "boolean"
                                },
                                "lastIndexed": {
                                  "type": "string"
                                },
                                "lastModified": {
                                  "type": "string"
                                },
                                "metadata": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "moderationState": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "partition": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "personModelId": {
                                  "type": "string"
                                },
                                "privacyMode": {
                                  "type": "string"
                                },
                                "processingProgress": {
                                  "type": "string"
                                },
                                "reviewState": {
                                  "type": "string"
                                },
                                "sourceLanguage": {
                                  "type": "string"
                                },
                                "sourceLanguages": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "state": {
                                  "type": "string"
                                },
                                "streamingPreset": {
[...]
