{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tallyfy Universal API",
    "version": "0.0.6",
    "description": "Tallyfy is an API-first workflow automation platform for managing templates, processes, tasks, guests, and related workflow operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tallyfy/latest/actions/complete-process-task": {
      "put": {
        "operationId": "tallyfy.complete-process-task",
        "summary": "Complete Process Task",
        "description": "Completes a process task in Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/complete-process-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "run_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "run_id": {
                    "type": "string",
                    "description": "Process ID from Tallyfy."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string"
                          },
                          "allow_guest_owners": {
                            "type": "boolean"
                          },
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "blueprint_position": {
                            "type": "number"
                          },
                          "can_complete_only_assignees": {
                            "type": "boolean"
                          },
                          "checklist_id": {
                            "type": "string"
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "completer_id": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deadline": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "everyone_must_complete": {
                            "type": "boolean"
                          },
                          "has_deadline_dependent_child_tasks": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_approved": {
                            "type": "boolean"
                          },
                          "is_completable": {
                            "type": "boolean"
                          },
                          "is_oneoff_task": {
                            "type": "boolean"
                          },
                          "is_soft_start_date": {
                            "type": "boolean"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "linked_step_id": {
                            "type": "string"
                          },
                          "max_assignable": {
                            "type": "number"
                          },
                          "original_summary": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "owners": {
                            "type": "object",
                            "properties": {
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "guests": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "users": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "position": {
                            "type": "number"
                          },
                          "prevent_guest_comment": {
                            "type": "boolean"
                          },
                          "problem": {
                            "type": "boolean"
                          },
                          "run_id": {
                            "type": "string"
                          },
                          "run_status": {
                            "type": "string"
                          },
                          "send_chromeless": {
                            "type": "boolean"
                          },
                          "stage_id": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "starter_id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_label": {
                            "type": "string"
                          },
                          "step_id": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "task_type": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "top_secret": {
                            "type": "boolean"
                          },
                          "webhook": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/create-guest": {
      "post": {
        "operationId": "tallyfy.create-guest",
        "summary": "Create Guest",
        "description": "Creates a new guest in Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/create-guest"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "company_name": {
                                "type": "string"
                              },
                              "company_url": {
                                "type": "string"
                              },
                              "contact_url": {
                                "type": "string"
                              },
                              "disabled_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "external_sync_source": {
                                "type": "string"
                              },
                              "image_url": {
                                "type": "string"
                              },
                              "last_city": {
                                "type": "string"
                              },
                              "last_country": {
                                "type": "string"
                              },
                              "opportunity_name": {
                                "type": "string"
                              },
                              "opportunity_url": {
                                "type": "string"
                              },
                              "phone_1": {
                                "type": "string"
                              },
                              "phone_2": {
                                "type": "string"
                              },
                              "reactivated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "status": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "last_accessed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_known_country": {
                            "type": "string"
                          },
                          "last_known_ip": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/create-process": {
      "post": {
        "operationId": "tallyfy.create-process",
        "summary": "Create Process",
        "description": "Creates a new process from a template in Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/create-process"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "can_add_oot": {
                            "type": "boolean"
                          },
                          "checklist_id": {
                            "type": "string"
                          },
                          "checklist_title": {
                            "type": "string"
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "due_date_passed": {
                            "type": "boolean"
                          },
                          "due_soon": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "late_tasks": {
                            "type": "number"
                          },
                          "max_task_deadline": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner_id": {
                            "type": "number"
                          },
                          "parent_id": {
                            "type": "string"
                          },
                          "prerun_completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "prerun_completed_by": {
                            "type": "number"
                          },
                          "prerun_length": {
                            "type": "number"
                          },
                          "prerun_status": {
                            "type": "string"
                          },
                          "progress": {
                            "type": "object",
                            "properties": {
                              "approved": {
                                "type": "number"
                              },
                              "complete": {
                                "type": "number"
                              },
                              "percent": {
                                "type": "number"
                              },
                              "rejected": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "started_by": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "whole_progress": {
                            "type": "object",
                            "properties": {
                              "approved": {
                                "type": "number"
                              },
                              "complete": {
                                "type": "number"
                              },
                              "percent": {
                                "type": "number"
                              },
                              "rejected": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/create-task": {
      "post": {
        "operationId": "tallyfy.create-task",
        "summary": "Create Task",
        "description": "Creates a new one-off task in Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string"
                          },
                          "allow_guest_owners": {
                            "type": "boolean"
                          },
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "blueprint_position": {
                            "type": "number"
                          },
                          "can_complete_only_assignees": {
                            "type": "boolean"
                          },
                          "checklist_id": {
                            "type": "string"
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "completer_id": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deadline": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "everyone_must_complete": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_approved": {
                            "type": "boolean"
                          },
                          "is_completable": {
                            "type": "boolean"
                          },
                          "is_oneoff_task": {
                            "type": "boolean"
                          },
                          "is_soft_start_date": {
                            "type": "boolean"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "linked_step_id": {
                            "type": "string"
                          },
                          "max_assignable": {
                            "type": "number"
                          },
                          "original_summary": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "owners": {
                            "type": "object",
                            "properties": {
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "guests": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "users": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "position": {
                            "type": "number"
                          },
                          "prevent_guest_comment": {
                            "type": "boolean"
                          },
                          "problem": {
                            "type": "boolean"
                          },
                          "run_id": {
                            "type": "string"
                          },
                          "send_chromeless": {
                            "type": "boolean"
                          },
                          "stage_id": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "starter_id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_label": {
                            "type": "string"
                          },
                          "step_id": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "task_type": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "top_secret": {
                            "type": "boolean"
                          },
                          "webhook": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/create-template": {
      "post": {
        "operationId": "tallyfy.create-template",
        "summary": "Create Template",
        "description": "Creates a new template in Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string"
                          },
                          "allow_launcher_change_name": {
                            "type": "boolean"
                          },
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "auto_naming": {
                            "type": "boolean"
                          },
                          "can_add_oot": {
                            "type": "boolean"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "default_process_name_format": {
                            "type": "string"
                          },
                          "dual_version_enabled": {
                            "type": "boolean"
                          },
                          "explanation_video": {
                            "type": "string"
                          },
                          "folder_changeable_by_launcher": {
                            "type": "boolean"
                          },
                          "folderize_process": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_featured": {
                            "type": "boolean"
                          },
                          "is_pinned": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_public_kickoff": {
                            "type": "boolean"
                          },
                          "is_published_state": {
                            "type": "boolean"
                          },
                          "kickoff_description": {
                            "type": "string"
                          },
                          "kickoff_title": {
                            "type": "string"
                          },
                          "ko_form_blueprint_id": {
                            "type": "string"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_updated_by": {
                            "type": "number"
                          },
                          "owner_id": {
                            "type": "number"
                          },
                          "replace_state_conditionally": {
                            "type": "boolean"
                          },
                          "started_processes": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "steps_count": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tag_process": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/create-template-with-steps": {
      "post": {
        "operationId": "tallyfy.create-template-with-steps",
        "summary": "Create Template With Steps",
        "description": "Creates a new template with steps in Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/create-template-with-steps"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string"
                          },
                          "allow_launcher_change_name": {
                            "type": "boolean"
                          },
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "auto_naming": {
                            "type": "boolean"
                          },
                          "can_add_oot": {
                            "type": "boolean"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "default_process_name_format": {
                            "type": "string"
                          },
                          "dual_version_enabled": {
                            "type": "boolean"
                          },
                          "explanation_video": {
                            "type": "string"
                          },
                          "folder_changeable_by_launcher": {
                            "type": "boolean"
                          },
                          "folderize_process": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_featured": {
                            "type": "boolean"
                          },
                          "is_pinned": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_public_kickoff": {
                            "type": "boolean"
                          },
                          "is_published_state": {
                            "type": "boolean"
                          },
                          "kickoff_description": {
                            "type": "string"
                          },
                          "kickoff_title": {
                            "type": "string"
                          },
                          "ko_form_blueprint_id": {
                            "type": "string"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_updated_by": {
                            "type": "number"
                          },
                          "owner_id": {
                            "type": "number"
                          },
                          "replace_state_conditionally": {
                            "type": "boolean"
                          },
                          "started_processes": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "steps_count": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tag_process": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/get-current-member": {
      "get": {
        "operationId": "tallyfy.get-current-member",
        "summary": "Get Current Member",
        "description": "Retrieves the current member from Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/get-current-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "approved_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "cadence_days": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "country_id": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date_format": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "initial_signup_method": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "is_default_admin": {
                            "type": "boolean"
                          },
                          "is_partner": {
                            "type": "boolean"
                          },
                          "is_support": {
                            "type": "boolean"
                          },
                          "last_accessed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_city": {
                            "type": "string"
                          },
                          "last_country": {
                            "type": "string"
                          },
                          "last_known_country": {
                            "type": "string"
                          },
                          "last_known_ip": {
                            "type": "string"
                          },
                          "last_login_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "profile_pic": {
                            "type": "string"
                          },
                          "resize_profile_pic": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "step_preferences": {
                            "type": "boolean"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "username": {
                            "type": "string"
                          },
                          "UTC_offset": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/get-process": {
      "get": {
        "operationId": "tallyfy.get-process",
        "summary": "Get Process",
        "description": "Retrieves a process from Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/get-process"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": true,
            "description": "Process ID from Tallyfy.",
            "schema": {
              "type": "string",
              "description": "Process ID from Tallyfy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "can_add_oot": {
                            "type": "boolean"
                          },
                          "checklist_id": {
                            "type": "string"
                          },
                          "checklist_title": {
                            "type": "string"
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "due_date_passed": {
                            "type": "boolean"
                          },
                          "due_soon": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "late_tasks": {
                            "type": "number"
                          },
                          "max_task_deadline": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner_id": {
                            "type": "number"
                          },
                          "parent_id": {
                            "type": "string"
                          },
                          "prerun_completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "prerun_completed_by": {
                            "type": "number"
                          },
                          "prerun_length": {
                            "type": "number"
                          },
                          "prerun_status": {
                            "type": "string"
                          },
                          "progress": {
                            "type": "object",
                            "properties": {
                              "approved": {
                                "type": "number"
                              },
                              "complete": {
                                "type": "number"
                              },
                              "percent": {
                                "type": "number"
                              },
                              "rejected": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "started_by": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "whole_progress": {
                            "type": "object",
                            "properties": {
                              "approved": {
                                "type": "number"
                              },
                              "complete": {
                                "type": "number"
                              },
                              "percent": {
                                "type": "number"
                              },
                              "rejected": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/get-process-task": {
      "get": {
        "operationId": "tallyfy.get-process-task",
        "summary": "Get Process Task",
        "description": "Retrieves a process task from Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/get-process-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Task ID from the selected process.",
            "schema": {
              "type": "string",
              "description": "Task ID from the selected process."
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": true,
            "description": "Process ID from Tallyfy.",
            "schema": {
              "type": "string",
              "description": "Process ID from Tallyfy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string"
                          },
                          "allow_guest_owners": {
                            "type": "boolean"
                          },
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "blueprint_position": {
                            "type": "number"
                          },
                          "can_complete_only_assignees": {
                            "type": "boolean"
                          },
                          "checklist_id": {
                            "type": "string"
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "completer_id": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deadline": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "everyone_must_complete": {
                            "type": "boolean"
                          },
                          "has_deadline_dependent_child_tasks": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "increment_id": {
                            "type": "number"
                          },
                          "is_approved": {
                            "type": "boolean"
                          },
                          "is_completable": {
                            "type": "boolean"
                          },
                          "is_oneoff_task": {
                            "type": "boolean"
                          },
                          "is_soft_start_date": {
                            "type": "boolean"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "linked_step_id": {
                            "type": "string"
                          },
                          "max_assignable": {
                            "type": "number"
                          },
                          "original_summary": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "owners": {
                            "type": "object",
                            "properties": {
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "guests": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "users": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "position": {
                            "type": "number"
                          },
                          "prevent_guest_comment": {
                            "type": "boolean"
                          },
                          "problem": {
                            "type": "boolean"
                          },
                          "run_id": {
                            "type": "string"
                          },
                          "run_status": {
                            "type": "string"
                          },
                          "send_chromeless": {
                            "type": "boolean"
                          },
                          "stage_id": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "starter_id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_label": {
                            "type": "string"
                          },
                          "step_id": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "task_type": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "top_secret": {
                            "type": "boolean"
                          },
                          "webhook": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tallyfy/latest/actions/get-task": {
      "get": {
        "operationId": "tallyfy.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from Tallyfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tallyfy/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "description": "Task ID from Tallyfy.",
            "schema": {
              "type": "string",
              "description": "Task ID from Tallyfy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string"
                          },
                          "allow_guest_owners": {
                            "type": "boolean"
                          },
                          "archived_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "blueprint_position": {
                            "type": "number"
                          },
                          "can_complete_only_assignees": {
                            "type": "boolean"
                          },
                          "checklist_id": {
                            "type": "string"
[...]
