{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Elastic Cloud Universal API",
    "version": "0.0.3",
    "description": "Manage Elastic Cloud deployments, templates, extensions, and traffic filters"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/elasticCloud/latest/actions/create-deployment": {
      "post": {
        "operationId": "elasticCloud.create-deployment",
        "summary": "Create Deployment",
        "description": "Creates a new deployment in Elastic Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest/actions/create-deployment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The deployment definition to create."
                  },
                  "requestId": {
                    "type": "string",
                    "description": "Optional idempotency token for deployment creation requests."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Optional deployment template to use when creating the deployment."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "Validate the deployment definition without creating the deployment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/elasticCloud/latest/actions/create-extension": {
      "post": {
        "operationId": "elasticCloud.create-extension",
        "summary": "Create Extension",
        "description": "Creates a new extension in Elastic Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest/actions/create-extension"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The data that creates the extension."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "extensionType": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "organizationId": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/elasticCloud/latest/actions/create-traffic-filter-ruleset": {
      "post": {
        "operationId": "elasticCloud.create-traffic-filter-ruleset",
        "summary": "Create Traffic Filter Ruleset",
        "description": "Creates a new traffic filter ruleset in Elastic Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest/actions/create-traffic-filter-ruleset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The specification for the traffic filter ruleset."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/elasticCloud/latest/actions/delete-extension": {
      "delete": {
        "operationId": "elasticCloud.delete-extension",
        "summary": "Delete Extension",
        "description": "Deletes an existing extension from Elastic Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest/actions/delete-extension"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensionId",
            "in": "query",
            "required": true,
            "description": "Identifier for the extension.",
            "schema": {
              "type": "string",
              "description": "Identifier for the extension."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/elasticCloud/latest/actions/delete-traffic-filter-ruleset": {
      "delete": {
        "operationId": "elasticCloud.delete-traffic-filter-ruleset",
        "summary": "Delete Traffic Filter Ruleset",
        "description": "Deletes an existing traffic filter ruleset from Elastic Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest/actions/delete-traffic-filter-ruleset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreAssociations",
            "in": "query",
            "required": false,
            "description": "Delete the ruleset even when associations exist.",
            "schema": {
              "type": "boolean",
              "description": "Delete the ruleset even when associations exist."
            }
          },
          {
            "name": "rulesetId",
            "in": "query",
            "required": true,
            "description": "Identifier for the ruleset.",
            "schema": {
              "type": "string",
              "description": "Identifier for the ruleset."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/elasticCloud/latest/actions/get-deployment": {
      "get": {
        "operationId": "elasticCloud.get-deployment",
        "summary": "Get Deployment",
        "description": "Retrieves a deployment from Elastic Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/elasticCloud/latest/actions/get-deployment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clearTransient",
            "in": "query",
            "required": false,
            "description": "Remove transient sections from child resources in the response.",
            "schema": {
              "type": "boolean",
              "description": "Remove transient sections from child resources in the response."
            }
          },
          {
            "name": "convertLegacyPlans",
            "in": "query",
            "required": false,
            "description": "Convert legacy plans to the 2.x format in the response.",
            "schema": {
              "type": "boolean",
              "description": "Convert legacy plans to the 2.x format in the response."
            }
          },
          {
            "name": "deploymentId",
            "in": "query",
            "required": true,
            "description": "Identifier for the deployment.",
            "schema": {
              "type": "string",
              "description": "Identifier for the deployment."
            }
          },
          {
            "name": "enrichWithTemplate",
            "in": "query",
            "required": false,
            "description": "Enrich plan data with missing elements from the deployment template.",
            "schema": {
              "type": "boolean",
              "description": "Enrich plan data with missing elements from the deployment template."
            }
          },
          {
            "name": "forceAllPlanHistory",
            "in": "query",
            "required": false,
            "description": "Return the full plan history even when it is very large.",
            "schema": {
              "type": "boolean",
              "description": "Return the full plan history even when it is very large."
            }
          },
          {
            "name": "showInstanceConfigurations",
            "in": "query",
            "required": false,
            "description": "Return details for each instance configuration referenced by the deployment.",
            "schema": {
              "type": "boolean",
              "description": "Return details for each instance configuration referenced by the deployment."
            }
          },
          {
            "name": "showInstanceMetrics",
            "in": "query",
            "required": false,
            "description": "Include resource instance metrics in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include resource instance metrics in the response."
            }
          },
          {
            "name": "showMetadata",
            "in": "query",
            "required": false,
            "description": "Include full cluster metadata in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include full cluster metadata in the response."
            }
          },
          {
            "name": "showPlanDefaults",
            "in": "query",
            "required": false,
            "description": "Show values that remain at their default values in the plan response.",
            "schema": {
              "type": "boolean",
              "description": "Show values that remain at their default values in the plan response."
            }
          },
          {
            "name": "showPlanHistory",
            "in": "query",
            "required": false,
            "description": "Include plan history with current and pending plan information.",
            "schema": {
              "type": "boolean",
              "description": "Include plan history with current and pending plan information."
            }
          },
          {
            "name": "showPlanLogs",
            "in": "query",
            "required": false,
            "description": "Include attempt logs with current and pending plan information.",
            "schema": {
              "type": "boolean",
              "description": "Include attempt logs with current and pending plan information."
            }
          },
          {
            "name": "showPlans",
            "in": "query",
            "required": false,
            "description": "Include current and pending plan information in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include current and pending plan information in the response."
            }
          },
          {
            "name": "showSecurity",
            "in": "query",
            "required": false,
            "description": "Include Elasticsearch security information in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include Elasticsearch security information in the response."
            }
          },
          {
            "name": "showSettings",
            "in": "query",
            "required": false,
            "description": "Include cluster settings in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include cluster settings in the response."
            }
          },
          {
            "name": "showSystemAlerts",
            "in": "query",
            "required": false,
            "description": "Number of system alerts to include in the response.",
            "schema": {
              "type": "number",
              "description": "Number of system alerts to include in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "healthy": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instanceConfigurations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "configVersion": {
                                  "type": "number"
                                },
                                "cpuMultiplier": {
                                  "type": "number"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "discreteSizes": {
                                  "type": "object",
                                  "properties": {
                                    "defaultSize": {
                                      "type": "number"
                                    },
                                    "resource": {
                                      "type": "string"
                                    },
                                    "sizes": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string"
                                },
                                "instanceType": {
                                  "type": "string"
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "sku": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nodeTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "storageMultiplier": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "byokEnabled": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "hidden": {
                                "type": "boolean"
                              },
                              "lastModified": {
                                "type": "string"
                              },
                              "lastResourcePlanModified": {
                                "type": "string"
                              },
                              "organizationId": {
                                "type": "string"
                              },
                              "ownerId": {
                                "type": "string"
                              },
                              "systemOwned": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "resources": {
                            "type": "object",
                            "properties": {
                              "elasticsearch": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "info": {
                                      "type": "object",
                                      "properties": {
                                        "associatedApmClusters": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "apmId": {
                                                "type": "string"
                                              },
                                              "enabled": {
                                                "type": "boolean"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "associatedKibanaClusters": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean"
                                              },
                                              "kibanaId": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "clusterId": {
                                          "type": "string"
                                        },
                                        "clusterName": {
                                          "type": "string"
                                        },
                                        "deploymentId": {
                                          "type": "string"
                                        },
                                        "elasticsearch": {
                                          "type": "object",
                                          "properties": {
                                            "blockingIssues": {
                                              "type": "object",
                                              "properties": {
                                                "healthy": {
                                                  "type": "boolean"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "clusterBlockingIssues": {
                                              "type": "object",
                                              "properties": {
                                                "healthy": {
                                                  "type": "boolean"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "healthy": {
                                              "type": "boolean"
                                            },
                                            "masterInfo": {
                                              "type": "object",
                                              "properties": {
                                                "healthy": {
                                                  "type": "boolean"
                                                },
                                                "masters": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "instances": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "masterInstanceName": {
                                                        "type": "string"
                                                      },
                                                      "masterNodeId": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "shardInfo": {
                                              "type": "object",
                                              "properties": {
                                                "healthy": {
                                                  "type": "boolean"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "shardsStatus": {
                                              "type": "object",
                                              "properties": {
                                                "status": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "healthy": {
                                          "type": "boolean"
                                        },
                                        "locked": {
                                          "type": "boolean"
                                        },
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "ccr": {
                                              "type": "boolean"
                                            },
                                            "cloudId": {
                                              "type": "string"
                                            },
                                            "endpoint": {
                                              "type": "string"
                                            },
                                            "lastModified": {
                                              "type": "string"
                                            },
                                            "ports": {
                                              "type": "object",
                                              "properties": {
                                                "http": {
                                                  "type": "number"
                                                },
                                                "https": {
                                                  "type": "number"
                                                },
                                                "transportPassthrough": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "serviceUrl": {
                                              "type": "string"
                                            },
                                            "ssoDeepLinkingSupported": {
                                              "type": "boolean"
                                            },
                                            "version": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "planInfo": {
                                          "type": "object",
                                          "properties": {
                                            "current": {
                                              "type": "object",
                                              "properties": {
                                                "attemptEndTime": {
                                                  "type": "string"
                                                },
                                                "attemptStartTime": {
                                                  "type": "string"
                                                },
                                                "healthy": {
                                                  "type": "boolean"
                                                },
                                                "plan": {
                                                  "type": "object",
                                                  "properties": {
                                                    "autoscalingEnabled": {
                                                      "type": "boolean"
                                                    },
                                                    "clusterTopology": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "autoscalingMax": {
                                                            "type": "object",
                                                            "properties": {
                                                              "resource": {
                                                                "type": "string"
                                                              },
                                                              "value": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "elasticsearch": {
                                                            "type": "object",
                                                            "properties": {
                                                              "nodeAttributes": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "data": {
                                                                    "type": "string"
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "instanceConfigurationId": {
                                                            "type": "string"
                                                          },
                                                          "instanceConfigurationVersion": {
                                                            "type": "number"
                                                          },
                                                          "nodeRoles": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "size": {
                                                            "type": "object",
                                                            "properties": {
                                                              "resource": {
                                                                "type": "string"
                                                              },
                                                              "value": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "topologyElementControl": {
                                                            "type": "object",
                                                            "properties": {
                                                              "min": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "resource": {
                                                                    "type": "string"
                                                                  },
                                                                  "value": {
                                                                    "type": "number"
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "zoneCount": {
                                                            "type": "number"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "deploymentTemplate": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    },
                                                    "elasticsearch": {
                                                      "type": "object",
                                                      "properties": {
                                                        "version": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                "planAttemptId": {
                                                  "type": "string"
                                                },
                                                "source": {
                                                  "type": "object",
                                                  "properties": {
                                                    "action": {
                                                      "type": "string"
                                                    },
                                                    "date": {
                                                      "type": "string"
                                                    },
                                                    "facilitator": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "healthy": {
                                              "type": "boolean"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "region": {
                                          "type": "string"
                                        },
                                        "snapshots": {
                                          "type": "object",
                                          "properties": {
                                            "count": {
                                              "type": "number"
                                            },
                                            "healthy": {
                                              "type": "boolean"
                                            },
                                            "latestEndTime": {
                                              "type": "string"
                                            },
                                            "latestStatus": {
                                              "type": "string"
                                            },
                                            "latestSuccessful": {
                                              "type": "boolean"
                                            },
                                            "latestSuccessfulEndTime": {
                                              "type": "string"
                                            },
                                            "recentSuccess": {
                                              "type": "boolean"
                                            },
                                            "scheduledTime": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "status": {
                                          "type": "string"
                                        },
                                        "topology": {
                                          "type": "object",
                                          "properties": {
                                            "healthy": {
                                              "type": "boolean"
                                            },
                                            "instances": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "allocatorId": {
                                                    "type": "string"
                                                  },
                                                  "containerStarted": {
                                                    "type": "boolean"
                                                  },
                                                  "disk": {
                                                    "type": "object",
                                                    "properties": {
                                                      "diskSpaceAvailable": {
                                                        "type": "number"
                                                      },
                                                      "diskSpaceUsed": {
                                                        "type": "number"
                                                      },
                                                      "storageMultiplier": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "healthy": {
                                                    "type": "boolean"
                                                  },
                                                  "instanceConfiguration": {
                                                    "type": "object",
                                                    "properties": {
                                                      "configVersion": {
                                                        "type": "number"
                                                      },
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "resource": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "instanceName": {
                                                    "type": "string"
                                                  },
                                                  "instanceSetId": {
                                                    "type": "string"
                                                  },
                                                  "logicalZone": {
                                                    "type": "string"
                                                  },
                                                  "maintenanceMode": {
                                                    "type": "boolean"
                                                  },
                                                  "memory": {
                                                    "type": "object",
                                                    "properties": {
                                                      "instanceCapacity": {
                                                        "type": "number"
                                                      },
                                                      "memoryPressure": {
                                                        "type": "number"
                                                      },
                                                      "nativeMemoryPressure": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "nodeRoles": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "serviceRoles": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "serviceRunning": {
                                                    "type": "boolean"
                                                  },
                                                  "serviceVersion": {
                                                    "type": "string"
                                                  },
                                                  "zone": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "refId": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "integrationsServer": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "elasticsearchClusterRefId": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "info": {
                                      "type": "object",
                                      "properties": {
                                        "apmServerMode": {
                                          "type": "string"
                                        },
                                        "deploymentId": {
                                          "type": "string"
                                        },
                                        "elasticsearchCluster": {
                                          "type": "object",
                                          "properties": {
                                            "elasticsearchId": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "healthy": {
                                          "type": "boolean"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "ccr": {
                                              "type": "boolean"
                                            },
                                            "endpoint": {
                                              "type": "string"
                                            },
                                            "lastModified": {
                                              "type": "string"
                                            },
                                            "ports": {
                                              "type": "object",
                                              "properties": {
                                                "http": {
                                                  "type": "number"
                                                },
                                                "https": {
                                                  "type": "number"
                                                },
                                                "transportPassthrough": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "servicesUrls": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "service": {
                                                    "type": "string"
                                                  },
                                                  "url": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "serviceUrl": {
                                              "type": "string"
                                            },
                                            "ssoDeepLinkingSupported": {
                                              "type": "boolean"
                                            },
                                            "version": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "planInfo": {
                                          "type": "object",
                                          "properties": {
                                            "current": {
                                              "type": "object",
                                              "properties": {
                                                "attemptEndTime": {
                                                  "type": "string"
                                                },
                                                "attemptStartTime": {
                                                  "type": "string"
                                                },
                                                "healthy": {
                                                  "type": "boolean"
                                                },
                                                "plan": {
                                                  "type": "object",
                                                  "properties": {
                                                    "autoscalingEnabled": {
                                                      "type": "boolean"
                                                    },
                                                    "clusterTopology": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "instanceConfigurationId": {
                                                            "type": "string"
                                                          },
                                                          "instanceConfigurationVersion": {
                                                            "type": "number"
                                                          },
                                                          "size": {
                                                            "type": "object",
                                                            "properties": {
                                                              "resource": {
                                                                "type": "string"
                                                              },
                                                              "value": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "zoneCount": {
                                                            "type": "number"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "integrationsServer": {
                                                      "type": "object",
                                                      "properties": {
                                                        "systemSettings": {
                                                          "type": "object",
                                                          "properties": {
                                                            "secretToken": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "additionalProperties": false
                                                        },
                                                        "version": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                "planAttemptId": {
                                                  "type": "string"
                                                },
                                                "source": {
                                                  "type": "object",
                                                  "properties": {
                                                    "action": {
                                                      "type": "string"
                                                    },
                                                    "date": {
                                                      "type": "string"
                                                    },
                                                    "facilitator": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "healthy": {
                                              "type": "boolean"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "region": {
                                          "type": "string"
                                        },
                                        "status": {
                                          "type": "string"
                                        },
                                        "topology": {
                                          "type": "object",
                                          "properties": {
                                            "healthy": {
                                              "type": "boolean"
                                            },
                                            "instances": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "allocatorId": {
                                                    "type": "string"
                                                  },
                                                  "containerStarted": {
                                                    "type": "boolean"
                                                  },
                                                  "healthy": {
                                                    "type": "boolean"
                                                  },
                                                  "instanceConfiguration": {
                                                    "type": "object",
                                                    "properties": {
                                                      "configVersion": {
                                                        "type": "number"
                                                      },
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "resource": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "instanceName": {
                                                    "type": "string"
                                                  },
                                                  "logicalZone": {
                                                    "type": "string"
                                                  },
                                                  "maintenanceMode": {
                                                    "type": "boolean"
                                                  },
                                                  "memory": {
                                                    "type": "object",
                                                    "properties": {
                                                      "instanceCapacity": {
                                                        "type": "number"
                                                      },
                                                      "nativeMemoryPressure": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "serviceRunning": {
                                                    "type": "boolean"
                                                  },
                                                  "serviceVersion": {
                                                    "type": "string"
                                                  },
                                                  "zone": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "refId": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "kibana": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "elasticsearchClusterRefId": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "info": {
                                      "type": "object",
                                      "properties": {
                                        "clusterId": {
                                          "type": "string"
                                        },
                                        "clusterName": {
                                          "type": "string"
                                        },
                                        "deploymentId": {
                                          "type": "string"
                                        },
                                        "elasticsearchCluster": {
                                          "type": "object",
                                          "properties": {
                                            "elasticsearchId": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "healthy": {
                                          "type": "boolean"
                                        },
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "ccr": {
                                              "type": "boolean"
                                            },
                                            "endpoint": {
                                              "type": "string"
                                            },
                                            "lastModified": {
                                              "type": "string"
                                            },
                                            "ports": {
                                              "type": "object",
                                              "properties": {
                                                "http": {
                                                  "type": "number"
                                                },
                                                "https": {
                                                  "type": "number"
                                                },
                                                "transportPassthrough": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "servicesUrls": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "service": {
                                                    "type": "string"
                                                  },
                                                  "url": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "serviceUrl": {
                                              "type": "string"
                                            },
                                            "ssoDeepLinkingSupported": {
                                              "type": "boolean"
                                            },
                                            "ssoEntityId": {
                                              "type": "string"
                                            },
                                            "ssoUrl": {
                                              "type": "string"
                                            },
                                            "version": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "planInfo": {
                                          "type": "object",
                                          "properties": {
                                            "current": {
                                              "type": "object",
                                              "properties": {
                                                "attemptEndTime": {
                                                  "type": "string"
                                                },
                                                "attemptStartTime": {
                                                  "type": "string"
                                                },
                                                "healthy": {
                                                  "type": "boolean"
                                                },
                                                "plan": {
                                                  "type": "object",
                                                  "properties": {
                                                    "autoscalingEnabled": {
                                                      "type": "boolean"
                                                    },
                                                    "clusterTopology": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "instanceConfigurationId": {
                                                            "type": "string"
                                                          },
                                                          "instanceConfigurationVersion": {
                                                            "type": "number"
                                                          },
                                                          "size": {
                                                            "type": "object",
                                                            "properties": {
                                                              "resource": {
                                                                "type": "string"
                                                              },
                                                              "value": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "additionalProperties": false
                                                          },
                                                          "zoneCount": {
                                                            "type": "number"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "kibana": {
                                                      "type": "object",
                                                      "properties": {
                                                        "version": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                "planAttemptId": {
                                                  "type": "string"
                                                },
                                                "source": {
                                                  "type": "object",
[...]
