{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Outseta Universal API",
    "version": "0.0.7",
    "description": "Manage memberships, CRM, billing, and member email with Outseta"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/outseta/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/outseta/latest/actions/add-account-with-existing-person": {
      "post": {
        "operationId": "outseta.add-account-with-existing-person",
        "summary": "Add Account with Existing Person",
        "description": "Creates an account with an existing person in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-account-with-existing-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "accountStage": {
                    "type": "string"
                  },
                  "mailingAddress.addressLine1": {
                    "type": "string"
                  },
                  "mailingAddress.addressLine2": {
                    "type": "string"
                  },
                  "mailingAddress.city": {
                    "type": "string"
                  },
                  "mailingAddress.state": {
                    "type": "string"
                  },
                  "mailingAddress.postalCode": {
                    "type": "string"
                  },
                  "billingAddress.addressLine1": {
                    "type": "string"
                  },
                  "billingAddress.addressLine2": {
                    "type": "string"
                  },
                  "billingAddress.city": {
                    "type": "string"
                  },
                  "billingAddress.state": {
                    "type": "string"
                  },
                  "billingAddress.postalCode": {
                    "type": "string"
                  },
                  "personAccount[].person.uid": {
                    "type": "string"
                  },
                  "personAccount[].isPrimary": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountStage": {
                            "type": "number"
                          },
                          "BillingAddress": {
                            "type": "object",
                            "properties": {
                              "AddressLine1": {
                                "type": "string"
                              },
                              "AddressLine2": {
                                "type": "string"
                              },
                              "AddressLine3": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "PostalCode": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ClientIdentifier": {
                            "type": "string"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "MailingAddress": {
                            "type": "object",
                            "properties": {
                              "AddressLine1": {
                                "type": "string"
                              },
                              "AddressLine2": {
                                "type": "string"
                              },
                              "AddressLine3": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "PostalCode": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Name": {
                            "type": "string"
                          },
                          "PaymentInformation": {
                            "type": "string"
                          },
                          "PersonAccount": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "Account": {
                                  "type": "string"
                                },
                                "Created": {
                                  "type": "string"
                                },
                                "IsPrimary": {
                                  "type": "boolean"
                                },
                                "Person": {
                                  "type": "string"
                                },
                                "Uid": {
                                  "type": "string"
                                },
                                "Updated": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "Subscriptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-account-with-new-person": {
      "post": {
        "operationId": "outseta.add-account-with-new-person",
        "summary": "Add Account with New Person",
        "description": "Creates an account with a new person in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-account-with-new-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "sendConfirmationEmail": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "accountStage": {
                    "type": "string"
                  },
                  "mailingAddress.addressLine1": {
                    "type": "string"
                  },
                  "mailingAddress.addressLine2": {
                    "type": "string"
                  },
                  "mailingAddress.city": {
                    "type": "string"
                  },
                  "mailingAddress.state": {
                    "type": "string"
                  },
                  "mailingAddress.postalCode": {
                    "type": "string"
                  },
                  "billingAddress.addressLine1": {
                    "type": "string"
                  },
                  "billingAddress.addressLine2": {
                    "type": "string"
                  },
                  "billingAddress.city": {
                    "type": "string"
                  },
                  "billingAddress.state": {
                    "type": "string"
                  },
                  "billingAddress.postalCode": {
                    "type": "string"
                  },
                  "personAccount[].person.email": {
                    "type": "string"
                  },
                  "personAccount[].person.firstName": {
                    "type": "string"
                  },
                  "personAccount[].person.lastName": {
                    "type": "string"
                  },
                  "personAccount[].isPrimary": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountStage": {
                            "type": "number"
                          },
                          "BillingAddress": {
                            "type": "object",
                            "properties": {
                              "AddressLine1": {
                                "type": "string"
                              },
                              "AddressLine2": {
                                "type": "string"
                              },
                              "AddressLine3": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "PostalCode": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ClientIdentifier": {
                            "type": "string"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "MailingAddress": {
                            "type": "object",
                            "properties": {
                              "AddressLine1": {
                                "type": "string"
                              },
                              "AddressLine2": {
                                "type": "string"
                              },
                              "AddressLine3": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "PostalCode": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Name": {
                            "type": "string"
                          },
                          "PaymentInformation": {
                            "type": "string"
                          },
                          "PersonAccount": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "Account": {
                                  "type": "string"
                                },
                                "Created": {
                                  "type": "string"
                                },
                                "IsPrimary": {
                                  "type": "boolean"
                                },
                                "Person": {
                                  "type": "string"
                                },
                                "Uid": {
                                  "type": "string"
                                },
                                "Updated": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "Subscriptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-account-with-subscription": {
      "post": {
        "operationId": "outseta.add-account-with-subscription",
        "summary": "Add Account with Subscription",
        "description": "Creates an account with a subscription in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-account-with-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "mailingAddress.addressLine1": {
                    "type": "string"
                  },
                  "mailingAddress.addressLine2": {
                    "type": "string"
                  },
                  "mailingAddress.city": {
                    "type": "string"
                  },
                  "mailingAddress.state": {
                    "type": "string"
                  },
                  "mailingAddress.postalCode": {
                    "type": "string"
                  },
                  "billingAddress.addressLine1": {
                    "type": "string"
                  },
                  "billingAddress.addressLine2": {
                    "type": "string"
                  },
                  "billingAddress.city": {
                    "type": "string"
                  },
                  "billingAddress.state": {
                    "type": "string"
                  },
                  "billingAddress.postalCode": {
                    "type": "string"
                  },
                  "personAccount[].person.uid": {
                    "type": "string"
                  },
                  "personAccount[].isPrimary": {
                    "type": "string"
                  },
                  "subscriptions[].plan.uid": {
                    "type": "string"
                  },
                  "subscriptions[].billingRenewalTerm": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountStage": {
                            "type": "number"
                          },
                          "ClientIdentifier": {
                            "type": "string"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-add-on-to-subscription": {
      "post": {
        "operationId": "outseta.add-add-on-to-subscription",
        "summary": "Add Add-On to Subscription",
        "description": "Adds an add-on to a subscription in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-add-on-to-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "addOn.uid": {
                    "type": "string"
                  },
                  "billingRenewalTerm": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "subscription.uid": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-custom-activity": {
      "post": {
        "operationId": "outseta.add-custom-activity",
        "summary": "Add Custom Activity",
        "description": "Creates a custom activity in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-custom-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "activityData": {
                    "type": "string"
                  },
                  "entityType": {
                    "type": "number"
                  },
                  "entityUid": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActivityData": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "EntityType": {
                            "type": "number"
                          },
                          "EntityUid": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-deal": {
      "post": {
        "operationId": "outseta.add-deal",
        "summary": "Add Deal",
        "description": "Creates a new deal in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "dealPipelineStage.uid": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "assignedToPersonClientIdentifier": {
                    "type": "string"
                  },
                  "account.uid": {
                    "type": "string"
                  },
                  "dealPeople[].person.uid": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-discount-to-subscription": {
      "post": {
        "operationId": "outseta.add-discount-to-subscription",
        "summary": "Add Discount to Subscription",
        "description": "Adds a discount to a subscription in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-discount-to-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subscriptionUid",
                  "discountUid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subscriptionUid": {
                    "type": "string"
                  },
                  "discountUid": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-existing-person-to-existing-account": {
      "post": {
        "operationId": "outseta.add-existing-person-to-existing-account",
        "summary": "Add Existing Person to Existing Account",
        "description": "Adds an existing person to an existing account in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-existing-person-to-existing-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountUid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountUid": {
                    "type": "string"
                  },
                  "person.uid": {
                    "type": "string"
                  },
                  "isPrimary": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Account": {
                            "type": "object",
                            "properties": {
                              "AccountStage": {
                                "type": "number"
                              },
                              "BillingAddress": {
                                "type": "string"
                              },
                              "ClientIdentifier": {
                                "type": "string"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "MailingAddress": {
                                "type": "string"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "PaymentInformation": {
                                "type": "string"
                              },
                              "PersonAccount": {
                                "type": "string"
                              },
                              "Subscriptions": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Created": {
                            "type": "string"
                          },
                          "IsPrimary": {
                            "type": "boolean"
                          },
                          "Person": {
                            "type": "object",
                            "properties": {
                              "Created": {
                                "type": "string"
                              },
                              "Email": {
                                "type": "string"
                              },
                              "EmailBounceDateTime": {
                                "type": "string"
                              },
                              "EmailLastDeliveredDateTime": {
                                "type": "string"
                              },
                              "EmailSpamDateTime": {
                                "type": "string"
                              },
                              "EmailUnsubscribeDateTime": {
                                "type": "string"
                              },
                              "FirstName": {
                                "type": "string"
                              },
                              "FullName": {
                                "type": "string"
                              },
                              "LastName": {
                                "type": "string"
                              },
                              "MailingAddress": {
                                "type": "string"
                              },
                              "PersonAccount": {
                                "type": "string"
                              },
                              "PhoneMobile": {
                                "type": "string"
                              },
                              "PhoneWork": {
                                "type": "string"
                              },
                              "Timezone": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-first-time-subscription": {
      "put": {
        "operationId": "outseta.add-first-time-subscription",
        "summary": "Add First Time Subscription",
        "description": "Adds a first-time subscription in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-first-time-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "plan.uid": {
                    "type": "string"
                  },
                  "billingRenewalTerm": {
                    "type": "number"
                  },
                  "account.uid": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Amount": {
                            "type": "number"
                          },
                          "AmountOutstanding": {
                            "type": "number"
                          },
                          "BillingInvoiceStatus": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "InvoiceDate": {
                            "type": "string"
                          },
                          "Number": {
                            "type": "number"
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-first-time-subscription-preview": {
      "post": {
        "operationId": "outseta.add-first-time-subscription-preview",
        "summary": "Add First Time Subscription Preview",
        "description": "Retrieves a first-time subscription charge preview from Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-first-time-subscription-preview"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "asOf": {
                    "type": "string"
                  },
                  "plan.uid": {
                    "type": "string"
                  },
                  "billingRenewalTerm": {
                    "type": "number"
                  },
                  "account": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Amount": {
                            "type": "number"
                          },
                          "AmountOutstanding": {
                            "type": "number"
                          },
                          "BillingInvoiceStatus": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "InvoiceDate": {
                            "type": "string"
                          },
                          "InvoiceLineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "Amount": {
                                  "type": "number"
                                },
                                "Created": {
                                  "type": "string"
                                },
                                "Description": {
                                  "type": "string"
                                },
                                "EndDate": {
                                  "type": "string"
                                },
                                "Invoice": {
                                  "type": "string"
                                },
                                "Quantity": {
                                  "type": "string"
                                },
                                "Rate": {
                                  "type": "number"
                                },
                                "StartDate": {
                                  "type": "string"
                                },
                                "Tax": {
                                  "type": "number"
                                },
                                "Uid": {
                                  "type": "string"
                                },
                                "UnitOfMeasure": {
                                  "type": "string"
                                },
                                "Updated": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "IsUserGenerated": {
                            "type": "boolean"
                          },
                          "Number": {
                            "type": "number"
                          },
                          "Subscription": {
                            "type": "object",
                            "properties": {
                              "Account": {
                                "type": "string"
                              },
                              "BillingRenewalTerm": {
                                "type": "number"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "EndDate": {
                                "type": "string"
                              },
                              "IsPlanUpgradeRequired": {
                                "type": "boolean"
                              },
                              "NewRequiredQuantity": {
                                "type": "string"
                              },
                              "Plan": {
                                "type": "string"
                              },
                              "PlanUpgradeRequiredMessage": {
                                "type": "string"
                              },
                              "Quantity": {
                                "type": "string"
                              },
                              "RenewalDate": {
                                "type": "string"
                              },
                              "StartDate": {
                                "type": "string"
                              },
                              "SubscriptionAddOns": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-invoice-payment": {
      "post": {
        "operationId": "outseta.add-invoice-payment",
        "summary": "Add Invoice Payment",
        "description": "Creates an invoice payment in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-invoice-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account.uid": {
                    "type": "string"
                  },
                  "invoice.uid": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Amount": {
                            "type": "number"
                          },
                          "BillingTransactionType": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "TransactionDate": {
                            "type": "string"
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outseta/latest/actions/add-new-invoice": {
      "post": {
        "operationId": "outseta.add-new-invoice",
        "summary": "Add New Invoice",
        "description": "Creates a new invoice in Outseta.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outseta/latest/actions/add-new-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subscription.uid": {
                    "type": "string"
                  },
                  "invoiceDate": {
                    "type": "string"
                  },
                  "invoiceLineItems[].description": {
                    "type": "string"
                  },
                  "invoiceLineItems[].amount": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Amount": {
                            "type": "number"
                          },
                          "AmountOutstanding": {
                            "type": "number"
                          },
                          "BillingInvoiceStatus": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string"
                          },
                          "InvoiceDate": {
                            "type": "string"
                          },
                          "InvoiceLineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "Amount": {
                                  "type": "number"
                                },
                                "Created": {
                                  "type": "string"
                                },
                                "Description": {
                                  "type": "string"
                                },
                                "EndDate": {
                                  "type": "string"
                                },
                                "Invoice": {
                                  "type": "string"
                                },
                                "Quantity": {
                                  "type": "string"
                                },
                                "Rate": {
                                  "type": "number"
                                },
                                "StartDate": {
                                  "type": "string"
                                },
                                "Tax": {
                                  "type": "number"
                                },
                                "Uid": {
                                  "type": "string"
                                },
                                "UnitOfMeasure": {
                                  "type": "string"
                                },
                                "Updated": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "IsUserGenerated": {
                            "type": "boolean"
                          },
                          "Number": {
                            "type": "number"
                          },
                          "Subscription": {
                            "type": "object",
                            "properties": {
                              "Account": {
                                "type": "string"
                              },
                              "BillingRenewalTerm": {
                                "type": "number"
                              },
                              "Created": {
                                "type": "string"
                              },
                              "EndDate": {
                                "type": "string"
                              },
                              "IsPlanUpgradeRequired": {
                                "type": "boolean"
                              },
                              "NewRequiredQuantity": {
                                "type": "string"
                              },
                              "Plan": {
                                "type": "string"
                              },
                              "PlanUpgradeRequiredMessage": {
                                "type": "string"
                              },
                              "Quantity": {
                                "type": "string"
                              },
                              "RenewalDate": {
                                "type": "string"
                              },
                              "StartDate": {
                                "type": "string"
                              },
                              "SubscriptionAddOns": {
                                "type": "string"
                              },
                              "Uid": {
                                "type": "string"
                              },
                              "Updated": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Uid": {
                            "type": "string"
                          },
                          "Updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
[...]
