{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zillow Public Records Universal API",
    "version": "0.0.2",
    "description": "Bridge-hosted Zillow Public Records access. Requires a Bridge account plus approved public-records datasets/databases."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zillowPublicRecords/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zillowPublicRecords/latest/actions/list-assessments": {
      "get": {
        "operationId": "zillowPublicRecords.list-assessments",
        "summary": "List assessments",
        "description": "Retrieves public property assessments from Zillow Public Records.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowPublicRecords/latest/actions/list-assessments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "Zillow property ID to narrow the public records assessment search.",
            "schema": {
              "type": "string",
              "description": "Zillow property ID to narrow the public records assessment search."
            }
          },
          {
            "name": "addressFull",
            "in": "query",
            "required": false,
            "description": "Full property address to narrow the public records assessment search.",
            "schema": {
              "type": "string",
              "description": "Full property address to narrow the public records assessment search.",
              "default": "123 Main Street"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Assessment field to sort the returned records by, such as year.",
            "schema": {
              "type": "string",
              "description": "Assessment field to sort the returned records by, such as year.",
              "default": "year",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured address object."
                          },
                          "apn": {
                            "type": "string",
                            "description": "Assessor Parcel Number."
                          },
                          "areas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Area detail records."
                          },
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp for the latest Bridge-side modification."
                          },
                          "building": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Building detail records."
                          },
                          "coordinates": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Longitude and latitude coordinates."
                          },
                          "county": {
                            "type": "string",
                            "description": "County name."
                          },
                          "fips": {
                            "type": "string",
                            "description": "Five-digit county FIPS code."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique assessment identifier."
                          },
                          "improvementValue": {
                            "type": "number",
                            "description": "Assessed improvement value."
                          },
                          "landUseCode": {
                            "type": "string",
                            "description": "Land use code."
                          },
                          "landUseDescription": {
                            "type": "string",
                            "description": "Land use description."
                          },
                          "landValue": {
                            "type": "number",
                            "description": "Assessed land value."
                          },
                          "taxYear": {
                            "type": "number",
                            "description": "Tax year."
                          },
                          "totalValue": {
                            "type": "number",
                            "description": "Total assessed value."
                          },
                          "zoning": {
                            "type": "string",
                            "description": "Zoning designation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowPublicRecords/latest/actions/list-parcel-transactions": {
      "get": {
        "operationId": "zillowPublicRecords.list-parcel-transactions",
        "summary": "List parcel transactions",
        "description": "Retrieves parcel transactions from Zillow Public Records by parcel ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowPublicRecords/latest/actions/list-parcel-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parcelId",
            "in": "query",
            "required": true,
            "description": "Bridge parcel identifier used to fetch transaction history for a parcel.",
            "schema": {
              "type": "string",
              "description": "Bridge parcel identifier used to fetch transaction history for a parcel."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerName": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Buyer names."
                          },
                          "documentDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Document creation date."
                          },
                          "documentType": {
                            "type": "string",
                            "description": "Short description of the document type."
                          },
                          "documentTypeCode": {
                            "type": "string",
                            "description": "Document type code."
                          },
                          "effectiveDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the transaction takes effect."
                          },
                          "fips": {
                            "type": "string",
                            "description": "Five-digit county FIPS code."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique transaction identifier."
                          },
                          "lenderName": {
                            "type": "string",
                            "description": "Lender name."
                          },
                          "loanAmount": {
                            "type": "number",
                            "description": "Loan amount."
                          },
                          "parcels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Parcel records linked to the transaction."
                          },
                          "recordingBookNumber": {
                            "type": "string",
                            "description": "Recording book number."
                          },
                          "recordingDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the transaction was recorded."
                          },
                          "recordingPageNumber": {
                            "type": "string",
                            "description": "Recording page number."
                          },
                          "recordType": {
                            "type": "string",
                            "description": "Record type code."
                          },
                          "salesPrice": {
                            "type": "number",
                            "description": "Sale price."
                          },
                          "sellerName": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Seller names."
                          },
                          "state": {
                            "type": "string",
                            "description": "Two-character state abbreviation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
