{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian - Excel Universal API",
    "version": "0.0.2",
    "description": "Encodian Flowr Excel connector for creating, merging, securing, parsing, and manipulating Microsoft Excel and CSV files through Encodian's document automation API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodianExcel/latest/actions/add-rows-to-excel": {
      "put": {
        "operationId": "encodianExcel.add-rows-to-excel",
        "summary": "Excel - Add Rows",
        "description": "Adds rows to an Excel file in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/add-rows-to-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent",
                  "jsonData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "default": "UEsDBAoAAAAIANV0nVyR28AJWQEAAPAEAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbK2UTW7CMBCF9z1F5C1KDF1UVUXCorTLFqn0ANN4Qiwc2/KYv9t3EiiqKiCqYBMrmTfve57EGU+2jUnWGEg7m4tRNhQJ2tIpbRe5+Jy/po8ioQhWgXEWc7FDEpPibjzfeaSEmy3loo7RP0lJZY0NUOY8Wq5ULjQQ+TYspIdyCQuU98PhgyydjWhjGlsPUYynWMHKxORly4/3QQIaEsnzXtiycgHeG11C5LpcW/WHkh4IGXd2Gqq1pwELhDxJaCvnAYe+d55M0AqTGYT4Bg2r5NbIjQvLL+eW2WWTEyldVekSlStXDbdk5AOCohoxNibr1qwBbQf9/E5MsltGNw5y9O/JEfl94/56fYTOpgdIcWeQbj32zrSPXENA9REDH4ybB/jtfeGTXV9J5f5pgA1Tzm2UpbPgPPERDfj/Xf6cwbY79WyEIerLoz0S2frqsWI7K4XqBFt2P6ziG1BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAABgAAAF9yZWxzL1BLAwQKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAF9yZWxzLy5yZWxzrZLBTsMwDEDvfEXk+5puSAihpbsgpN0mND7AJG4btY2jxIPu74mQQAyNaQeOceznZ8vrzTyN6o1S9hwMLKsaFAXLzofOwMv+aXEPKgsGhyMHMnCkDJvmZv1MI0qpyb2PWRVIyAZ6kfigdbY9TZgrjhTKT8tpQinP1OmIdsCO9Kqu73T6yYDmhKm2zkDauiWo/THSNWxuW2/pke1hoiBnWvzKKGRMHYmBedTvnIZX5qEqUNDnXVbXu/w9p55I0KGgtpxoEVOpTuLLWr91HNtdCefPjEtCt/+5HJqFgiN3WQlj/DLSJzfQfABQSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAMAAAB4bC9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC9fcmVscy9QSwMECgAAAAgA1XSdXIQksVbpAAAAuQIAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc62SwWrDMBBE7/0KsfdadlpKKZFzKYFcW/cDhLS2TGxJaDdt/fdVG0gcCKEHn8Ss2JnHSOvN9ziIT0zUB6+gKkoQ6E2wve8UfDTb+2cQxNpbPQSPCiYk2NR36zccNOcdcn0kkU08KXDM8UVKMg5HTUWI6PNNG9KoOcvUyajNXncoV2X5JNPcA+oLT7GzCtLOViCaKeJ/vEPb9gZfgzmM6PlKhCSehswvGp06ZAVHXWQfkNfjV0vGc97Fc/qfPA6rWwwPi1bgdEL7zik/8LyJ+fgWzOOSMF8h7ckh8hnkNPpFzcepGXnx4+ofUEsDBAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAeGwvd29ya3NoZWV0cy9QSwMECgAAAAgA1XSdXIv0uH/8AQAAfwQAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWyVlN9v2yAQx9/3VyDeG/wjSZfIdtUlqjZpk6at054JxjYq+BCQpNlfvwtuIjfNQ/vmuy/35XNwuLh7NprspPMK+pKmk4QS2QuoVd+W9M/jw81nSnzgfc019LKkB+npXfWp2IN78p2UgaBB70vahWCXjHnRScP9BKzsUWnAGR4wdC3z1klexyKjWZYkc2a46ungsHTv8YCmUUKuQWyN7MNg4qTmAfF9p6w/uRnxHjvD3dPW3ggwFi02SqtwiKaUGLH81vbg+EZj28/plIuTdwze2BslHHhowgTtXkDf9rxgC4ZOVVEr7OB46sTJpqT36XKVU1YVce1DZPzpSC0bvtXhF+y/StV2Aa9oRglsg1a9/C53UqNU0uR1bgU65iLosj6spRd4XCWdzc5brHngVeFgT/DgU7xky4/XmC7zK3XJJJshsziuvcfFmPIY76qkYLuqYOJF+zLW0tfaaqxlZ40hwpkj+whHNvLLLziygeACbzUumV5HyD+CkI/8ZhcI+dDoJcK4ZH6BwEY3Y3krf3DXqt4TLZu48y0lbpiC+B3Axi+ciA2EAOYUdThz0h0j3K0BCKeADb6/ZdhaAk5hR/HplNSCC46rgMWY/wco6LVVJZ1mi+lifpst0Bf/E0GJK4LHJL6SNMGha1R4hL+qDl2cqxieh/dIwM7/juo/UEsDBAoAAAAIANV0nVz4gWxUtwAAADIBAAAUAAAAeGwvc2hhcmVkU3RyaW5ncy54bWxlj0GOwjAMRfdzish7SGHBjEZJECBxgpkDhNZDIyV2qV0Et59WCCHR5Xv+tvzd9layuWIvicnDalmBQaq5SXT28PtzXHyBEY3UxMyEHu4osA0fTkTNuErioVXtvq2VusUSZckd0jj5475EHbE/W+l6jI20iFqyXVfVxpaYCEzNA6mHTzADpcuAhycHJyk4DRQLOqvB2YkfLpYp9W6JdZbc5VTPJOfGKN5mB/Z8elfT1/eXtGPp8A9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC90aGVtZS9QSwMECgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAB4bC90aGVtZS90aGVtZTEueG1s7VlNb9s2GL7vVxC6t/KXUieoU8SO3W5t2iBxO/RIS7TEhhIFkk7i29AeBwwY1g27DNhth2FbgRbYpfs12TpsHdC/sFfWhymbapwm3VAgOTgi9TzvF9/3JWlfv3EcMnRIhKQ86lj1qzULkcjlHo38jnV/OLjStpBUOPIw4xHpWFMirRubH13HGyogIUFAj+QG7liBUvGGbUsXprG8ymMSwbsxFyFWMBS+7Ql8BGJDZjdqtTU7xDSyUIRDkHpvPKYuQcNEpLWJcul9Bh+RkrMZl4l9d6ZT56Ro76A++y+nsscEOsSsY4Eujx8NybGyEMNSwYuOVZv9WTag7TmNqSq6Rh3M/nJqTvEOGilV+KOCWx+01q9tz7U0Mi0GaL/f7/Xrc6kpBLsu+F1fhrcG7Xq3kKzD0meDhl7NqbUWKLqW5jJlvdvtOutlSlOjtJYp7dpaa6tRprQ0imPwpbvV662VKY5GWVumDK6tr7UWKCksYDQ6WCYkqz1ftDlozNktM6MNjHaRIRrO1lIwkxGpyowM8SMuBoBIlx4rGiE1jckYu4Ds4XAkKJ5pwRsEa6+yOVcuzyUKkXQFjVXH+iTGUD5zzJuXP715+Ry9efns5PGLk8e/njx5cvL4FxPzFo58nfn6hy//+e4z9Pfz718//bqCIHXCHz9//vtvX1UglY589c2zP188e/XtF3/9+NSE3xJ4pOOHNCQS3SVHaI+H4J9JBRmJM1KGAaYlCg4AakL2VVBC3p1iZgR2STmGDwS0CyPy5uRRyd79QEwUNSFvB2EJucM563Jh9ul2ok73aRL5FfrFRAfuYXxoVN9bWOX+JIbcpkahvYCUTN1lsPDYJxFRKHnHDwgx8R5SWorvDnUFl3ys0EOKupiaAzOkI2Vm3aIhLNDUaCOseilCOw9QlzOjgm1yWIZChWBmFEpYKZo38UTh0Gw1DpkOvYNVYDR0fyrcUuClgkX3CeOo7xEpjaR7Yloy+TaGNmXOgB02DctQoeiBEXoHc65Dt/lBL8BhbLabRoEO/lgeQMZitMuV2Q5erplkDAuCo+qVf0CJOmOx36d+YE6W5M1EGGuE8HKNTtkYkyjfBMq9PKTRWzs7o9DaLzv7Qmffgu3OWFGL/bwS+IF28W08iXYJVMplE79s4pdN/G0V/j5at9asbf3InkoKqw/wY8rYvpoyckemnV6Cm94AZtPRjFfcGuIAHnOlZaQv8GyABFefUhXsBzgGXfVUjS9z+b5EMZdwZbGqFaRXYwr+zyad4jILeKx2uJfON0u33EJSOvRlSV0zEbK6yua186usp9iVddadCp3OaTptPcBQWwgnX2vU1xqpBZBFmBEvWYxMSL5Y73vl6jV96QLsEdO85mu9+f7i65zRlouLe80Qd9tQeyxaGKKjjrXuNBwLuTjuWGM4hsFjGINMmTQozPyoY7kq83WF2l30fr0i6eo1p9r5sp5YSLWNZZASZ++KL3oizZGG00qCclGeGLvQqrY02/X/3RZ7acHJeExcVTWljfO3fKKI2A+8IzRiE7GHwYNWmnoelbBtNPKBgPRvZVlZLvO8gBa/TsorC7M4wFlBtPWUSAnpoLAjHepG2lU+vLNPzQv1ybn0Kd/5XTgTN73ZswsHBYFRksIdiwsVcGhdcUDdgYCzRaoR7ENQOolpiCVfqyc2k0Ot3aVSsu7oB2qP+khQaJEqEITsqszj0+TVG6VdNxeVt6a51TLOHkbkkLBhUuhrSTAsFOTtJ49KilxaSNtYhCN/8AEck1rvvI/N1bXOtqW29N1D21TWz2/Jaru7prRR4X7DectOtryNx3D1QckH7ABUuEw7Jw/5HmQGKo4SCHL1Sjsr1mJyBLa3dT8TYf/tsatdlQkXfnrV4t+siv+pSs8Tf8cQfufU6NuGmra1i1I6XP5xjo8egQXbcAmbsGxKxjDMnnZF6v6Ie9P8mcm0l2SBKTYIFu2RMaLecbHkC1HOfvWaHxn2Mj1JKApucxVuxtA2poLfWIVfcDbzi2nBn908jTKYpj9lZBkwb7Xz2LHo3FFcyZOKKJrzfPUorrSC7xRFdXxqFPPY2cb8JMdK4F7+ix6kuq0l9+a/UEsDBAoAAAAIANV0nVwFO4BedgIAAAMGAAANAAAAeGwvc3R5bGVzLnhtbKWUXW+bMBSG7/crLN9TAw0siYBqaYpUqZsqNZN264BJrPoDGdORTfvvOwYSEnXapvbKx6+Pn/P6M7nppEAvzDRcqxQHVz5GTBW65GqX4q+b3Jtj1FiqSiq0Yik+sAbfZB+Sxh4Ee9ozZhEQVJPivbX1kpCm2DNJmytdMwUjlTaSWuiaHWlqw2jZuElSkND3YyIpV3ggLGXxPxBJzXNbe4WWNbV8ywW3h56FkSyW9zulDd0KcNoFM1qgLohNeKzQS6+KSF4Y3ejKXgGU6KriBXvtdUEWhBYTCbBvIwUR8cNh4VlSaWUbVOhWWdh9oDuHy2elv6vcDTlxyMqSQgttkIVSzMkEdCq5OKAXKlIcOqE3wgZBctiKXvwxCEE/R9Fjwi0VfGu4E8lQoW8a4HIhTq5CPAhZAhtumVE5dNAYbw41mFFwNQZMn/eP7J2hhyCMzib0DdTdalPCVZz24yhliWCVhQmG7/autbombtBa2OgsKTndaUWFQx5njAFgCybEk7uv36oLdlch1cpc2vsyxXDx3eqPIRgawwEzdBz/nDaw341FXXXJP6H7Qhf0k4rcSab4i3sbYkKgbcuF5eoPhoFZdpPXftS6x3JZBRglq2gr7OY0mOIp/sxK3srwlPXIX7Qds6b4wZ1UELsarLMPje1b1Bqe4p93q4+L9V0eenN/Nfdm1yzyFtFq7UWz29V6nS/80L/9dfZq3/Fmx4cGkGUjIMuMix3NP01ais86g/1+/8D2ufdFGPufosD38ms/8GYxnXvz+Dry8igI1/FsdRfl0Zn36I2/hE+CYDIfLS2XTHDFLu1vzlU4JOj+ZRHkeBJk+r6z31BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAGRvY1Byb3BzL1BLAwQKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAGRvY1Byb3BzL2FwcC54bWydkkFv2zAMhe/7FYbujeyuKIZAVlGkK3po0QBJuzMr07FQWTJE1kj26yc7iOusO+32SD48f6aobvaty3qMZIMvRbHIRYbehMr6XSletvcXP0RGDL4CFzyW4oAkbvQ3tY6hw8gWKUsJnkrRMHdLKck02AIt0tinSR1iC5zKuJOhrq3Bu2A+WvQsL/P8WuKe0VdYXXRToDgmLnv+39AqmIGPXreHLuVpddt1zhrg9JP6yZoYKNSc/dwbdErOhyoFbdB8RMsHnSs5L9XGgMNVCtY1OEIlPxvqAWHY2RpsJK16XvZoOMSM7O+0tUuRvQHhgFOKHqIFz+JoOxajdh1x1L9CfKcGkUnJqTnKuXeu7ZUuRkMS50Y5gSR9jri17JCe6zVE/gdxMSceGcSMcTPwFV/4Tl/6K3sV2g58WqCc1BN42OHgndSj9e/00m3DHTCeNnzeVJsGIlbpUaYXmBrqIaFGN/hXDfgdVifP18FwD6/Hm9fF9SL/nufjGZx6Sn6et/4DUEsDBAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAZG9jUHJvcHMvY29yZS54bWydUstuwjAQvPcrIt+DE0CIRiFIbcWpSJVK1ao3117AJbEte2nI39d5kIDKqbedndnxPpwuT0Ue/IB1UqsFiUcRCUBxLaTaLcjbZhXOSeCQKcFyrWBBKnBkmd2l3CRcW3ix2oBFCS7wRsol3CzIHtEklDq+h4K5kVcoT261LRh6aHfUMH5gO6DjKJrRApAJhozWhqHpHUlnKXhvaY42bwwEp5BDAQodjUcxHbQItnA3CxrmQllIrAzclJ7JXn1ysheWZTkqJ43U9x/Tj/XzazNqKFW9Kg4kSwVPuAWG2mZv6qB0qVJ6kat5lJhD1qS70Efu+PUNHNt0D3wswHErDfo7teRVwp/jAFWprXCevUL1pRjCTtuqpQbkQc4crv25txLEQzX0+pdKu922M4AI/E6SdoNn5n3y+LRZkWwcjWdhNA3H95t4mkzmyXTyWfd8VT8YFt0j/3Y8G3TzXf3L7BdQSwMECgAAAAgA1XSdXFhsRaFZAQAAcQIAAA8AAAB4bC93b3JrYm9vay54bWyNkktvwjAMx+/7FFHukAYYbBUt0rRN4jIh7XEPqUsj8lKS8vj2cwudNHHhEsdO/PPfTpark9HkACEqZwvKxxklYKWrlN0V9PvrffRESUzCVkI7CwU9Q6Sr8mF5dGG/dW5PMN/GgjYp+ZyxKBswIo6dB4sntQtGJHTDjkUfQFSxAUhGs0mWzZkRytILIQ/3MFxdKwmvTrYGbLpAAmiRUH1slI8Dzch7cEaEfetH0hmPiK3SKp17KCVG5uuddUFsNXZ94o8DGbc3aKNkcNHVaYyoq8ibfnnGOL+0XC5rpeHnMnUivP8QpquiKdEiprdKJagKijW1O8K/QGj9S6s0Os/TbEpZ+fcSm0AqqEWr0xeqGuj4pvNZxjklWDJB2AR1EPKM4S63VxevlvTruurOiO0VfXYR3v+AhO5BRYXzQBW5wmthXc06ChswUmiJMjrTYxY8myz6G4PI8hdQSwECFAAKAAAACADVdJ1ckdvACVkBAADwBAAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAGAAAAAAAAAAAAEAAAAIoBAABfcmVscy9QSwECFAAKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAAAAAAAAAAAAAACuAQAAX3JlbHMvLnJlbHNQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAAAwAAAAAAAAAAABAAAADAAgAAeGwvUEsBAhQACgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAAAAAAAAAAQAAAA4QIAAHhsL19yZWxzL1BLAQIUAAoAAAAIANV0nVyEJLFW6QAAALkCAAAaAAAAAAAAAAAAAAAAAAgDAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc1BLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAAAAAAAAAEAAAACkEAAB4bC93b3Jrc2hlZXRzL1BLAQIUAAoAAAAIANV0nVyL9Lh//AEAAH8EAAAYAAAAAAAAAAAAAAAAAFUEAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECFAAKAAAACADVdJ1c+IFsVLcAAAAyAQAAFAAAAAAAAAAAAAAAAACHBgAAeGwvc2hhcmVkU3RyaW5ncy54bWxQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAAAAAAAAABAAAABwBwAAeGwvdGhlbWUvUEsBAhQACgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAAAAAAAAAAAAAAAlwcAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECFAAKAAAACADVdJ1cBTuAXnYCAAADBgAADQAAAAAAAAAAAAAAAADpDQAAeGwvc3R5bGVzLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAIoQAABkb2NQcm9wcy9QSwECFAAKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAAAAAAAAAAAAAACxEAAAZG9jUHJvcHMvYXBwLnhtbFBLAQIUAAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAAAAAAAAAAAAAAGASAABkb2NQcm9wcy9jb3JlLnhtbFBLAQIUAAoAAAAIANV0nVxYbEWhWQEAAHECAAAPAAAAAAAAAAAAAAAAAO4TAAB4bC93b3JrYm9vay54bWxQSwUGAAAAABAAEADGAwAAdBUAAAAA"
                  },
                  "jsonData": {
                    "type": "string"
                  },
                  "worksheetName": {
                    "type": "string",
                    "default": "Sheet1",
                    "x-mindcloud-advanced": true
                  },
                  "tableName": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "FileContent": {
                            "type": "string"
                          },
                          "Filename": {
                            "type": "string"
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianExcel/latest/actions/csv-parse": {
      "get": {
        "operationId": "encodianExcel.csv-parse",
        "summary": "CSV - Parse",
        "description": "Parses a CSV file into JSON in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/csv-parse"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "The file content of the source CSV file.",
            "schema": {
              "type": "string",
              "description": "The file content of the source CSV file.",
              "default": "bmFtZSxhbW91bnQKQWxpY2UsMTAKQm9iLDIwCg=="
            }
          },
          {
            "name": "delimiter",
            "in": "query",
            "required": false,
            "description": "Set the CSV delimiter. Defaults to comma.",
            "schema": {
              "type": "string",
              "description": "Set the CSV delimiter. Defaults to comma.",
              "default": ",",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "encoding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASCII",
                "ISO88591",
                "ISO88592",
                "Latin1",
                "UTF8"
              ],
              "default": "UTF8",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "csvColumnHeaders",
            "in": "query",
            "required": false,
            "description": "Optional comma-delimited column headers.",
            "schema": {
              "type": "string",
              "description": "Optional comma-delimited column headers.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "skipFirstLine",
            "in": "query",
            "required": false,
            "description": "Skip the first line when the CSV contains headers.",
            "schema": {
              "type": "boolean",
              "description": "Skip the first line when the CSV contains headers.",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "csvData": {
                            "type": "string",
                            "description": "Parsed CSV data in JSON format."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianExcel/latest/actions/delete-excel-worksheets": {
      "delete": {
        "operationId": "encodianExcel.delete-excel-worksheets",
        "summary": "Excel - Delete Worksheets",
        "description": "Deletes worksheets from an Excel file in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/delete-excel-worksheets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "UEsDBAoAAAAIANZ0nVzqc8NaXAEAAHgFAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbMVUyW7CMBC99ysiX1Fi4FBVFYFDaY8tUukHuPGEWDi25Rm2v+8kUFRVLEIgcYkVz9s8iWcwWtc2WUJE410uellXJOAKr42b5eJr+pY+iQRJOa2sd5CLDaAYDR8G000ATJjsMBcVUXiWEosKaoWZD+C4UvpYK+LXOJNBFXM1A9nvdh9l4R2Bo5QaDTEcjKFUC0vJ65q3t0EiWBTJyxbYeOVChWBNoYjrcun0P5d055Axs8VgZQJ2GCDkQYemctxgx/vgzkSjIZmoSO+qZpRcW7nycf7t/Tw7LXIgpS9LU4D2xaJmSoYhgtJYAVBts3bNamVc57x/C0bZLr0bB9nrX5ijf6ccxP8dbJ/Xt6KVOWOItLGAt/78reg550pF0J8U+YLePMBf7RNXZ3mlK/PHUa3Y5dhBGTqJPiCPigiXn/J3FjTsNLAQRDKnW7t3ZOmr2wpNrzToA96yHZzDH1BLAwQKAAAAAADWdJ1cAAAAAAAAAAAAAAAABgAAAF9yZWxzL1BLAwQKAAAACADWdJ1c8p9J2ukAAABLAgAACwAAAF9yZWxzLy5yZWxzrZLBTsMwDEDvfEXk+5puSAihpbsgpN0mND7AJG4btY2jxIPu74mQQAyNaQeOceznZ8vrzTyN6o1S9hwMLKsaFAXLzofOwMv+aXEPKgsGhyMHMnCkDJvmZv1MI0qpyb2PWRVIyAZ6kfigdbY9TZgrjhTKT8tpQinP1OmIdsCO9Kqu73T6yYDmhKm2zkDauiWo/THSNWxuW2/pke1hoiBnWvzKKGRMHYmBedTvnIZX5qEqUNDnXVbXu/w9p55I0KGgtpxoEVOpTuLLWr91HNtdCefPjEtCt/+5HJqFgiN3WQlj/DLSJzfQfABQSwMECgAAAAAA1nSdXAAAAAAAAAAAAAAAAAMAAAB4bC9QSwMECgAAAAAA1nSdXAAAAAAAAAAAAAAAAAkAAAB4bC9fcmVscy9QSwMECgAAAAgA1nSdXP6+kZLxAAAARgMAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc72SzWrDMBCE730KsfdatvtDKZFzKYVcW/cBhLW2TGxJaLc/fvuqDW0cCKYH05OYFTvzMdJm+zEO4g0j9d4pKLIcBLrGm951Cl7qx8s7EMTaGT14hwomJNhWF5snHDSnHbJ9IJFMHCmwzOFeSmosjpoyH9Clm9bHUXOSsZNBN3vdoSzz/FbGuQdUJ55iZxTEnSlA1FPAv3j7tu0bfPDN64iOz0RI4mlI/KLWsUNWcNBZ8gF5Pr5cM57TLh7Tv+VhWCwxXK1agdURzTPH9MDzJubjJZjrNWHefdyTReQjyO/oCzUdi83c/DNM+QMjT75/9QlQSwMECgAAAAAA1nSdXAAAAAAAAAAAAAAAAA4AAAB4bC93b3Jrc2hlZXRzL1BLAwQKAAAACADWdJ1ci/S4f/wBAAB/BAAAGAAAAHhsL3dvcmtzaGVldHMvc2hlZXQxLnhtbJWU32/bIBDH3/dXIN4b/CNJl8h21SWqNmmTpq3TngnGNir4EJCk2V+/C24iN81D++a7L/flc3C4uHs2muyk8wr6kqaThBLZC6hV35b0z+PDzWdKfOB9zTX0sqQH6eld9anYg3vynZSBoEHvS9qFYJeMedFJw/0ErOxRacAZHjB0LfPWSV7HIqNZliRzZrjq6eCwdO/xgKZRQq5BbI3sw2DipOYB8X2nrD+5GfEeO8Pd09beCDAWLTZKq3CIppQYsfzW9uD4RmPbz+mUi5N3DN7YGyUceGjCBO1eQN/2vGALhk5VUSvs4HjqxMmmpPfpcpVTVhVx7UNk/OlILRu+1eEX7L9K1XYBr2hGCWyDVr38LndSo1TS5HVuBTrmIuiyPqylF3hcJZ3NzluseeBV4WBP8OBTvGTLj9eYLvMrdckkmyGzOK69x8WY8hjvqqRgu6pg4kX7MtbS19pqrGVnjSHCmSP7CEc28ssvOLKB4AJvNS6ZXkfIP4KQj/xmFwj50OglwrhkfoHARjdjeSt/cNeq3hMtm7jzLSVumIL4HcDGL5yIDYQA5hR1OHPSHSPcrQEIp4ANvr9l2FoCTmFH8emU1IILjquAxZj/ByjotVUlnWaL6WJ+my3QF/8TQYkrgsckvpI0waFrVHiEv6oOXZyrGJ6H90jAzv+O6j9QSwMECgAAAAgA1nSdXDs+b6ncAQAAxAMAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0Mi54bWyVk01vGyEQhu/9FYh7zO7Gjmtrd6OkVtRKrVS1qXrG7OwuCjAIsJ3013eMY8tNckhvzLzDM19QXz9aw7YQokbX8HJScAZOYafd0PBf93cXHzmLSbpOGnTQ8CeI/Lr9UO8wPMQRIDECuNjwMSW/FCKqEayME/TgSOkxWJnIDIOIPoDs8iVrRFUUV8JK7fiBsAzvYWDfawUrVBsLLh0gAYxMVH4ctY9HmlXvwVkZHjb+QqH1hFhro9NThnJm1fLL4DDItaG2H8upVEd2Nl7hrVYBI/ZpQrjnQl/3vBALQaS27jR1sJ86C9A3/KZc3lZctHWOvcs1fg+sg15uTPqBu8+ghzHRimac4SYZ7eArbMGQ1PDiX98nNNmXC112TyuIisbV8NnslGIlk2zrgDtGgy9pyV7u11guqzfuFZNqRjWrfewNBZMrkr1ti1ps21qoZ+32XCtPmqA0p1zV/+SqznjzF7mq7L0sXqQRZ+15OcA3GQbtIjPQZ/qcs3AYZT4n9PlEY11jSmiP1kiLg7C3LjnrEdPREAfuT0gbzzBoqjq/v4Z7DClInegy+f8gCWbldcOn1WK6uJpXC+LSZ0tavSFEctJTKwvaXK/TPf7WXRrzcrJ5egH7CsTpA7Z/AVBLAwQKAAAACADWdJ1c/Jx5k74AAABIAQAAFAAAAHhsL3NoYXJlZFN0cmluZ3MueG1sZZDRbsIwDEXf9xWR30cKDwhNaRAg7Qu2D/Baj0ZKnBK7E/w9qXiY1D7e42vfK7vjPUXzR0VC5ha2mwYMcZf7wNcWvr8+3w9gRJF7jJmphQcJHP2bE1FTV1laGFTHD2ulGyihbPJIXCe/uSTUKsvVylgIexmINEW7a5q9TRgYTJcn1hpbUycOt4kuL3AA7yR4p54xkbPqnZ31i2GaXUvKWVfOUwzdCubYG6X76sA5/yzRXPuxhBcsEf+hra/wT1BLAwQKAAAAAADWdJ1cAAAAAAAAAAAAAAAACQAAAHhsL3RoZW1lL1BLAwQKAAAACADWdJ1cdpsw3yEGAAAZHwAAEwAAAHhsL3RoZW1lL3RoZW1lMS54bWztWU1v2zYYvu9XELq38pdSJ6hTxI7dbm3aIHE79EhLtMSGEgWSTuLb0B4HDBjWDbsM2G2HYVuBFtil+zXZOmwd0L+wV9aHKZtqnCbdUCA5OCL1PO8X3/claV+/cRwydEiEpDzqWPWrNQuRyOUejfyOdX84uNK2kFQ48jDjEelYUyKtG5sfXccbKiAhQUCP5AbuWIFS8YZtSxemsbzKYxLBuzEXIVYwFL7tCXwEYkNmN2q1NTvENLJQhEOQem88pi5Bw0SktYly6X0GH5GSsxmXiX13plPnpGjvoD77L6eyxwQ6xKxjgS6PHw3JsbIQw1LBi45Vm/1ZNqDtOY2pKrpGHcz+cmpO8Q4aKVX4o4JbH7TWr23PtTQyLQZov9/v9etzqSkEuy74XV+GtwbtereQrMPSZ4OGXs2ptRYoupbmMmW92+0662VKU6O0lint2lprq1GmtDSKY/Clu9XrrZUpjkZZW6YMrq2vtRYoKSxgNDpYJiSrPV+0OWjM2S0zow2MdpEhGs7WUjCTEanKjAzxIy4GgEiXHisaITWNyRi7gOzhcCQonmnBGwRrr7I5Vy7PJQqRdAWNVcf6JMZQPnPMm5c/vXn5HL15+ezk8YuTx7+ePHly8vgXE/MWjnyd+fqHL//57jP09/PvXz/9uoIgdcIfP3/++29fVSCVjnz1zbM/Xzx79e0Xf/341ITfEnik44c0JBLdJUdoj4fgn0kFGYkzUoYBpiUKDgBqQvZVUELenWJmBHZJOYYPBLQLI/Lm5FHJ3v1ATBQ1IW8HYQm5wznrcmH26XaiTvdpEvkV+sVEB+5hfGhU31tY5f4khtymRqG9gJRM3WWw8NgnEVEoeccPCDHxHlJaiu8OdQWXfKzQQ4q6mJoDM6QjZWbdoiEs0NRoI6x6KUI7D1CXM6OCbXJYhkKFYGYUSlgpmjfxROHQbDUOmQ69g1VgNHR/KtxS4KWCRfcJ46jvESmNpHtiWjL5NoY2Zc6AHTYNy1Ch6IERegdzrkO3+UEvwGFstptGgQ7+WB5AxmK0y5XZDl6umWQMC4Kj6pV/QIk6Y7Hfp35gTpbkzUQYa4Twco1O2RiTKN8Eyr08pNFbOzuj0NovO/tCZ9+C7c5YUYv9vBL4gXbxbTyJdglUymUTv2zil038bRX+Plq31qxt/cieSgqrD/Bjyti+mjJyR6adXoKb3gBm09GMV9wa4gAec6VlpC/wbIAEV59SFewHOAZd9VSNL3P5vkQxl3BlsaoVpFdjCv7PJp3iMgt4rHa4l843S7fcQlI69GVJXTMRsrrK5rXzq6yn2JV11p0Knc5pOm09wFBbCCdfa9TXGqkFkEWYES9ZjExIvljve+XqNX3pAuwR07zma735/uLrnNGWi4t7zRB321B7LFoYoqOOte40HAu5OO5YYziGwWMYg0yZNCjM/KhjuSrzdYXaXfR+vSLp6jWn2vmynlhItY1lkBJn74oveiLNkYbTSoJyUZ4Yu9CqtjTb9f/dFntpwcl4TFxVNaWN87d8oojYD7wjNGITsYfBg1aaeh6VsG008oGA9G9lWVku87yAFr9OyisLszjAWUG09ZRICemgsCMd6kbaVT68s0/NC/XJufQp3/ldOBM3vdmzCwcFgVGSwh2LCxVwaF1xQN2BgLNFqhHsQ1A6iWmIJV+rJzaTQ63dpVKy7ugHao/6SFBokSoQhOyqzOPT5NUbpV03F5W3prnVMs4eRuSQsGFS6GtJMCwU5O0nj0qKXFpI21iEI3/wARyTWu+8j83Vtc62pbb03UPbVNbPb8lqu7umtFHhfsN5y062vI3HcPVByQfsAFS4TDsnD/keZAYqjhIIcvVKOyvWYnIEtrd1PxNh/+2xq12VCRd+etXi36yK/6lKzxN/xxB+59To24aatrWLUjpc/nGOjx6BBdtwCZuwbErGMMyedkXq/oh70/yZybSXZIEpNggW7ZExot5xseQLUc5+9ZofGfYyPUkoCm5zFW7G0Damgt9YhV9wNvOLacGf3TyNMpimP2VkGTBvtfPYsejcUVzJk4oomvN89SiutILvFEV1fGoU89jZxvwkx0rgXv6LHqS6rSX35r9QSwMECgAAAAgA1nSdXAU7gF52AgAAAwYAAA0AAAB4bC9zdHlsZXMueG1spZRdb5swFIbv9yss31MDDSyJgGppilSpmyo1k3brgEms+gMZ05FN++87BhISddqm9srHr4+f8/ozuemkQC/MNFyrFAdXPkZMFbrkapfir5vcm2PUWKpKKrRiKT6wBt9kH5LGHgR72jNmERBUk+K9tfWSkKbYM0mbK10zBSOVNpJa6JodaWrDaNm4SVKQ0PdjIilXeCAsZfE/EEnNc1t7hZY1tXzLBbeHnoWRLJb3O6UN3Qpw2gUzWqAuiE14rNBLr4pIXhjd6MpeAZToquIFe+11QRaEFhMJsG8jBRHxw2HhWVJpZRtU6FZZ2H2gO4fLZ6W/q9wNOXHIypJCC22QhVLMyQR0Krk4oBcqUhw6oTfCBkFy2Ipe/DEIQT9H0WPCLRV8a7gTyVChbxrgciFOrkI8CFkCG26ZUTl00BhvDjWYUXA1Bkyf94/snaGHIIzOJvQN1N1qU8JVnPbjKGWJYJWFCYbv9q61uiZu0FrY6CwpOd1pRYVDHmeMAWALJsSTu6/fqgt2VyHVylza+zLFcPHd6o8hGBrDATN0HP+cNrDfjUVddck/oftCF/STitxJpviLextiQqBty4Xl6g+GgVl2k9d+1LrHclkFGCWraCvs5jSY4in+zEreyvCU9chftB2zpvjBnVQQuxqssw+N7VvUGp7in3erj4v1XR56c38192bXLPIW0WrtRbPb1XqdL/zQv/119mrf8WbHhwaQZSMgy4yLHc0/TVqKzzqD/X7/wPa590UY+5+iwPfyaz/wZjGde/P4OvLyKAjX8Wx1F+XRmffojb+ET4JgMh8tLZdMcMUu7W/OVTgk6P5lEeR4EmT6vrPfUEsDBAoAAAAAANZ0nVwAAAAAAAAAAAAAAAAJAAAAZG9jUHJvcHMvUEsDBAoAAAAIANZ0nVyEhusQhwEAAD4DAAAQAAAAZG9jUHJvcHMvYXBwLnhtbJ2TQW/bMAyF7/sVhu6NnKwohkBWUaQremjRAEm7MyvTsVBZMkTWSPbrJzuI46yHAbs9kg/PnyhZ3e4bl3UYyQZfiPksFxl6E0rrd4V43T5c/RAZMfgSXPBYiAOSuNXf1DqGFiNbpCwleCpEzdwupSRTYwM0S2OfJlWIDXAq406GqrIG74P5bNCzXOT5jcQ9oy+xvGrHQHFMXHb8v6FlMD0fvW0PbcrT6q5tnTXA6ZD62ZoYKFSc/dwbdEpOhyoFbdB8RssHnSs5LdXGgMNVCtYVOEIlzw31iNDvbA02klYdLzs0HGJG9nfa2kJk70DY4xSig2jBszjajsWgXUsc9a8QP6hGZFJybA5y6p1qe60XgyGJS6McQZK+RNxadkgv1Roi/4t4YBATxk3PN5/ynUdogi+/oJ8g/vrsKjQt+LRbOapn8LDD3juqJ+s/6LXdhntgPC3/sqk2NUQs032NlzM21GM6RXS9f1WD32F58nwd9E/l7fg76PnNLP+e58MLOfWUPL98/QdQSwMECgAAAAgA1nSdXHntnslfAQAA4wIAABEAAABkb2NQcm9wcy9jb3JlLnhtbJ1Sy27CMBC89ysi34MTQIhGIUhtxalIlUrVqjfXXsAlsS17acjf13mQgMqpt52d2fE+nC5PRR78gHVSqwWJRxEJQHEtpNotyNtmFc5J4JApwXKtYEEqcGSZ3aXcJFxbeLHagEUJLvBGyiXcLMge0SSUOr6HgrmRVyhPbrUtGHpod9QwfmA7oOMomtECkAmGjNaGoekdSWcpeG9pjjZvDASnkEMBCh2NRzEdtAi2cDcLGuZCWUisDNyUnslefXKyF5ZlOSonjdT3H9OP9fNrM2ooVb0qDiRLBU+4BYbaZm/qoHSpUnqRq3mUmEPWpLvQR+749Q0c23QPfCzAcSsN+ju15FXCn+MAVamtcJ69QvWlGMJO26qlBuRBzhyu/bm3EsRDNfT6l0q73bYzgAj8TpJ2g2fmffL4tFmRbByNZ2E0Dcf3m3iaTObJdPpZ93xVPxgW3SP/djwbdPNd/cvsF1BLAwQKAAAACADWdJ1cASWALWcBAACvAgAADwAAAHhsL3dvcmtib29rLnhtbI2S224CIRCG7/sUhPu6i8fWuJo0bRNvGpPa3iPMukROAdbD23d2dW0ak8YbYAb+b/4BZouj0WQPISpnC8p6OSVghZPKbgv6tX5/fKIkJm4l185CQU8Q6WL+MDu4sNs4tyOot7GgVUp+mmVRVGB47DkPFndKFwxPGIZtFn0ALmMFkIzO+nk+zgxXlp4J03APw5WlEvDqRG3ApjMkgOYJ3cdK+djRjLgHZ3jY1f5ROOMRsVFapVMLpcSI6XJrXeAbjV0f2agj4/IGbZQILroy9RB1MXnTL8szxs4tz2el0vB9vnXCvf/gpqmiKdE8pjepEsiCYk3tDvAnEWr/UiuNwfMgH9Bsfn2JVSASSl7rtEZXHR3fdDzMGaMESyYIq6D2XJww3Whbd/Eyk3ZcymaP2NbRZ5Nh7Q9IGO5VVHgf6GKq8FhYyuGV8qvuX9UgnJX/qEeNOutMCK4FNtFMrYkJy/uT9kTX4vwHUEsBAhQACgAAAAgA1nSdXOpzw1pcAQAAeAUAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECFAAKAAAAAADWdJ1cAAAAAAAAAAAAAAAABgAAAAAAAAAAABAAAACNAQAAX3JlbHMvUEsBAhQACgAAAAgA1nSdXPKfSdrpAAAASwIAAAsAAAAAAAAAAAAAAAAAsQEAAF9yZWxzLy5yZWxzUEsBAhQACgAAAAAA1nSdXAAAAAAAAAAAAAAAAAMAAAAAAAAAAAAQAAAAwwIAAHhsL1BLAQIUAAoAAAAAANZ0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAOQCAAB4bC9fcmVscy9QSwECFAAKAAAACADWdJ1c/r6RkvEAAABGAwAAGgAAAAAAAAAAAAAAAAALAwAAeGwvX3JlbHMvd29ya2Jvb2sueG1sLnJlbHNQSwECFAAKAAAAAADWdJ1cAAAAAAAAAAAAAAAADgAAAAAAAAAAABAAAAA0BAAAeGwvd29ya3NoZWV0cy9QSwECFAAKAAAACADWdJ1ci/S4f/wBAAB/BAAAGAAAAAAAAAAAAAAAAABgBAAAeGwvd29ya3NoZWV0cy9zaGVldDEueG1sUEsBAhQACgAAAAgA1nSdXDs+b6ncAQAAxAMAABgAAAAAAAAAAAAAAAAAkgYAAHhsL3dvcmtzaGVldHMvc2hlZXQyLnhtbFBLAQIUAAoAAAAIANZ0nVz8nHmTvgAAAEgBAAAUAAAAAAAAAAAAAAAAAKQIAAB4bC9zaGFyZWRTdHJpbmdzLnhtbFBLAQIUAAoAAAAAANZ0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAJQJAAB4bC90aGVtZS9QSwECFAAKAAAACADWdJ1cdpsw3yEGAAAZHwAAEwAAAAAAAAAAAAAAAAC7CQAAeGwvdGhlbWUvdGhlbWUxLnhtbFBLAQIUAAoAAAAIANZ0nVwFO4BedgIAAAMGAAANAAAAAAAAAAAAAAAAAA0QAAB4bC9zdHlsZXMueG1sUEsBAhQACgAAAAAA1nSdXAAAAAAAAAAAAAAAAAkAAAAAAAAAAAAQAAAArhIAAGRvY1Byb3BzL1BLAQIUAAoAAAAIANZ0nVyEhusQhwEAAD4DAAAQAAAAAAAAAAAAAAAAANUSAABkb2NQcm9wcy9hcHAueG1sUEsBAhQACgAAAAgA1nSdXHntnslfAQAA4wIAABEAAAAAAAAAAAAAAAAAihQAAGRvY1Byb3BzL2NvcmUueG1sUEsBAhQACgAAAAgA1nSdXAElgC1nAQAArwIAAA8AAAAAAAAAAAAAAAAAGBYAAHhsL3dvcmtib29rLnhtbFBLBQYAAAAAEQARAAwEAACsFwAAAAA="
            }
          },
          {
            "name": "worksheetNames",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Second"
            }
          },
          {
            "name": "worksheetIndexes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "FileContent": {
                            "type": "string"
                          },
                          "Filename": {
                            "type": "string"
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianExcel/latest/actions/delete-rows-from-excel": {
      "delete": {
        "operationId": "encodianExcel.delete-rows-from-excel",
        "summary": "Excel - Delete Rows",
        "description": "Deletes rows from an Excel file in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/delete-rows-from-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "UEsDBAoAAAAIANV0nVyR28AJWQEAAPAEAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbK2UTW7CMBCF9z1F5C1KDF1UVUXCorTLFqn0ANN4Qiwc2/KYv9t3EiiqKiCqYBMrmTfve57EGU+2jUnWGEg7m4tRNhQJ2tIpbRe5+Jy/po8ioQhWgXEWc7FDEpPibjzfeaSEmy3loo7RP0lJZY0NUOY8Wq5ULjQQ+TYspIdyCQuU98PhgyydjWhjGlsPUYynWMHKxORly4/3QQIaEsnzXtiycgHeG11C5LpcW/WHkh4IGXd2Gqq1pwELhDxJaCvnAYe+d55M0AqTGYT4Bg2r5NbIjQvLL+eW2WWTEyldVekSlStXDbdk5AOCohoxNibr1qwBbQf9/E5MsltGNw5y9O/JEfl94/56fYTOpgdIcWeQbj32zrSPXENA9REDH4ybB/jtfeGTXV9J5f5pgA1Tzm2UpbPgPPERDfj/Xf6cwbY79WyEIerLoz0S2frqsWI7K4XqBFt2P6ziG1BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAABgAAAF9yZWxzL1BLAwQKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAF9yZWxzLy5yZWxzrZLBTsMwDEDvfEXk+5puSAihpbsgpN0mND7AJG4btY2jxIPu74mQQAyNaQeOceznZ8vrzTyN6o1S9hwMLKsaFAXLzofOwMv+aXEPKgsGhyMHMnCkDJvmZv1MI0qpyb2PWRVIyAZ6kfigdbY9TZgrjhTKT8tpQinP1OmIdsCO9Kqu73T6yYDmhKm2zkDauiWo/THSNWxuW2/pke1hoiBnWvzKKGRMHYmBedTvnIZX5qEqUNDnXVbXu/w9p55I0KGgtpxoEVOpTuLLWr91HNtdCefPjEtCt/+5HJqFgiN3WQlj/DLSJzfQfABQSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAMAAAB4bC9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC9fcmVscy9QSwMECgAAAAgA1XSdXIQksVbpAAAAuQIAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc62SwWrDMBBE7/0KsfdadlpKKZFzKYFcW/cDhLS2TGxJaDdt/fdVG0gcCKEHn8Ss2JnHSOvN9ziIT0zUB6+gKkoQ6E2wve8UfDTb+2cQxNpbPQSPCiYk2NR36zccNOcdcn0kkU08KXDM8UVKMg5HTUWI6PNNG9KoOcvUyajNXncoV2X5JNPcA+oLT7GzCtLOViCaKeJ/vEPb9gZfgzmM6PlKhCSehswvGp06ZAVHXWQfkNfjV0vGc97Fc/qfPA6rWwwPi1bgdEL7zik/8LyJ+fgWzOOSMF8h7ckh8hnkNPpFzcepGXnx4+ofUEsDBAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAeGwvd29ya3NoZWV0cy9QSwMECgAAAAgA1XSdXIv0uH/8AQAAfwQAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWyVlN9v2yAQx9/3VyDeG/wjSZfIdtUlqjZpk6at054JxjYq+BCQpNlfvwtuIjfNQ/vmuy/35XNwuLh7NprspPMK+pKmk4QS2QuoVd+W9M/jw81nSnzgfc019LKkB+npXfWp2IN78p2UgaBB70vahWCXjHnRScP9BKzsUWnAGR4wdC3z1klexyKjWZYkc2a46ungsHTv8YCmUUKuQWyN7MNg4qTmAfF9p6w/uRnxHjvD3dPW3ggwFi02SqtwiKaUGLH81vbg+EZj28/plIuTdwze2BslHHhowgTtXkDf9rxgC4ZOVVEr7OB46sTJpqT36XKVU1YVce1DZPzpSC0bvtXhF+y/StV2Aa9oRglsg1a9/C53UqNU0uR1bgU65iLosj6spRd4XCWdzc5brHngVeFgT/DgU7xky4/XmC7zK3XJJJshsziuvcfFmPIY76qkYLuqYOJF+zLW0tfaaqxlZ40hwpkj+whHNvLLLziygeACbzUumV5HyD+CkI/8ZhcI+dDoJcK4ZH6BwEY3Y3krf3DXqt4TLZu48y0lbpiC+B3Axi+ciA2EAOYUdThz0h0j3K0BCKeADb6/ZdhaAk5hR/HplNSCC46rgMWY/wco6LVVJZ1mi+lifpst0Bf/E0GJK4LHJL6SNMGha1R4hL+qDl2cqxieh/dIwM7/juo/UEsDBAoAAAAIANV0nVz4gWxUtwAAADIBAAAUAAAAeGwvc2hhcmVkU3RyaW5ncy54bWxlj0GOwjAMRfdzish7SGHBjEZJECBxgpkDhNZDIyV2qV0Et59WCCHR5Xv+tvzd9layuWIvicnDalmBQaq5SXT28PtzXHyBEY3UxMyEHu4osA0fTkTNuErioVXtvq2VusUSZckd0jj5475EHbE/W+l6jI20iFqyXVfVxpaYCEzNA6mHTzADpcuAhycHJyk4DRQLOqvB2YkfLpYp9W6JdZbc5VTPJOfGKN5mB/Z8elfT1/eXtGPp8A9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC90aGVtZS9QSwMECgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAB4bC90aGVtZS90aGVtZTEueG1s7VlNb9s2GL7vVxC6t/KXUieoU8SO3W5t2iBxO/RIS7TEhhIFkk7i29AeBwwY1g27DNhth2FbgRbYpfs12TpsHdC/sFfWhymbapwm3VAgOTgi9TzvF9/3JWlfv3EcMnRIhKQ86lj1qzULkcjlHo38jnV/OLjStpBUOPIw4xHpWFMirRubH13HGyogIUFAj+QG7liBUvGGbUsXprG8ymMSwbsxFyFWMBS+7Ql8BGJDZjdqtTU7xDSyUIRDkHpvPKYuQcNEpLWJcul9Bh+RkrMZl4l9d6ZT56Ro76A++y+nsscEOsSsY4Eujx8NybGyEMNSwYuOVZv9WTag7TmNqSq6Rh3M/nJqTvEOGilV+KOCWx+01q9tz7U0Mi0GaL/f7/Xrc6kpBLsu+F1fhrcG7Xq3kKzD0meDhl7NqbUWKLqW5jJlvdvtOutlSlOjtJYp7dpaa6tRprQ0imPwpbvV662VKY5GWVumDK6tr7UWKCksYDQ6WCYkqz1ftDlozNktM6MNjHaRIRrO1lIwkxGpyowM8SMuBoBIlx4rGiE1jckYu4Ds4XAkKJ5pwRsEa6+yOVcuzyUKkXQFjVXH+iTGUD5zzJuXP715+Ry9efns5PGLk8e/njx5cvL4FxPzFo58nfn6hy//+e4z9Pfz718//bqCIHXCHz9//vtvX1UglY589c2zP188e/XtF3/9+NSE3xJ4pOOHNCQS3SVHaI+H4J9JBRmJM1KGAaYlCg4AakL2VVBC3p1iZgR2STmGDwS0CyPy5uRRyd79QEwUNSFvB2EJucM563Jh9ul2ok73aRL5FfrFRAfuYXxoVN9bWOX+JIbcpkahvYCUTN1lsPDYJxFRKHnHDwgx8R5SWorvDnUFl3ys0EOKupiaAzOkI2Vm3aIhLNDUaCOseilCOw9QlzOjgm1yWIZChWBmFEpYKZo38UTh0Gw1DpkOvYNVYDR0fyrcUuClgkX3CeOo7xEpjaR7Yloy+TaGNmXOgB02DctQoeiBEXoHc65Dt/lBL8BhbLabRoEO/lgeQMZitMuV2Q5erplkDAuCo+qVf0CJOmOx36d+YE6W5M1EGGuE8HKNTtkYkyjfBMq9PKTRWzs7o9DaLzv7Qmffgu3OWFGL/bwS+IF28W08iXYJVMplE79s4pdN/G0V/j5at9asbf3InkoKqw/wY8rYvpoyckemnV6Cm94AZtPRjFfcGuIAHnOlZaQv8GyABFefUhXsBzgGXfVUjS9z+b5EMZdwZbGqFaRXYwr+zyad4jILeKx2uJfON0u33EJSOvRlSV0zEbK6yua186usp9iVddadCp3OaTptPcBQWwgnX2vU1xqpBZBFmBEvWYxMSL5Y73vl6jV96QLsEdO85mu9+f7i65zRlouLe80Qd9tQeyxaGKKjjrXuNBwLuTjuWGM4hsFjGINMmTQozPyoY7kq83WF2l30fr0i6eo1p9r5sp5YSLWNZZASZ++KL3oizZGG00qCclGeGLvQqrY02/X/3RZ7acHJeExcVTWljfO3fKKI2A+8IzRiE7GHwYNWmnoelbBtNPKBgPRvZVlZLvO8gBa/TsorC7M4wFlBtPWUSAnpoLAjHepG2lU+vLNPzQv1ybn0Kd/5XTgTN73ZswsHBYFRksIdiwsVcGhdcUDdgYCzRaoR7ENQOolpiCVfqyc2k0Ot3aVSsu7oB2qP+khQaJEqEITsqszj0+TVG6VdNxeVt6a51TLOHkbkkLBhUuhrSTAsFOTtJ49KilxaSNtYhCN/8AEck1rvvI/N1bXOtqW29N1D21TWz2/Jaru7prRR4X7DectOtryNx3D1QckH7ABUuEw7Jw/5HmQGKo4SCHL1Sjsr1mJyBLa3dT8TYf/tsatdlQkXfnrV4t+siv+pSs8Tf8cQfufU6NuGmra1i1I6XP5xjo8egQXbcAmbsGxKxjDMnnZF6v6Ie9P8mcm0l2SBKTYIFu2RMaLecbHkC1HOfvWaHxn2Mj1JKApucxVuxtA2poLfWIVfcDbzi2nBn908jTKYpj9lZBkwb7Xz2LHo3FFcyZOKKJrzfPUorrSC7xRFdXxqFPPY2cb8JMdK4F7+ix6kuq0l9+a/UEsDBAoAAAAIANV0nVwFO4BedgIAAAMGAAANAAAAeGwvc3R5bGVzLnhtbKWUXW+bMBSG7/crLN9TAw0siYBqaYpUqZsqNZN264BJrPoDGdORTfvvOwYSEnXapvbKx6+Pn/P6M7nppEAvzDRcqxQHVz5GTBW65GqX4q+b3Jtj1FiqSiq0Yik+sAbfZB+Sxh4Ee9ozZhEQVJPivbX1kpCm2DNJmytdMwUjlTaSWuiaHWlqw2jZuElSkND3YyIpV3ggLGXxPxBJzXNbe4WWNbV8ywW3h56FkSyW9zulDd0KcNoFM1qgLohNeKzQS6+KSF4Y3ejKXgGU6KriBXvtdUEWhBYTCbBvIwUR8cNh4VlSaWUbVOhWWdh9oDuHy2elv6vcDTlxyMqSQgttkIVSzMkEdCq5OKAXKlIcOqE3wgZBctiKXvwxCEE/R9Fjwi0VfGu4E8lQoW8a4HIhTq5CPAhZAhtumVE5dNAYbw41mFFwNQZMn/eP7J2hhyCMzib0DdTdalPCVZz24yhliWCVhQmG7/autbombtBa2OgsKTndaUWFQx5njAFgCybEk7uv36oLdlch1cpc2vsyxXDx3eqPIRgawwEzdBz/nDaw341FXXXJP6H7Qhf0k4rcSab4i3sbYkKgbcuF5eoPhoFZdpPXftS6x3JZBRglq2gr7OY0mOIp/sxK3srwlPXIX7Qds6b4wZ1UELsarLMPje1b1Bqe4p93q4+L9V0eenN/Nfdm1yzyFtFq7UWz29V6nS/80L/9dfZq3/Fmx4cGkGUjIMuMix3NP01ais86g/1+/8D2ufdFGPufosD38ms/8GYxnXvz+Dry8igI1/FsdRfl0Zn36I2/hE+CYDIfLS2XTHDFLu1vzlU4JOj+ZRHkeBJk+r6z31BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAGRvY1Byb3BzL1BLAwQKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAGRvY1Byb3BzL2FwcC54bWydkkFv2zAMhe/7FYbujeyuKIZAVlGkK3po0QBJuzMr07FQWTJE1kj26yc7iOusO+32SD48f6aobvaty3qMZIMvRbHIRYbehMr6XSletvcXP0RGDL4CFzyW4oAkbvQ3tY6hw8gWKUsJnkrRMHdLKck02AIt0tinSR1iC5zKuJOhrq3Bu2A+WvQsL/P8WuKe0VdYXXRToDgmLnv+39AqmIGPXreHLuVpddt1zhrg9JP6yZoYKNSc/dwbdErOhyoFbdB8RMsHnSs5L9XGgMNVCtY1OEIlPxvqAWHY2RpsJK16XvZoOMSM7O+0tUuRvQHhgFOKHqIFz+JoOxajdh1x1L9CfKcGkUnJqTnKuXeu7ZUuRkMS50Y5gSR9jri17JCe6zVE/gdxMSceGcSMcTPwFV/4Tl/6K3sV2g58WqCc1BN42OHgndSj9e/00m3DHTCeNnzeVJsGIlbpUaYXmBrqIaFGN/hXDfgdVifP18FwD6/Hm9fF9SL/nufjGZx6Sn6et/4DUEsDBAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAZG9jUHJvcHMvY29yZS54bWydUstuwjAQvPcrIt+DE0CIRiFIbcWpSJVK1ao3117AJbEte2nI39d5kIDKqbedndnxPpwuT0Ue/IB1UqsFiUcRCUBxLaTaLcjbZhXOSeCQKcFyrWBBKnBkmd2l3CRcW3ix2oBFCS7wRsol3CzIHtEklDq+h4K5kVcoT261LRh6aHfUMH5gO6DjKJrRApAJhozWhqHpHUlnKXhvaY42bwwEp5BDAQodjUcxHbQItnA3CxrmQllIrAzclJ7JXn1ysheWZTkqJ43U9x/Tj/XzazNqKFW9Kg4kSwVPuAWG2mZv6qB0qVJ6kat5lJhD1qS70Efu+PUNHNt0D3wswHErDfo7teRVwp/jAFWprXCevUL1pRjCTtuqpQbkQc4crv25txLEQzX0+pdKu922M4AI/E6SdoNn5n3y+LRZkWwcjWdhNA3H95t4mkzmyXTyWfd8VT8YFt0j/3Y8G3TzXf3L7BdQSwMECgAAAAgA1XSdXFhsRaFZAQAAcQIAAA8AAAB4bC93b3JrYm9vay54bWyNkktvwjAMx+/7FFHukAYYbBUt0rRN4jIh7XEPqUsj8lKS8vj2cwudNHHhEsdO/PPfTpark9HkACEqZwvKxxklYKWrlN0V9PvrffRESUzCVkI7CwU9Q6Sr8mF5dGG/dW5PMN/GgjYp+ZyxKBswIo6dB4sntQtGJHTDjkUfQFSxAUhGs0mWzZkRytILIQ/3MFxdKwmvTrYGbLpAAmiRUH1slI8Dzch7cEaEfetH0hmPiK3SKp17KCVG5uuddUFsNXZ94o8DGbc3aKNkcNHVaYyoq8ibfnnGOL+0XC5rpeHnMnUivP8QpquiKdEiprdKJagKijW1O8K/QGj9S6s0Os/TbEpZ+fcSm0AqqEWr0xeqGuj4pvNZxjklWDJB2AR1EPKM4S63VxevlvTruurOiO0VfXYR3v+AhO5BRYXzQBW5wmthXc06ChswUmiJMjrTYxY8myz6G4PI8hdQSwECFAAKAAAACADVdJ1ckdvACVkBAADwBAAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAGAAAAAAAAAAAAEAAAAIoBAABfcmVscy9QSwECFAAKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAAAAAAAAAAAAAACuAQAAX3JlbHMvLnJlbHNQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAAAwAAAAAAAAAAABAAAADAAgAAeGwvUEsBAhQACgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAAAAAAAAAAQAAAA4QIAAHhsL19yZWxzL1BLAQIUAAoAAAAIANV0nVyEJLFW6QAAALkCAAAaAAAAAAAAAAAAAAAAAAgDAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc1BLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAAAAAAAAAEAAAACkEAAB4bC93b3Jrc2hlZXRzL1BLAQIUAAoAAAAIANV0nVyL9Lh//AEAAH8EAAAYAAAAAAAAAAAAAAAAAFUEAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECFAAKAAAACADVdJ1c+IFsVLcAAAAyAQAAFAAAAAAAAAAAAAAAAACHBgAAeGwvc2hhcmVkU3RyaW5ncy54bWxQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAAAAAAAAABAAAABwBwAAeGwvdGhlbWUvUEsBAhQACgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAAAAAAAAAAAAAAAlwcAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECFAAKAAAACADVdJ1cBTuAXnYCAAADBgAADQAAAAAAAAAAAAAAAADpDQAAeGwvc3R5bGVzLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAIoQAABkb2NQcm9wcy9QSwECFAAKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAAAAAAAAAAAAAACxEAAAZG9jUHJvcHMvYXBwLnhtbFBLAQIUAAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAAAAAAAAAAAAAAGASAABkb2NQcm9wcy9jb3JlLnhtbFBLAQIUAAoAAAAIANV0nVxYbEWhWQEAAHECAAAPAAAAAAAAAAAAAAAAAO4TAAB4bC93b3JrYm9vay54bWxQSwUGAAAAABAAEADGAwAAdBUAAAAA"
            }
          },
          {
            "name": "rowArray",
            "in": "query",
            "required": true,
            "description": "Runtime-verified Encodian row range format, for example [2-2] or [23-56],[100-120].",
            "schema": {
              "type": "string",
              "description": "Runtime-verified Encodian row range format, for example [2-2] or [23-56],[100-120].",
              "default": "[3-3]"
            }
          },
          {
            "name": "worksheetName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Sheet1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "firstRow",
            "in": "query",
            "required": false,
            "description": "Documented by Encodian, but rowArray is the runtime-verified input format for this app.",
            "schema": {
              "type": "number",
              "description": "Documented by Encodian, but rowArray is the runtime-verified input format for this app.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lastRow",
            "in": "query",
            "required": false,
            "description": "Documented by Encodian, but rowArray is the runtime-verified input format for this app.",
            "schema": {
              "type": "number",
              "description": "Documented by Encodian, but rowArray is the runtime-verified input format for this app.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "FileContent": {
                            "type": "string"
                          },
                          "Filename": {
                            "type": "string"
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianExcel/latest/actions/excel-add-image-header-or-footer": {
      "put": {
        "operationId": "encodianExcel.excel-add-image-header-or-footer",
        "summary": "Excel - Add Image Header or Footer",
        "description": "Adds an image header or footer to an Excel file in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/excel-add-image-header-or-footer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent",
                  "imageFileContent",
                  "position"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "default": "UEsDBAoAAAAIANV0nVyR28AJWQEAAPAEAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbK2UTW7CMBCF9z1F5C1KDF1UVUXCorTLFqn0ANN4Qiwc2/KYv9t3EiiqKiCqYBMrmTfve57EGU+2jUnWGEg7m4tRNhQJ2tIpbRe5+Jy/po8ioQhWgXEWc7FDEpPibjzfeaSEmy3loo7RP0lJZY0NUOY8Wq5ULjQQ+TYspIdyCQuU98PhgyydjWhjGlsPUYynWMHKxORly4/3QQIaEsnzXtiycgHeG11C5LpcW/WHkh4IGXd2Gqq1pwELhDxJaCvnAYe+d55M0AqTGYT4Bg2r5NbIjQvLL+eW2WWTEyldVekSlStXDbdk5AOCohoxNibr1qwBbQf9/E5MsltGNw5y9O/JEfl94/56fYTOpgdIcWeQbj32zrSPXENA9REDH4ybB/jtfeGTXV9J5f5pgA1Tzm2UpbPgPPERDfj/Xf6cwbY79WyEIerLoz0S2frqsWI7K4XqBFt2P6ziG1BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAABgAAAF9yZWxzL1BLAwQKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAF9yZWxzLy5yZWxzrZLBTsMwDEDvfEXk+5puSAihpbsgpN0mND7AJG4btY2jxIPu74mQQAyNaQeOceznZ8vrzTyN6o1S9hwMLKsaFAXLzofOwMv+aXEPKgsGhyMHMnCkDJvmZv1MI0qpyb2PWRVIyAZ6kfigdbY9TZgrjhTKT8tpQinP1OmIdsCO9Kqu73T6yYDmhKm2zkDauiWo/THSNWxuW2/pke1hoiBnWvzKKGRMHYmBedTvnIZX5qEqUNDnXVbXu/w9p55I0KGgtpxoEVOpTuLLWr91HNtdCefPjEtCt/+5HJqFgiN3WQlj/DLSJzfQfABQSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAMAAAB4bC9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC9fcmVscy9QSwMECgAAAAgA1XSdXIQksVbpAAAAuQIAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc62SwWrDMBBE7/0KsfdadlpKKZFzKYFcW/cDhLS2TGxJaDdt/fdVG0gcCKEHn8Ss2JnHSOvN9ziIT0zUB6+gKkoQ6E2wve8UfDTb+2cQxNpbPQSPCiYk2NR36zccNOcdcn0kkU08KXDM8UVKMg5HTUWI6PNNG9KoOcvUyajNXncoV2X5JNPcA+oLT7GzCtLOViCaKeJ/vEPb9gZfgzmM6PlKhCSehswvGp06ZAVHXWQfkNfjV0vGc97Fc/qfPA6rWwwPi1bgdEL7zik/8LyJ+fgWzOOSMF8h7ckh8hnkNPpFzcepGXnx4+ofUEsDBAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAeGwvd29ya3NoZWV0cy9QSwMECgAAAAgA1XSdXIv0uH/8AQAAfwQAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWyVlN9v2yAQx9/3VyDeG/wjSZfIdtUlqjZpk6at054JxjYq+BCQpNlfvwtuIjfNQ/vmuy/35XNwuLh7NprspPMK+pKmk4QS2QuoVd+W9M/jw81nSnzgfc019LKkB+npXfWp2IN78p2UgaBB70vahWCXjHnRScP9BKzsUWnAGR4wdC3z1klexyKjWZYkc2a46ungsHTv8YCmUUKuQWyN7MNg4qTmAfF9p6w/uRnxHjvD3dPW3ggwFi02SqtwiKaUGLH81vbg+EZj28/plIuTdwze2BslHHhowgTtXkDf9rxgC4ZOVVEr7OB46sTJpqT36XKVU1YVce1DZPzpSC0bvtXhF+y/StV2Aa9oRglsg1a9/C53UqNU0uR1bgU65iLosj6spRd4XCWdzc5brHngVeFgT/DgU7xky4/XmC7zK3XJJJshsziuvcfFmPIY76qkYLuqYOJF+zLW0tfaaqxlZ40hwpkj+whHNvLLLziygeACbzUumV5HyD+CkI/8ZhcI+dDoJcK4ZH6BwEY3Y3krf3DXqt4TLZu48y0lbpiC+B3Axi+ciA2EAOYUdThz0h0j3K0BCKeADb6/ZdhaAk5hR/HplNSCC46rgMWY/wco6LVVJZ1mi+lifpst0Bf/E0GJK4LHJL6SNMGha1R4hL+qDl2cqxieh/dIwM7/juo/UEsDBAoAAAAIANV0nVz4gWxUtwAAADIBAAAUAAAAeGwvc2hhcmVkU3RyaW5ncy54bWxlj0GOwjAMRfdzish7SGHBjEZJECBxgpkDhNZDIyV2qV0Et59WCCHR5Xv+tvzd9layuWIvicnDalmBQaq5SXT28PtzXHyBEY3UxMyEHu4osA0fTkTNuErioVXtvq2VusUSZckd0jj5475EHbE/W+l6jI20iFqyXVfVxpaYCEzNA6mHTzADpcuAhycHJyk4DRQLOqvB2YkfLpYp9W6JdZbc5VTPJOfGKN5mB/Z8elfT1/eXtGPp8A9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC90aGVtZS9QSwMECgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAB4bC90aGVtZS90aGVtZTEueG1s7VlNb9s2GL7vVxC6t/KXUieoU8SO3W5t2iBxO/RIS7TEhhIFkk7i29AeBwwY1g27DNhth2FbgRbYpfs12TpsHdC/sFfWhymbapwm3VAgOTgi9TzvF9/3JWlfv3EcMnRIhKQ86lj1qzULkcjlHo38jnV/OLjStpBUOPIw4xHpWFMirRubH13HGyogIUFAj+QG7liBUvGGbUsXprG8ymMSwbsxFyFWMBS+7Ql8BGJDZjdqtTU7xDSyUIRDkHpvPKYuQcNEpLWJcul9Bh+RkrMZl4l9d6ZT56Ro76A++y+nsscEOsSsY4Eujx8NybGyEMNSwYuOVZv9WTag7TmNqSq6Rh3M/nJqTvEOGilV+KOCWx+01q9tz7U0Mi0GaL/f7/Xrc6kpBLsu+F1fhrcG7Xq3kKzD0meDhl7NqbUWKLqW5jJlvdvtOutlSlOjtJYp7dpaa6tRprQ0imPwpbvV662VKY5GWVumDK6tr7UWKCksYDQ6WCYkqz1ftDlozNktM6MNjHaRIRrO1lIwkxGpyowM8SMuBoBIlx4rGiE1jckYu4Ds4XAkKJ5pwRsEa6+yOVcuzyUKkXQFjVXH+iTGUD5zzJuXP715+Ry9efns5PGLk8e/njx5cvL4FxPzFo58nfn6hy//+e4z9Pfz718//bqCIHXCHz9//vtvX1UglY589c2zP188e/XtF3/9+NSE3xJ4pOOHNCQS3SVHaI+H4J9JBRmJM1KGAaYlCg4AakL2VVBC3p1iZgR2STmGDwS0CyPy5uRRyd79QEwUNSFvB2EJucM563Jh9ul2ok73aRL5FfrFRAfuYXxoVN9bWOX+JIbcpkahvYCUTN1lsPDYJxFRKHnHDwgx8R5SWorvDnUFl3ys0EOKupiaAzOkI2Vm3aIhLNDUaCOseilCOw9QlzOjgm1yWIZChWBmFEpYKZo38UTh0Gw1DpkOvYNVYDR0fyrcUuClgkX3CeOo7xEpjaR7Yloy+TaGNmXOgB02DctQoeiBEXoHc65Dt/lBL8BhbLabRoEO/lgeQMZitMuV2Q5erplkDAuCo+qVf0CJOmOx36d+YE6W5M1EGGuE8HKNTtkYkyjfBMq9PKTRWzs7o9DaLzv7Qmffgu3OWFGL/bwS+IF28W08iXYJVMplE79s4pdN/G0V/j5at9asbf3InkoKqw/wY8rYvpoyckemnV6Cm94AZtPRjFfcGuIAHnOlZaQv8GyABFefUhXsBzgGXfVUjS9z+b5EMZdwZbGqFaRXYwr+zyad4jILeKx2uJfON0u33EJSOvRlSV0zEbK6yua186usp9iVddadCp3OaTptPcBQWwgnX2vU1xqpBZBFmBEvWYxMSL5Y73vl6jV96QLsEdO85mu9+f7i65zRlouLe80Qd9tQeyxaGKKjjrXuNBwLuTjuWGM4hsFjGINMmTQozPyoY7kq83WF2l30fr0i6eo1p9r5sp5YSLWNZZASZ++KL3oizZGG00qCclGeGLvQqrY02/X/3RZ7acHJeExcVTWljfO3fKKI2A+8IzRiE7GHwYNWmnoelbBtNPKBgPRvZVlZLvO8gBa/TsorC7M4wFlBtPWUSAnpoLAjHepG2lU+vLNPzQv1ybn0Kd/5XTgTN73ZswsHBYFRksIdiwsVcGhdcUDdgYCzRaoR7ENQOolpiCVfqyc2k0Ot3aVSsu7oB2qP+khQaJEqEITsqszj0+TVG6VdNxeVt6a51TLOHkbkkLBhUuhrSTAsFOTtJ49KilxaSNtYhCN/8AEck1rvvI/N1bXOtqW29N1D21TWz2/Jaru7prRR4X7DectOtryNx3D1QckH7ABUuEw7Jw/5HmQGKo4SCHL1Sjsr1mJyBLa3dT8TYf/tsatdlQkXfnrV4t+siv+pSs8Tf8cQfufU6NuGmra1i1I6XP5xjo8egQXbcAmbsGxKxjDMnnZF6v6Ie9P8mcm0l2SBKTYIFu2RMaLecbHkC1HOfvWaHxn2Mj1JKApucxVuxtA2poLfWIVfcDbzi2nBn908jTKYpj9lZBkwb7Xz2LHo3FFcyZOKKJrzfPUorrSC7xRFdXxqFPPY2cb8JMdK4F7+ix6kuq0l9+a/UEsDBAoAAAAIANV0nVwFO4BedgIAAAMGAAANAAAAeGwvc3R5bGVzLnhtbKWUXW+bMBSG7/crLN9TAw0siYBqaYpUqZsqNZN264BJrPoDGdORTfvvOwYSEnXapvbKx6+Pn/P6M7nppEAvzDRcqxQHVz5GTBW65GqX4q+b3Jtj1FiqSiq0Yik+sAbfZB+Sxh4Ee9ozZhEQVJPivbX1kpCm2DNJmytdMwUjlTaSWuiaHWlqw2jZuElSkND3YyIpV3ggLGXxPxBJzXNbe4WWNbV8ywW3h56FkSyW9zulDd0KcNoFM1qgLohNeKzQS6+KSF4Y3ejKXgGU6KriBXvtdUEWhBYTCbBvIwUR8cNh4VlSaWUbVOhWWdh9oDuHy2elv6vcDTlxyMqSQgttkIVSzMkEdCq5OKAXKlIcOqE3wgZBctiKXvwxCEE/R9Fjwi0VfGu4E8lQoW8a4HIhTq5CPAhZAhtumVE5dNAYbw41mFFwNQZMn/eP7J2hhyCMzib0DdTdalPCVZz24yhliWCVhQmG7/autbombtBa2OgsKTndaUWFQx5njAFgCybEk7uv36oLdlch1cpc2vsyxXDx3eqPIRgawwEzdBz/nDaw341FXXXJP6H7Qhf0k4rcSab4i3sbYkKgbcuF5eoPhoFZdpPXftS6x3JZBRglq2gr7OY0mOIp/sxK3srwlPXIX7Qds6b4wZ1UELsarLMPje1b1Bqe4p93q4+L9V0eenN/Nfdm1yzyFtFq7UWz29V6nS/80L/9dfZq3/Fmx4cGkGUjIMuMix3NP01ais86g/1+/8D2ufdFGPufosD38ms/8GYxnXvz+Dry8igI1/FsdRfl0Zn36I2/hE+CYDIfLS2XTHDFLu1vzlU4JOj+ZRHkeBJk+r6z31BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAGRvY1Byb3BzL1BLAwQKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAGRvY1Byb3BzL2FwcC54bWydkkFv2zAMhe/7FYbujeyuKIZAVlGkK3po0QBJuzMr07FQWTJE1kj26yc7iOusO+32SD48f6aobvaty3qMZIMvRbHIRYbehMr6XSletvcXP0RGDL4CFzyW4oAkbvQ3tY6hw8gWKUsJnkrRMHdLKck02AIt0tinSR1iC5zKuJOhrq3Bu2A+WvQsL/P8WuKe0VdYXXRToDgmLnv+39AqmIGPXreHLuVpddt1zhrg9JP6yZoYKNSc/dwbdErOhyoFbdB8RMsHnSs5L9XGgMNVCtY1OEIlPxvqAWHY2RpsJK16XvZoOMSM7O+0tUuRvQHhgFOKHqIFz+JoOxajdh1x1L9CfKcGkUnJqTnKuXeu7ZUuRkMS50Y5gSR9jri17JCe6zVE/gdxMSceGcSMcTPwFV/4Tl/6K3sV2g58WqCc1BN42OHgndSj9e/00m3DHTCeNnzeVJsGIlbpUaYXmBrqIaFGN/hXDfgdVifP18FwD6/Hm9fF9SL/nufjGZx6Sn6et/4DUEsDBAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAZG9jUHJvcHMvY29yZS54bWydUstuwjAQvPcrIt+DE0CIRiFIbcWpSJVK1ao3117AJbEte2nI39d5kIDKqbedndnxPpwuT0Ue/IB1UqsFiUcRCUBxLaTaLcjbZhXOSeCQKcFyrWBBKnBkmd2l3CRcW3ix2oBFCS7wRsol3CzIHtEklDq+h4K5kVcoT261LRh6aHfUMH5gO6DjKJrRApAJhozWhqHpHUlnKXhvaY42bwwEp5BDAQodjUcxHbQItnA3CxrmQllIrAzclJ7JXn1ysheWZTkqJ43U9x/Tj/XzazNqKFW9Kg4kSwVPuAWG2mZv6qB0qVJ6kat5lJhD1qS70Efu+PUNHNt0D3wswHErDfo7teRVwp/jAFWprXCevUL1pRjCTtuqpQbkQc4crv25txLEQzX0+pdKu922M4AI/E6SdoNn5n3y+LRZkWwcjWdhNA3H95t4mkzmyXTyWfd8VT8YFt0j/3Y8G3TzXf3L7BdQSwMECgAAAAgA1XSdXFhsRaFZAQAAcQIAAA8AAAB4bC93b3JrYm9vay54bWyNkktvwjAMx+/7FFHukAYYbBUt0rRN4jIh7XEPqUsj8lKS8vj2cwudNHHhEsdO/PPfTpark9HkACEqZwvKxxklYKWrlN0V9PvrffRESUzCVkI7CwU9Q6Sr8mF5dGG/dW5PMN/GgjYp+ZyxKBswIo6dB4sntQtGJHTDjkUfQFSxAUhGs0mWzZkRytILIQ/3MFxdKwmvTrYGbLpAAmiRUH1slI8Dzch7cEaEfetH0hmPiK3SKp17KCVG5uuddUFsNXZ94o8DGbc3aKNkcNHVaYyoq8ibfnnGOL+0XC5rpeHnMnUivP8QpquiKdEiprdKJagKijW1O8K/QGj9S6s0Os/TbEpZ+fcSm0AqqEWr0xeqGuj4pvNZxjklWDJB2AR1EPKM4S63VxevlvTruurOiO0VfXYR3v+AhO5BRYXzQBW5wmthXc06ChswUmiJMjrTYxY8myz6G4PI8hdQSwECFAAKAAAACADVdJ1ckdvACVkBAADwBAAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAGAAAAAAAAAAAAEAAAAIoBAABfcmVscy9QSwECFAAKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAAAAAAAAAAAAAACuAQAAX3JlbHMvLnJlbHNQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAAAwAAAAAAAAAAABAAAADAAgAAeGwvUEsBAhQACgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAAAAAAAAAAQAAAA4QIAAHhsL19yZWxzL1BLAQIUAAoAAAAIANV0nVyEJLFW6QAAALkCAAAaAAAAAAAAAAAAAAAAAAgDAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc1BLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAAAAAAAAAEAAAACkEAAB4bC93b3Jrc2hlZXRzL1BLAQIUAAoAAAAIANV0nVyL9Lh//AEAAH8EAAAYAAAAAAAAAAAAAAAAAFUEAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECFAAKAAAACADVdJ1c+IFsVLcAAAAyAQAAFAAAAAAAAAAAAAAAAACHBgAAeGwvc2hhcmVkU3RyaW5ncy54bWxQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAAAAAAAAABAAAABwBwAAeGwvdGhlbWUvUEsBAhQACgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAAAAAAAAAAAAAAAlwcAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECFAAKAAAACADVdJ1cBTuAXnYCAAADBgAADQAAAAAAAAAAAAAAAADpDQAAeGwvc3R5bGVzLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAIoQAABkb2NQcm9wcy9QSwECFAAKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAAAAAAAAAAAAAACxEAAAZG9jUHJvcHMvYXBwLnhtbFBLAQIUAAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAAAAAAAAAAAAAAGASAABkb2NQcm9wcy9jb3JlLnhtbFBLAQIUAAoAAAAIANV0nVxYbEWhWQEAAHECAAAPAAAAAAAAAAAAAAAAAO4TAAB4bC93b3JrYm9vay54bWxQSwUGAAAAABAAEADGAwAAdBUAAAAA"
                  },
                  "imageFileContent": {
                    "type": "string",
                    "default": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lquV9wAAAABJRU5ErkJggg=="
                  },
                  "position": {
                    "type": "string",
                    "enum": [
                      "FooterCentral",
                      "FooterLeft",
                      "FooterRight",
                      "HeaderCentral",
                      "HeaderLeft",
                      "HeaderRight"
                    ],
                    "default": "HeaderLeft"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "FileContent": {
                            "type": "string"
                          },
                          "Filename": {
                            "type": "string"
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianExcel/latest/actions/excel-add-text-headers-and-footers": {
      "put": {
        "operationId": "encodianExcel.excel-add-text-headers-and-footers",
        "summary": "Excel - Add Text Header or Footer",
        "description": "Adds a text header or footer to an Excel file in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/excel-add-text-headers-and-footers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "default": "UEsDBAoAAAAIANV0nVyR28AJWQEAAPAEAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbK2UTW7CMBCF9z1F5C1KDF1UVUXCorTLFqn0ANN4Qiwc2/KYv9t3EiiqKiCqYBMrmTfve57EGU+2jUnWGEg7m4tRNhQJ2tIpbRe5+Jy/po8ioQhWgXEWc7FDEpPibjzfeaSEmy3loo7RP0lJZY0NUOY8Wq5ULjQQ+TYspIdyCQuU98PhgyydjWhjGlsPUYynWMHKxORly4/3QQIaEsnzXtiycgHeG11C5LpcW/WHkh4IGXd2Gqq1pwELhDxJaCvnAYe+d55M0AqTGYT4Bg2r5NbIjQvLL+eW2WWTEyldVekSlStXDbdk5AOCohoxNibr1qwBbQf9/E5MsltGNw5y9O/JEfl94/56fYTOpgdIcWeQbj32zrSPXENA9REDH4ybB/jtfeGTXV9J5f5pgA1Tzm2UpbPgPPERDfj/Xf6cwbY79WyEIerLoz0S2frqsWI7K4XqBFt2P6ziG1BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAABgAAAF9yZWxzL1BLAwQKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAF9yZWxzLy5yZWxzrZLBTsMwDEDvfEXk+5puSAihpbsgpN0mND7AJG4btY2jxIPu74mQQAyNaQeOceznZ8vrzTyN6o1S9hwMLKsaFAXLzofOwMv+aXEPKgsGhyMHMnCkDJvmZv1MI0qpyb2PWRVIyAZ6kfigdbY9TZgrjhTKT8tpQinP1OmIdsCO9Kqu73T6yYDmhKm2zkDauiWo/THSNWxuW2/pke1hoiBnWvzKKGRMHYmBedTvnIZX5qEqUNDnXVbXu/w9p55I0KGgtpxoEVOpTuLLWr91HNtdCefPjEtCt/+5HJqFgiN3WQlj/DLSJzfQfABQSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAMAAAB4bC9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC9fcmVscy9QSwMECgAAAAgA1XSdXIQksVbpAAAAuQIAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc62SwWrDMBBE7/0KsfdadlpKKZFzKYFcW/cDhLS2TGxJaDdt/fdVG0gcCKEHn8Ss2JnHSOvN9ziIT0zUB6+gKkoQ6E2wve8UfDTb+2cQxNpbPQSPCiYk2NR36zccNOcdcn0kkU08KXDM8UVKMg5HTUWI6PNNG9KoOcvUyajNXncoV2X5JNPcA+oLT7GzCtLOViCaKeJ/vEPb9gZfgzmM6PlKhCSehswvGp06ZAVHXWQfkNfjV0vGc97Fc/qfPA6rWwwPi1bgdEL7zik/8LyJ+fgWzOOSMF8h7ckh8hnkNPpFzcepGXnx4+ofUEsDBAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAeGwvd29ya3NoZWV0cy9QSwMECgAAAAgA1XSdXIv0uH/8AQAAfwQAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWyVlN9v2yAQx9/3VyDeG/wjSZfIdtUlqjZpk6at054JxjYq+BCQpNlfvwtuIjfNQ/vmuy/35XNwuLh7NprspPMK+pKmk4QS2QuoVd+W9M/jw81nSnzgfc019LKkB+npXfWp2IN78p2UgaBB70vahWCXjHnRScP9BKzsUWnAGR4wdC3z1klexyKjWZYkc2a46ungsHTv8YCmUUKuQWyN7MNg4qTmAfF9p6w/uRnxHjvD3dPW3ggwFi02SqtwiKaUGLH81vbg+EZj28/plIuTdwze2BslHHhowgTtXkDf9rxgC4ZOVVEr7OB46sTJpqT36XKVU1YVce1DZPzpSC0bvtXhF+y/StV2Aa9oRglsg1a9/C53UqNU0uR1bgU65iLosj6spRd4XCWdzc5brHngVeFgT/DgU7xky4/XmC7zK3XJJJshsziuvcfFmPIY76qkYLuqYOJF+zLW0tfaaqxlZ40hwpkj+whHNvLLLziygeACbzUumV5HyD+CkI/8ZhcI+dDoJcK4ZH6BwEY3Y3krf3DXqt4TLZu48y0lbpiC+B3Axi+ciA2EAOYUdThz0h0j3K0BCKeADb6/ZdhaAk5hR/HplNSCC46rgMWY/wco6LVVJZ1mi+lifpst0Bf/E0GJK4LHJL6SNMGha1R4hL+qDl2cqxieh/dIwM7/juo/UEsDBAoAAAAIANV0nVz4gWxUtwAAADIBAAAUAAAAeGwvc2hhcmVkU3RyaW5ncy54bWxlj0GOwjAMRfdzish7SGHBjEZJECBxgpkDhNZDIyV2qV0Et59WCCHR5Xv+tvzd9layuWIvicnDalmBQaq5SXT28PtzXHyBEY3UxMyEHu4osA0fTkTNuErioVXtvq2VusUSZckd0jj5475EHbE/W+l6jI20iFqyXVfVxpaYCEzNA6mHTzADpcuAhycHJyk4DRQLOqvB2YkfLpYp9W6JdZbc5VTPJOfGKN5mB/Z8elfT1/eXtGPp8A9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC90aGVtZS9QSwMECgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAB4bC90aGVtZS90aGVtZTEueG1s7VlNb9s2GL7vVxC6t/KXUieoU8SO3W5t2iBxO/RIS7TEhhIFkk7i29AeBwwY1g27DNhth2FbgRbYpfs12TpsHdC/sFfWhymbapwm3VAgOTgi9TzvF9/3JWlfv3EcMnRIhKQ86lj1qzULkcjlHo38jnV/OLjStpBUOPIw4xHpWFMirRubH13HGyogIUFAj+QG7liBUvGGbUsXprG8ymMSwbsxFyFWMBS+7Ql8BGJDZjdqtTU7xDSyUIRDkHpvPKYuQcNEpLWJcul9Bh+RkrMZl4l9d6ZT56Ro76A++y+nsscEOsSsY4Eujx8NybGyEMNSwYuOVZv9WTag7TmNqSq6Rh3M/nJqTvEOGilV+KOCWx+01q9tz7U0Mi0GaL/f7/Xrc6kpBLsu+F1fhrcG7Xq3kKzD0meDhl7NqbUWKLqW5jJlvdvtOutlSlOjtJYp7dpaa6tRprQ0imPwpbvV662VKY5GWVumDK6tr7UWKCksYDQ6WCYkqz1ftDlozNktM6MNjHaRIRrO1lIwkxGpyowM8SMuBoBIlx4rGiE1jckYu4Ds4XAkKJ5pwRsEa6+yOVcuzyUKkXQFjVXH+iTGUD5zzJuXP715+Ry9efns5PGLk8e/njx5cvL4FxPzFo58nfn6hy//+e4z9Pfz718//bqCIHXCHz9//vtvX1UglY589c2zP188e/XtF3/9+NSE3xJ4pOOHNCQS3SVHaI+H4J9JBRmJM1KGAaYlCg4AakL2VVBC3p1iZgR2STmGDwS0CyPy5uRRyd79QEwUNSFvB2EJucM563Jh9ul2ok73aRL5FfrFRAfuYXxoVN9bWOX+JIbcpkahvYCUTN1lsPDYJxFRKHnHDwgx8R5SWorvDnUFl3ys0EOKupiaAzOkI2Vm3aIhLNDUaCOseilCOw9QlzOjgm1yWIZChWBmFEpYKZo38UTh0Gw1DpkOvYNVYDR0fyrcUuClgkX3CeOo7xEpjaR7Yloy+TaGNmXOgB02DctQoeiBEXoHc65Dt/lBL8BhbLabRoEO/lgeQMZitMuV2Q5erplkDAuCo+qVf0CJOmOx36d+YE6W5M1EGGuE8HKNTtkYkyjfBMq9PKTRWzs7o9DaLzv7Qmffgu3OWFGL/bwS+IF28W08iXYJVMplE79s4pdN/G0V/j5at9asbf3InkoKqw/wY8rYvpoyckemnV6Cm94AZtPRjFfcGuIAHnOlZaQv8GyABFefUhXsBzgGXfVUjS9z+b5EMZdwZbGqFaRXYwr+zyad4jILeKx2uJfON0u33EJSOvRlSV0zEbK6yua186usp9iVddadCp3OaTptPcBQWwgnX2vU1xqpBZBFmBEvWYxMSL5Y73vl6jV96QLsEdO85mu9+f7i65zRlouLe80Qd9tQeyxaGKKjjrXuNBwLuTjuWGM4hsFjGINMmTQozPyoY7kq83WF2l30fr0i6eo1p9r5sp5YSLWNZZASZ++KL3oizZGG00qCclGeGLvQqrY02/X/3RZ7acHJeExcVTWljfO3fKKI2A+8IzRiE7GHwYNWmnoelbBtNPKBgPRvZVlZLvO8gBa/TsorC7M4wFlBtPWUSAnpoLAjHepG2lU+vLNPzQv1ybn0Kd/5XTgTN73ZswsHBYFRksIdiwsVcGhdcUDdgYCzRaoR7ENQOolpiCVfqyc2k0Ot3aVSsu7oB2qP+khQaJEqEITsqszj0+TVG6VdNxeVt6a51TLOHkbkkLBhUuhrSTAsFOTtJ49KilxaSNtYhCN/8AEck1rvvI/N1bXOtqW29N1D21TWz2/Jaru7prRR4X7DectOtryNx3D1QckH7ABUuEw7Jw/5HmQGKo4SCHL1Sjsr1mJyBLa3dT8TYf/tsatdlQkXfnrV4t+siv+pSs8Tf8cQfufU6NuGmra1i1I6XP5xjo8egQXbcAmbsGxKxjDMnnZF6v6Ie9P8mcm0l2SBKTYIFu2RMaLecbHkC1HOfvWaHxn2Mj1JKApucxVuxtA2poLfWIVfcDbzi2nBn908jTKYpj9lZBkwb7Xz2LHo3FFcyZOKKJrzfPUorrSC7xRFdXxqFPPY2cb8JMdK4F7+ix6kuq0l9+a/UEsDBAoAAAAIANV0nVwFO4BedgIAAAMGAAANAAAAeGwvc3R5bGVzLnhtbKWUXW+bMBSG7/crLN9TAw0siYBqaYpUqZsqNZN264BJrPoDGdORTfvvOwYSEnXapvbKx6+Pn/P6M7nppEAvzDRcqxQHVz5GTBW65GqX4q+b3Jtj1FiqSiq0Yik+sAbfZB+Sxh4Ee9ozZhEQVJPivbX1kpCm2DNJmytdMwUjlTaSWuiaHWlqw2jZuElSkND3YyIpV3ggLGXxPxBJzXNbe4WWNbV8ywW3h56FkSyW9zulDd0KcNoFM1qgLohNeKzQS6+KSF4Y3ejKXgGU6KriBXvtdUEWhBYTCbBvIwUR8cNh4VlSaWUbVOhWWdh9oDuHy2elv6vcDTlxyMqSQgttkIVSzMkEdCq5OKAXKlIcOqE3wgZBctiKXvwxCEE/R9Fjwi0VfGu4E8lQoW8a4HIhTq5CPAhZAhtumVE5dNAYbw41mFFwNQZMn/eP7J2hhyCMzib0DdTdalPCVZz24yhliWCVhQmG7/autbombtBa2OgsKTndaUWFQx5njAFgCybEk7uv36oLdlch1cpc2vsyxXDx3eqPIRgawwEzdBz/nDaw341FXXXJP6H7Qhf0k4rcSab4i3sbYkKgbcuF5eoPhoFZdpPXftS6x3JZBRglq2gr7OY0mOIp/sxK3srwlPXIX7Qds6b4wZ1UELsarLMPje1b1Bqe4p93q4+L9V0eenN/Nfdm1yzyFtFq7UWz29V6nS/80L/9dfZq3/Fmx4cGkGUjIMuMix3NP01ais86g/1+/8D2ufdFGPufosD38ms/8GYxnXvz+Dry8igI1/FsdRfl0Zn36I2/hE+CYDIfLS2XTHDFLu1vzlU4JOj+ZRHkeBJk+r6z31BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAGRvY1Byb3BzL1BLAwQKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAGRvY1Byb3BzL2FwcC54bWydkkFv2zAMhe/7FYbujeyuKIZAVlGkK3po0QBJuzMr07FQWTJE1kj26yc7iOusO+32SD48f6aobvaty3qMZIMvRbHIRYbehMr6XSletvcXP0RGDL4CFzyW4oAkbvQ3tY6hw8gWKUsJnkrRMHdLKck02AIt0tinSR1iC5zKuJOhrq3Bu2A+WvQsL/P8WuKe0VdYXXRToDgmLnv+39AqmIGPXreHLuVpddt1zhrg9JP6yZoYKNSc/dwbdErOhyoFbdB8RMsHnSs5L9XGgMNVCtY1OEIlPxvqAWHY2RpsJK16XvZoOMSM7O+0tUuRvQHhgFOKHqIFz+JoOxajdh1x1L9CfKcGkUnJqTnKuXeu7ZUuRkMS50Y5gSR9jri17JCe6zVE/gdxMSceGcSMcTPwFV/4Tl/6K3sV2g58WqCc1BN42OHgndSj9e/00m3DHTCeNnzeVJsGIlbpUaYXmBrqIaFGN/hXDfgdVifP18FwD6/Hm9fF9SL/nufjGZx6Sn6et/4DUEsDBAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAZG9jUHJvcHMvY29yZS54bWydUstuwjAQvPcrIt+DE0CIRiFIbcWpSJVK1ao3117AJbEte2nI39d5kIDKqbedndnxPpwuT0Ue/IB1UqsFiUcRCUBxLaTaLcjbZhXOSeCQKcFyrWBBKnBkmd2l3CRcW3ix2oBFCS7wRsol3CzIHtEklDq+h4K5kVcoT261LRh6aHfUMH5gO6DjKJrRApAJhozWhqHpHUlnKXhvaY42bwwEp5BDAQodjUcxHbQItnA3CxrmQllIrAzclJ7JXn1ysheWZTkqJ43U9x/Tj/XzazNqKFW9Kg4kSwVPuAWG2mZv6qB0qVJ6kat5lJhD1qS70Efu+PUNHNt0D3wswHErDfo7teRVwp/jAFWprXCevUL1pRjCTtuqpQbkQc4crv25txLEQzX0+pdKu922M4AI/E6SdoNn5n3y+LRZkWwcjWdhNA3H95t4mkzmyXTyWfd8VT8YFt0j/3Y8G3TzXf3L7BdQSwMECgAAAAgA1XSdXFhsRaFZAQAAcQIAAA8AAAB4bC93b3JrYm9vay54bWyNkktvwjAMx+/7FFHukAYYbBUt0rRN4jIh7XEPqUsj8lKS8vj2cwudNHHhEsdO/PPfTpark9HkACEqZwvKxxklYKWrlN0V9PvrffRESUzCVkI7CwU9Q6Sr8mF5dGG/dW5PMN/GgjYp+ZyxKBswIo6dB4sntQtGJHTDjkUfQFSxAUhGs0mWzZkRytILIQ/3MFxdKwmvTrYGbLpAAmiRUH1slI8Dzch7cEaEfetH0hmPiK3SKp17KCVG5uuddUFsNXZ94o8DGbc3aKNkcNHVaYyoq8ibfnnGOL+0XC5rpeHnMnUivP8QpquiKdEiprdKJagKijW1O8K/QGj9S6s0Os/TbEpZ+fcSm0AqqEWr0xeqGuj4pvNZxjklWDJB2AR1EPKM4S63VxevlvTruurOiO0VfXYR3v+AhO5BRYXzQBW5wmthXc06ChswUmiJMjrTYxY8myz6G4PI8hdQSwECFAAKAAAACADVdJ1ckdvACVkBAADwBAAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAGAAAAAAAAAAAAEAAAAIoBAABfcmVscy9QSwECFAAKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAAAAAAAAAAAAAACuAQAAX3JlbHMvLnJlbHNQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAAAwAAAAAAAAAAABAAAADAAgAAeGwvUEsBAhQACgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAAAAAAAAAAQAAAA4QIAAHhsL19yZWxzL1BLAQIUAAoAAAAIANV0nVyEJLFW6QAAALkCAAAaAAAAAAAAAAAAAAAAAAgDAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc1BLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAAAAAAAAAEAAAACkEAAB4bC93b3Jrc2hlZXRzL1BLAQIUAAoAAAAIANV0nVyL9Lh//AEAAH8EAAAYAAAAAAAAAAAAAAAAAFUEAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECFAAKAAAACADVdJ1c+IFsVLcAAAAyAQAAFAAAAAAAAAAAAAAAAACHBgAAeGwvc2hhcmVkU3RyaW5ncy54bWxQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAAAAAAAAABAAAABwBwAAeGwvdGhlbWUvUEsBAhQACgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAAAAAAAAAAAAAAAlwcAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECFAAKAAAACADVdJ1cBTuAXnYCAAADBgAADQAAAAAAAAAAAAAAAADpDQAAeGwvc3R5bGVzLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAIoQAABkb2NQcm9wcy9QSwECFAAKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAAAAAAAAAAAAAACxEAAAZG9jUHJvcHMvYXBwLnhtbFBLAQIUAAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAAAAAAAAAAAAAAGASAABkb2NQcm9wcy9jb3JlLnhtbFBLAQIUAAoAAAAIANV0nVxYbEWhWQEAAHECAAAPAAAAAAAAAAAAAAAAAO4TAAB4bC93b3JrYm9vay54bWxQSwUGAAAAABAAEADGAwAAdBUAAAAA"
                  },
                  "headerLeft": {
                    "type": "string",
                    "default": "Runtime header"
                  },
                  "headerCentral": {
                    "type": "string"
                  },
                  "headerRight": {
                    "type": "string"
                  },
                  "footerLeft": {
                    "type": "string"
                  },
                  "footerCentral": {
                    "type": "string"
                  },
                  "footerRight": {
                    "type": "string",
                    "default": "Runtime footer"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "FileContent": {
                            "type": "string"
                          },
                          "Filename": {
                            "type": "string"
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianExcel/latest/actions/excel-remove-headers-and-footers": {
      "delete": {
        "operationId": "encodianExcel.excel-remove-headers-and-footers",
        "summary": "Excel - Remove Headers and Footers",
        "description": "Removes headers and footers from an Excel file in Encodian - Excel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianExcel/latest/actions/excel-remove-headers-and-footers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "UEsDBAoAAAAIANV0nVyR28AJWQEAAPAEAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbK2UTW7CMBCF9z1F5C1KDF1UVUXCorTLFqn0ANN4Qiwc2/KYv9t3EiiqKiCqYBMrmTfve57EGU+2jUnWGEg7m4tRNhQJ2tIpbRe5+Jy/po8ioQhWgXEWc7FDEpPibjzfeaSEmy3loo7RP0lJZY0NUOY8Wq5ULjQQ+TYspIdyCQuU98PhgyydjWhjGlsPUYynWMHKxORly4/3QQIaEsnzXtiycgHeG11C5LpcW/WHkh4IGXd2Gqq1pwELhDxJaCvnAYe+d55M0AqTGYT4Bg2r5NbIjQvLL+eW2WWTEyldVekSlStXDbdk5AOCohoxNibr1qwBbQf9/E5MsltGNw5y9O/JEfl94/56fYTOpgdIcWeQbj32zrSPXENA9REDH4ybB/jtfeGTXV9J5f5pgA1Tzm2UpbPgPPERDfj/Xf6cwbY79WyEIerLoz0S2frqsWI7K4XqBFt2P6ziG1BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAABgAAAF9yZWxzL1BLAwQKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAF9yZWxzLy5yZWxzrZLBTsMwDEDvfEXk+5puSAihpbsgpN0mND7AJG4btY2jxIPu74mQQAyNaQeOceznZ8vrzTyN6o1S9hwMLKsaFAXLzofOwMv+aXEPKgsGhyMHMnCkDJvmZv1MI0qpyb2PWRVIyAZ6kfigdbY9TZgrjhTKT8tpQinP1OmIdsCO9Kqu73T6yYDmhKm2zkDauiWo/THSNWxuW2/pke1hoiBnWvzKKGRMHYmBedTvnIZX5qEqUNDnXVbXu/w9p55I0KGgtpxoEVOpTuLLWr91HNtdCefPjEtCt/+5HJqFgiN3WQlj/DLSJzfQfABQSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAMAAAB4bC9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC9fcmVscy9QSwMECgAAAAgA1XSdXIQksVbpAAAAuQIAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc62SwWrDMBBE7/0KsfdadlpKKZFzKYFcW/cDhLS2TGxJaDdt/fdVG0gcCKEHn8Ss2JnHSOvN9ziIT0zUB6+gKkoQ6E2wve8UfDTb+2cQxNpbPQSPCiYk2NR36zccNOcdcn0kkU08KXDM8UVKMg5HTUWI6PNNG9KoOcvUyajNXncoV2X5JNPcA+oLT7GzCtLOViCaKeJ/vEPb9gZfgzmM6PlKhCSehswvGp06ZAVHXWQfkNfjV0vGc97Fc/qfPA6rWwwPi1bgdEL7zik/8LyJ+fgWzOOSMF8h7ckh8hnkNPpFzcepGXnx4+ofUEsDBAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAeGwvd29ya3NoZWV0cy9QSwMECgAAAAgA1XSdXIv0uH/8AQAAfwQAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWyVlN9v2yAQx9/3VyDeG/wjSZfIdtUlqjZpk6at054JxjYq+BCQpNlfvwtuIjfNQ/vmuy/35XNwuLh7NprspPMK+pKmk4QS2QuoVd+W9M/jw81nSnzgfc019LKkB+npXfWp2IN78p2UgaBB70vahWCXjHnRScP9BKzsUWnAGR4wdC3z1klexyKjWZYkc2a46ungsHTv8YCmUUKuQWyN7MNg4qTmAfF9p6w/uRnxHjvD3dPW3ggwFi02SqtwiKaUGLH81vbg+EZj28/plIuTdwze2BslHHhowgTtXkDf9rxgC4ZOVVEr7OB46sTJpqT36XKVU1YVce1DZPzpSC0bvtXhF+y/StV2Aa9oRglsg1a9/C53UqNU0uR1bgU65iLosj6spRd4XCWdzc5brHngVeFgT/DgU7xky4/XmC7zK3XJJJshsziuvcfFmPIY76qkYLuqYOJF+zLW0tfaaqxlZ40hwpkj+whHNvLLLziygeACbzUumV5HyD+CkI/8ZhcI+dDoJcK4ZH6BwEY3Y3krf3DXqt4TLZu48y0lbpiC+B3Axi+ciA2EAOYUdThz0h0j3K0BCKeADb6/ZdhaAk5hR/HplNSCC46rgMWY/wco6LVVJZ1mi+lifpst0Bf/E0GJK4LHJL6SNMGha1R4hL+qDl2cqxieh/dIwM7/juo/UEsDBAoAAAAIANV0nVz4gWxUtwAAADIBAAAUAAAAeGwvc2hhcmVkU3RyaW5ncy54bWxlj0GOwjAMRfdzish7SGHBjEZJECBxgpkDhNZDIyV2qV0Et59WCCHR5Xv+tvzd9layuWIvicnDalmBQaq5SXT28PtzXHyBEY3UxMyEHu4osA0fTkTNuErioVXtvq2VusUSZckd0jj5475EHbE/W+l6jI20iFqyXVfVxpaYCEzNA6mHTzADpcuAhycHJyk4DRQLOqvB2YkfLpYp9W6JdZbc5VTPJOfGKN5mB/Z8elfT1/eXtGPp8A9QSwMECgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAB4bC90aGVtZS9QSwMECgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAB4bC90aGVtZS90aGVtZTEueG1s7VlNb9s2GL7vVxC6t/KXUieoU8SO3W5t2iBxO/RIS7TEhhIFkk7i29AeBwwY1g27DNhth2FbgRbYpfs12TpsHdC/sFfWhymbapwm3VAgOTgi9TzvF9/3JWlfv3EcMnRIhKQ86lj1qzULkcjlHo38jnV/OLjStpBUOPIw4xHpWFMirRubH13HGyogIUFAj+QG7liBUvGGbUsXprG8ymMSwbsxFyFWMBS+7Ql8BGJDZjdqtTU7xDSyUIRDkHpvPKYuQcNEpLWJcul9Bh+RkrMZl4l9d6ZT56Ro76A++y+nsscEOsSsY4Eujx8NybGyEMNSwYuOVZv9WTag7TmNqSq6Rh3M/nJqTvEOGilV+KOCWx+01q9tz7U0Mi0GaL/f7/Xrc6kpBLsu+F1fhrcG7Xq3kKzD0meDhl7NqbUWKLqW5jJlvdvtOutlSlOjtJYp7dpaa6tRprQ0imPwpbvV662VKY5GWVumDK6tr7UWKCksYDQ6WCYkqz1ftDlozNktM6MNjHaRIRrO1lIwkxGpyowM8SMuBoBIlx4rGiE1jckYu4Ds4XAkKJ5pwRsEa6+yOVcuzyUKkXQFjVXH+iTGUD5zzJuXP715+Ry9efns5PGLk8e/njx5cvL4FxPzFo58nfn6hy//+e4z9Pfz718//bqCIHXCHz9//vtvX1UglY589c2zP188e/XtF3/9+NSE3xJ4pOOHNCQS3SVHaI+H4J9JBRmJM1KGAaYlCg4AakL2VVBC3p1iZgR2STmGDwS0CyPy5uRRyd79QEwUNSFvB2EJucM563Jh9ul2ok73aRL5FfrFRAfuYXxoVN9bWOX+JIbcpkahvYCUTN1lsPDYJxFRKHnHDwgx8R5SWorvDnUFl3ys0EOKupiaAzOkI2Vm3aIhLNDUaCOseilCOw9QlzOjgm1yWIZChWBmFEpYKZo38UTh0Gw1DpkOvYNVYDR0fyrcUuClgkX3CeOo7xEpjaR7Yloy+TaGNmXOgB02DctQoeiBEXoHc65Dt/lBL8BhbLabRoEO/lgeQMZitMuV2Q5erplkDAuCo+qVf0CJOmOx36d+YE6W5M1EGGuE8HKNTtkYkyjfBMq9PKTRWzs7o9DaLzv7Qmffgu3OWFGL/bwS+IF28W08iXYJVMplE79s4pdN/G0V/j5at9asbf3InkoKqw/wY8rYvpoyckemnV6Cm94AZtPRjFfcGuIAHnOlZaQv8GyABFefUhXsBzgGXfVUjS9z+b5EMZdwZbGqFaRXYwr+zyad4jILeKx2uJfON0u33EJSOvRlSV0zEbK6yua186usp9iVddadCp3OaTptPcBQWwgnX2vU1xqpBZBFmBEvWYxMSL5Y73vl6jV96QLsEdO85mu9+f7i65zRlouLe80Qd9tQeyxaGKKjjrXuNBwLuTjuWGM4hsFjGINMmTQozPyoY7kq83WF2l30fr0i6eo1p9r5sp5YSLWNZZASZ++KL3oizZGG00qCclGeGLvQqrY02/X/3RZ7acHJeExcVTWljfO3fKKI2A+8IzRiE7GHwYNWmnoelbBtNPKBgPRvZVlZLvO8gBa/TsorC7M4wFlBtPWUSAnpoLAjHepG2lU+vLNPzQv1ybn0Kd/5XTgTN73ZswsHBYFRksIdiwsVcGhdcUDdgYCzRaoR7ENQOolpiCVfqyc2k0Ot3aVSsu7oB2qP+khQaJEqEITsqszj0+TVG6VdNxeVt6a51TLOHkbkkLBhUuhrSTAsFOTtJ49KilxaSNtYhCN/8AEck1rvvI/N1bXOtqW29N1D21TWz2/Jaru7prRR4X7DectOtryNx3D1QckH7ABUuEw7Jw/5HmQGKo4SCHL1Sjsr1mJyBLa3dT8TYf/tsatdlQkXfnrV4t+siv+pSs8Tf8cQfufU6NuGmra1i1I6XP5xjo8egQXbcAmbsGxKxjDMnnZF6v6Ie9P8mcm0l2SBKTYIFu2RMaLecbHkC1HOfvWaHxn2Mj1JKApucxVuxtA2poLfWIVfcDbzi2nBn908jTKYpj9lZBkwb7Xz2LHo3FFcyZOKKJrzfPUorrSC7xRFdXxqFPPY2cb8JMdK4F7+ix6kuq0l9+a/UEsDBAoAAAAIANV0nVwFO4BedgIAAAMGAAANAAAAeGwvc3R5bGVzLnhtbKWUXW+bMBSG7/crLN9TAw0siYBqaYpUqZsqNZN264BJrPoDGdORTfvvOwYSEnXapvbKx6+Pn/P6M7nppEAvzDRcqxQHVz5GTBW65GqX4q+b3Jtj1FiqSiq0Yik+sAbfZB+Sxh4Ee9ozZhEQVJPivbX1kpCm2DNJmytdMwUjlTaSWuiaHWlqw2jZuElSkND3YyIpV3ggLGXxPxBJzXNbe4WWNbV8ywW3h56FkSyW9zulDd0KcNoFM1qgLohNeKzQS6+KSF4Y3ejKXgGU6KriBXvtdUEWhBYTCbBvIwUR8cNh4VlSaWUbVOhWWdh9oDuHy2elv6vcDTlxyMqSQgttkIVSzMkEdCq5OKAXKlIcOqE3wgZBctiKXvwxCEE/R9Fjwi0VfGu4E8lQoW8a4HIhTq5CPAhZAhtumVE5dNAYbw41mFFwNQZMn/eP7J2hhyCMzib0DdTdalPCVZz24yhliWCVhQmG7/autbombtBa2OgsKTndaUWFQx5njAFgCybEk7uv36oLdlch1cpc2vsyxXDx3eqPIRgawwEzdBz/nDaw341FXXXJP6H7Qhf0k4rcSab4i3sbYkKgbcuF5eoPhoFZdpPXftS6x3JZBRglq2gr7OY0mOIp/sxK3srwlPXIX7Qds6b4wZ1UELsarLMPje1b1Bqe4p93q4+L9V0eenN/Nfdm1yzyFtFq7UWz29V6nS/80L/9dfZq3/Fmx4cGkGUjIMuMix3NP01ais86g/1+/8D2ufdFGPufosD38ms/8GYxnXvz+Dry8igI1/FsdRfl0Zn36I2/hE+CYDIfLS2XTHDFLu1vzlU4JOj+ZRHkeBJk+r6z31BLAwQKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAGRvY1Byb3BzL1BLAwQKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAGRvY1Byb3BzL2FwcC54bWydkkFv2zAMhe/7FYbujeyuKIZAVlGkK3po0QBJuzMr07FQWTJE1kj26yc7iOusO+32SD48f6aobvaty3qMZIMvRbHIRYbehMr6XSletvcXP0RGDL4CFzyW4oAkbvQ3tY6hw8gWKUsJnkrRMHdLKck02AIt0tinSR1iC5zKuJOhrq3Bu2A+WvQsL/P8WuKe0VdYXXRToDgmLnv+39AqmIGPXreHLuVpddt1zhrg9JP6yZoYKNSc/dwbdErOhyoFbdB8RMsHnSs5L9XGgMNVCtY1OEIlPxvqAWHY2RpsJK16XvZoOMSM7O+0tUuRvQHhgFOKHqIFz+JoOxajdh1x1L9CfKcGkUnJqTnKuXeu7ZUuRkMS50Y5gSR9jri17JCe6zVE/gdxMSceGcSMcTPwFV/4Tl/6K3sV2g58WqCc1BN42OHgndSj9e/00m3DHTCeNnzeVJsGIlbpUaYXmBrqIaFGN/hXDfgdVifP18FwD6/Hm9fF9SL/nufjGZx6Sn6et/4DUEsDBAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAZG9jUHJvcHMvY29yZS54bWydUstuwjAQvPcrIt+DE0CIRiFIbcWpSJVK1ao3117AJbEte2nI39d5kIDKqbedndnxPpwuT0Ue/IB1UqsFiUcRCUBxLaTaLcjbZhXOSeCQKcFyrWBBKnBkmd2l3CRcW3ix2oBFCS7wRsol3CzIHtEklDq+h4K5kVcoT261LRh6aHfUMH5gO6DjKJrRApAJhozWhqHpHUlnKXhvaY42bwwEp5BDAQodjUcxHbQItnA3CxrmQllIrAzclJ7JXn1ysheWZTkqJ43U9x/Tj/XzazNqKFW9Kg4kSwVPuAWG2mZv6qB0qVJ6kat5lJhD1qS70Efu+PUNHNt0D3wswHErDfo7teRVwp/jAFWprXCevUL1pRjCTtuqpQbkQc4crv25txLEQzX0+pdKu922M4AI/E6SdoNn5n3y+LRZkWwcjWdhNA3H95t4mkzmyXTyWfd8VT8YFt0j/3Y8G3TzXf3L7BdQSwMECgAAAAgA1XSdXFhsRaFZAQAAcQIAAA8AAAB4bC93b3JrYm9vay54bWyNkktvwjAMx+/7FFHukAYYbBUt0rRN4jIh7XEPqUsj8lKS8vj2cwudNHHhEsdO/PPfTpark9HkACEqZwvKxxklYKWrlN0V9PvrffRESUzCVkI7CwU9Q6Sr8mF5dGG/dW5PMN/GgjYp+ZyxKBswIo6dB4sntQtGJHTDjkUfQFSxAUhGs0mWzZkRytILIQ/3MFxdKwmvTrYGbLpAAmiRUH1slI8Dzch7cEaEfetH0hmPiK3SKp17KCVG5uuddUFsNXZ94o8DGbc3aKNkcNHVaYyoq8ibfnnGOL+0XC5rpeHnMnUivP8QpquiKdEiprdKJagKijW1O8K/QGj9S6s0Os/TbEpZ+fcSm0AqqEWr0xeqGuj4pvNZxjklWDJB2AR1EPKM4S63VxevlvTruurOiO0VfXYR3v+AhO5BRYXzQBW5wmthXc06ChswUmiJMjrTYxY8myz6G4PI8hdQSwECFAAKAAAACADVdJ1ckdvACVkBAADwBAAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAGAAAAAAAAAAAAEAAAAIoBAABfcmVscy9QSwECFAAKAAAACADVdJ1c8p9J2ukAAABLAgAACwAAAAAAAAAAAAAAAACuAQAAX3JlbHMvLnJlbHNQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAAAwAAAAAAAAAAABAAAADAAgAAeGwvUEsBAhQACgAAAAAA1XSdXAAAAAAAAAAAAAAAAAkAAAAAAAAAAAAQAAAA4QIAAHhsL19yZWxzL1BLAQIUAAoAAAAIANV0nVyEJLFW6QAAALkCAAAaAAAAAAAAAAAAAAAAAAgDAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc1BLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAOAAAAAAAAAAAAEAAAACkEAAB4bC93b3Jrc2hlZXRzL1BLAQIUAAoAAAAIANV0nVyL9Lh//AEAAH8EAAAYAAAAAAAAAAAAAAAAAFUEAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECFAAKAAAACADVdJ1c+IFsVLcAAAAyAQAAFAAAAAAAAAAAAAAAAACHBgAAeGwvc2hhcmVkU3RyaW5ncy54bWxQSwECFAAKAAAAAADVdJ1cAAAAAAAAAAAAAAAACQAAAAAAAAAAABAAAABwBwAAeGwvdGhlbWUvUEsBAhQACgAAAAgA1XSdXHabMN8hBgAAGR8AABMAAAAAAAAAAAAAAAAAlwcAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECFAAKAAAACADVdJ1cBTuAXnYCAAADBgAADQAAAAAAAAAAAAAAAADpDQAAeGwvc3R5bGVzLnhtbFBLAQIUAAoAAAAAANV0nVwAAAAAAAAAAAAAAAAJAAAAAAAAAAAAEAAAAIoQAABkb2NQcm9wcy9QSwECFAAKAAAACADVdJ1cYwzbkYEBAAAjAwAAEAAAAAAAAAAAAAAAAACxEAAAZG9jUHJvcHMvYXBwLnhtbFBLAQIUAAoAAAAIANV0nVzWNlGPXwEAAOMCAAARAAAAAAAAAAAAAAAAAGASAABkb2NQcm9wcy9jb3JlLnhtbFBLAQIUAAoAAAAIANV0nVxYbEWhWQEAA
[...]
