{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Random User Universal API",
    "version": "0.0.1",
    "description": "Generate synthetic user profiles for application testing"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/randomUser/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/randomUser/latest/actions/generate-random-users": {
      "get": {
        "operationId": "randomUser.generate-random-users",
        "summary": "Generate Random Users",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/randomUser/latest/actions/generate-random-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "description": "Number of users to generate (1 to 5000).",
            "schema": {
              "type": "number",
              "description": "Number of users to generate (1 to 5000).",
              "default": 1
            }
          },
          {
            "name": "nationalities",
            "in": "query",
            "required": false,
            "description": "Optional nationalities to include.",
            "schema": {
              "type": "string",
              "description": "Optional nationalities to include. Pass multiple values separated by `,`.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "2",
                "20",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Optional generated user gender.",
            "schema": {
              "type": "string",
              "description": "Optional generated user gender.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "seed",
            "in": "query",
            "required": false,
            "description": "Optional deterministic seed for reproducible results.",
            "schema": {
              "type": "string",
              "description": "Optional deterministic seed for reproducible results.",
              "example": "e.g., test-seed"
            }
          },
          {
            "name": "password_options",
            "in": "query",
            "required": false,
            "description": "Password grammar: charsets,MIN_LENGTH-MAX_LENGTH or charsets,MAX_LENGTH.",
            "schema": {
              "type": "string",
              "description": "Password grammar: charsets,MIN_LENGTH-MAX_LENGTH or charsets,MAX_LENGTH.",
              "example": "e.g., upper,lower,8-16",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-delimited fields to include.",
            "schema": {
              "type": "string",
              "description": "Optional comma-delimited fields to include. Pass multiple values separated by `,`.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-delimited fields to exclude.",
            "schema": {
              "type": "string",
              "description": "Optional comma-delimited fields to exclude. Pass multiple values separated by `,`.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "info": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Generation metadata.",
                            "properties": {
                              "page": {
                                "type": "number"
                              },
                              "results": {
                                "type": "number"
                              },
                              "seed": {
                                "type": "string"
                              },
                              "version": {
                                "type": "string"
                              }
                            }
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "cell": {
                                  "type": "string"
                                },
                                "dob": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "age": {
                                      "type": "number"
                                    },
                                    "date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "email": {
                                  "type": "string"
                                },
                                "gender": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "location": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "city": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "latitude": {
                                          "type": "string"
                                        },
                                        "longitude": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "street": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "number": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "description": {
                                          "type": "string"
                                        },
                                        "offset": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "login": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "password": {
                                      "type": "string"
                                    },
                                    "username": {
                                      "type": "string"
                                    },
                                    "uuid": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "name": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "first": {
                                      "type": "string"
                                    },
                                    "last": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "nat": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "picture": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "large": {
                                      "type": "string"
                                    },
                                    "medium": {
                                      "type": "string"
                                    },
                                    "thumbnail": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "registered": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "age": {
                                      "type": "number"
                                    },
                                    "date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                }
                              }
                            },
                            "description": "Generated synthetic user profiles."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
