{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Fairing Universal API",
    "version": "0.0.2",
    "description": "Fetch questions and response data from your Fairing account through the Fairing API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fairing/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fairing/latest/actions/list-questions": {
      "get": {
        "operationId": "fairing.list-questions",
        "summary": "List Questions",
        "description": "Retrieves questions from Fairing.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fairing/latest/actions/list-questions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowOther": {
                            "type": "boolean",
                            "description": "Whether customers can submit a free-form Other response."
                          },
                          "customerType": {
                            "type": "string",
                            "description": "Audience type targeted by the question."
                          },
                          "frequencyType": {
                            "type": "string",
                            "description": "How often the question is shown."
                          },
                          "id": {
                            "type": "number",
                            "description": "Fairing question ID."
                          },
                          "insertedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the question was created."
                          },
                          "otherPlaceholder": {
                            "type": "string",
                            "description": "Placeholder text for the Other option."
                          },
                          "prompt": {
                            "type": "string",
                            "description": "Question prompt shown to customers."
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the question was published."
                          },
                          "randomizeResponses": {
                            "type": "boolean",
                            "description": "Whether answer options are randomized."
                          },
                          "responses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available answer options for the question."
                          },
                          "submitText": {
                            "type": "string",
                            "description": "Submit button label."
                          },
                          "type": {
                            "type": "string",
                            "description": "Question type."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the question was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fairing/latest/actions/list-responses": {
      "get": {
        "operationId": "fairing.list-responses",
        "summary": "List Responses",
        "description": "Retrieves responses from Fairing.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fairing/latest/actions/list-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionId",
            "in": "query",
            "required": false,
            "description": "Only return responses for the specified Fairing question ID.",
            "schema": {
              "type": "number",
              "description": "Only return responses for the specified Fairing question ID."
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "ISO8601 timestamp used to fetch responses newer than this value.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO8601 timestamp used to fetch responses newer than this value."
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "ISO8601 timestamp used to fetch responses older than this value.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO8601 timestamp used to fetch responses older than this value."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Response ID cursor used to fetch the page before the referenced response.",
            "schema": {
              "type": "string",
              "description": "Response ID cursor used to fetch the page before the referenced response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Response ID cursor used to fetch the page after the referenced response.",
            "schema": {
              "type": "string",
              "description": "Response ID cursor used to fetch the page after the referenced response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "couponAmount": {
                            "type": "string",
                            "description": "Coupon amount associated with the response."
                          },
                          "couponCode": {
                            "type": "string",
                            "description": "Coupon code associated with the response."
                          },
                          "couponType": {
                            "type": "string",
                            "description": "Coupon type associated with the response."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Customer identifier associated with the response."
                          },
                          "customerOrderCount": {
                            "type": "number",
                            "description": "Order count for the responding customer."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email associated with the response."
                          },
                          "id": {
                            "type": "string",
                            "description": "Fairing response ID."
                          },
                          "insertedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the response record was created."
                          },
                          "landingPagePath": {
                            "type": "string",
                            "description": "Landing page path for the response session."
                          },
                          "orderCurrencyCode": {
                            "type": "string",
                            "description": "Currency code for the order total."
                          },
                          "orderId": {
                            "type": "string",
                            "description": "Order ID associated with the response."
                          },
                          "orderNumber": {
                            "type": "string",
                            "description": "Order number associated with the response."
                          },
                          "orderPlatform": {
                            "type": "string",
                            "description": "Commerce platform associated with the order."
                          },
                          "orderSource": {
                            "type": "string",
                            "description": "Order source associated with the response."
                          },
                          "orderTotal": {
                            "type": "string",
                            "description": "Order total associated with the response."
                          },
                          "orderTotalUsd": {
                            "type": "string",
                            "description": "Order total converted to USD."
                          },
                          "other": {
                            "type": "boolean",
                            "description": "Whether the response was submitted as free-form text."
                          },
                          "otherResponse": {
                            "type": "string",
                            "description": "Free-form response text when Other was used."
                          },
                          "question": {
                            "type": "string",
                            "description": "Question text associated with the response."
                          },
                          "questionId": {
                            "type": "number",
                            "description": "ID of the associated Fairing question."
                          },
                          "questionType": {
                            "type": "string",
                            "description": "Question type associated with the response."
                          },
                          "referringQuestion": {
                            "type": "string",
                            "description": "Parent question text for clarification responses."
                          },
                          "referringQuestionId": {
                            "type": "number",
                            "description": "Parent question ID for clarification responses."
                          },
                          "referringQuestionResponse": {
                            "type": "string",
                            "description": "Parent response value for clarification responses."
                          },
                          "referringQuestionResponseId": {
                            "type": "string",
                            "description": "Parent response ID for clarification responses."
                          },
                          "referringSite": {
                            "type": "string",
                            "description": "Referring site for the response session."
                          },
                          "response": {
                            "type": "string",
                            "description": "Selected response value."
                          },
                          "responseId": {
                            "type": "string",
                            "description": "ID of the selected predefined response."
                          },
                          "responsePosition": {
                            "type": "number",
                            "description": "Position of the selected response option."
                          },
                          "responseProvidedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the response was provided by the customer."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the response record was last updated."
                          },
                          "utmCampaign": {
                            "type": "string",
                            "description": "UTM campaign associated with the response."
                          },
                          "utmContent": {
                            "type": "string",
                            "description": "UTM content associated with the response."
                          },
                          "utmMedium": {
                            "type": "string",
                            "description": "UTM medium associated with the response."
                          },
                          "utmSource": {
                            "type": "string",
                            "description": "UTM source associated with the response."
                          },
                          "utmTerm": {
                            "type": "string",
                            "description": "UTM term associated with the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
