{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nanonets OCR Universal API",
    "version": "0.0.3",
    "description": "Extract document data and automate OCR workflows with Nanonets"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nanonetsOCR/latest/actions/create-workflow": {
      "post": {
        "operationId": "nanonetsOCR.create-workflow",
        "summary": "Create Workflow",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/create-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workflowType": {
                    "type": "string",
                    "description": "Workflow type identifier from Get Available Workflow Types.",
                    "example": "invoice"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the new workflow.",
                    "example": "Process invoices for AP review"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "tableCapture": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nanonetsOCR/latest/actions/delete-document": {
      "delete": {
        "operationId": "nanonetsOCR.delete-document",
        "summary": "Delete Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/delete-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "Workflow ID that owns the document.",
            "schema": {
              "type": "string",
              "description": "Workflow ID that owns the document."
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Document ID to delete.",
            "schema": {
              "type": "string",
              "description": "Document ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Provider success message after the document is deleted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nanonetsOCR/latest/actions/delete-field-or-table-header": {
      "delete": {
        "operationId": "nanonetsOCR.delete-field-or-table-header",
        "summary": "Delete Field Or Table Header",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/delete-field-or-table-header"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "Workflow ID that owns the field or table header.",
            "schema": {
              "type": "string",
              "description": "Workflow ID that owns the field or table header."
            }
          },
          {
            "name": "fieldId",
            "in": "query",
            "required": true,
            "description": "Field or table header ID to delete.",
            "schema": {
              "type": "string",
              "description": "Field or table header ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "tableCapture": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "tableHeaders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nanonetsOCR/latest/actions/get-document-data": {
      "get": {
        "operationId": "nanonetsOCR.get-document-data",
        "summary": "Get Document Data",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/get-document-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "Workflow identifier.",
            "schema": {
              "type": "string",
              "description": "Workflow identifier.",
              "example": "Select a workflow"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Document identifier.",
            "schema": {
              "type": "string",
              "description": "Document identifier.",
              "example": "485aa6b0-a04e-423d-8f45-2f184819766b"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedReviewers": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "documentId": {
                            "type": "string"
                          },
                          "originalDocumentName": {
                            "type": "string"
                          },
                          "pages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "fields": {
                                      "type": "object",
                                      "properties": {
                                        "buyerAddress": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "buyerName": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "currency": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "invoiceAmount": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "invoiceDate": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "invoiceNumber": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "netD": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "paymentDueDate": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "paytoName": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "poNumber": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "sellerEmail": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "sellerPhone": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "subtotal": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "totalTax": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "totalTax%": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "bbox": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                }
                                              },
                                              "confidence": {
                                                "type": "number"
                                              },
                                              "fieldDataId": {
                                                "type": "string"
                                              },
                                              "isModerated": {
                                                "type": "boolean"
                                              },
                                              "value": {
                                                "type": "string"
                                              },
                                              "verificationStatus": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "tables": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "bbox": {
                                            "type": "array",
                                            "items": {
                                              "type": "number"
                                            }
                                          },
                                          "cells": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "bbox": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "number"
                                                  }
                                                },
                                                "cellId": {
                                                  "type": "string"
                                                },
                                                "col": {
                                                  "type": "number"
                                                },
                                                "header": {
                                                  "type": "string"
                                                },
                                                "isModerated": {
                                                  "type": "boolean"
                                                },
                                                "row": {
                                                  "type": "number"
                                                },
                                                "text": {
                                                  "type": "string"
                                                },
                                                "verificationStatus": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "tableId": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "pageId": {
                                  "type": "string"
                                },
                                "pageNumber": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "rawDocumentUrl": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "uploadedAt": {
                            "type": "string"
                          },
                          "verificationStage": {
                            "type": "string"
                          },
                          "verificationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nanonetsOCR/latest/actions/get-page-data": {
      "get": {
        "operationId": "nanonetsOCR.get-page-data",
        "summary": "Get Page Data",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/get-page-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "Workflow identifier.",
            "schema": {
              "type": "string",
              "description": "Workflow identifier.",
              "example": "Select a workflow"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Document identifier.",
            "schema": {
              "type": "string",
              "description": "Document identifier.",
              "example": "485aa6b0-a04e-423d-8f45-2f184819766b"
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "required": true,
            "description": "Page identifier.",
            "schema": {
              "type": "string",
              "description": "Page identifier.",
              "example": "3880be00-2240-11f1-a926-66917427366e"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "fields": {
                                "type": "object",
                                "properties": {
                                  "buyerAddress": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "buyerName": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "currency": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "invoiceAmount": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "invoiceDate": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "invoiceNumber": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "netD": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "paymentDueDate": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "paytoName": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "poNumber": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "sellerEmail": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "sellerPhone": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "subtotal": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "totalTax": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "totalTax%": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bbox": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "fieldDataId": {
                                          "type": "string"
                                        },
                                        "isModerated": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        },
                                        "verificationStatus": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tables": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bbox": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "cells": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "bbox": {
                                            "type": "array",
                                            "items": {
                                              "type": "number"
                                            }
                                          },
                                          "cellId": {
                                            "type": "string"
                                          },
                                          "col": {
                                            "type": "number"
                                          },
                                          "header": {
                                            "type": "string"
                                          },
                                          "isModerated": {
                                            "type": "boolean"
                                          },
                                          "row": {
                                            "type": "number"
                                          },
                                          "text": {
                                            "type": "string"
                                          },
                                          "verificationStatus": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "tableId": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "pageId": {
                            "type": "string"
                          },
                          "pageNumber": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nanonetsOCR/latest/actions/get-workflow": {
      "get": {
        "operationId": "nanonetsOCR.get-workflow",
        "summary": "Get Workflow",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/get-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "Workflow identifier.",
            "schema": {
              "type": "string",
              "description": "Workflow identifier.",
              "example": "Select a workflow"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "tableCapture": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nanonetsOCR/latest/actions/list-available-workflow-types": {
      "get": {
        "operationId": "nanonetsOCR.list-available-workflow-types",
        "summary": "List Available Workflow Types",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nanonetsOCR/latest/actions/list-available-workflow-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
[...]
