{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Connect Universal API",
    "version": "0.0.14",
    "description": "Zoho Connect is Zoho's workplace social network and collaboration platform for networks, groups, feeds, tasks, events, and people discovery."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoConnect/latest/actions/add-comment": {
      "post": {
        "operationId": "zohoConnect.add-comment",
        "summary": "Add Comment",
        "description": "Creates a new comment in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/add-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeId",
                  "streamId",
                  "commentContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeId": {
                    "type": "string",
                    "description": "ID of the network where the comment should be added."
                  },
                  "streamId": {
                    "type": "string",
                    "description": "The post to comment on."
                  },
                  "parentCommentId": {
                    "type": "string",
                    "description": "Reply to an existing comment by supplying its comment ID."
                  },
                  "commentContent": {
                    "type": "string",
                    "description": "Comment text. Maximum length is 10000 characters and it supports mentions plus rich formatting."
                  },
                  "fileIds": {
                    "type": "string",
                    "description": "Comma-separated file IDs from the upload Files API. Up to 10 files can be attached. Pass multiple values separated by `,`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addComment": {
                            "type": "object",
                            "properties": {
                              "comment": {
                                "type": "object",
                                "properties": {
                                  "canDelete": {
                                    "type": "boolean"
                                  },
                                  "canEdit": {
                                    "type": "boolean"
                                  },
                                  "canPinComment": {
                                    "type": "boolean"
                                  },
                                  "canTranslate": {
                                    "type": "boolean"
                                  },
                                  "commentType": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  },
                                  "formatedTime": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "isApproved": {
                                    "type": "boolean"
                                  },
                                  "streamId": {
                                    "type": "string"
                                  },
                                  "streamType": {
                                    "type": "string"
                                  },
                                  "time": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "userDetails": {
                                    "type": "object",
                                    "properties": {
                                      "bgColor": {
                                        "type": "string"
                                      },
                                      "canFollow": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "imageUrl": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      },
                                      "zuid": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/add-event-invitees": {
      "post": {
        "operationId": "zohoConnect.add-event-invitees",
        "summary": "Add Event Invitees",
        "description": "Adds invitees to an event in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/add-event-invitees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeId",
                  "streamId",
                  "invitedMembers"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeId": {
                    "type": "string"
                  },
                  "streamId": {
                    "type": "string"
                  },
                  "invitedMembers": {
                    "type": "string",
                    "description": "Pass multiple values separated by `,`."
                  },
                  "invitedGroups": {
                    "type": "string",
                    "description": "Pass multiple values separated by `,`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addEventInvitees": {
                            "type": "object",
                            "properties": {
                              "invitedUserList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "result": {
                                "type": "string"
                              },
                              "sharedUserList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/add-event-reminder": {
      "post": {
        "operationId": "zohoConnect.add-event-reminder",
        "summary": "Add Event Reminder",
        "description": "Adds a reminder to an event in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/add-event-reminder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeId",
                  "streamId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeId": {
                    "type": "string"
                  },
                  "streamId": {
                    "type": "string"
                  },
                  "intervalDay": {
                    "type": "number"
                  },
                  "intervalMinute": {
                    "type": "number"
                  },
                  "intervalHour": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addEventReminder": {
                            "type": "object",
                            "properties": {
                              "alarm": {
                                "type": "object",
                                "properties": {
                                  "alert": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "result": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/add-member-to-a-board": {
      "post": {
        "operationId": "zohoConnect.add-member-to-a-board",
        "summary": "Add Member to a Board",
        "description": "Adds members to a board in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/add-member-to-a-board"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "boardId",
                  "memberIds",
                  "scopeID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boardId": {
                    "type": "string",
                    "description": "ID of the board to add members to."
                  },
                  "memberIds": {
                    "type": "string",
                    "description": "Comma-separated user IDs to add to the board. Pass multiple values separated by `,`."
                  },
                  "scopeID": {
                    "type": "string",
                    "description": "ID of the network that contains the board."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addMembersToBoard": {
                            "type": "object",
                            "properties": {
                              "reason": {
                                "type": "string"
                              },
                              "result": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/add-user-to-a-group": {
      "post": {
        "operationId": "zohoConnect.add-user-to-a-group",
        "summary": "Add User to a Group",
        "description": "Adds users to a group in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/add-user-to-a-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeId",
                  "partitionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeId": {
                    "type": "string",
                    "description": "Network ID."
                  },
                  "partitionId": {
                    "type": "string",
                    "description": "Group ID."
                  },
                  "memberIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs separated by a comma."
                  },
                  "adminIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Comma-separated IDs of users to add as admins."
                  },
                  "userEmailIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Users' email addresses separated by a comma."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/complete-task": {
      "put": {
        "operationId": "zohoConnect.complete-task",
        "summary": "Complete Task",
        "description": "Completes a task in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/complete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeID",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeID": {
                    "type": "string",
                    "description": "ID of the network where the task exists."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "ID of the task to complete."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completeTask": {
                            "type": "object",
                            "properties": {
                              "completedBy": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "completedTime": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isCompleted": {
                                "type": "boolean"
                              },
                              "result": {
                                "type": "string"
                              },
                              "taskPercentage": {
                                "type": "number"
                              },
                              "taskStatus": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "timeTakenToComplete": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/create-board": {
      "post": {
        "operationId": "zohoConnect.create-board",
        "summary": "Create Board",
        "description": "Creates a new board in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/create-board"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "desc",
                  "name",
                  "scopeID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "desc": {
                    "type": "string",
                    "description": "Description for the board."
                  },
                  "memberIds": {
                    "type": "string",
                    "description": "Comma-separated Zoho user IDs to add to the board. Pass multiple values separated by `,`."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the board to create."
                  },
                  "scopeID": {
                    "type": "string",
                    "description": "ID of the network where the board will be created."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addBoard": {
                            "type": "object",
                            "properties": {
                              "board": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "isAdmin": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "members": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/create-event": {
      "post": {
        "operationId": "zohoConnect.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeId",
                  "title",
                  "startYear",
                  "startMonth",
                  "startDate",
                  "startHour",
                  "startMin",
                  "endYear",
                  "endMonth",
                  "endDate",
                  "endHour",
                  "endMin"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeId": {
                    "type": "string"
                  },
                  "partitionId": {
                    "type": "string",
                    "description": "Optional partition context for the event. Defaults to the user's wall when omitted."
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "string",
                    "description": "Comma-separated file IDs uploaded through Zoho's file upload API. Up to 10 files per event. Pass multiple values separated by `,`."
                  },
                  "startYear": {
                    "type": "number"
                  },
                  "startMonth": {
                    "type": "number"
                  },
                  "startDate": {
                    "type": "number"
                  },
                  "startHour": {
                    "type": "number"
                  },
                  "startMin": {
                    "type": "number"
                  },
                  "endYear": {
                    "type": "number"
                  },
                  "endMonth": {
                    "type": "number"
                  },
                  "endDate": {
                    "type": "number"
                  },
                  "endHour": {
                    "type": "number"
                  },
                  "endMin": {
                    "type": "number"
                  },
                  "allDay": {
                    "type": "boolean"
                  },
                  "intervalDay": {
                    "type": "number"
                  },
                  "intervalMinute": {
                    "type": "number"
                  },
                  "intervalHour": {
                    "type": "number"
                  },
                  "invitedMembers": {
                    "type": "string",
                    "description": "Pass multiple values separated by `,`."
                  },
                  "invitedGroups": {
                    "type": "string",
                    "description": "Pass multiple values separated by `,`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addEvent": {
                            "type": "object",
                            "properties": {
                              "stream": {
                                "type": "object",
                                "properties": {
                                  "event": {
                                    "type": "object",
                                    "properties": {
                                      "endTime": {
                                        "type": "string"
                                      },
                                      "location": {
                                        "type": "string"
                                      },
                                      "startTime": {
                                        "type": "string"
                                      },
                                      "streamId": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "link": {
                                    "type": "object",
                                    "properties": {
                                      "linkurl": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/create-group": {
      "post": {
        "operationId": "zohoConnect.create-group",
        "summary": "Create Group",
        "description": "Creates a new group in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeId": {
                    "type": "string",
                    "description": "Network ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Provide a name for the group."
                  },
                  "desc": {
                    "type": "string",
                    "description": "Add a description."
                  },
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs separated by a comma."
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Set true if you want your group to be private."
                  },
                  "isOpenMembership": {
                    "type": "boolean",
                    "description": "Set true if members should find and join this group."
                  },
                  "fileId": {
                    "type": "string",
                    "description": "Add a group logo ID."
                  },
                  "createChannel": {
                    "type": "boolean",
                    "description": "Set true to create a channel for this group."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "isPublic": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "partitionId": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/create-task": {
      "post": {
        "operationId": "zohoConnect.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "position",
                  "priority",
                  "scopeID",
                  "sectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boardId": {
                    "type": "string",
                    "description": "ID of the board to add the task to."
                  },
                  "checkList": {
                    "type": "string",
                    "description": "Checklist items for the task."
                  },
                  "dayOfMonth": {
                    "type": "number",
                    "description": "Monthly repeat day."
                  },
                  "dayOfWeek": {
                    "type": "string",
                    "description": "Weekly repeat days. Pass multiple values separated by `,`."
                  },
                  "desc": {
                    "type": "string",
                    "description": "Task description."
                  },
                  "edate": {
                    "type": "number",
                    "description": "Due date day."
                  },
                  "emonth": {
                    "type": "number",
                    "description": "Due date month."
                  },
                  "eyear": {
                    "type": "number",
                    "description": "Due date year."
                  },
                  "fileIds": {
                    "type": "string",
                    "description": "Comma-separated file IDs to attach to the task. Pass multiple values separated by `,`."
                  },
                  "howOftenRepetition": {
                    "type": "number",
                    "description": "How often the task repeats.",
                    "default": 1
                  },
                  "isSelfReminder": {
                    "type": "boolean",
                    "description": "Whether the task should include a reminder.",
                    "default": false
                  },
                  "monthOfYear": {
                    "type": "number",
                    "description": "Month of the year for yearly recurring tasks."
                  },
                  "position": {
                    "type": "number",
                    "description": "Board task position."
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority level: None, Low, Medium, or High."
                  },
                  "remDay": {
                    "type": "number",
                    "description": "Task reminder day."
                  },
                  "remHour": {
                    "type": "number",
                    "description": "Task reminder hour in 24-hour format."
                  },
                  "remMin": {
                    "type": "number",
                    "description": "Task reminder minute."
                  },
                  "remMonth": {
                    "type": "number",
                    "description": "Task reminder month."
                  },
                  "remYear": {
                    "type": "number",
                    "description": "Task reminder year."
                  },
                  "repeatEndDate": {
                    "type": "number",
                    "description": "Day of month when task recurrence should end."
                  },
                  "repeatEndMonth": {
                    "type": "number",
                    "description": "Month when task recurrence should end."
                  },
                  "repeatEndYear": {
                    "type": "number",
                    "description": "Year when task recurrence should end."
                  },
                  "scopeID": {
                    "type": "string",
                    "description": "ID of the network where the task is created."
                  },
                  "sectionId": {
                    "type": "string",
                    "description": "Board section to place the task in."
                  },
                  "streamId": {
                    "type": "string",
                    "description": "Optional stream ID to link a task to a post."
                  },
                  "tagColors": {
                    "type": "string",
                    "description": "Colors for task tags. Pass multiple values separated by `,`."
                  },
                  "tagNames": {
                    "type": "string",
                    "description": "Hashtag names associated with the task. Pass multiple values separated by `,`."
                  },
                  "title": {
                    "type": "string",
                    "description": "Task title."
                  },
                  "userIds": {
                    "type": "string",
                    "description": "Comma-separated user IDs to assign to the task. Pass multiple values separated by `,`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTask": {
                            "type": "object",
                            "properties": {
                              "stream": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "task": {
                                    "type": "object",
                                    "properties": {
                                      "canComplete": {
                                        "type": "boolean"
                                      },
                                      "canEdit": {
                                        "type": "boolean"
                                      },
                                      "desc": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "priority": {
                                        "type": "string"
                                      },
                                      "status": {
                                        "type": "number"
                                      },
                                      "taskPriority": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "taskStatus": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/get-all-groups": {
      "get": {
        "operationId": "zohoConnect.get-all-groups",
        "summary": "Get All Groups",
        "description": "Retrieves all groups from Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/get-all-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "description": "Network ID.",
            "schema": {
              "type": "string",
              "description": "Network ID."
            }
          },
          {
            "name": "isRecentSort",
            "in": "query",
            "required": false,
            "description": "Sort groups by recency.",
            "schema": {
              "type": "boolean",
              "description": "Sort groups by recency."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessType": {
                            "type": "string"
                          },
                          "adminUsersDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "canFollow": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "zuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bgColor": {
                            "type": "string"
                          },
                          "canDelete": {
                            "type": "string"
                          },
                          "canJoin": {
                            "type": "string"
                          },
                          "clientSharedInfo": {
                            "type": "object",
                            "properties": {
                              "img": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "desc": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAdmin": {
                            "type": "string"
                          },
                          "isClosed": {
                            "type": "string"
                          },
                          "isFavourite": {
                            "type": "string"
                          },
                          "isJoined": {
                            "type": "string"
                          },
                          "isPrivate": {
                            "type": "string"
                          },
                          "isUserFollow": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "partitionUrl": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subType": {
                            "type": "string"
                          },
                          "time": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "typeOrd": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userDetails": {
                            "type": "object",
                            "properties": {
                              "canFollow": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoConnect/latest/actions/get-all-network-members": {
      "get": {
        "operationId": "zohoConnect.get-all-network-members",
        "summary": "Get All Network Members",
        "description": "Retrieves all network members from Zoho Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoConnect/latest/actions/get-all-network-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "description": "Network ID.",
            "schema": {
              "type": "string",
              "description": "Network ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canFollow": {
                            "type": "string"
                          },
                          "emailId": {
[...]
