{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "aamarPay Universal API",
    "version": "0.0.7",
    "description": "Accept payments and verify transaction status with aamarPay"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/aamarPay/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/aamarPay/latest/actions/initiate-payment-form-data": {
      "post": {
        "operationId": "aamarPay.initiate-payment-form-data",
        "summary": "Initiate Payment (Form Data)",
        "description": "Creates a payment request in aamarPay using form data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aamarPay/latest/actions/initiate-payment-form-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transactionId",
                  "successUrl",
                  "failUrl",
                  "cancelUrl",
                  "amount",
                  "currency",
                  "description",
                  "customerName",
                  "customerEmail",
                  "customerAddress1",
                  "customerCity",
                  "customerCountry",
                  "customerPhone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transactionId": {
                    "type": "string",
                    "description": "Unique merchant transaction id for the checkout session.",
                    "example": "codex-form-20260407-1"
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "Redirect URL after a successful payment.",
                    "example": "https://example.com/success"
                  },
                  "failUrl": {
                    "type": "string",
                    "description": "Redirect URL after a failed payment.",
                    "example": "https://example.com/fail"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "Redirect URL after a canceled payment.",
                    "example": "https://example.com/cancel"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Payment amount as a decimal string.",
                    "example": "10.0"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Transaction currency, for example BDT.",
                    "example": "BDT",
                    "default": "BDT"
                  },
                  "description": {
                    "type": "string",
                    "description": "Merchant-facing description for the transaction.",
                    "example": "Test transaction"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer full name.",
                    "example": "Codex Test"
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address.",
                    "example": "test@example.com"
                  },
                  "customerAddress1": {
                    "type": "string",
                    "description": "Customer primary street address.",
                    "example": "House 1"
                  },
                  "customerCity": {
                    "type": "string",
                    "description": "Customer city.",
                    "example": "Dhaka"
                  },
                  "customerCountry": {
                    "type": "string",
                    "description": "Customer country.",
                    "example": "Bangladesh"
                  },
                  "customerPhone": {
                    "type": "string",
                    "description": "Customer phone number.",
                    "example": "+8801704"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "paymentUrl": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/aamarPay/latest/actions/initiate-payment-json": {
      "post": {
        "operationId": "aamarPay.initiate-payment-json",
        "summary": "Initiate Payment (JSON)",
        "description": "Creates a payment request in aamarPay using JSON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aamarPay/latest/actions/initiate-payment-json"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transactionId",
                  "successUrl",
                  "failUrl",
                  "cancelUrl",
                  "amount",
                  "currency",
                  "description",
                  "customerName",
                  "customerEmail",
                  "customerAddress1",
                  "customerCity",
                  "customerCountry",
                  "customerPhone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transactionId": {
                    "type": "string",
                    "description": "Unique merchant transaction id for the checkout session.",
                    "example": "codex-json-20260407-1"
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "Redirect URL after a successful payment.",
                    "example": "https://example.com/success"
                  },
                  "failUrl": {
                    "type": "string",
                    "description": "Redirect URL after a failed payment.",
                    "example": "https://example.com/fail"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "Redirect URL after a canceled payment.",
                    "example": "https://example.com/cancel"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Payment amount as a decimal string.",
                    "example": "10.0"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Transaction currency, for example BDT.",
                    "example": "BDT",
                    "default": "BDT"
                  },
                  "description": {
                    "type": "string",
                    "description": "Merchant-facing description for the transaction.",
                    "example": "Test transaction"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer full name.",
                    "example": "Codex Test"
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address.",
                    "example": "test@example.com"
                  },
                  "customerAddress1": {
                    "type": "string",
                    "description": "Customer primary street address.",
                    "example": "House 1"
                  },
                  "customerCity": {
                    "type": "string",
                    "description": "Customer city.",
                    "example": "Dhaka"
                  },
                  "customerCountry": {
                    "type": "string",
                    "description": "Customer country.",
                    "example": "Bangladesh"
                  },
                  "customerPhone": {
                    "type": "string",
                    "description": "Customer phone number.",
                    "example": "+8801704"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "paymentUrl": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/aamarPay/latest/actions/search-transaction": {
      "get": {
        "operationId": "aamarPay.search-transaction",
        "summary": "Search Transaction",
        "description": "Retrieves transaction details from aamarPay by merchant transaction ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aamarPay/latest/actions/search-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "Merchant transaction id or request id to search.",
            "schema": {
              "type": "string",
              "description": "Merchant transaction id or request id to search.",
              "example": "1231231773"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "amountBdt": {
                            "type": "string"
                          },
                          "amountCurrency": {
                            "type": "string"
                          },
                          "amountOriginal": {
                            "type": "string"
                          },
                          "approvalCode": {
                            "type": "string"
                          },
                          "bankTrxid": {
                            "type": "string"
                          },
                          "binCardcategory": {
                            "type": "string"
                          },
                          "binCardtype": {
                            "type": "string"
                          },
                          "binCountry": {
                            "type": "string"
                          },
                          "binIssuer": {
                            "type": "string"
                          },
                          "callType": {
                            "type": "string"
                          },
                          "cardnumber": {
                            "type": "string"
                          },
                          "checkoutStatus": {
                            "type": "string"
                          },
                          "convertionRate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencyMerchant": {
                            "type": "string"
                          },
                          "cusAdd1": {
                            "type": "string"
                          },
                          "cusAdd2": {
                            "type": "string"
                          },
                          "cusCity": {
                            "type": "string"
                          },
                          "cusCountry": {
                            "type": "string"
                          },
                          "cusEmail": {
                            "type": "string"
                          },
                          "cusFax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cusName": {
                            "type": "string"
                          },
                          "cusPhone": {
                            "type": "string"
                          },
                          "cusPostcode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cusState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateProcessed": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "desc": {
                            "type": "string"
                          },
                          "docRecived": {
                            "type": "string"
                          },
                          "emailSend": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          },
                          "errorTitle": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "string"
                          },
                          "merchantId": {
                            "type": "string"
                          },
                          "merTxnid": {
                            "type": "string"
                          },
                          "optA": {
                            "type": "string"
                          },
                          "optB": {
                            "type": "string"
                          },
                          "optC": {
                            "type": "string"
                          },
                          "optD": {
                            "type": "string"
                          },
                          "paymentProcessor": {
                            "type": "string"
                          },
                          "paymentType": {
                            "type": "string"
                          },
                          "payStatus": {
                            "type": "string"
                          },
                          "pgTxnid": {
                            "type": "string"
                          },
                          "processingCharge": {
                            "type": "string"
                          },
                          "processingRatio": {
                            "type": "string"
                          },
                          "recAmount": {
                            "type": "string"
                          },
                          "riskLevel": {
                            "type": "string"
                          },
                          "riskTitle": {
                            "type": "string"
                          },
                          "shipAdd1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipAdd2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipCity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipPostcode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusTitle": {
                            "type": "string"
                          },
                          "storeAmount": {
                            "type": "string"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "verifyStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
