{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Casting42 Universal API",
    "version": "0.0.9",
    "description": "Manage casting talent records, media, and candidates."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/casting42/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/casting42/latest/actions/authenticate": {
      "post": {
        "operationId": "casting42.authenticate",
        "summary": "Authenticate",
        "description": "Creates a Casting42 authentication token from your API key.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/authenticate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessToken": {
                            "type": "string",
                            "description": "Short-lived bearer token returned by Casting42 for normal API calls."
                          },
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the Casting42 API key exchange succeeded."
                          },
                          "expiresIn": {
                            "type": "number",
                            "description": "Seconds until the exchanged bearer token expires when derivable from the Expiry header."
                          },
                          "expiresOn": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Parsed expiration timestamp from the Casting42 Expiry response header when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/create-talent": {
      "post": {
        "operationId": "casting42.create-talent",
        "summary": "Create Talent",
        "description": "Creates a new talent in Casting42.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/create-talent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name of the talent."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the talent."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the talent."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "number",
                            "description": "Talent age."
                          },
                          "birthday": {
                            "type": "string",
                            "description": "Talent birthday as returned by Casting42."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Talent creation date as returned by Casting42."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values returned for the talent."
                          },
                          "email": {
                            "type": "string",
                            "description": "Talent email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Talent first name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full talent name."
                          },
                          "hiddenName": {
                            "type": "string",
                            "description": "Privacy-safe display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique talent ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Talent last name."
                          },
                          "mobilePhone": {
                            "type": "string",
                            "description": "Talent mobile phone number."
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "skills": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Skill groups keyed by Casting42 field labels."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Talent slug."
                          },
                          "stageName": {
                            "type": "string",
                            "description": "Talent stage name."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Talent tag used across Casting42 endpoints."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Talent update date as returned by Casting42."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/get-candidate": {
      "get": {
        "operationId": "casting42.get-candidate",
        "summary": "Get Candidate",
        "description": "Retrieves a candidate from Casting42 by candidate tag.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/get-candidate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidateTag",
            "in": "query",
            "required": true,
            "description": "Unique candidate tag to fetch.",
            "schema": {
              "type": "string",
              "description": "Unique candidate tag to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fee": {
                            "type": "string",
                            "description": "Candidate fee value as returned by Casting42."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique candidate ID."
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Related project ID."
                          },
                          "remark": {
                            "type": "string",
                            "description": "Candidate remark."
                          },
                          "round": {
                            "type": "string",
                            "description": "Candidate round."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Candidate tag."
                          },
                          "talentId": {
                            "type": "string",
                            "description": "Related talent ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/list-talent-audios": {
      "get": {
        "operationId": "casting42.list-talent-audios",
        "summary": "List Talent Audios",
        "description": "Retrieves audio files for a Casting42 talent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/list-talent-audios"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "talentTag",
            "in": "query",
            "required": true,
            "description": "Unique tag of the talent whose audio files you want to fetch.",
            "schema": {
              "type": "string",
              "description": "Unique tag of the talent whose audio files you want to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentLabel": {
                            "type": "string",
                            "description": "Attachment label."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Audio creation timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Audio filename."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Audio attachment tag."
                          },
                          "talentTag": {
                            "type": "string",
                            "description": "Related talent tag."
                          },
                          "url": {
                            "type": "string",
                            "description": "Audio download URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/list-talent-fields": {
      "get": {
        "operationId": "casting42.list-talent-fields",
        "summary": "List Talent Fields",
        "description": "Retrieves available talent fields from Casting42.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/list-talent-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available choices for list-backed fields when present."
                          },
                          "list": {
                            "type": "boolean",
                            "description": "Whether the field supports multiple selections."
                          },
                          "name": {
                            "type": "string",
                            "description": "Talent field label."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the field is required in Casting42."
                          },
                          "type": {
                            "type": "string",
                            "description": "Casting42 field type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/list-talent-photos": {
      "get": {
        "operationId": "casting42.list-talent-photos",
        "summary": "List Talent Photos",
        "description": "Retrieves photos for a Casting42 talent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/list-talent-photos"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "talentTag",
            "in": "query",
            "required": true,
            "description": "Unique tag of the talent whose photos you want to fetch.",
            "schema": {
              "type": "string",
              "description": "Unique tag of the talent whose photos you want to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentLabel": {
                            "type": "string",
                            "description": "Attachment label."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Photo creation timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Photo filename."
                          },
                          "isProfilePicture": {
                            "type": "boolean",
                            "description": "Whether the photo is marked as the profile picture."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Photo tag."
                          },
                          "talentTag": {
                            "type": "string",
                            "description": "Related talent tag."
                          },
                          "url": {
                            "type": "string",
                            "description": "Photo download URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/list-talents": {
      "get": {
        "operationId": "casting42.list-talents",
        "summary": "List Talents",
        "description": "Retrieves all talent records from Casting42.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/list-talents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "number",
                            "description": "Talent age."
                          },
                          "birthday": {
                            "type": "string",
                            "description": "Talent birthday as returned by Casting42."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Talent creation date as returned by Casting42."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values returned for the talent."
                          },
                          "email": {
                            "type": "string",
                            "description": "Talent email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Talent first name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full talent name."
                          },
                          "hiddenName": {
                            "type": "string",
                            "description": "Privacy-safe display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique talent ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Talent last name."
                          },
                          "mobilePhone": {
                            "type": "string",
                            "description": "Talent mobile phone number."
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "skills": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Skill groups keyed by Casting42 field labels."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Talent slug."
                          },
                          "stageName": {
                            "type": "string",
                            "description": "Talent stage name."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Talent tag used across Casting42 endpoints."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Talent update date as returned by Casting42."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/optimize-talent-photos": {
      "put": {
        "operationId": "casting42.optimize-talent-photos",
        "summary": "Optimize Talent Photos",
        "description": "Optimizes photos for a Casting42 talent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/optimize-talent-photos"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "talentTag"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "talentTag": {
                    "type": "string",
                    "description": "Unique tag of the talent whose photos should be optimized."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentLabel": {
                            "type": "string",
                            "description": "Attachment label."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Photo creation timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Photo filename."
                          },
                          "isProfilePicture": {
                            "type": "boolean",
                            "description": "Whether the photo is marked as the profile picture."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Photo tag."
                          },
                          "talentTag": {
                            "type": "string",
                            "description": "Related talent tag."
                          },
                          "url": {
                            "type": "string",
                            "description": "Photo download URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/search-talent-media": {
      "get": {
        "operationId": "casting42.search-talent-media",
        "summary": "Search Talent Media",
        "description": "Finds talent media in Casting42 by talent tag.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/search-talent-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "talentTags[]",
            "in": "query",
            "required": true,
            "description": "Array of talent tags to search media for.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of talent tags to search media for."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "attachmentLabels[]",
            "in": "query",
            "required": false,
            "description": "Optional array of attachment label IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Optional array of attachment label IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "mediaType",
            "in": "query",
            "required": false,
            "description": "Media type filter, such as audio_files.",
            "schema": {
              "type": "string",
              "description": "Media type filter, such as audio_files."
            }
          },
          {
            "name": "mediaLang",
            "in": "query",
            "required": false,
            "description": "Optional media language filter.",
            "schema": {
              "type": "string",
              "description": "Optional media language filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentLabel": {
                            "type": "string",
                            "description": "Attachment label."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Attachment creation timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Attachment filename."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Attachment tag."
                          },
                          "talentTag": {
                            "type": "string",
                            "description": "Related talent tag."
                          },
                          "url": {
                            "type": "string",
                            "description": "Attachment download URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/search-talent-photos": {
      "get": {
        "operationId": "casting42.search-talent-photos",
        "summary": "Search Talent Photos",
        "description": "Finds talent photos in Casting42 by talent tag.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/search-talent-photos"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "talentTags[]",
            "in": "query",
            "required": true,
            "description": "Array of talent tags to search photos for.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of talent tags to search photos for."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "photoSize",
            "in": "query",
            "required": false,
            "description": "Requested photo size, such as large.",
            "schema": {
              "type": "string",
              "description": "Requested photo size, such as large."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentLabel": {
                            "type": "string",
                            "description": "Attachment label."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Photo creation timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Photo filename."
                          },
                          "isProfilePicture": {
                            "type": "boolean",
                            "description": "Whether the photo is marked as the profile picture."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Photo tag."
                          },
                          "talentTag": {
                            "type": "string",
                            "description": "Related talent tag."
                          },
                          "url": {
                            "type": "string",
                            "description": "Photo download URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/search-talents": {
      "get": {
        "operationId": "casting42.search-talents",
        "summary": "Search Talents",
        "description": "Finds Casting42 talents by search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/search-talents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of talents to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of talents to return."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "number",
              "description": "Number of records to skip before returning results."
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "description": "Field to sort by, such as updatedAt.",
            "schema": {
              "type": "string",
              "description": "Field to sort by, such as updatedAt."
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction. Use asc or desc.",
            "schema": {
              "type": "string",
              "description": "Sort direction. Use asc or desc."
            }
          },
          {
            "name": "query[]",
            "in": "query",
            "required": true,
            "description": "Array of search clauses. Each entry is one OR block of field filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of search clauses. Each entry is one OR block of field filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "number",
                            "description": "Talent age."
                          },
                          "birthday": {
                            "type": "string",
                            "description": "Talent birthday as returned by Casting42."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Talent creation date as returned by Casting42."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values returned for the talent."
                          },
                          "email": {
                            "type": "string",
                            "description": "Talent email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Talent first name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full talent name."
                          },
                          "hiddenName": {
                            "type": "string",
                            "description": "Privacy-safe display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique talent ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Talent last name."
                          },
                          "mobilePhone": {
                            "type": "string",
                            "description": "Talent mobile phone number."
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "skills": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Skill groups keyed by Casting42 field labels."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Talent slug."
                          },
                          "stageName": {
                            "type": "string",
                            "description": "Talent stage name."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Talent tag used across Casting42 endpoints."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Talent update date as returned by Casting42."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/update-talent": {
      "put": {
        "operationId": "casting42.update-talent",
        "summary": "Update Talent",
        "description": "Updates an existing talent in Casting42.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/update-talent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tag"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tag": {
                    "type": "string",
                    "description": "Unique tag of the talent to update."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "New last name for the talent."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "number",
                            "description": "Talent age."
                          },
                          "birthday": {
                            "type": "string",
                            "description": "Talent birthday as returned by Casting42."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Talent creation date as returned by Casting42."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values returned for the talent."
                          },
                          "email": {
                            "type": "string",
                            "description": "Talent email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Talent first name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full talent name."
                          },
                          "hiddenName": {
                            "type": "string",
                            "description": "Privacy-safe display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique talent ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Talent last name."
                          },
                          "mobilePhone": {
                            "type": "string",
                            "description": "Talent mobile phone number."
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "skills": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Skill groups keyed by Casting42 field labels."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Talent slug."
                          },
                          "stageName": {
                            "type": "string",
                            "description": "Talent stage name."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Talent tag used across Casting42 endpoints."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Talent update date as returned by Casting42."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/casting42/latest/actions/upload-talent-photo": {
      "post": {
        "operationId": "casting42.upload-talent-photo",
        "summary": "Upload Talent Photo",
        "description": "Uploads a photo for a Casting42 talent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/casting42/latest/actions/upload-talent-photo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentLabel": {
                            "type": "string",
                            "description": "Attachment label."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Upload timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Uploaded photo filename."
                          },
                          "isProfilePicture": {
                            "type": "boolean",
                            "description": "Whether the photo is marked as the profile picture."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Photo tag."
                          },
                          "talentTag": {
                            "type": "string",
                            "description": "Related talent tag."
                          },
                          "url": {
                            "type": "string",
                            "description": "Uploaded photo URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
[...]
