{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Airlabs Universal API",
    "version": "0.1.2",
    "description": "Aviation data API for real-time flights, schedules, flight details, airports, airlines, routes, fleets, countries, time zones, tax codes, nearby airport lookup, and destination suggestions."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/airlabs/latest/actions/create-flight-alert-listener": {
      "post": {
        "operationId": "airlabs.create-flight-alert-listener",
        "summary": "Create Flight Alert Listener",
        "description": "Creates a flight alert listener in Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/create-flight-alert-listener"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "webhookUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "Server URL to receive incoming flight alert webhook updates."
                  },
                  "flightNumber": {
                    "type": "string",
                    "description": "Listen for changes by flight number."
                  },
                  "airlineIata": {
                    "type": "string",
                    "description": "Listen for changes by airline IATA code.",
                    "x-mindcloud-advanced": true
                  },
                  "airlineIcao": {
                    "type": "string",
                    "description": "Listen for changes by airline ICAO code.",
                    "x-mindcloud-advanced": true
                  },
                  "depIata": {
                    "type": "string",
                    "description": "Listen for changes by departure airport IATA code.",
                    "x-mindcloud-advanced": true
                  },
                  "depIcao": {
                    "type": "string",
                    "description": "Listen for changes by departure airport ICAO code.",
                    "x-mindcloud-advanced": true
                  },
                  "depDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Listen for changes by departure date.",
                    "x-mindcloud-advanced": true
                  },
                  "depTime": {
                    "type": "string",
                    "description": "Listen for changes by departure time.",
                    "x-mindcloud-advanced": true
                  },
                  "arrIata": {
                    "type": "string",
                    "description": "Listen for changes by arrival airport IATA code.",
                    "x-mindcloud-advanced": true
                  },
                  "arrIcao": {
                    "type": "string",
                    "description": "Listen for changes by arrival airport ICAO code.",
                    "x-mindcloud-advanced": true
                  },
                  "arrDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Listen for changes by arrival date.",
                    "x-mindcloud-advanced": true
                  },
                  "arrTime": {
                    "type": "string",
                    "description": "Listen for changes by arrival time.",
                    "x-mindcloud-advanced": true
                  },
                  "fields": {
                    "type": "string",
                    "description": "Comma-separated fields to listen for, or leave empty to listen for all changes.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "listener_id": {
                            "type": "number",
                            "description": "ID of the created listener."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/delete-flight-alert-listener": {
      "delete": {
        "operationId": "airlabs.delete-flight-alert-listener",
        "summary": "Delete Flight Alert Listener",
        "description": "Deletes a flight alert listener from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/delete-flight-alert-listener"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listenerId",
            "in": "query",
            "required": true,
            "description": "ID of the previously created listener to delete.",
            "schema": {
              "type": "number",
              "description": "ID of the previously created listener to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "unlistened": {
                            "type": "boolean",
                            "description": "Whether the listener was removed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/find-nearby-airports": {
      "get": {
        "operationId": "airlabs.find-nearby-airports",
        "summary": "Find Nearby Airports",
        "description": "Finds nearby airports in Airlabs by coordinates.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/find-nearby-airports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Geo-location latitude.",
            "schema": {
              "type": "number",
              "description": "Geo-location latitude."
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Geo-location longitude.",
            "schema": {
              "type": "number",
              "description": "Geo-location longitude."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": true,
            "description": "Distance from the location in kilometers.",
            "schema": {
              "type": "number",
              "description": "Distance from the location in kilometers."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airports": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Nearby airports."
                          },
                          "cities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Nearby cities."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/get-flight-information": {
      "get": {
        "operationId": "airlabs.get-flight-information",
        "summary": "Get Flight Information",
        "description": "Retrieves current flight information from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/get-flight-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flightIata",
            "in": "query",
            "required": true,
            "description": "Search by flight IATA code-number, such as AA6. Use this unless you have the ICAO code.",
            "schema": {
              "type": "string",
              "description": "Search by flight IATA code-number, such as AA6. Use this unless you have the ICAO code."
            }
          },
          {
            "name": "flightIcao",
            "in": "query",
            "required": false,
            "description": "Alternative search by flight ICAO code-number.",
            "schema": {
              "type": "string",
              "description": "Alternative search by flight ICAO code-number.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aircraft_icao": {
                            "type": "string",
                            "description": "Aircraft ICAO type code."
                          },
                          "airline_iata": {
                            "type": "string",
                            "description": "Airline IATA code."
                          },
                          "airline_icao": {
                            "type": "string",
                            "description": "Airline ICAO code."
                          },
                          "airline_name": {
                            "type": "string",
                            "description": "Airline name."
                          },
                          "arr_actual": {
                            "type": "string",
                            "description": "Actual arrival time."
                          },
                          "arr_actual_ts": {
                            "type": "number",
                            "description": "Actual arrival timestamp."
                          },
                          "arr_actual_utc": {
                            "type": "string",
                            "description": "Actual arrival time in UTC."
                          },
                          "arr_baggage": {
                            "type": "string",
                            "description": "Arrival baggage belt."
                          },
                          "arr_city": {
                            "type": "string",
                            "description": "Arrival city."
                          },
                          "arr_country": {
                            "type": "string",
                            "description": "Arrival country."
                          },
                          "arr_delayed": {
                            "type": "number",
                            "description": "Arrival delay in minutes."
                          },
                          "arr_estimated": {
                            "type": "string",
                            "description": "Estimated arrival time."
                          },
                          "arr_estimated_ts": {
                            "type": "number",
                            "description": "Estimated arrival timestamp."
                          },
                          "arr_estimated_utc": {
                            "type": "string",
                            "description": "Estimated arrival time in UTC."
                          },
                          "arr_gate": {
                            "type": "string",
                            "description": "Arrival gate."
                          },
                          "arr_iata": {
                            "type": "string",
                            "description": "Arrival airport IATA code."
                          },
                          "arr_icao": {
                            "type": "string",
                            "description": "Arrival airport ICAO code."
                          },
                          "arr_name": {
                            "type": "string",
                            "description": "Arrival airport name."
                          },
                          "arr_terminal": {
                            "type": "string",
                            "description": "Arrival terminal."
                          },
                          "arr_time": {
                            "type": "string",
                            "description": "Scheduled arrival time."
                          },
                          "arr_time_ts": {
                            "type": "number",
                            "description": "Scheduled arrival timestamp."
                          },
                          "arr_time_utc": {
                            "type": "string",
                            "description": "Scheduled arrival time in UTC."
                          },
                          "cs_airline_iata": {
                            "type": "string",
                            "description": "Codeshare airline IATA code."
                          },
                          "cs_flight_iata": {
                            "type": "string",
                            "description": "Codeshare flight IATA code."
                          },
                          "cs_flight_number": {
                            "type": "string",
                            "description": "Codeshare flight number."
                          },
                          "delayed": {
                            "type": "number",
                            "description": "Deprecated delay value."
                          },
                          "dep_actual": {
                            "type": "string",
                            "description": "Actual departure time."
                          },
                          "dep_actual_ts": {
                            "type": "number",
                            "description": "Actual departure timestamp."
                          },
                          "dep_actual_utc": {
                            "type": "string",
                            "description": "Actual departure time in UTC."
                          },
                          "dep_city": {
                            "type": "string",
                            "description": "Departure city."
                          },
                          "dep_country": {
                            "type": "string",
                            "description": "Departure country."
                          },
                          "dep_delayed": {
                            "type": "number",
                            "description": "Departure delay in minutes."
                          },
                          "dep_estimated": {
                            "type": "string",
                            "description": "Estimated departure time."
                          },
                          "dep_estimated_ts": {
                            "type": "number",
                            "description": "Estimated departure timestamp."
                          },
                          "dep_estimated_utc": {
                            "type": "string",
                            "description": "Estimated departure time in UTC."
                          },
                          "dep_gate": {
                            "type": "string",
                            "description": "Departure gate."
                          },
                          "dep_iata": {
                            "type": "string",
                            "description": "Departure airport IATA code."
                          },
                          "dep_icao": {
                            "type": "string",
                            "description": "Departure airport ICAO code."
                          },
                          "dep_name": {
                            "type": "string",
                            "description": "Departure airport name."
                          },
                          "dep_terminal": {
                            "type": "string",
                            "description": "Departure terminal."
                          },
                          "dep_time": {
                            "type": "string",
                            "description": "Scheduled departure time."
                          },
                          "dep_time_ts": {
                            "type": "number",
                            "description": "Scheduled departure timestamp."
                          },
                          "dep_time_utc": {
                            "type": "string",
                            "description": "Scheduled departure time in UTC."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Flight duration."
                          },
                          "flag": {
                            "type": "string",
                            "description": "Airline country code."
                          },
                          "flight_iata": {
                            "type": "string",
                            "description": "Flight IATA code."
                          },
                          "flight_icao": {
                            "type": "string",
                            "description": "Flight ICAO code."
                          },
                          "flight_number": {
                            "type": "string",
                            "description": "Flight number."
                          },
                          "percent": {
                            "type": "number",
                            "description": "Flight progress percentage."
                          },
                          "reg_number": {
                            "type": "string",
                            "description": "Aircraft registration number."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current flight status."
                          },
                          "updated": {
                            "type": "number",
                            "description": "Last update timestamp."
                          },
                          "utc": {
                            "type": "string",
                            "description": "AirLabs UTC marker."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-aircraft-fleets": {
      "get": {
        "operationId": "airlabs.list-aircraft-fleets",
        "summary": "List Aircraft Fleets",
        "description": "Retrieves airline fleet data from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-aircraft-fleets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airlineIata",
            "in": "query",
            "required": false,
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string",
              "description": "Filter by airline IATA code."
            }
          },
          {
            "name": "regNumber",
            "in": "query",
            "required": false,
            "description": "Filter by aircraft registration number.",
            "schema": {
              "type": "string",
              "description": "Filter by aircraft registration number."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "string",
                            "description": "Aircraft age."
                          },
                          "airline_iata": {
                            "type": "string",
                            "description": "Airline IATA code."
                          },
                          "airline_icao": {
                            "type": "string",
                            "description": "Airline ICAO code."
                          },
                          "alt": {
                            "type": "number",
                            "description": "Last altitude."
                          },
                          "built": {
                            "type": "string",
                            "description": "Build year."
                          },
                          "category": {
                            "type": "string",
                            "description": "Aircraft category."
                          },
                          "dir": {
                            "type": "number",
                            "description": "Last direction."
                          },
                          "engine": {
                            "type": "string",
                            "description": "Engine type."
                          },
                          "engine_count": {
                            "type": "string",
                            "description": "Engine count."
                          },
                          "flag": {
                            "type": "string",
                            "description": "Aircraft country code."
                          },
                          "hex": {
                            "type": "string",
                            "description": "ICAO24 hex address."
                          },
                          "iata": {
                            "type": "string",
                            "description": "Aircraft IATA type code."
                          },
                          "icao": {
                            "type": "string",
                            "description": "Aircraft ICAO type code."
                          },
                          "last_seen": {
                            "type": "number",
                            "description": "Last seen timestamp."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Last latitude."
                          },
                          "line": {
                            "type": "string",
                            "description": "Production line number."
                          },
                          "lng": {
                            "type": "number",
                            "description": "Last longitude."
                          },
                          "manufacturer": {
                            "type": "string",
                            "description": "Aircraft manufacturer."
                          },
                          "model": {
                            "type": "string",
                            "description": "Aircraft model."
                          },
                          "msn": {
                            "type": "string",
                            "description": "Manufacturer serial number."
                          },
                          "reg_number": {
                            "type": "string",
                            "description": "Aircraft registration number."
                          },
                          "seen": {
                            "type": "number",
                            "description": "Last seen timestamp."
                          },
                          "speed": {
                            "type": "number",
                            "description": "Last speed."
                          },
                          "squawk": {
                            "type": "string",
                            "description": "Transponder squawk code."
                          },
                          "type": {
                            "type": "string",
                            "description": "Aircraft type."
                          },
                          "v_speed": {
                            "type": "number",
                            "description": "Last vertical speed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-airlines": {
      "get": {
        "operationId": "airlabs.list-airlines",
        "summary": "List Airlines",
        "description": "Retrieves airline database records from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-airlines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string",
              "description": "Filter by country ISO 2 code."
            }
          },
          {
            "name": "iataCode",
            "in": "query",
            "required": false,
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string",
              "description": "Filter by airline IATA code."
            }
          },
          {
            "name": "icaoCode",
            "in": "query",
            "required": false,
            "description": "Filter by airline ICAO code.",
            "schema": {
              "type": "string",
              "description": "Filter by airline ICAO code."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter by airline name.",
            "schema": {
              "type": "string",
              "description": "Filter by airline name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iata_code": {
                            "type": "string",
                            "description": "Airline IATA code."
                          },
                          "icao_code": {
                            "type": "string",
                            "description": "Airline ICAO code."
                          },
                          "name": {
                            "type": "string",
                            "description": "Airline name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-airports": {
      "get": {
        "operationId": "airlabs.list-airports",
        "summary": "List Airports",
        "description": "Retrieves airport database records from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-airports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string",
              "description": "Filter by country ISO 2 code."
            }
          },
          {
            "name": "iataCode",
            "in": "query",
            "required": false,
            "description": "Filter by airport IATA code.",
            "schema": {
              "type": "string",
              "description": "Filter by airport IATA code."
            }
          },
          {
            "name": "icaoCode",
            "in": "query",
            "required": false,
            "description": "Filter by airport ICAO code.",
            "schema": {
              "type": "string",
              "description": "Filter by airport ICAO code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "Country ISO 2 code."
                          },
                          "iata_code": {
                            "type": "string",
                            "description": "Airport IATA code."
                          },
                          "icao_code": {
                            "type": "string",
                            "description": "Airport ICAO code."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Airport latitude."
                          },
                          "lng": {
                            "type": "number",
                            "description": "Airport longitude."
                          },
                          "name": {
                            "type": "string",
                            "description": "Airport name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-cities": {
      "get": {
        "operationId": "airlabs.list-cities",
        "summary": "List Cities",
        "description": "Retrieves city database records from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-cities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cityCode",
            "in": "query",
            "required": false,
            "description": "Filter by IATA city code.",
            "schema": {
              "type": "string",
              "description": "Filter by IATA city code."
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string",
              "description": "Filter by country ISO 2 code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city_code": {
                            "type": "string",
                            "description": "City code."
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Country ISO 2 code."
                          },
                          "lat": {
                            "type": "number",
                            "description": "City latitude."
                          },
                          "lng": {
                            "type": "number",
                            "description": "City longitude."
                          },
                          "name": {
                            "type": "string",
                            "description": "City name."
                          },
                          "type": {
                            "type": "string",
                            "description": "AirLabs city record type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-countries": {
      "get": {
        "operationId": "airlabs.list-countries",
        "summary": "List Countries",
        "description": "Retrieves country database records from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string",
              "description": "Filter by country ISO 2 code."
            }
          },
          {
            "name": "continent",
            "in": "query",
            "required": false,
            "description": "Filter by continent code, such as AF, AN, AS, EU, NA, OC, or SA.",
            "schema": {
              "type": "string",
              "description": "Filter by continent code, such as AF, AN, AS, EU, NA, OC, or SA."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Country ISO 2 code."
                          },
                          "code3": {
                            "type": "string",
                            "description": "Country ISO 3 code."
                          },
                          "name": {
                            "type": "string",
                            "description": "Country name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-flight-alert-listeners": {
      "get": {
        "operationId": "airlabs.list-flight-alert-listeners",
        "summary": "List Flight Alert Listeners",
        "description": "Retrieves flight alert listeners from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-flight-alert-listeners"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airline_iata": {
                            "type": "string",
                            "description": "Airline IATA filter."
                          },
                          "airline_icao": {
                            "type": "string",
                            "description": "Airline ICAO filter."
                          },
                          "arr_date": {
                            "type": "string",
                            "description": "Arrival date filter."
                          },
                          "arr_iata": {
                            "type": "string",
                            "description": "Arrival airport IATA filter."
                          },
                          "arr_icao": {
                            "type": "string",
                            "description": "Arrival airport ICAO filter."
                          },
                          "arr_time": {
                            "type": "string",
                            "description": "Arrival time filter."
                          },
                          "created": {
                            "type": "string",
                            "description": "Listener creation date."
                          },
                          "dep_date": {
                            "type": "string",
                            "description": "Departure date filter."
                          },
                          "dep_iata": {
                            "type": "string",
                            "description": "Departure airport IATA filter."
                          },
                          "dep_icao": {
                            "type": "string",
                            "description": "Departure airport ICAO filter."
                          },
                          "dep_time": {
                            "type": "string",
                            "description": "Departure time filter."
                          },
                          "fields": {
                            "type": "string",
                            "description": "Comma-separated listener fields."
                          },
                          "flight_number": {
                            "type": "string",
                            "description": "Flight number filter."
                          },
                          "listener_id": {
                            "type": "number",
                            "description": "AirLabs listener ID."
                          },
                          "webhook_url": {
                            "type": "string",
                            "description": "Webhook URL registered for the listener."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-flight-alert-webhook-history": {
      "get": {
        "operationId": "airlabs.list-flight-alert-webhook-history",
        "summary": "List Flight Alert Webhook History",
        "description": "Retrieves flight alert webhook history from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-flight-alert-webhook-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of days of webhook history to return.",
            "schema": {
              "type": "number",
              "description": "Number of days of webhook history to return."
            }
          },
          {
            "name": "listenerId",
            "in": "query",
            "required": false,
            "description": "Filter webhook history by listener ID when needed.",
            "schema": {
              "type": "number",
              "description": "Filter webhook history by listener ID when needed.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "changed": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Changed flight fields."
                          },
                          "created": {
                            "type": "string",
                            "description": "Webhook creation date."
                          },
                          "flight": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Flight payload sent to the webhook."
                          },
                          "listener_id": {
                            "type": "number",
                            "description": "AirLabs listener ID."
                          },
                          "performed": {
                            "type": "string",
                            "description": "Webhook performed date."
                          },
                          "res_headers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Webhook response headers."
                          },
                          "res_status": {
                            "type": "number",
                            "description": "Webhook response status."
                          },
                          "webhook_id": {
                            "type": "number",
                            "description": "Webhook delivery ID."
                          },
                          "webhook_url": {
                            "type": "string",
                            "description": "Webhook destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airlabs/latest/actions/list-flight-schedules": {
      "get": {
        "operationId": "airlabs.list-flight-schedules",
        "summary": "List Flight Schedules",
        "description": "Retrieves upcoming flight schedules from Airlabs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airlabs/latest/actions/list-flight-schedules"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airlineIata",
            "in": "query",
            "required": false,
            "description": "Query or filter by airline IATA code.",
            "schema": {
              "type": "string",
              "description": "Query or filter by airline IATA code."
            }
          },
          {
            "name": "arrIata",
            "in": "query",
            "required": false,
            "description": "Query by arrival airport IATA code.",
            "schema": {
              "type": "string",
              "description": "Query by arrival airport IATA code."
            }
          },
          {
            "name": "depIata",
            "in": "query",
            "required": false,
            "description": "Query by departure airport IATA code.",
            "schema": {
              "type": "string",
              "description": "Query by departure airport IATA code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated fields to return."
            }
          },
          {
            "name": "flightIata",
            "in": "query",
            "required": false,
            "description": "Query by flight IATA code-number.",
            "schema": {
              "type": "string",
              "description": "Query by flight IATA code-number."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airline_iata": {
                            "type": "string",
                            "description": "Airline IATA code."
                          },
                          "airline_icao": {
                            "type": "string",
                            "description": "Airline ICAO code."
                          },
                          "arr_actual": {
                            "type": "string",
                            "description": "Actual arrival time."
                          },
                          "arr_actual_ts": {
                            "type": "number",
                            "description": "Actual arrival timestamp."
                          },
                          "arr_actual_utc": {
                            "type": "string",
                            "description": "Actual arrival time in UTC."
                          },
                          "arr_baggage": {
                            "type": "string",
                            "description": "Arrival baggage belt."
                          },
                          "arr_delayed": {
                            "type": "number",
                            "description": "Arrival delay in minutes."
                          },
                          "arr_estimated": {
                            "type": "string",
[...]
