{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Fleetio Universal API",
    "version": "0.0.9",
    "description": "Fleetio fleet management API for vehicles, maintenance, fuel, meter tracking, vendors, and contacts."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fleetio/latest/actions/create-contact": {
      "post": {
        "operationId": "fleetio.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Fleetio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "partnerToken": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "organizationToken": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "firstName": {
                    "type": "string",
                    "description": "This Contact's first name."
                  },
                  "middleName": {
                    "type": "string",
                    "description": "This Contact's middle name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "This Contact's last name."
                  },
                  "birthDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "This Contact's birth date. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "groupHierarchy": {
                    "type": "string",
                    "description": "If this Contact belongs to a [Group](/docs/api/groups), this will be a pipe delimited string representing the Group hierarchy. Each Group in the list is the parent of the `Groups` which follow."
                  },
                  "email": {
                    "type": "string",
                    "description": "This Contact's email address."
                  },
                  "mobilePhoneNumber": {
                    "type": "string",
                    "description": "This Contact's mobile phone number."
                  },
                  "homePhoneNumber": {
                    "type": "string",
                    "description": "This Contact's home phone number."
                  },
                  "workPhoneNumber": {
                    "type": "string",
                    "description": "This Contact's work phone number."
                  },
                  "otherPhoneNumber": {
                    "type": "string",
                    "description": "Any other phone number for this Contact."
                  },
                  "streetAddress": {
                    "type": "string",
                    "description": "The street address of this Contact."
                  },
                  "streetAddressLine2": {
                    "type": "string",
                    "description": "The second line of this Contact's street address."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city of this Contact's address."
                  },
                  "region": {
                    "type": "string",
                    "description": "The region, state, province, or territory of this Contact's address."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "The postal code for this Contact's address."
                  },
                  "country": {
                    "type": "string",
                    "description": "The country where this Contact resides."
                  },
                  "employeeNumber": {
                    "type": "string",
                    "description": "This Contact's employee number. Must be unique."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "This Contact's job title."
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date at which this Contact started, or is expected to start. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "leaveDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date at which this Contact left, or is expected to leave. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "vehicleOperator": {
                    "type": "boolean",
                    "description": "Whether this Contact is a Vehicle Operator."
                  },
                  "licenseNumber": {
                    "type": "string",
                    "description": "The license number of this Contact."
                  },
                  "licenseClass": {
                    "type": "string",
                    "description": "The class of this Contact's license."
                  },
                  "licenseState": {
                    "type": "string",
                    "description": "The state, province, region, or territory of this Contact's license."
                  },
                  "hourlyLaborRate": {
                    "type": "number",
                    "description": "The hourly labor rate for this Contact."
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "*Full details on working with Custom Fields [here](/docs/overview/custom-fields)."
                  },
                  "groupId": {
                    "type": "number"
                  },
                  "licenseExpiration": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time at which this Contact's license expires. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "employee": {
                    "type": "boolean",
                    "description": "Whether this Contact is an Employee."
                  },
                  "technician": {
                    "type": "boolean",
                    "description": "Whether this Contact is a Technician."
                  },
                  "userAccess": {
                    "type": "boolean",
                    "description": "Whether this Contact has User Access. This must be set to true if using `account_membership_attributes`."
                  },
                  "accountMembershipAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "These attributes require an Organization Token or Partner Token to be present in the request. Any role or record set attributes will be ignored if `user_type` is `admin`. `admin_role_attributes` will be ignored if `user_type` is not  `admin`."
                  },
                  "defaultImageAttributes": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountMembershipId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "archivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "birthDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "defaultImageUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "documentsCount": {
                            "type": "number"
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employee": {
                            "type": "boolean"
                          },
                          "employeeNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "groupId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "homePhoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hourlyLaborRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "imagesCount": {
                            "type": "number"
                          },
                          "jobTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastApiRequest": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastMobileAppAccess": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastWebAccess": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "leaveDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "licenseClass": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "licenseExpiration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "licenseNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "licenseState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "middleName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mobilePhoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "otherPhoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "region": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "streetAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "streetAddressLine2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "technician": {
                            "type": "boolean"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vehicleOperator": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workPhoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fleetio/latest/actions/create-fuel-entry": {
      "post": {
        "operationId": "fleetio.create-fuel-entry",
        "summary": "Create Fuel Entry",
        "description": "Creates a new fuel entry in Fleetio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest/actions/create-fuel-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "meterEntryAttributes.value",
                  "vehicleId",
                  "date",
                  "usGallons",
                  "meterEntryAttributes"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "meterEntryAttributes.value": {
                    "type": "number",
                    "description": "The actual number on the vehicle's primary meter. Use the current odometer or meter reading for the associated vehicle.",
                    "example": 108043
                  },
                  "vehicleId": {
                    "type": "number"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "meterEntryAttributes.void": {
                    "type": "boolean",
                    "description": "Set this to true only if Fleetio rejects the meter value as too high or too low and you intentionally want to bypass that validation."
                  },
                  "usGallons": {
                    "type": "number",
                    "description": "The fuel volume amount in US gallons. This field will _only_ be used if the [Vehicle](/docs/api/vehicles) is [configured to use US gallons](https://help.fleetio.com/s/article/Fuel-Settings#vehicle-settings), otherwise it will be ignored."
                  },
                  "meterEntryAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Each Fuel Entry requires an associated [Meter Entry](/docs/api/meter-entries)"
                  },
                  "vendorId": {
                    "type": "number",
                    "description": "The Fleetio `id` of the [Vendor](/docs/api/vendors) associated with this Fuel Entry."
                  },
                  "fuelTypeId": {
                    "type": "number",
                    "description": "The Fleetio `id` of the [Fuel Type](/docs/api/fuel-types) associated with this Fuel Entry."
                  },
                  "ukGallons": {
                    "type": "number",
                    "description": "The fuel volume amount in UK gallons. This field will _only_ be used if the [Vehicle](/docs/api/vehicles) is [configured to use UK gallons](https://help.fleetio.com/s/article/Fuel-Settings#vehicle-settings), otherwise it will be ignored."
                  },
                  "liters": {
                    "type": "number",
                    "description": "The fuel volume amount in liters. This field will be used if the [Vehicle](/docs/api/vehicles) is [configured to use liters](https://help.fleetio.com/s/article/Fuel-Settings#vehicle-settings)."
                  },
                  "pricePerVolumeUnit": {
                    "type": "number",
                    "description": "The unit price for the Vehicle's [configured volume unit](https://help.fleetio.com/s/article/Fuel-Settings#vehicle-settings)."
                  },
                  "reference": {
                    "type": "string",
                    "description": "A reference number or identifier for this Fuel Entry. This field is often used to store a receipt number or other unique identifier."
                  },
                  "partial": {
                    "type": "boolean",
                    "description": "Indicates whether this Fuel Entry is a partial fill-up. Partial fill-ups are used to record Fuel Entries that are not full fill-ups. This field is `false` if not provided."
                  },
                  "personal": {
                    "type": "boolean",
                    "description": "Indicates whether this Fuel Entry is personal. Personal Fuel Entries are used to record fuel purchases that are not associated with a specific Vehicle or Equipment. This field is `false` if not provided."
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "*Full details on working with Custom Fields [here](/docs/overview/custom-fields)."
                  },
                  "documentsAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of one or more document objects to add to the record. Follow our [Attaching Documents and Images](/docs/overview/attaching-documents-and-images) guide to upload to our third party storage provider in order to obtain `file_url`."
                  },
                  "imagesAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of one or more image objects to add to the record. Follow our [Attaching Documents and Images](/docs/overview/attaching-documents-and-images) guide to upload to our third party storage provider in order to obtain `file_url`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentPermissions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "costPerHr": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "costPerKm": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "costPerMi": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documentsCount": {
                            "type": "number"
                          },
                          "externalId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fuelEconomyForCurrentUser": {
                            "type": "string"
                          },
                          "fuelEconomyUnitsForCurrentUser": {
                            "type": "string"
                          },
                          "fuelTypeId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fuelTypeName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "imagesCount": {
                            "type": "number"
                          },
                          "isSample": {
                            "type": "boolean"
                          },
                          "kpl": {
                            "type": "number"
                          },
                          "liters": {
                            "type": "string"
                          },
                          "litersPerHr": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lp100k": {
                            "type": "number"
                          },
                          "mapPreviews": {
                            "type": "object",
                            "properties": {
                              "large": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "largeShort": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "small": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "smallShort": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "meterEntry": {
                            "type": "object",
                            "properties": {
                              "autoVoidedAt": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "meterableId": {
                                "type": "number"
                              },
                              "meterableType": {
                                "type": "string"
                              },
                              "meterType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "vehicleId": {
                                "type": "number"
                              },
                              "void": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mpgUk": {
                            "type": "number"
                          },
                          "mpgUs": {
                            "type": "number"
                          },
                          "partial": {
                            "type": "boolean"
                          },
                          "personal": {
                            "type": "boolean"
                          },
                          "pricePerVolumeUnit": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rawTransactionData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reference": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "region": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reset": {
                            "type": "boolean"
                          },
                          "totalAmount": {
                            "type": "number"
                          },
                          "ukGallons": {
                            "type": "string"
                          },
                          "ukGallonsPerHr": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "usageInHr": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "usageInKm": {
                            "type": "string"
                          },
                          "usageInMi": {
                            "type": "string"
                          },
                          "usGallons": {
                            "type": "string"
                          },
                          "usGallonsPerHr": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vehicleId": {
                            "type": "number"
                          },
                          "vehicleName": {
                            "type": "string"
                          },
                          "vendorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorName": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fleetio/latest/actions/create-issue": {
      "post": {
        "operationId": "fleetio.create-issue",
        "summary": "Create Issue",
        "description": "Creates a new issue in Fleetio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest/actions/create-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assetId",
                  "assetType",
                  "summary",
                  "reportedAt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assetId": {
                    "type": "number",
                    "description": "The ID of the asset associated with the Issue."
                  },
                  "assetType": {
                    "type": "string",
                    "description": "The type of the asset associated with the Issue."
                  },
                  "summary": {
                    "type": "string",
                    "description": "A short summary of the Issue."
                  },
                  "reportedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time this Issue is reported. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "description": {
                    "type": "string",
                    "description": "A longer description of the Issue."
                  },
                  "reportedById": {
                    "type": "number",
                    "description": "The id of the `Contact` who reported this Issue."
                  },
                  "issuePriorityId": {
                    "type": "number",
                    "description": "The id of the associated `IssuePriority` for this Issue."
                  },
                  "number": {
                    "type": "number",
                    "description": "A unique identifier for the Issue."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date on which this Issue should be resolved by. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "dueMeterValue": {
                    "type": "number",
                    "description": "The meter value at which this Issue should be resolved by."
                  },
                  "dueSecondaryMeterValue": {
                    "type": "number",
                    "description": "The secondary meter value at which this Issue should be resolved by."
                  },
                  "faultId": {
                    "type": "number",
                    "description": "The id of the `Fault` associated with this Issue."
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "*Full details on working with Custom Fields [here](/docs/overview/custom-fields)."
                  },
                  "meterEntryAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An Issue may be associated with a [Meter Entry](/docs/api/meter-entries)."
                  },
                  "secondaryMeterEntryAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An Issue may be associated with a secondary [Meter Entry](/docs/api/meter-entries)."
                  },
                  "commentsAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "documentsAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of one or more document objects to add to the record. Follow our [Attaching Documents and Images](/docs/overview/attaching-documents-and-images) guide to upload to our third party storage provider in order to obtain `file_url`."
                  },
                  "imagesAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of one or more image objects to add to the record. Follow our [Attaching Documents and Images](/docs/overview/attaching-documents-and-images) guide to upload to our third party storage provider in order to obtain `file_url`."
                  },
                  "assignedContactIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "An array of ids of assigned `Contacts` related to the Issue."
                  },
                  "labelIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "assetType": {
                            "type": "string"
                          },
                          "attachmentPermissions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closedNote": {
                            "type": "string"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "creationType": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "documentsCount": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dueMeterValue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dueSecondaryMeterValue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fault": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "imagesCount": {
                            "type": "number"
                          },
                          "isOverdue": {
                            "type": "boolean"
                          },
                          "issuePriority": {
                            "type": "object",
                            "properties": {
                              "alias": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "position": {
                                "type": "number"
                              },
                              "slug": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "isWatched": {
                            "type": "boolean"
                          },
                          "number": {
                            "type": "number"
                          },
                          "reportedAt": {
                            "type": "string"
                          },
                          "reportedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resolvable": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resolvableType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resolvedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resolvedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resolvedNote": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "submittedInspectionForm": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summary": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "watchersCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fleetio/latest/actions/create-meter-entry": {
      "post": {
        "operationId": "fleetio.create-meter-entry",
        "summary": "Create Meter Entry",
        "description": "Creates a new meter entry in Fleetio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest/actions/create-meter-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "vehicleId",
                  "value",
                  "date"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "vehicleId": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number",
                    "description": "The value of the meter. The unit can be configured at the `Account` level, or overridden at the `Vehicle` level."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Meter Entries must follow the correct sequence, incrementing in value by date. For each entry, Fleetio validates to ensure that the value falls between any entries logged before and/or after. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "void": {
                    "type": "boolean",
                    "description": "Whether to mark this Meter Entry void or not.  See [Voiding Meter Entries](https://help.fleetio.com/s/article/Meter-Entry-Mark-As-Void-Unmark-As-Void)."
                  },
                  "meterType": {
                    "type": "string",
                    "description": "If this is a secondary meter reading, use this field.  If the vehicle's secondary meter is disabled, secondary meter values will be hidden in the web and mobile views until enabled."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "activeMeterConflictsCausedCount": {
                            "type": "number"
                          },
                          "autoVoidedAt": {
                            "type": "string"
                          },
                          "autoVoidReason": {
                            "type": "string"
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "gpsDeviceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "gpsProvider": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSample": {
                            "type": "boolean"
                          },
                          "meterableId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "meterableType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "meterType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "vehicleArchivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vehicleId": {
                            "type": "number"
                          },
                          "void": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fleetio/latest/actions/create-service-entry": {
      "post": {
        "operationId": "fleetio.create-service-entry",
        "summary": "Create Service Entry",
        "description": "Creates a new service entry in Fleetio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest/actions/create-service-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "completedAt",
                  "meterEntryAttributes.value",
                  "vehicleId",
                  "meterEntryAttributes"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "completedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time at which the Service Entry was completed. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "meterEntryAttributes.value": {
                    "type": "number",
                    "description": "The actual number on the vehicle's primary meter. Use the current odometer or meter reading for the associated vehicle.",
                    "example": 20812
                  },
                  "meterEntryAttributes.void": {
                    "type": "boolean",
                    "description": "Set this to true only if Fleetio rejects the meter value as too high or too low and you intentionally want to bypass that validation."
                  },
                  "vehicleId": {
                    "type": "number"
                  },
                  "meterEntryAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A Service Entry may be associated with a [Meter Entry](/docs/api/meter-entries)"
                  },
                  "startedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time at which the Service Entry was started. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "vehicleVin": {
                    "type": "string",
                    "description": "The VIN of the `Vehicle` associated with this Service Entry."
                  },
                  "vendorId": {
                    "type": "number"
                  },
                  "reference": {
                    "type": "string",
                    "description": "A reference number for this Service Entry."
                  },
                  "labelList": {
                    "type": "string",
                    "description": "A comma separated list of tags associated with this record. The only delimiter allowed is a comma (`,`). Please remove any commas from your labels before saving the record."
                  },
                  "generalNotes": {
                    "type": "string",
                    "description": "Any general notes about this Service Entry."
                  },
                  "vmrsRepairPriorityClassId": {
                    "type": "number"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "*Full details on working with Custom Fields [here](/docs/overview/custom-fields)."
                  },
                  "secondaryMeterEntryAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A Service Entry may also be associated with a secondary [Meter Entry](/docs/api/meter-entries)"
                  },
                  "serviceEntryLineItemsAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "issueIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "The IDs of any Issues associated with this Service Entry."
                  },
                  "serviceTaskIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "The IDs of any Service Tasks associated with this Service Entry."
                  },
                  "commentsAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "documentsAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of one or more document objects to add to the record. Follow our [Attaching Documents and Images](/docs/overview/attaching-documents-and-images) guide to upload to our third party storage provider in order to obtain `file_url`."
                  },
                  "imagesAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of one or more image objects to add to the record. Follow our [Attaching Documents and Images](/docs/overview/attaching-documents-and-images) guide to upload to our third party storage provider in order to obtain `file_url`."
                  },
                  "laborSubtotal": {
                    "type": "number",
                    "description": "The total cost of labor for this Service Entry. This is calculated by summing the `labor_cost` of each `Service Entry Line Item`."
                  },
                  "partsSubtotal": {
                    "type": "number",
                    "description": "The total cost of `Parts` for this Service Entry. This is calculated by summing the `parts_cost` of each `Service Entry Line Item`."
                  },
                  "subtotal": {
                    "type": "number",
                    "description": "The subtotal amount of this Service Entry before any discounts or taxes. This is calculated by summing the `subtotal` of each `Service Entry Line Item`."
                  },
                  "discount": {
                    "type": "number",
                    "description": "The total discount amount for this Service Entry."
                  },
                  "discountPercentage": {
                    "type": "number",
                    "description": "The total discount percentage for this Service Entry."
                  },
                  "discountType": {
                    "type": "string",
                    "description": "The type of discount applied to this record."
                  },
                  "tax1": {
                    "type": "number",
                    "description": "The first tax amount for this Service Entry."
                  },
                  "tax1Percentage": {
                    "type": "number",
                    "description": "The first tax percentage for this Service Entry."
                  },
                  "tax1Type": {
                    "type": "string",
                    "description": "The type of tax to apply to this record."
                  },
                  "tax2": {
                    "type": "number",
                    "description": "The second tax amount for this Service Entry."
                  },
                  "tax2Percentage": {
                    "type": "number",
                    "description": "The second tax percentage for this Service Entry."
                  },
                  "tax2Type": {
                    "type": "string",
                    "description": "The type of tax to apply to this record."
                  },
                  "totalAmount": {
                    "type": "number",
                    "description": "The grand total of this Service Entry."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentPermissions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoIntegrateRepairOrderStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoIntegrateRepairOrderStatusColor": {
                            "type": "string"
                          },
                          "autoIntegrateRoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoIntegrateRoLink": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "completedAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "discountPercentage": {
                            "type": "number"
                          },
                          "discountType": {
                            "type": "string"
                          },
                          "documentsCount": {
                            "type": "number"
                          },
                          "fees": {
                            "type": "number"
                          },
                          "generalNotes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "imagesCount": {
                            "type": "number"
                          },
                          "isSample": {
                            "type": "boolean"
                          },
                          "laborMarkup": {
                            "type": "number"
                          },
                          "laborMarkupPercentage": {
                            "type": "number"
                          },
                          "laborMarkupType": {
                            "type": "string"
                          },
                          "laborSubtotal": {
                            "type": "number"
                          },
                          "laborTimeInSeconds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "meterEntry": {
                            "type": "object",
                            "properties": {
                              "autoVoidedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "category": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "meterableId": {
                                "type": "number"
                              },
                              "meterableType": {
                                "type": "string"
                              },
                              "meterType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "vehicleId": {
                                "type": "number"
                              },
                              "void": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "partsMarkup": {
                            "type": "number"
                          },
                          "partsMarkupPercentage": {
                            "type": "number"
                          },
                          "partsMarkupType": {
                            "type": "string"
                          },
                          "partsSubtotal": {
                            "type": "number"
                          },
                          "reference": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "subtotal": {
                            "type": "number"
                          },
                          "tax1": {
                            "type": "number"
                          },
                          "tax1Percentage": {
                            "type": "number"
                          },
                          "tax1Type": {
                            "type": "string"
                          },
                          "tax2": {
                            "type": "number"
                          },
                          "tax2Percentage": {
                            "type": "number"
                          },
                          "tax2Type": {
                            "type": "string"
                          },
                          "taxFreeLabor": {
                            "type": "boolean"
                          },
                          "totalAmount": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "vehicleId": {
                            "type": "number"
                          },
                          "vehicleName": {
                            "type": "string"
                          },
                          "vendorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vmrsRepairPriorityClass": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "warrantyCredits": {
                            "type": "number"
                          },
                          "warrantyCreditsPercentage": {
                            "type": "number"
                          },
                          "warrantyCreditsType": {
                            "type": "string"
                          },
                          "workOrderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workOrderNumber": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fleetio/latest/actions/create-vehicle": {
      "post": {
        "operationId": "fleetio.create-vehicle",
        "summary": "Create Vehicle",
        "description": "Creates a new vehicle in Fleetio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fleetio/latest/actions/create-vehicle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "primaryMeterUnit",
                  "vehicleStatusId",
                  "vehicleTypeId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "A name to assign to this Vehicle. Must be unique."
                  },
                  "primaryMeterUnit": {
                    "type": "string",
                    "description": "The measurement unit used for the Vehicle's primary, or secondary (if applicable), meter."
                  },
                  "vehicleStatusId": {
                    "type": "number",
                    "description": "The ID of the `Vehicle Status` for this Vehicle."
                  },
                  "vehicleTypeId": {
                    "type": "number",
                    "description": "The ID of the `Vehicle Type` for this Vehicle."
                  },
                  "color": {
                    "type": "string",
                    "description": "The color of this Vehicle."
                  },
                  "fuelTypeId": {
                    "type": "number",
                    "description": "The ID of the `Fuel Type` associated with this Vehicle."
                  },
                  "fuelVolumeUnits": {
                    "type": "string"
                  },
                  "groupId": {
                    "type": "number",
                    "description": "The id of the `Group` for the vehicle"
                  },
                  "groupHierarchy": {
                    "type": "string",
                    "description": "A pipe delimited group hierarchy. Ex: \"Level 1|Level 2|Level 3\". Where Level 1 is the parent of Level 2, and 2 is the parent of 3. Any missing nodes in the hierarchy will be created."
                  },
                  "labelIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "The `label_id`(s) of any Labels to assign to this Vehicle. If you wish to keep any existing Labels, those IDs must be included in this array as well."
                  },
                  "licensePlate": {
                    "type": "string",
                    "description": "The license plate number of this Vehicle."
                  },
                  "make": {
                    "type": "string",
                    "description": "The name of this Vehicle's manufacturer."
                  },
                  "model": {
                    "type": "string",
                    "description": "The name of the model of this Vehicle."
                  },
                  "ownership": {
                    "type": "string"
                  },
                  "registrationExpirationMonth": {
                    "type": "number",
                    "description": "The month in which this Vehicle's registration expires."
                  },
                  "registrationState": {
                    "type": "string",
                    "description": "The state, province, or territory in which this Vehicle is registered."
                  },
                  "secondaryMeter": {
                    "type": "boolean",
                    "description": "Indicates whether or not this Vehicle has a secondary meter."
                  },
                  "secondaryMeterUnit": {
                    "type": "string",
                    "description": "The measurement unit used for the Vehicle's primary, or secondary (if applicable), meter."
                  },
                  "systemOfMeasurement": {
                    "type": "string"
                  },
                  "trim": {
                    "type": "string",
                    "description": "The trim level of this Vehicle."
                  },
                  "vin": {
                    "type": "string",
                    "description": "The Vehicle Identification Number of this Vehicle. Must be unique."
                  },
                  "year": {
                    "type": "number",
                    "description": "This Vehicle's model year."
                  },
                  "linkedVehicleIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "The `vehicle_id`(s) of any Vehicles to link to this Vehicle."
                  },
                  "purchaseDetail": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "externalIds": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Any [External IDs](/docs/guides/vehicles/external-vehicle-ids) associated with this Vehicle."
                  },
                  "vehicleStatusName": {
                    "type": "string",
                    "description": "The name of the `Vehicle Status` associated with this Vehicle."
                  },
                  "vehicleTypeName": {
                    "type": "string",
                    "description": "The name of the `Vehicle Type` associated with this Vehicle."
                  },
                  "inServiceDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date on which this Vehicle was put into service. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "inServiceMeterValue": {
                    "type": "string",
                    "description": "The meter value at which this Vehicle was put into service."
                  },
                  "estimatedServiceMonths": {
                    "type": "number",
                    "description": "The estimated number of months this Vehicle will be in service."
                  },
                  "estimatedReplacementMileage": {
                    "type": "number",
                    "description": "The estimated number of miles before which this Vehicle will be replaced."
                  },
                  "estimatedResalePrice": {
                    "type": "number",
                    "description": "The estimated resale price of this Vehicle."
                  },
                  "outOfServiceDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date on which this Vehicle was or will be retired. We recommend using [ISO-8601](/docs/overview/date-formatting) formatted dates to avoid ambiguity."
                  },
                  "outOfServiceMeterValue": {
                    "type": "string",
                    "description": "The meter value at which this Vehicle was or will be retired."
                  },
                  "specs": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "*Full details on working with Custom Fields [here](/docs/overview/custom-fields)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "aiEnabled": {
                            "type": "boolean"
                          },
                          "archivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assetableType": {
                            "type": "string"
                          },
                          "axleConfigId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "string"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currentLocationEntryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultImageUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultImageUrlLarge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultImageUrlMedium": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultImageUrlSmall": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "documentsCount": {
                            "type": "number"
                          },
                          "documentsIncludingNestedResourcesCount": {
                            "type": "number"
                          },
[...]
