{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Outlook Universal API",
    "version": "0.0.7",
    "description": "Read Outlook mailbox messages through Microsoft Graph using delegated OAuth access."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/outlook/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/outlook/latest/actions/create-draft-message": {
      "post": {
        "operationId": "outlook.create-draft-message",
        "summary": "Create Draft Message",
        "description": "Creates a draft email in Outlook.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/create-draft-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subject",
                  "bodyContent",
                  "bodyContentType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Draft message subject.",
                    "example": "Quarterly update"
                  },
                  "bodyContent": {
                    "type": "string",
                    "description": "Draft message body content.",
                    "example": "Write the draft body here."
                  },
                  "bodyContentType": {
                    "type": "string",
                    "description": "Message body content type: Text or HTML.",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "Text"
                  },
                  "toRecipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient array in Microsoft Graph format, for example [{\"emailAddress\":{\"address\":\"person@example.com\"}}]."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "BCC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "BCC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Full message body content."
                              },
                              "contentType": {
                                "type": "string",
                                "description": "Message body content type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "bodyPreview": {
                            "type": "string",
                            "description": "First 255 characters of the message body."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Categories assigned to the message."
                          },
                          "ccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "CC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "CC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "changeKey": {
                            "type": "string",
                            "description": "Version identifier for the message."
                          },
                          "conversationId": {
                            "type": "string",
                            "description": "ID of the conversation the message belongs to."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was created."
                          },
                          "flag": {
                            "type": "object",
                            "properties": {
                              "flagStatus": {
                                "type": "string",
                                "description": "Follow-up flag status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has attachments."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Message importance."
                          },
                          "internetMessageId": {
                            "type": "string",
                            "description": "RFC 2822 internet message ID."
                          },
                          "isDraft": {
                            "type": "boolean",
                            "description": "Whether the message is a draft."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was last modified."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "ID of the folder containing the message."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was received."
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Message subject."
                          },
                          "toRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook on the web URL for the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/delete-message": {
      "delete": {
        "operationId": "outlook.delete-message",
        "summary": "Delete Message",
        "description": "Deletes an existing email from Outlook.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/delete-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph ID of the message to delete.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph ID of the message to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/get-mail-folder": {
      "get": {
        "operationId": "outlook.get-mail-folder",
        "summary": "Get Mail Folder",
        "description": "Retrieves an Outlook mail folder by folder ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/get-mail-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph ID or well-known folder name, such as inbox, for the Outlook mail folder.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph ID or well-known folder name, such as inbox, for the Outlook mail folder."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "childFolderCount": {
                            "type": "number",
                            "description": "Number of immediate child folders."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Folder display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph mail folder ID."
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the folder is hidden."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "ID of the folder's parent folder."
                          },
                          "totalItemCount": {
                            "type": "number",
                            "description": "Total number of items in the folder."
                          },
                          "unreadItemCount": {
                            "type": "number",
                            "description": "Number of unread items in the folder."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/get-message": {
      "get": {
        "operationId": "outlook.get-message",
        "summary": "Get Message",
        "description": "Retrieves an email from Outlook by message ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph ID of the Outlook message to retrieve.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph ID of the Outlook message to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "BCC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "BCC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Full message body content."
                              },
                              "contentType": {
                                "type": "string",
                                "description": "Message body content type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "bodyPreview": {
                            "type": "string",
                            "description": "First 255 characters of the message body."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Categories assigned to the message."
                          },
                          "ccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "CC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "CC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "changeKey": {
                            "type": "string",
                            "description": "Version identifier for the message."
                          },
                          "conversationId": {
                            "type": "string",
                            "description": "ID of the conversation the message belongs to."
                          },
                          "conversationIndex": {
                            "type": "string",
                            "description": "Conversation index value."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was created."
                          },
                          "flag": {
                            "type": "object",
                            "properties": {
                              "flagStatus": {
                                "type": "string",
                                "description": "Follow-up flag status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "From email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "From display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has attachments."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Message importance."
                          },
                          "inferenceClassification": {
                            "type": "string",
                            "description": "Focused or other inbox classification."
                          },
                          "internetMessageId": {
                            "type": "string",
                            "description": "RFC 2822 internet message ID."
                          },
                          "isDeliveryReceiptRequested": {
                            "type": "boolean",
                            "description": "Whether delivery receipt was requested."
                          },
                          "isDraft": {
                            "type": "boolean",
                            "description": "Whether the message is a draft."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "isReadReceiptRequested": {
                            "type": "boolean",
                            "description": "Whether read receipt was requested."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was last modified."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "ID of the folder containing the message."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was received."
                          },
                          "replyTo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Reply-to email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Reply-to display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sender": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Sender email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Sender display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Message subject."
                          },
                          "toRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook on the web URL for the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/list-folder-messages": {
      "get": {
        "operationId": "outlook.list-folder-messages",
        "summary": "List Folder Messages",
        "description": "Retrieves emails from a specific Outlook mail folder.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/list-folder-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph ID or well-known folder name, such as inbox, for the Outlook mail folder.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph ID or well-known folder name, such as inbox, for the Outlook mail folder."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "BCC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "BCC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Full message body content."
                              },
                              "contentType": {
                                "type": "string",
                                "description": "Message body content type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "bodyPreview": {
                            "type": "string",
                            "description": "First 255 characters of the message body."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Categories assigned to the message."
                          },
                          "ccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "CC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "CC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "changeKey": {
                            "type": "string",
                            "description": "Version identifier for the message."
                          },
                          "conversationId": {
                            "type": "string",
                            "description": "ID of the conversation the message belongs to."
                          },
                          "conversationIndex": {
                            "type": "string",
                            "description": "Conversation index value."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was created."
                          },
                          "flag": {
                            "type": "object",
                            "properties": {
                              "flagStatus": {
                                "type": "string",
                                "description": "Follow-up flag status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "From email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "From display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has attachments."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Message importance."
                          },
                          "inferenceClassification": {
                            "type": "string",
                            "description": "Focused or other inbox classification."
                          },
                          "internetMessageId": {
                            "type": "string",
                            "description": "RFC 2822 internet message ID."
                          },
                          "isDeliveryReceiptRequested": {
                            "type": "boolean",
                            "description": "Whether delivery receipt was requested."
                          },
                          "isDraft": {
                            "type": "boolean",
                            "description": "Whether the message is a draft."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "isReadReceiptRequested": {
                            "type": "boolean",
                            "description": "Whether read receipt was requested."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was last modified."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "ID of the folder containing the message."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was received."
                          },
                          "replyTo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Reply-to email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Reply-to display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sender": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Sender email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Sender display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Message subject."
                          },
                          "toRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook on the web URL for the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/list-mail-folders": {
      "get": {
        "operationId": "outlook.list-mail-folders",
        "summary": "List Mail Folders",
        "description": "Retrieves mail folders from an Outlook mailbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/list-mail-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "childFolderCount": {
                            "type": "number",
                            "description": "Number of immediate child folders."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Folder display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph mail folder ID."
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the folder is hidden."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "ID of the folder's parent folder."
                          },
                          "totalItemCount": {
                            "type": "number",
                            "description": "Total number of items in the folder."
                          },
                          "unreadItemCount": {
                            "type": "number",
                            "description": "Number of unread items in the folder."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/list-message-attachments": {
      "get": {
        "operationId": "outlook.list-message-attachments",
        "summary": "List Message Attachments",
        "description": "Retrieves attachments for an Outlook email.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/list-message-attachments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph ID of the Outlook message whose attachments should be listed.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph ID of the Outlook message whose attachments should be listed."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@odata": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Microsoft Graph attachment derived type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "contentBytes": {
                            "type": "string",
                            "description": "Base64-encoded file contents for file attachments when returned by Graph."
                          },
                          "contentId": {
                            "type": "string",
                            "description": "Content ID for inline file attachments."
                          },
                          "contentLocation": {
                            "type": "string",
                            "description": "Content location for the attachment when provided."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Attachment MIME content type."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph attachment ID."
                          },
                          "isInline": {
                            "type": "boolean",
                            "description": "Whether the attachment is inline."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the attachment was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "Attachment file or item name."
                          },
                          "size": {
                            "type": "number",
                            "description": "Attachment size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/list-messages": {
      "get": {
        "operationId": "outlook.list-messages",
        "summary": "List Messages",
        "description": "Retrieves email messages from an Outlook mailbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/list-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "BCC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "BCC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Full message body content."
                              },
                              "contentType": {
                                "type": "string",
                                "description": "Message body content type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "bodyPreview": {
                            "type": "string",
                            "description": "First 255 characters of the message body."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Categories assigned to the message."
                          },
                          "ccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "CC recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "CC recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "changeKey": {
                            "type": "string",
                            "description": "Version identifier for the message."
                          },
                          "conversationId": {
                            "type": "string",
                            "description": "ID of the conversation the message belongs to."
                          },
                          "conversationIndex": {
                            "type": "string",
                            "description": "Conversation index value."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was created."
                          },
                          "flag": {
                            "type": "object",
                            "properties": {
                              "flagStatus": {
                                "type": "string",
                                "description": "Follow-up flag status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "From email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "From display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has attachments."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Message importance."
                          },
                          "inferenceClassification": {
                            "type": "string",
                            "description": "Focused or other inbox classification."
                          },
                          "internetMessageId": {
                            "type": "string",
                            "description": "RFC 2822 internet message ID."
                          },
                          "isDeliveryReceiptRequested": {
                            "type": "boolean",
                            "description": "Whether delivery receipt was requested."
                          },
                          "isDraft": {
                            "type": "boolean",
                            "description": "Whether the message is a draft."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "isReadReceiptRequested": {
                            "type": "boolean",
                            "description": "Whether read receipt was requested."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was last modified."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "ID of the folder containing the message."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was received."
                          },
                          "replyTo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Reply-to email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Reply-to display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sender": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Sender email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Sender display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Message subject."
                          },
                          "toRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Recipient email address."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Recipient display name."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook on the web URL for the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/outlook/latest/actions/send-draft-message": {
      "post": {
        "operationId": "outlook.send-draft-message",
        "summary": "Send Draft Message",
        "description": "Sends an existing draft email from Outlook.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/outlook/latest/actions/send-draft-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "messageId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "Microsoft Graph ID of the draft message to send."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
