{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SparrowDesk Universal API",
    "version": "0.0.6",
    "description": "SparrowDesk helpdesk REST API for contacts, conversations, members, tags, and conversation-field management."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sparrowDesk/latest/actions/add-conversation-reply": {
      "post": {
        "operationId": "sparrowDesk.add-conversation-reply",
        "summary": "Add Conversation Reply",
        "description": "Creates a conversation reply in SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/add-conversation-reply"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "replyText",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "SparrowDesk conversation ID."
                  },
                  "replyText": {
                    "type": "string",
                    "description": "Reply or internal note content."
                  },
                  "type": {
                    "type": "string",
                    "description": "REPLY or INTERNAL_NOTE."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the reply was created successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/bulk-create-contacts": {
      "post": {
        "operationId": "sparrowDesk.bulk-create-contacts",
        "summary": "Bulk Create Contacts",
        "description": "Creates contacts in bulk in SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/bulk-create-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": {
                            "type": "string",
                            "description": "Bulk job identifier."
                          },
                          "statusUrl": {
                            "type": "string",
                            "description": "URL for polling bulk job status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/create-contact": {
      "post": {
        "operationId": "sparrowDesk.create-contact",
        "summary": "Create Contact",
        "description": "Creates a contact in SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Optional SparrowDesk company identifier."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email. Required if phone is not supplied."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact last name."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact phone number. Required if email is not supplied."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the contact is active."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Avatar URL."
                          },
                          "blocked": {
                            "type": "boolean",
                            "description": "Whether the contact is blocked."
                          },
                          "city": {
                            "type": "string",
                            "description": "City."
                          },
                          "companyId": {
                            "type": "number",
                            "description": "Company ID."
                          },
                          "companyName": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Contact ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Preferred language."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Contact properties."
                          },
                          "region": {
                            "type": "string",
                            "description": "Region."
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "Preferred time zone."
                          },
                          "unsubscribed": {
                            "type": "boolean",
                            "description": "Whether the contact is unsubscribed."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/create-conversation": {
      "post": {
        "operationId": "sparrowDesk.create-conversation",
        "summary": "Create Conversation",
        "description": "Creates a conversation in SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/create-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "description",
                  "requestedBy",
                  "subject"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assignee": {
                    "type": "string",
                    "description": "Assignee email address."
                  },
                  "brandId": {
                    "type": "number",
                    "description": "Optional SparrowDesk brand ID."
                  },
                  "description": {
                    "type": "string",
                    "description": "Conversation description text."
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority: Low, Medium, High, or Urgent."
                  },
                  "requestedBy": {
                    "type": "string",
                    "description": "Requester email address or phone number."
                  },
                  "source": {
                    "type": "string",
                    "description": "Source: Mail or Call."
                  },
                  "status": {
                    "type": "string",
                    "description": "Status: Open, Pending, Resolved, or Closed."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Conversation subject."
                  },
                  "teamId": {
                    "type": "number",
                    "description": "Optional SparrowDesk team ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToMemberId": {
                            "type": "number",
                            "description": "Assigned member ID."
                          },
                          "assignedToTeamId": {
                            "type": "number",
                            "description": "Assigned team ID."
                          },
                          "brand": {
                            "type": "string",
                            "description": "Brand name."
                          },
                          "brandId": {
                            "type": "number",
                            "description": "Brand ID."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation custom field values."
                          },
                          "descriptionHtml": {
                            "type": "string",
                            "description": "HTML description."
                          },
                          "descriptionText": {
                            "type": "string",
                            "description": "Plain-text description."
                          },
                          "due": {
                            "type": "number",
                            "description": "Due timestamp when present."
                          },
                          "firstResponseDue": {
                            "type": "number",
                            "description": "First response due timestamp when present."
                          },
                          "firstResponseTime": {
                            "type": "number",
                            "description": "First response timestamp when present."
                          },
                          "id": {
                            "type": "number",
                            "description": "Conversation ID."
                          },
                          "lastUpdatedAt": {
                            "type": "number",
                            "description": "Last update timestamp."
                          },
                          "priority": {
                            "type": "string",
                            "description": "Conversation priority."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conversation metadata properties."
                          },
                          "requestedByEmail": {
                            "type": "string",
                            "description": "Requester email address."
                          },
                          "requestedById": {
                            "type": "number",
                            "description": "Requester contact ID."
                          },
                          "requestedByPhone": {
                            "type": "string",
                            "description": "Requester phone number."
                          },
                          "resolutionTime": {
                            "type": "number",
                            "description": "Resolution timestamp when present."
                          },
                          "source": {
                            "type": "string",
                            "description": "Conversation source."
                          },
                          "status": {
                            "type": "string",
                            "description": "Conversation status."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Conversation subject."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation tags."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/create-conversation-field": {
      "post": {
        "operationId": "sparrowDesk.create-conversation-field",
        "summary": "Create Conversation Field",
        "description": "Creates a conversation field in SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/create-conversation-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "Conversation field description."
                  },
                  "name": {
                    "type": "string",
                    "description": "Conversation field display name."
                  },
                  "type": {
                    "type": "string",
                    "description": "Conversation field type, for example single_line_text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Field description."
                          },
                          "fieldOptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Selectable field options."
                          },
                          "id": {
                            "type": "number",
                            "description": "Conversation field ID."
                          },
                          "internalName": {
                            "type": "string",
                            "description": "Internal field key."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the field is active."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "isMandatoryOnClose": {
                            "type": "boolean",
                            "description": "Whether the field is required when closing a conversation."
                          },
                          "name": {
                            "type": "string",
                            "description": "Field label."
                          },
                          "type": {
                            "type": "string",
                            "description": "Field type."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/delete-contact": {
      "delete": {
        "operationId": "sparrowDesk.delete-contact",
        "summary": "Delete Contact",
        "description": "Deletes an existing contact from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SparrowDesk contact ID.",
            "schema": {
              "type": "number",
              "description": "SparrowDesk contact ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the contact was deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/delete-conversation": {
      "delete": {
        "operationId": "sparrowDesk.delete-conversation",
        "summary": "Delete Conversation",
        "description": "Deletes an existing conversation from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/delete-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SparrowDesk conversation ID.",
            "schema": {
              "type": "number",
              "description": "SparrowDesk conversation ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the conversation was deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/get-bulk-job-status": {
      "get": {
        "operationId": "sparrowDesk.get-bulk-job-status",
        "summary": "Get Bulk Job Status",
        "description": "Retrieves bulk job status from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/get-bulk-job-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "Bulk job ID returned by Bulk Create Contacts.",
            "schema": {
              "type": "string",
              "description": "Bulk job ID returned by Bulk Create Contacts."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactsCreated": {
                            "type": "number",
                            "description": "Number of contacts created."
                          },
                          "contactsFailed": {
                            "type": "number",
                            "description": "Number of contacts that failed."
                          },
                          "contactsUpdated": {
                            "type": "number",
                            "description": "Number of contacts updated."
                          },
                          "failedContacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed contacts with error details."
                          },
                          "status": {
                            "type": "string",
                            "description": "Bulk job status."
                          },
                          "totalContacts": {
                            "type": "number",
                            "description": "Total contacts processed in the job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/get-contact": {
      "get": {
        "operationId": "sparrowDesk.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SparrowDesk contact ID.",
            "schema": {
              "type": "number",
              "description": "SparrowDesk contact ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the contact is active."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Avatar URL."
                          },
                          "blocked": {
                            "type": "boolean",
                            "description": "Whether the contact is blocked."
                          },
                          "city": {
                            "type": "string",
                            "description": "City."
                          },
                          "companyId": {
                            "type": "number",
                            "description": "Company ID."
                          },
                          "companyName": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Contact ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Preferred language."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Contact properties."
                          },
                          "region": {
                            "type": "string",
                            "description": "Region."
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "Preferred time zone."
                          },
                          "unsubscribed": {
                            "type": "boolean",
                            "description": "Whether the contact is unsubscribed."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/get-conversation": {
      "get": {
        "operationId": "sparrowDesk.get-conversation",
        "summary": "Get Conversation",
        "description": "Retrieves a conversation from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/get-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SparrowDesk conversation ID.",
            "schema": {
              "type": "number",
              "description": "SparrowDesk conversation ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToMemberId": {
                            "type": "number",
                            "description": "Assigned member ID."
                          },
                          "assignedToTeamId": {
                            "type": "number",
                            "description": "Assigned team ID."
                          },
                          "brand": {
                            "type": "string",
                            "description": "Brand name."
                          },
                          "brandId": {
                            "type": "number",
                            "description": "Brand ID."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation custom field values."
                          },
                          "descriptionHtml": {
                            "type": "string",
                            "description": "HTML description."
                          },
                          "descriptionText": {
                            "type": "string",
                            "description": "Plain-text description."
                          },
                          "due": {
                            "type": "number",
                            "description": "Due timestamp when present."
                          },
                          "firstResponseDue": {
                            "type": "number",
                            "description": "First response due timestamp when present."
                          },
                          "firstResponseTime": {
                            "type": "number",
                            "description": "First response timestamp when present."
                          },
                          "id": {
                            "type": "number",
                            "description": "Conversation ID."
                          },
                          "lastUpdatedAt": {
                            "type": "number",
                            "description": "Last update timestamp."
                          },
                          "priority": {
                            "type": "string",
                            "description": "Conversation priority."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conversation metadata properties."
                          },
                          "requestedByEmail": {
                            "type": "string",
                            "description": "Requester email address."
                          },
                          "requestedById": {
                            "type": "number",
                            "description": "Requester contact ID."
                          },
                          "requestedByPhone": {
                            "type": "string",
                            "description": "Requester phone number."
                          },
                          "resolutionTime": {
                            "type": "number",
                            "description": "Resolution timestamp when present."
                          },
                          "source": {
                            "type": "string",
                            "description": "Conversation source."
                          },
                          "status": {
                            "type": "string",
                            "description": "Conversation status."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Conversation subject."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation tags."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/get-conversation-field": {
      "get": {
        "operationId": "sparrowDesk.get-conversation-field",
        "summary": "Get Conversation Field",
        "description": "Retrieves a conversation field from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/get-conversation-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SparrowDesk conversation field ID.",
            "schema": {
              "type": "number",
              "description": "SparrowDesk conversation field ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Field description."
                          },
                          "fieldOptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Selectable field options."
                          },
                          "id": {
                            "type": "number",
                            "description": "Conversation field ID."
                          },
                          "internalName": {
                            "type": "string",
                            "description": "Internal field key."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the field is active."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "isMandatoryOnClose": {
                            "type": "boolean",
                            "description": "Whether the field is required when closing a conversation."
                          },
                          "name": {
                            "type": "string",
                            "description": "Field label."
                          },
                          "type": {
                            "type": "string",
                            "description": "Field type."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/get-current-account": {
      "get": {
        "operationId": "sparrowDesk.get-current-account",
        "summary": "Get Current Account",
        "description": "Retrieves the current account from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/get-current-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyName": {
                            "type": "string",
                            "description": "Company display name."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Workspace domain."
                          },
                          "id": {
                            "type": "number",
                            "description": "Account ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Workspace language."
                          },
                          "name": {
                            "type": "string",
                            "description": "Workspace name."
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "Workspace time zone."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sparrowDesk/latest/actions/list-contact-fields": {
      "get": {
        "operationId": "sparrowDesk.list-contact-fields",
        "summary": "List Contact Fields",
        "description": "Retrieves contact fields from SparrowDesk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sparrowDesk/latest/actions/list-contact-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deletedAt": {
                            "type": "string",
                            "description": "Deletion timestamp when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Field description."
                          },
                          "id": {
                            "type": "number",
                            "description": "Contact field ID."
                          },
                          "internalName": {
                            "type": "string",
                            "description": "Internal field key."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the field is active."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "hasNextPage": {
                                "type": "boolean",
                                "description": "Whether another page exists."
                              },
[...]
