{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ship24 Universal API",
    "version": "0.0.9",
    "description": "Track shipments, search tracking results, manage trackers, and inspect supported couriers with Ship24's Tracking API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ship24/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ship24/latest/actions/bulk-create-trackers": {
      "post": {
        "operationId": "ship24.bulk-create-trackers",
        "summary": "Bulk Create Trackers",
        "description": "Creates multiple new trackers in Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/bulk-create-trackers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "trackers[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trackers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-item error details when creation fails."
                          },
                          "inputData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payload used to create the tracker."
                          },
                          "itemStatus": {
                            "type": "string",
                            "description": "Status of the individual tracker creation result."
                          },
                          "tracker": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tracker object returned for created or existing items."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/create-tracker": {
      "post": {
        "operationId": "ship24.create-tracker",
        "summary": "Create Tracker",
        "description": "Creates a new tracker in Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/create-tracker"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "trackingNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trackingNumber": {
                    "type": "string",
                    "description": "Tracking number of the shipment.",
                    "example": "9400115901047177598206"
                  },
                  "clientTrackerId": {
                    "type": "string",
                    "description": "Your unique identifier for this shipment.",
                    "example": "shipment-001"
                  },
                  "shipmentReference": {
                    "type": "string",
                    "description": "Your reference for this shipment.",
                    "example": "ORD-10001"
                  },
                  "originCountryCode": {
                    "type": "string",
                    "description": "Sender country code.",
                    "example": "CN"
                  },
                  "destinationCountryCode": {
                    "type": "string",
                    "description": "Recipient country code. Recommended to improve tracking accuracy.",
                    "example": "US"
                  },
                  "destinationPostCode": {
                    "type": "string",
                    "description": "Recipient postal or ZIP code. Recommended to improve tracking accuracy.",
                    "example": "94901"
                  },
                  "shippingDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Shipment date. Keep it close to the real ship date to improve matching accuracy.",
                    "example": "2021-03-01T11:09:00.000Z"
                  },
                  "courierCode[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 3 courier codes handling the shipment. Recommended to improve tracking accuracy."
                  },
                  "courierName": {
                    "type": "string",
                    "description": "Courier name or service name.",
                    "example": "USPS Standard"
                  },
                  "orderNumber": {
                    "type": "string",
                    "description": "Order number when the shipment comes from an ecommerce order.",
                    "example": "DF14R2022"
                  },
                  "title": {
                    "type": "string",
                    "example": "Nike shoes for Marc",
                    "x-mindcloud-advanced": true
                  },
                  "trackingUrl": {
                    "type": "string",
                    "example": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9400115901047177598206",
                    "x-mindcloud-advanced": true
                  },
                  "recipient.name": {
                    "type": "string",
                    "example": "Marc",
                    "x-mindcloud-advanced": true
                  },
                  "recipient.email": {
                    "type": "string",
                    "example": "recipient@email.com",
                    "x-mindcloud-advanced": true
                  },
                  "settings.restrictTrackingToCourierCode": {
                    "type": "boolean",
                    "description": "If true, Ship24 only tracks the courier codes you provide.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientTrackerId": {
                            "type": "string",
                            "description": "Client-defined tracker identifier."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tracker creation timestamp."
                          },
                          "isSubscribed": {
                            "type": "boolean",
                            "description": "Whether the tracker is active for webhook subscription."
                          },
                          "isTracked": {
                            "type": "boolean",
                            "description": "Whether Ship24 is still actively tracking this shipment."
                          },
                          "shipmentReference": {
                            "type": "string",
                            "description": "Shipment reference provided at tracker creation."
                          },
                          "trackerId": {
                            "type": "string",
                            "description": "Ship24 tracker identifier."
                          },
                          "trackingNumber": {
                            "type": "string",
                            "description": "Tracking number used for this tracker."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/create-tracker-and-get-results": {
      "post": {
        "operationId": "ship24.create-tracker-and-get-results",
        "summary": "Create Tracker And Get Results",
        "description": "Creates a tracker and retrieves tracking results in Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/create-tracker-and-get-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "trackingNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trackingNumber": {
                    "type": "string",
                    "example": "9400115901047177598206"
                  },
                  "clientTrackerId": {
                    "type": "string",
                    "example": "shipment-001"
                  },
                  "shipmentReference": {
                    "type": "string",
                    "example": "ORD-10001"
                  },
                  "originCountryCode": {
                    "type": "string",
                    "example": "CN"
                  },
                  "destinationCountryCode": {
                    "type": "string",
                    "example": "US"
                  },
                  "destinationPostCode": {
                    "type": "string",
                    "example": "94901"
                  },
                  "shippingDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2021-03-01T11:09:00.000Z"
                  },
                  "courierCode[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "courierName": {
                    "type": "string",
                    "example": "USPS Standard"
                  },
                  "orderNumber": {
                    "type": "string",
                    "example": "DF14R2022"
                  },
                  "title": {
                    "type": "string",
                    "example": "Nike shoes for Marc",
                    "x-mindcloud-advanced": true
                  },
                  "trackingUrl": {
                    "type": "string",
                    "example": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9400115901047177598206",
                    "x-mindcloud-advanced": true
                  },
                  "recipient.name": {
                    "type": "string",
                    "example": "Marc",
                    "x-mindcloud-advanced": true
                  },
                  "recipient.email": {
                    "type": "string",
                    "example": "recipient@email.com",
                    "x-mindcloud-advanced": true
                  },
                  "settings.restrictTrackingToCourierCode": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tracking events returned for the shipment."
                          },
                          "shipment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment summary returned by Ship24."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment milestone timestamps and tracking statistics."
                          },
                          "tracker": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tracker object returned by Ship24."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/get-tracker-by-client-tracker-id": {
      "get": {
        "operationId": "ship24.get-tracker-by-client-tracker-id",
        "summary": "Get Tracker By Client Tracker ID",
        "description": "Retrieves a tracker by client tracker ID from Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/get-tracker-by-client-tracker-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shipment-001"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientTrackerId": {
                            "type": "string",
                            "description": "Client-defined tracker identifier."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tracker creation timestamp."
                          },
                          "isSubscribed": {
                            "type": "boolean",
                            "description": "Whether the tracker is active for webhook subscription."
                          },
                          "isTracked": {
                            "type": "boolean",
                            "description": "Whether Ship24 is still actively tracking this shipment."
                          },
                          "shipmentReference": {
                            "type": "string",
                            "description": "Shipment reference provided at tracker creation."
                          },
                          "trackerId": {
                            "type": "string",
                            "description": "Ship24 tracker identifier."
                          },
                          "trackingNumber": {
                            "type": "string",
                            "description": "Tracking number used for this tracker."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/get-tracker-by-tracker-id": {
      "get": {
        "operationId": "ship24.get-tracker-by-tracker-id",
        "summary": "Get Tracker By Tracker ID",
        "description": "Retrieves a tracker by tracker ID from Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/get-tracker-by-tracker-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "26148317-7502-d3ac-44a9-546d240ac0dd"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientTrackerId": {
                            "type": "string",
                            "description": "Client-defined tracker identifier."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tracker creation timestamp."
                          },
                          "isSubscribed": {
                            "type": "boolean",
                            "description": "Whether the tracker is active for webhook subscription."
                          },
                          "isTracked": {
                            "type": "boolean",
                            "description": "Whether Ship24 is still actively tracking this shipment."
                          },
                          "shipmentReference": {
                            "type": "string",
                            "description": "Shipment reference provided at tracker creation."
                          },
                          "trackerId": {
                            "type": "string",
                            "description": "Ship24 tracker identifier."
                          },
                          "trackingNumber": {
                            "type": "string",
                            "description": "Tracking number used for this tracker."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/get-tracker-results-by-client-tracker-id": {
      "get": {
        "operationId": "ship24.get-tracker-results-by-client-tracker-id",
        "summary": "Get Tracker Results By Client Tracker ID",
        "description": "Retrieves tracking results by client tracker ID in Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/get-tracker-results-by-client-tracker-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackerId",
            "in": "query",
            "required": true,
            "description": "Your own client tracker ID value used to look up the tracker.",
            "schema": {
              "type": "string",
              "description": "Your own client tracker ID value used to look up the tracker.",
              "example": "3fa99515-3ca0-4901-85bb-056ee016799b"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tracking events for the shipment."
                          },
                          "shipment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment summary returned by Ship24."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment milestone timestamps and tracking statistics."
                          },
                          "tracker": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tracker metadata for the tracked shipment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/get-tracker-results-by-tracker-id": {
      "get": {
        "operationId": "ship24.get-tracker-results-by-tracker-id",
        "summary": "Get Tracker Results By Tracker ID",
        "description": "Retrieves tracking results for a Ship24 tracker ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/get-tracker-results-by-tracker-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackerId",
            "in": "query",
            "required": true,
            "description": "Ship24 tracker ID returned when the tracker was created.",
            "schema": {
              "type": "string",
              "description": "Ship24 tracker ID returned when the tracker was created.",
              "example": "26148317-7502-d3ac-44a9-546d240ac0dd"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tracking events for the shipment."
                          },
                          "shipment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment summary returned by Ship24."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment milestone timestamps and tracking statistics."
                          },
                          "tracker": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tracker metadata for the tracked shipment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/get-tracker-results-by-tracking-number": {
      "get": {
        "operationId": "ship24.get-tracker-results-by-tracking-number",
        "summary": "Get Tracker Results By Tracking Number",
        "description": "Retrieves tracker results by tracking number in Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/get-tracker-results-by-tracking-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingNumber",
            "in": "query",
            "required": true,
            "description": "Tracking number of the shipment.",
            "schema": {
              "type": "string",
              "description": "Tracking number of the shipment.",
              "example": "9400115901047177598206"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tracking events for the shipment."
                          },
                          "shipment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment summary returned by Ship24."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipment milestone timestamps and tracking statistics."
                          },
                          "tracker": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tracker metadata for the tracked shipment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/get-tracking-results-by-tracking-number": {
      "get": {
        "operationId": "ship24.get-tracking-results-by-tracking-number",
        "summary": "Get Tracking Results by Tracking Number",
        "description": "Retrieves tracking results by tracking number from Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/get-tracking-results-by-tracking-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingNumber",
            "in": "query",
            "required": true,
            "description": "Tracking number of the shipment.",
            "schema": {
              "type": "string",
              "description": "Tracking number of the shipment.",
              "example": "9400115901047177598206"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shipment": {
                            "type": "object",
                            "properties": {
                              "delivery": {
                                "type": "object",
                                "properties": {
                                  "courierEstimatedDeliveryDate": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "estimatedDeliveryDate": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "service": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "signedBy": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "destinationCountryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "originCountryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recipient": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "name": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "postCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "subdivision": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "shipmentId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "statusCategory": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "statusCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "statusMilestone": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "trackingNumbers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tn": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "statistics": {
                            "type": "object",
                            "properties": {
                              "timestamps": {
                                "type": "object",
                                "properties": {
                                  "availableForPickupDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "deliveredDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "exceptionDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "failedAttemptDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "infoReceivedDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "inTransitDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "outForDeliveryDatetime": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/list-couriers": {
      "get": {
        "operationId": "ship24.list-couriers",
        "summary": "List Couriers",
        "description": "Retrieves all available couriers from Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/list-couriers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "courierCode": {
                            "type": "string"
                          },
                          "courierName": {
                            "type": "string"
                          },
                          "isDeprecated": {
                            "type": "boolean"
                          },
                          "isPost": {
                            "type": "boolean"
                          },
                          "requiredFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "website": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/list-trackers": {
      "get": {
        "operationId": "ship24.list-trackers",
        "summary": "List Trackers",
        "description": "Retrieves existing shipment trackers from Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/list-trackers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "The page index, starting from 1.",
            "schema": {
              "type": "number",
              "description": "The page index, starting from 1.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "The maximum number of trackers returned per page.",
            "schema": {
              "type": "number",
              "description": "The maximum number of trackers returned per page.",
              "example": 100,
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Use 1 for oldest-first and -1 for newest-first by createdAt.",
            "schema": {
              "type": "number",
              "description": "Use 1 for oldest-first and -1 for newest-first by createdAt.",
              "enum": [
                "0",
                "1"
              ],
              "example": -1,
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientTrackerId": {
                            "type": "string",
                            "description": "Client-defined tracker identifier."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tracker creation timestamp."
                          },
                          "isSubscribed": {
                            "type": "boolean",
                            "description": "Whether the tracker is active for webhook subscription."
                          },
                          "isTracked": {
                            "type": "boolean",
                            "description": "Whether Ship24 is still actively tracking this shipment."
                          },
                          "shipmentReference": {
                            "type": "string",
                            "description": "Shipment reference provided at tracker creation."
                          },
                          "trackerId": {
                            "type": "string",
                            "description": "Ship24 tracker identifier."
                          },
                          "trackingNumber": {
                            "type": "string",
                            "description": "Tracking number used for this tracker."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/resend-tracker-webhook-events": {
      "post": {
        "operationId": "ship24.resend-tracker-webhook-events",
        "summary": "Resend Tracker Webhook Events",
        "description": "Resends webhook events for an existing Ship24 tracker.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/resend-tracker-webhook-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "trackerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trackerId": {
                    "type": "string",
                    "description": "Ship24 tracker ID returned when the tracker was created.",
                    "example": "26148317-7502-d3ac-44a9-546d240ac0dd"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "object",
                            "properties": {
                              "totalResent": {
                                "type": "number",
                                "description": "Total number of webhook events resent."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ship24/latest/actions/update-tracker": {
      "put": {
        "operationId": "ship24.update-tracker",
        "summary": "Update Tracker",
        "description": "Updates an existing tracker in Ship24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ship24/latest/actions/update-tracker"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "trackerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trackerId": {
                    "type": "string",
                    "description": "Ship24 tracker ID returned when the tracker was created.",
                    "example": "26148317-7502-d3ac-44a9-546d240ac0dd"
                  },
                  "isSubscribed": {
                    "type": "boolean",
                    "description": "Set false to stop future tracking updates and webhook notifications.",
                    "example": true
                  },
                  "courierCode": {
                    "type": "string",
                    "description": "Courier code that handles the shipment. Ship24 allows up to 3 codes.",
                    "example": "us-post",
                    "x-mindcloud-advanced": true
                  },
                  "originCountryCode": {
                    "type": "string",
                    "description": "Sender country code in ISO alpha-2 or alpha-3 format.",
                    "example": "CN"
                  },
                  "destinationCountryCode": {
                    "type": "string",
                    "description": "Recipient country code in ISO alpha-2 or alpha-3 format.",
                    "example": "US"
                  },
                  "destinationPostCode": {
                    "type": "string",
                    "description": "Recipient postal code or ZIP code.",
                    "example": "94901"
                  },
                  "shippingDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Shipment date in an ISO-compatible date or datetime format.",
                    "example": "2021-03-01"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
