{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Google Docs Universal API",
    "version": "0.0.30",
    "description": "Create documents, collaborate in real time, review feedback, and refine content."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/googleDocs/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/googleDocs/latest/actions/create-blank-document": {
      "post": {
        "operationId": "googleDocs.create-blank-document",
        "summary": "Create Blank Document",
        "description": "Creates a new blank document in Google Docs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDocs/latest/actions/create-blank-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the new document"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "endIndex": {
                                      "type": "number"
                                    },
                                    "sectionBreak": {
                                      "type": "object",
                                      "properties": {
                                        "sectionStyle": {
                                          "type": "object",
                                          "properties": {
                                            "columnSeparatorStyle": {
                                              "type": "string"
                                            },
                                            "contentDirection": {
                                              "type": "string"
                                            },
                                            "sectionType": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "documentId": {
                            "type": "string"
                          },
                          "documentStyle": {
                            "type": "object",
                            "properties": {
                              "documentFormat": {
                                "type": "object",
                                "properties": {
                                  "documentMode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginBottom": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginFooter": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginHeader": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginLeft": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginRight": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginTop": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pageNumberStart": {
                                "type": "number"
                              },
                              "pageSize": {
                                "type": "object",
                                "properties": {
                                  "height": {
                                    "type": "object",
                                    "properties": {
                                      "magnitude": {
                                        "type": "number"
                                      },
                                      "unit": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "width": {
                                    "type": "object",
                                    "properties": {
                                      "magnitude": {
                                        "type": "number"
                                      },
                                      "unit": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "useCustomHeaderFooterMargins": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "namedStyles": {
                            "type": "object",
                            "properties": {
                              "styles": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "namedStyleType": {
                                      "type": "string"
                                    },
                                    "paragraphStyle": {
                                      "type": "object",
                                      "properties": {
                                        "alignment": {
                                          "type": "string"
                                        },
                                        "avoidWidowAndOrphan": {
                                          "type": "boolean"
                                        },
                                        "borderBetween": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderBottom": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderLeft": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderRight": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderTop": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "direction": {
                                          "type": "string"
                                        },
                                        "indentEnd": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "indentFirstLine": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "indentStart": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "keepLinesTogether": {
                                          "type": "boolean"
                                        },
                                        "keepWithNext": {
                                          "type": "boolean"
                                        },
                                        "lineSpacing": {
                                          "type": "number"
                                        },
                                        "namedStyleType": {
                                          "type": "string"
                                        },
                                        "pageBreakBefore": {
                                          "type": "boolean"
                                        },
                                        "spaceAbove": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "spaceBelow": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "spacingMode": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "textStyle": {
                                      "type": "object",
                                      "properties": {
                                        "baselineOffset": {
                                          "type": "string"
                                        },
                                        "bold": {
                                          "type": "boolean"
                                        },
                                        "fontSize": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "italic": {
                                          "type": "boolean"
                                        },
                                        "smallCaps": {
                                          "type": "boolean"
                                        },
                                        "strikethrough": {
                                          "type": "boolean"
                                        },
                                        "underline": {
                                          "type": "boolean"
                                        },
                                        "weightedFontFamily": {
                                          "type": "object",
                                          "properties": {
                                            "fontFamily": {
                                              "type": "string"
                                            },
                                            "weight": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "revisionId": {
                            "type": "string"
                          },
                          "suggestionsViewMode": {
                            "type": "string"
                          },
                          "tabs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "documentTab": {
                                  "type": "object",
                                  "properties": {
                                    "body": {
                                      "type": "object",
                                      "properties": {
                                        "content": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "endIndex": {
                                                "type": "number"
                                              },
                                              "sectionBreak": {
                                                "type": "object",
                                                "properties": {
                                                  "sectionStyle": {
                                                    "type": "object",
                                                    "properties": {
                                                      "columnSeparatorStyle": {
                                                        "type": "string"
                                                      },
                                                      "contentDirection": {
                                                        "type": "string"
                                                      },
                                                      "sectionType": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "documentStyle": {
                                      "type": "object",
                                      "properties": {
                                        "documentFormat": {
                                          "type": "object",
                                          "properties": {
                                            "documentMode": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "marginBottom": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "marginFooter": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "marginHeader": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "marginLeft": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "marginRight": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "marginTop": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "pageNumberStart": {
                                          "type": "number"
                                        },
                                        "pageSize": {
                                          "type": "object",
                                          "properties": {
                                            "height": {
                                              "type": "object",
                                              "properties": {
                                                "magnitude": {
                                                  "type": "number"
                                                },
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "magnitude": {
                                                  "type": "number"
                                                },
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "useCustomHeaderFooterMargins": {
                                          "type": "boolean"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "namedStyles": {
                                      "type": "object",
                                      "properties": {
                                        "styles": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "namedStyleType": {
                                                "type": "string"
                                              },
                                              "paragraphStyle": {
                                                "type": "object",
                                                "properties": {
                                                  "alignment": {
                                                    "type": "string"
                                                  },
                                                  "avoidWidowAndOrphan": {
                                                    "type": "boolean"
                                                  },
                                                  "borderBetween": {
                                                    "type": "object",
                                                    "properties": {
                                                      "dashStyle": {
                                                        "type": "string"
                                                      },
                                                      "padding": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      "width": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "borderBottom": {
                                                    "type": "object",
                                                    "properties": {
                                                      "dashStyle": {
                                                        "type": "string"
                                                      },
                                                      "padding": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      "width": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "borderLeft": {
                                                    "type": "object",
                                                    "properties": {
                                                      "dashStyle": {
                                                        "type": "string"
                                                      },
                                                      "padding": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      "width": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "borderRight": {
                                                    "type": "object",
                                                    "properties": {
                                                      "dashStyle": {
                                                        "type": "string"
                                                      },
                                                      "padding": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      "width": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "borderTop": {
                                                    "type": "object",
                                                    "properties": {
                                                      "dashStyle": {
                                                        "type": "string"
                                                      },
                                                      "padding": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      "width": {
                                                        "type": "object",
                                                        "properties": {
                                                          "unit": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "direction": {
                                                    "type": "string"
                                                  },
                                                  "indentEnd": {
                                                    "type": "object",
                                                    "properties": {
                                                      "unit": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "indentFirstLine": {
                                                    "type": "object",
                                                    "properties": {
                                                      "unit": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "indentStart": {
                                                    "type": "object",
                                                    "properties": {
                                                      "unit": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "keepLinesTogether": {
                                                    "type": "boolean"
                                                  },
                                                  "keepWithNext": {
                                                    "type": "boolean"
                                                  },
                                                  "lineSpacing": {
                                                    "type": "number"
                                                  },
                                                  "namedStyleType": {
                                                    "type": "string"
                                                  },
                                                  "pageBreakBefore": {
                                                    "type": "boolean"
                                                  },
                                                  "spaceAbove": {
                                                    "type": "object",
                                                    "properties": {
                                                      "unit": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "spaceBelow": {
                                                    "type": "object",
                                                    "properties": {
                                                      "unit": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "spacingMode": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              "textStyle": {
                                                "type": "object",
                                                "properties": {
                                                  "baselineOffset": {
                                                    "type": "string"
                                                  },
                                                  "bold": {
                                                    "type": "boolean"
                                                  },
                                                  "fontSize": {
                                                    "type": "object",
                                                    "properties": {
                                                      "magnitude": {
                                                        "type": "number"
                                                      },
                                                      "unit": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "italic": {
                                                    "type": "boolean"
                                                  },
                                                  "smallCaps": {
                                                    "type": "boolean"
                                                  },
                                                  "strikethrough": {
                                                    "type": "boolean"
                                                  },
                                                  "underline": {
                                                    "type": "boolean"
                                                  },
                                                  "weightedFontFamily": {
                                                    "type": "object",
                                                    "properties": {
                                                      "fontFamily": {
                                                        "type": "string"
                                                      },
                                                      "weight": {
                                                        "type": "number"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "tabProperties": {
                                  "type": "object",
                                  "properties": {
                                    "index": {
                                      "type": "number"
                                    },
                                    "tabId": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDocs/latest/actions/delete-document": {
      "delete": {
        "operationId": "googleDocs.delete-document",
        "summary": "Delete Document",
        "description": "Permanently deletes a Google Docs document from Google Drive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDocs/latest/actions/delete-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "ID of the document file to delete",
            "schema": {
              "type": "string",
              "description": "ID of the document file to delete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDocs/latest/actions/get-document": {
      "get": {
        "operationId": "googleDocs.get-document",
        "summary": "Get Document",
        "description": "Retrieves a Google Docs document by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDocs/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "ID of the document",
            "schema": {
              "type": "string",
              "description": "ID of the document"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bullet": {
                                      "type": "object",
                                      "properties": {
                                        "listId": {
                                          "type": "string",
                                          "description": "List identifier for bulleted paragraphs."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "endIndex": {
                                      "type": "number"
                                    },
                                    "paragraph": {
                                      "type": "object",
                                      "properties": {
                                        "elements": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "startIndex": {
                                                "type": "number",
                                                "description": "Paragraph element start index."
                                              },
                                              "textRun": {
                                                "type": "object",
                                                "properties": {
                                                  "content": {
                                                    "type": "string",
                                                    "description": "Text run content."
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "paragraphStyle": {
                                          "type": "object",
                                          "properties": {
                                            "direction": {
                                              "type": "string",
                                              "description": "Paragraph text direction."
                                            },
                                            "namedStyleType": {
                                              "type": "string",
                                              "description": "Named paragraph style."
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "sectionBreak": {
                                      "type": "object",
                                      "properties": {
                                        "sectionStyle": {
                                          "type": "object",
                                          "properties": {
                                            "columnSeparatorStyle": {
                                              "type": "string"
                                            },
                                            "contentDirection": {
                                              "type": "string"
                                            },
                                            "sectionType": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "startIndex": {
                                      "type": "number",
                                      "description": "Content element start index."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "documentId": {
                            "type": "string"
                          },
                          "documentStyle": {
                            "type": "object",
                            "properties": {
                              "defaultHeaderId": {
                                "type": "string"
                              },
                              "documentFormat": {
                                "type": "object",
                                "properties": {
                                  "documentMode": {
                                    "type": "string",
                                    "description": "Document layout mode."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginBottom": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginFooter": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginHeader": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginLeft": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginRight": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "marginTop": {
                                "type": "object",
                                "properties": {
                                  "magnitude": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pageNumberStart": {
                                "type": "number"
                              },
                              "pageSize": {
                                "type": "object",
                                "properties": {
                                  "height": {
                                    "type": "object",
                                    "properties": {
                                      "magnitude": {
                                        "type": "number"
                                      },
                                      "unit": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "width": {
                                    "type": "object",
                                    "properties": {
                                      "magnitude": {
                                        "type": "number"
                                      },
                                      "unit": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "useCustomHeaderFooterMargins": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "headers": {
                            "type": "object",
                            "properties": {
                              "kix": {
                                "type": "object",
                                "properties": {
                                  "wlpjykobduf8": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "endIndex": {
                                              "type": "number"
                                            },
                                            "paragraph": {
                                              "type": "object",
                                              "properties": {
                                                "elements": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "endIndex": {
                                                        "type": "number"
                                                      },
                                                      "textRun": {
                                                        "type": "object",
                                                        "properties": {
                                                          "content": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "paragraphStyle": {
                                                  "type": "object",
                                                  "properties": {
                                                    "direction": {
                                                      "type": "string"
                                                    },
                                                    "namedStyleType": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "headerId": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "namedStyles": {
                            "type": "object",
                            "properties": {
                              "styles": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "namedStyleType": {
                                      "type": "string"
                                    },
                                    "paragraphStyle": {
                                      "type": "object",
                                      "properties": {
                                        "alignment": {
                                          "type": "string"
                                        },
                                        "avoidWidowAndOrphan": {
                                          "type": "boolean"
                                        },
                                        "borderBetween": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderBottom": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderLeft": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderRight": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "borderTop": {
                                          "type": "object",
                                          "properties": {
                                            "dashStyle": {
                                              "type": "string"
                                            },
                                            "padding": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "width": {
                                              "type": "object",
                                              "properties": {
                                                "unit": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "direction": {
                                          "type": "string"
                                        },
                                        "indentEnd": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "indentFirstLine": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "indentStart": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "keepLinesTogether": {
                                          "type": "boolean"
                                        },
                                        "keepWithNext": {
                                          "type": "boolean"
                                        },
                                        "lineSpacing": {
                                          "type": "number"
                                        },
                                        "namedStyleType": {
                                          "type": "string"
                                        },
                                        "pageBreakBefore": {
                                          "type": "boolean"
                                        },
                                        "spaceAbove": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "spaceBelow": {
                                          "type": "object",
                                          "properties": {
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "spacingMode": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "textStyle": {
                                      "type": "object",
                                      "properties": {
                                        "baselineOffset": {
                                          "type": "string"
                                        },
                                        "bold": {
                                          "type": "boolean"
                                        },
                                        "fontSize": {
                                          "type": "object",
                                          "properties": {
                                            "magnitude": {
                                              "type": "number"
                                            },
                                            "unit": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "italic": {
                                          "type": "boolean"
                                        },
                                        "smallCaps": {
                                          "type": "boolean"
                                        },
                                        "strikethrough": {
                                          "type": "boolean"
                                        },
                                        "underline": {
                                          "type": "boolean"
                                        },
                                        "weightedFontFamily": {
                                          "type": "object",
                                          "properties": {
                                            "fontFamily": {
                                              "type": "string"
                                            },
                                            "weight": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "revisionId": {
                            "type": "string",
                            "description": "Opaque document revision identifier."
                          },
                          "suggestionsViewMode": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
