{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "updown.io Universal API",
    "version": "0.1.1",
    "description": "Monitor websites, manage checks, alert recipients, monitoring nodes, and status pages in updown.io."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/updownio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/updownio/latest/actions/create-check": {
      "post": {
        "operationId": "updownio.create-check",
        "summary": "Create Check",
        "description": "Creates a new check in updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/create-check"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "alias": {
                    "type": "string",
                    "description": "Human-readable name for the check."
                  },
                  "apdexT": {
                    "type": "number",
                    "description": "APDEX threshold in seconds."
                  },
                  "customHeaders": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom HTTP headers for updown requests."
                  },
                  "disabledLocations[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Monitoring locations to disable for this check."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the check is enabled."
                  },
                  "httpBody": {
                    "type": "string",
                    "description": "HTTP body sent with the request."
                  },
                  "httpVerb": {
                    "type": "string",
                    "description": "HTTP verb used for the check request.",
                    "enum": [
                      "DELETE",
                      "GET/HEAD",
                      "OPTIONS",
                      "PATCH",
                      "POST",
                      "PUT"
                    ]
                  },
                  "muteUntil": {
                    "type": "string",
                    "description": "Mute notifications until the given time, recovery, or forever."
                  },
                  "period": {
                    "type": "number",
                    "description": "Interval in seconds."
                  },
                  "published": {
                    "type": "boolean",
                    "description": "Whether the status page entry is public."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Selected alert recipients for the check."
                  },
                  "stringMatch": {
                    "type": "string",
                    "description": "Search for this string in the page."
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of check to create.",
                    "enum": [
                      "http",
                      "https",
                      "icmp",
                      "pulse",
                      "tcp",
                      "tcps"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL you want to monitor, except for pulse checks."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string",
                            "description": "Optional alias."
                          },
                          "apdex_t": {
                            "type": "number",
                            "description": "APDEX threshold in seconds."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "custom_headers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom request headers."
                          },
                          "disabled_locations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Disabled monitoring locations."
                          },
                          "down": {
                            "type": "boolean",
                            "description": "Whether the check is currently down."
                          },
                          "down_since": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the check most recently went down."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the check is enabled."
                          },
                          "error": {
                            "type": "string",
                            "description": "Last error message."
                          },
                          "favicon_url": {
                            "type": "string",
                            "description": "Favicon URL."
                          },
                          "http_body": {
                            "type": "string",
                            "description": "Configured request body."
                          },
                          "http_verb": {
                            "type": "string",
                            "description": "Configured HTTP verb."
                          },
                          "last_check_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last check timestamp."
                          },
                          "last_status": {
                            "type": "number",
                            "description": "Last HTTP status code."
                          },
                          "mute_until": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Mute-until timestamp."
                          },
                          "next_check_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Next check timestamp."
                          },
                          "period": {
                            "type": "number",
                            "description": "Check interval in seconds."
                          },
                          "published": {
                            "type": "boolean",
                            "description": "Whether the check is public on a status page."
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Recipient identifiers."
                          },
                          "string_match": {
                            "type": "string",
                            "description": "Expected string match."
                          },
                          "token": {
                            "type": "string",
                            "description": "Check token."
                          },
                          "type": {
                            "type": "string",
                            "description": "Check type."
                          },
                          "up_since": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the check most recently came back up."
                          },
                          "uptime": {
                            "type": "number",
                            "description": "Current uptime percentage."
                          },
                          "url": {
                            "type": "string",
                            "description": "Monitored URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/create-recipient": {
      "post": {
        "operationId": "updownio.create-recipient",
        "summary": "Create Recipient",
        "description": "Creates a new alert recipient in updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/create-recipient"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional label for recipient types that support it."
                  },
                  "selected": {
                    "type": "boolean",
                    "description": "Whether the new recipient is selected on all existing checks."
                  },
                  "type": {
                    "type": "string",
                    "description": "Recipient type: email, sms, webhook, slack_compatible, or msteams.",
                    "enum": [
                      "email",
                      "msteams",
                      "slack_compatible",
                      "sms",
                      "webhook"
                    ]
                  },
                  "value": {
                    "type": "string",
                    "description": "The recipient value, such as an email address, phone number, or URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Recipient identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Recipient display name."
                          },
                          "type": {
                            "type": "string",
                            "description": "Recipient channel type."
                          },
                          "value": {
                            "type": "string",
                            "description": "Recipient destination value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/create-status-page": {
      "post": {
        "operationId": "updownio.create-status-page",
        "summary": "Create Status Page",
        "description": "Creates a new status page in updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/create-status-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "checks[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accessKey": {
                    "type": "string",
                    "description": "Access key for protected pages."
                  },
                  "checks[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of check tokens to show on the status page."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description text displayed below the status page name."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the status page."
                  },
                  "visibility": {
                    "type": "string",
                    "description": "Page visibility: public, protected, or private.",
                    "enum": [
                      "private",
                      "protected",
                      "public"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_key": {
                            "type": "string",
                            "description": "Protected-page access key."
                          },
                          "checks": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Check tokens shown on the page."
                          },
                          "description": {
                            "type": "string",
                            "description": "Status page description."
                          },
                          "name": {
                            "type": "string",
                            "description": "Status page name."
                          },
                          "token": {
                            "type": "string",
                            "description": "Status page token."
                          },
                          "url": {
                            "type": "string",
                            "description": "Public status page URL."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Status page visibility."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/delete-check": {
      "delete": {
        "operationId": "updownio.delete-check",
        "summary": "Delete Check",
        "description": "Deletes an existing check from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/delete-check"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The check unique token.",
            "schema": {
              "type": "string",
              "description": "The check unique token."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the check was deleted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/delete-recipient": {
      "delete": {
        "operationId": "updownio.delete-recipient",
        "summary": "Delete Recipient",
        "description": "Deletes an alert recipient from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/delete-recipient"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The recipient ID to delete.",
            "schema": {
              "type": "string",
              "description": "The recipient ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the recipient was deleted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/delete-status-page": {
      "delete": {
        "operationId": "updownio.delete-status-page",
        "summary": "Delete Status Page",
        "description": "Deletes an existing status page from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/delete-status-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The status page unique token.",
            "schema": {
              "type": "string",
              "description": "The status page unique token."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the status page was deleted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/get-check": {
      "get": {
        "operationId": "updownio.get-check",
        "summary": "Get Check",
        "description": "Retrieves a monitoring check from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/get-check"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": false,
            "description": "Include performance metrics from the last hour.",
            "schema": {
              "type": "boolean",
              "description": "Include performance metrics from the last hour."
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The check unique token.",
            "schema": {
              "type": "string",
              "description": "The check unique token."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string",
                            "description": "Optional alias."
                          },
                          "apdex_t": {
                            "type": "number",
                            "description": "APDEX threshold."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "custom_headers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom request headers."
                          },
                          "disabled_locations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Disabled locations."
                          },
                          "domain": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Domain metadata."
                          },
                          "down": {
                            "type": "boolean",
                            "description": "Whether the check is currently down."
                          },
                          "down_since": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the check most recently went down."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the check is enabled."
                          },
                          "error": {
                            "type": "string",
                            "description": "Last error message."
                          },
                          "favicon_url": {
                            "type": "string",
                            "description": "Favicon URL."
                          },
                          "http_body": {
                            "type": "string",
                            "description": "Configured request body."
                          },
                          "http_verb": {
                            "type": "string",
                            "description": "HTTP method configuration."
                          },
                          "last_check_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last check timestamp."
                          },
                          "last_status": {
                            "type": "number",
                            "description": "Last HTTP status code."
                          },
                          "mute_until": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Mute-until timestamp."
                          },
                          "next_check_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Next check timestamp."
                          },
                          "period": {
                            "type": "number",
                            "description": "Check interval in seconds."
                          },
                          "published": {
                            "type": "boolean",
                            "description": "Whether the check is published."
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Recipient identifiers."
                          },
                          "string_match": {
                            "type": "string",
                            "description": "Expected string match."
                          },
                          "token": {
                            "type": "string",
                            "description": "Check token."
                          },
                          "type": {
                            "type": "string",
                            "description": "Check type."
                          },
                          "up_since": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the check most recently came back up."
                          },
                          "uptime": {
                            "type": "number",
                            "description": "Current uptime percentage."
                          },
                          "url": {
                            "type": "string",
                            "description": "Monitored URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/get-check-metrics": {
      "get": {
        "operationId": "updownio.get-check-metrics",
        "summary": "Get Check Metrics",
        "description": "Retrieves detailed check metrics from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/get-check-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start time for the metrics window.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start time for the metrics window."
            }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Group data by time or host.",
            "schema": {
              "type": "string",
              "description": "Group data by time or host.",
              "enum": [
                "host",
                "time"
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End time for the metrics window.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End time for the metrics window."
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The check unique token.",
            "schema": {
              "type": "string",
              "description": "The check unique token."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apdex": {
                            "type": "number",
                            "description": "APDEX score over the metrics window."
                          },
                          "requests": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request volume and latency-bucket metrics."
                          },
                          "timings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Timing breakdown metrics."
                          },
                          "uptime": {
                            "type": "number",
                            "description": "Uptime percentage over the metrics window."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/list-check-downtimes": {
      "get": {
        "operationId": "updownio.list-check-downtimes",
        "summary": "List Check Downtimes",
        "description": "Retrieves all check downtimes from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/list-check-downtimes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The page to fetch, 100 per page.",
            "schema": {
              "type": "number",
              "description": "The page to fetch, 100 per page."
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "description": "Include detailed downtime results.",
            "schema": {
              "type": "boolean",
              "description": "Include detailed downtime results."
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The check unique token.",
            "schema": {
              "type": "string",
              "description": "The check unique token."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "details_url": {
                            "type": "string",
                            "description": "URL to the downtime details page."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Downtime duration in seconds."
                          },
                          "ended_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Downtime end timestamp."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message for the downtime."
                          },
                          "id": {
                            "type": "string",
                            "description": "Downtime identifier."
                          },
                          "partial": {
                            "type": "boolean",
                            "description": "Whether the downtime record is partial."
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Downtime start timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/list-checks": {
      "get": {
        "operationId": "updownio.list-checks",
        "summary": "List Checks",
        "description": "Retrieves all monitoring checks from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/list-checks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alias": {
                            "type": "string",
                            "description": "Optional alias."
                          },
                          "apdex_t": {
                            "type": "number",
                            "description": "APDEX threshold."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "custom_headers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom request headers."
                          },
                          "disabled_locations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Disabled locations."
                          },
                          "domain": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Domain metadata."
                          },
                          "down": {
                            "type": "boolean",
                            "description": "Whether the check is currently down."
                          },
                          "down_since": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the check most recently went down."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the check is enabled."
                          },
                          "error": {
                            "type": "string",
                            "description": "Last error message."
                          },
                          "favicon_url": {
                            "type": "string",
                            "description": "Favicon URL."
                          },
                          "http_body": {
                            "type": "string",
                            "description": "Configured request body."
                          },
                          "http_verb": {
                            "type": "string",
                            "description": "HTTP method configuration."
                          },
                          "last_check_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last check timestamp."
                          },
                          "last_status": {
                            "type": "number",
                            "description": "Last HTTP status code."
                          },
                          "mute_until": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Mute-until timestamp."
                          },
                          "next_check_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Next check timestamp."
                          },
                          "period": {
                            "type": "number",
                            "description": "Check interval in seconds."
                          },
                          "published": {
                            "type": "boolean",
                            "description": "Whether the check is published."
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Recipient identifiers."
                          },
                          "string_match": {
                            "type": "string",
                            "description": "Expected string match."
                          },
                          "token": {
                            "type": "string",
                            "description": "Check token."
                          },
                          "type": {
                            "type": "string",
                            "description": "Check type."
                          },
                          "up_since": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the check most recently came back up."
                          },
                          "uptime": {
                            "type": "number",
                            "description": "Current uptime percentage."
                          },
                          "url": {
                            "type": "string",
                            "description": "Monitored URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/list-node-ip-addresses": {
      "get": {
        "operationId": "updownio.list-node-ip-addresses",
        "summary": "List Node IP Addresses",
        "description": "Retrieves node IP addresses from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/list-node-ip-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/list-node-ipv4-addresses": {
      "get": {
        "operationId": "updownio.list-node-ipv4-addresses",
        "summary": "List Node IPv4 Addresses",
        "description": "Retrieves node IPv4 addresses from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/list-node-ipv4-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/updownio/latest/actions/list-node-ipv6-addresses": {
      "get": {
        "operationId": "updownio.list-node-ipv6-addresses",
        "summary": "List Node IPv6 Addresses",
        "description": "Retrieves node IPv6 addresses from updown.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/updownio/latest/actions/list-node-ipv6-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
[...]
