{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Scrapeless Universal API",
    "version": "0.0.2",
    "description": "Scrape websites, manage browser sessions, and extract structured data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/scrapeless/latest/actions/cancel-batch-scrape-job": {
      "delete": {
        "operationId": "scrapeless.cancel-batch-scrape-job",
        "summary": "Cancel Batch Scrape Job",
        "description": "Deletes a batch scrape job from Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/cancel-batch-scrape-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/cancel-crawl-job": {
      "delete": {
        "operationId": "scrapeless.cancel-crawl-job",
        "summary": "Cancel Crawl Job",
        "description": "Deletes a crawl job from Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/cancel-crawl-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/clear-browser-signals": {
      "delete": {
        "operationId": "scrapeless.clear-browser-signals",
        "summary": "Clear Browser Signals",
        "description": "Deletes browser signals from Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/clear-browser-signals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "session task id",
            "schema": {
              "type": "string",
              "description": "session task id"
            }
          },
          {
            "name": "xApiToken",
            "in": "query",
            "required": false,
            "description": "API Key",
            "schema": {
              "type": "string",
              "description": "API Key"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Event name, if not provided, all events will be cleared",
            "schema": {
              "type": "string",
              "description": "Event name, if not provided, all events will be cleared"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/configure-1password-integration": {
      "put": {
        "operationId": "scrapeless.configure-1password-integration",
        "summary": "Configure 1Password Integration",
        "description": "Updates the 1Password integration in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/configure-1password-integration"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "token"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "xApiToken": {
                    "type": "string",
                    "description": "API key for authentication"
                  },
                  "name": {
                    "type": "string",
                    "description": "Integration name used to identify this 1Password integration configuration"
                  },
                  "token": {
                    "type": "string",
                    "description": "1Password API access token for securely accessing your 1Password vault. This should be a service account token starting with 'ops_'"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-batch-scrape-job": {
      "post": {
        "operationId": "scrapeless.create-batch-scrape-job",
        "summary": "Create Batch Scrape Job",
        "description": "Creates a new batch scrape job in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-batch-scrape-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "urls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "formats[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Formats to include in the output."
                  },
                  "onlyMainContent": {
                    "type": "boolean",
                    "description": "Only return the main content of the page excluding headers, navs, footers, etc."
                  },
                  "includeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to include in the output."
                  },
                  "excludeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to exclude from the output."
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Headers to send with the request. Can be used to send cookies, user-agent, etc."
                  },
                  "waitFor": {
                    "type": "number",
                    "description": "Specify a delay in milliseconds before fetching the content, allowing the page sufficient time to load."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Timeout in milliseconds for the request"
                  },
                  "browserOptions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "browserOptions.sessionName": {
                    "type": "string",
                    "description": "Set a name for your session to facilitate searching and viewing in the historical session list."
                  },
                  "browserOptions.sessionTTL": {
                    "type": "string",
                    "description": "Controls the session duration and automatically closes the browser instance after timeout. Measured in seconds (s), defaults to 180 seconds (3 minutes), customizable between 60 seconds (1 minute) and 900 seconds (recommended maximum 15 minutes, but longer times can be set). Once the specified TTL is reached, the session will expire and Scraping Browser will close the browser instance to free resources."
                  },
                  "browserOptions.sessionRecording": {
                    "type": "string",
                    "description": "Whether to enable session recording. When enabled, the entire browser session execution process will be automatically recorded, and after the session is completed, it can be replayed and viewed in the historical session list details. Defaults to false."
                  },
                  "browserOptions.proxyCountry": {
                    "type": "string",
                    "description": "Sets the target country/region for the proxy, sending requests via an IP address from that region. You can specify a country code (e.g., US for the United States, GB for the United Kingdom, ANY for any country). See country codes for all supported options."
                  },
                  "browserOptions.proxyURL": {
                    "type": "string",
                    "description": "Used to set the browser’s proxy URL, for example: http://user:pass@ip:port. If this parameter is set, all other proxy_* parameters will be ignored.\n\n- 💡Custom proxy functionality is currently only available to Enterprise and Enterprise Enhanced subscription users Upgrade Now\n- 💡Enterprise-level custom users can contact us to use custom proxies."
                  },
                  "browserOptions.fingerprint": {
                    "type": "string",
                    "description": "A browser fingerprint is a nearly unique “digital fingerprint” created using your browser and device configuration information, which can be used to track your online activity even without cookies. Fortunately, configuring fingerprints in Scraping Browser is optional. We offer deep customization of browser fingerprints, such as core parameters like browser user agent, time zone, language, and screen resolution, and support extending functionality through custom launch parameters. Suitable for multi-account management, data collection, and privacy protection scenarios, using scrapeless’s own Chromium browser completely avoids detection. By default, our Scraping Browser service generates a random fingerprint for each session. Reference"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "invalidURLs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "If ignoreInvalidURLs is true, this is an array containing the invalid URLs that were specified in the request. If there were no invalid URLs, this will be an empty array. If ignoreInvalidURLs is false, this field will be undefined."
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-browser-profile": {
      "post": {
        "operationId": "scrapeless.create-browser-profile",
        "summary": "Create Browser Profile",
        "description": "Creates a new browser profile in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-browser-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "profile name"
                          },
                          "profileId": {
                            "type": "string",
                            "description": "profile id"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-browser-session-task": {
      "post": {
        "operationId": "scrapeless.create-browser-session-task",
        "summary": "Create Browser Session Task",
        "description": "Creates a browser session task in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-browser-session-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sessionTTL"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "sessionTTL": {
                    "type": "string",
                    "description": "The session_ttl parameter controls the duration of the session and automatically closes the browser instance after the session times out. The unit of session_ttl is seconds (S), with a default value of 180 seconds (i.e., 3 minutes), and can be customized between 60 seconds (1 minute) and 900 seconds (15 minutes). When the specified TTL time is reached, the session will become invalid, and Scraping Browser will close the browser instance to release resources. Please set the session_ttl reasonably according to the task requirements to ensure that the operations are completed before the session times out."
                  },
                  "sessionName": {
                    "type": "string",
                    "description": "Set a name for your session to facilitate searching and viewing in the historical session list."
                  },
                  "sessionRecording": {
                    "type": "boolean",
                    "description": "Whether to enable session recording. When enabled, the entire browser session execution process will be automatically recorded, and after the session is completed, it can be replayed and viewed in the historical session list details."
                  },
                  "proxyURL": {
                    "type": "string",
                    "description": "Used to set the browser’s proxy URL, for example: http://user:pass@ip:port. If this parameter is set, all other proxy* parameters will be ignored. Required if `proxyCountry` not set.\n> 💡Custom proxy functionality is currently only available to subscribers. [Upgrade here](https://www.scrapeless.com/en/pricing)"
                  },
                  "proxyCountry[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The proxyCountry parameter is used to set the target country of the proxy, making the request sent through the IP address of that region. You can customize the proxy source by specifying a country code for proxyCountry (e.g., US for the United States, GB for the United Kingdom, ANY for any country). Scraping Browser will provide the corresponding IP address based on the specified country, which helps meet regional access restrictions or geographic positioning needs. Required if `proxyURL` not set."
                  },
                  "proxyState": {
                    "type": "string",
                    "description": "Specifies the target state/province within the selected country for more granular proxy routing. Must be used in conjunction with `proxyCountry`. Accepts state codes (e.g., `CA` for California, `NY` for New York). Available for select countries with defined state/province divisions. [learn mor](https://docs.scrapeless.com/en/proxies/features/proxy)"
                  },
                  "proxyCity": {
                    "type": "string",
                    "description": "Specifies the target city within the selected state/province for city-level proxy routing. Must be used in conjunction with `proxyCountry` and `proxyState`. Provides the most precise geographic targeting. Availability depends on proxy infrastructure in specific cities."
                  },
                  "extensionIds": {
                    "type": "string",
                    "description": "setup browser extension by extension id, separate by comma for multiple extensions"
                  },
                  "fingerprint": {
                    "type": "string",
                    "description": "Custom browser fingerprint with URL encoded JSON string format, see below for full schema. note that the`ws/get`type of request cannot have a request body, the`Body Params`below only for display purpose"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "if task created"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "session taskId"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-crawl-job": {
      "post": {
        "operationId": "scrapeless.create-crawl-job",
        "summary": "Create Crawl Job",
        "description": "Creates a new crawl job in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-crawl-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The base URL to start crawling from"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of pages to crawl. Default limit is 10000."
                  },
                  "excludePaths[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URL pathname regex patterns that exclude matching URLs from the crawl. For example, if you set \"excludePaths\": [\"blog/.*\"] for the base URL firecrawl.dev, any results matching that pattern will be excluded, such as https://www.scrapeless.com/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URL pathname regex patterns that include matching URLs in the crawl. Only the paths that match the specified patterns will be included in the response. For example, if you set \"includePaths\": [\"blog/.*\"] for the base URL firecrawl.dev, only results matching that pattern will be included, such as https://www.scrapeless.com/blog/firecrawl-launch-week-1-recap."
                  },
                  "maxDepth": {
                    "type": "number",
                    "description": "Maximum depth to crawl relative to the base URL. Basically, the max number of slashes the pathname of a scraped URL may contain."
                  },
                  "maxDiscoveryDepth": {
                    "type": "number",
                    "description": "Maximum depth to crawl based on discovery order. The root site and sitemapped pages has a discovery depth of 0. For example, if you set it to 1, and you set ignoreSitemap, you will only crawl the entered URL and all URLs that are linked on that page."
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Ignore the website sitemap when crawling"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Do not re-scrape the same path with different (or none) query parameters"
                  },
                  "deduplicateSimilarURLs": {
                    "type": "boolean",
                    "description": "Controls whether similar URLs should be deduplicated."
                  },
                  "regexOnFullURL": {
                    "type": "boolean",
                    "description": "Controls whether the regular expression should be applied to the full URL."
                  },
                  "allowBackwardLinks": {
                    "type": "boolean",
                    "description": "By default, the crawl skips sublinks that aren’t part of the URL hierarchy you specify. For example, crawling https://example.com/products/ wouldn’t capture pages under https://example.com/promotions/deal-567. To include such links, enable the `allowBackwardLinks` parameter."
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Allows the crawler to follow links to external websites."
                  },
                  "delay": {
                    "type": "number",
                    "description": "Delay in seconds between scrapes. This helps respect website rate limits."
                  },
                  "scrapeOptions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "scrapeOptions.formats[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Formats to include in the output."
                  },
                  "scrapeOptions.onlyMainContent": {
                    "type": "boolean",
                    "description": "Only return the main content of the page excluding headers, navs, footers, etc."
                  },
                  "scrapeOptions.includeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to include in the output."
                  },
                  "scrapeOptions.excludeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to exclude from the output."
                  },
                  "scrapeOptions.headers": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Headers to send with the request. Can be used to send cookies, user-agent, etc."
                  },
                  "scrapeOptions.waitFor": {
                    "type": "number",
                    "description": "Specify a delay in milliseconds before fetching the content, allowing the page sufficient time to load."
                  },
                  "scrapeOptions.timeout": {
                    "type": "number",
                    "description": "Timeout in milliseconds for the request"
                  },
                  "browserOptions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "browserOptions.sessionName": {
                    "type": "string",
                    "description": "Set a name for your session to facilitate searching and viewing in the historical session list."
                  },
                  "browserOptions.sessionTTL": {
                    "type": "string",
                    "description": "Controls the session duration and automatically closes the browser instance after timeout. Measured in seconds (s), defaults to 180 seconds (3 minutes), customizable between 60 seconds (1 minute) and 900 seconds (recommended maximum 15 minutes, but longer times can be set). Once the specified TTL is reached, the session will expire and Scraping Browser will close the browser instance to free resources."
                  },
                  "browserOptions.sessionRecording": {
                    "type": "string",
                    "description": "Whether to enable session recording. When enabled, the entire browser session execution process will be automatically recorded, and after the session is completed, it can be replayed and viewed in the historical session list details. Defaults to false."
                  },
                  "browserOptions.proxyCountry": {
                    "type": "string",
                    "description": "Sets the target country/region for the proxy, sending requests via an IP address from that region. You can specify a country code (e.g., US for the United States, GB for the United Kingdom, ANY for any country). See country codes for all supported options."
                  },
                  "browserOptions.proxyURL": {
                    "type": "string",
                    "description": "Used to set the browser’s proxy URL, for example: http://user:pass@ip:port. If this parameter is set, all other proxy_* parameters will be ignored.\n\n- 💡Custom proxy functionality is currently only available to Enterprise and Enterprise Enhanced subscription users Upgrade Now\n- 💡Enterprise-level custom users can contact us to use custom proxies."
                  },
                  "browserOptions.fingerprint": {
                    "type": "string",
                    "description": "A browser fingerprint is a nearly unique “digital fingerprint” created using your browser and device configuration information, which can be used to track your online activity even without cookies. Fortunately, configuring fingerprints in Scraping Browser is optional. We offer deep customization of browser fingerprints, such as core parameters like browser user agent, time zone, language, and screen resolution, and support extending functionality through custom launch parameters. Suitable for multi-account management, data collection, and privacy protection scenarios, using scrapeless’s own Chromium browser completely avoids detection. By default, our Scraping Browser service generates a random fingerprint for each session. Reference"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-js-render-request": {
      "post": {
        "operationId": "scrapeless.create-js-render-request",
        "summary": "Create JS Render Request",
        "description": "Creates a JS render request in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-js-render-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "proxy",
                  "proxy.country",
                  "input",
                  "input.url",
                  "input.cookies[].domain",
                  "input.cookies[].path",
                  "input.cookies[].name",
                  "input.cookies[].value",
                  "input.jsRender",
                  "input.jsRender.enabled",
                  "input.jsRender.response",
                  "input.jsRender.response.type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "proxy": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "proxy info"
                  },
                  "proxy.country": {
                    "type": "string",
                    "description": "proxy country, see more in [Scrapeless proxy documentation](https://docs.scrapeless.com/en/proxies/features/proxy/)"
                  },
                  "proxy.url": {
                    "type": "string",
                    "description": "proxy url"
                  },
                  "input": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "input.url": {
                    "type": "string",
                    "description": "target URL"
                  },
                  "input.cookies[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "cookies for JS render"
                  },
                  "input.cookies[].domain": {
                    "type": "string",
                    "description": "cookie domain"
                  },
                  "input.cookies[].path": {
                    "type": "string",
                    "description": "cookie path"
                  },
                  "input.cookies[].name": {
                    "type": "string",
                    "description": "cookie name"
                  },
                  "input.cookies[].value": {
                    "type": "string",
                    "description": "cookie value"
                  },
                  "input.cookies[].expires": {
                    "type": "number",
                    "description": "cookie expiration date as the number of seconds since the UNIX epoch. Set to `-1` for session cookies"
                  },
                  "input.cookies[].sameSite": {
                    "type": "string",
                    "description": "cookie SameSite type"
                  },
                  "input.cookies[].secure": {
                    "type": "boolean",
                    "description": "`true` if cookie is secure"
                  },
                  "input.jsRender": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JS render options"
                  },
                  "input.jsRender.enabled": {
                    "type": "boolean",
                    "description": "enable JS rendering"
                  },
                  "input.jsRender.headless": {
                    "type": "boolean",
                    "description": "whether processing in headless mode"
                  },
                  "input.jsRender.waitUntil": {
                    "type": "string",
                    "description": "when to consider waiting succeeds. given an array of event strings, waiting is considered to be successful after all events have been fired"
                  },
                  "input.jsRender.instructions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "[JavaScript Instructions Reference](https://docs.scrapeless.com/en/web-unlocker/features/js-render/#javascript-instructions-reference)"
                  },
                  "input.jsRender.instructions[].wait": {
                    "type": "number",
                    "description": "Wait for Wait for element"
                  },
                  "input.jsRender.instructions[].waitFor": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Wait for element"
                  },
                  "input.jsRender.instructions[].waitFor.0": {
                    "type": "string",
                    "description": "Selector"
                  },
                  "input.jsRender.instructions[].waitFor.1": {
                    "type": "number",
                    "description": "Timeout(s)"
                  },
                  "input.jsRender.instructions[].click[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Click element"
                  },
                  "input.jsRender.instructions[].click[].0": {
                    "type": "string",
                    "description": "Selector"
                  },
                  "input.jsRender.instructions[].click[].1": {
                    "type": "number",
                    "description": "Timeout(s)"
                  },
                  "input.jsRender.instructions[].fill": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fill form"
                  },
                  "input.jsRender.instructions[].fill.0": {
                    "type": "string",
                    "description": "Selector"
                  },
                  "input.jsRender.instructions[].fill.1": {
                    "type": "string",
                    "description": "value"
                  },
                  "input.jsRender.instructions[].keyboard": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "[Keyboard Operations](https://docs.scrapeless.com/en/web-unlocker/features/js-render/#keyboard-operations)"
                  },
                  "input.jsRender.instructions[].keyboard.0": {
                    "type": "string",
                    "description": "Press a specific [keyInput](https://pptr.dev/api/puppeteer.keyinput)"
                  },
                  "input.jsRender.instructions[].keyboard.1": {
                    "type": "string",
                    "description": "key ｜ value"
                  },
                  "input.jsRender.instructions[].keyboard.2": {
                    "type": "number",
                    "description": "delay(ms)"
                  },
                  "input.jsRender.instructions[].evaluate": {
                    "type": "string",
                    "description": "Execute custom javascript code"
                  },
                  "input.jsRender.block": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "resources or urls to block"
                  },
                  "input.jsRender.block.resources[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "block resources"
                  },
                  "input.jsRender.block.urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "block urls"
                  },
                  "input.jsRender.response": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "response config"
                  },
                  "input.jsRender.response.type": {
                    "type": "string",
                    "description": "response type"
                  },
                  "input.jsRender.response.options": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "response options"
                  },
                  "input.jsRender.response.options.selector": {
                    "type": "string",
                    "description": "CSS selector for output filters and specified response type. only works when type equals to one of`html | plaintext | markdown | png | jpeg`"
                  },
                  "input.jsRender.response.options.fullPage": {
                    "type": "boolean",
                    "description": "whether takes a screen of the full page.  only works when type equals to`png`or`jpeg`"
                  },
                  "input.jsRender.response.options.urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "only include requests whose URL matches any of specified strings or patterns, supports substring match. only works when type equals to`network`"
                  },
                  "input.jsRender.response.options.status[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "only include requests with specified HTTP status codes. only works when type equals to`network`"
                  },
                  "input.jsRender.response.options.methods[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "only include requests with specified HTTP methods (e.g., GET, POST). only works when type equals to`network`"
                  },
                  "input.jsRender.response.options.outputs": {
                    "type": "string",
                    "description": "filter data from HTML, it accepts a comma-separated list of filter names and returns the results in a escaped JSON string format. only works when type equals to`content`"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-scrape-job": {
      "post": {
        "operationId": "scrapeless.create-scrape-job",
        "summary": "Create Scrape Job",
        "description": "Creates a new scrape job in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-scrape-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to scrape"
                  },
                  "formats[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Formats to include in the output."
                  },
                  "onlyMainContent": {
                    "type": "boolean",
                    "description": "Only return the main content of the page excluding headers, navs, footers, etc."
                  },
                  "includeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to include in the output."
                  },
                  "excludeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to exclude from the output."
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Headers to send with the request. Can be used to send cookies, user-agent, etc."
                  },
                  "waitFor": {
                    "type": "number",
                    "description": "Specify a delay in milliseconds before fetching the content, allowing the page sufficient time to load."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Timeout in milliseconds for the request"
                  },
                  "browserOptions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "browserOptions.sessionName": {
                    "type": "string",
                    "description": "Set a name for your session to facilitate searching and viewing in the historical session list."
                  },
                  "browserOptions.sessionTTL": {
                    "type": "string",
                    "description": "Controls the session duration and automatically closes the browser instance after timeout. Measured in seconds (s), defaults to 180 seconds (3 minutes), customizable between 60 seconds (1 minute) and 900 seconds (recommended maximum 15 minutes, but longer times can be set). Once the specified TTL is reached, the session will expire and Scraping Browser will close the browser instance to free resources."
                  },
                  "browserOptions.sessionRecording": {
                    "type": "string",
                    "description": "Whether to enable session recording. When enabled, the entire browser session execution process will be automatically recorded, and after the session is completed, it can be replayed and viewed in the historical session list details. Defaults to false."
                  },
                  "browserOptions.proxyCountry": {
                    "type": "string",
                    "description": "Sets the target country/region for the proxy, sending requests via an IP address from that region. You can specify a country code (e.g., US for the United States, GB for the United Kingdom, ANY for any country). See country codes for all supported options."
                  },
                  "browserOptions.proxyURL": {
                    "type": "string",
                    "description": "Used to set the browser’s proxy URL, for example: http://user:pass@ip:port. If this parameter is set, all other proxy_* parameters will be ignored.\n\n- 💡Custom proxy functionality is currently only available to Enterprise and Enterprise Enhanced subscription users Upgrade Now\n- 💡Enterprise-level custom users can contact us to use custom proxies."
                  },
                  "browserOptions.fingerprint": {
                    "type": "string",
                    "description": "A browser fingerprint is a nearly unique “digital fingerprint” created using your browser and device configuration information, which can be used to track your online activity even without cookies. Fortunately, configuring fingerprints in Scraping Browser is optional. We offer deep customization of browser fingerprints, such as core parameters like browser user agent, time zone, language, and screen resolution, and support extending functionality through custom launch parameters. Suitable for multi-account management, data collection, and privacy protection scenarios, using scrapeless’s own Chromium browser completely avoids detection. By default, our Scraping Browser service generates a random fingerprint for each session. Reference"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-scraper-task": {
      "post": {
        "operationId": "scrapeless.create-scraper-task",
        "summary": "Create Scraper Task",
        "description": "Creates a new scraper task in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-scraper-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "actor",
                  "input",
                  "input.url",
                  "proxy",
                  "proxy.country"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "actor": {
                    "type": "string"
                  },
                  "input": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "input.url": {
                    "type": "string"
                  },
                  "proxy": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "proxy.country": {
                    "type": "string"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "If true, the task will be executed asynchronously. \nIf false, the task will be executed synchronously."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeless/latest/actions/create-team-credential": {
      "post": {
        "operationId": "scrapeless.create-team-credential",
        "summary": "Create Team Credential",
        "description": "Creates a new team credential in Scrapeless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeless/latest/actions/create-team-credential"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "origin",
                  "metadata"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "xApiToken": {
[...]
