{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ticket Generator Universal API",
    "version": "0.0.5",
    "description": "Ticket Generator helps teams generate secure event tickets with QR codes, ticket images, and direct delivery through its API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ticketGenerator/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ticketGenerator/latest/actions/create-ticket-qr-data": {
      "post": {
        "operationId": "ticketGenerator.create-ticket-qr-data",
        "summary": "Create Ticket QR Data",
        "description": "Creates ticket QR code data and ticket ID in Ticket Generator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketGenerator/latest/actions/create-ticket-qr-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId",
                  "width"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Ticket Generator event identifier."
                  },
                  "ticketCategoryId": {
                    "type": "string",
                    "description": "Ticket category identifier. Optional when the event has exactly one ticket category."
                  },
                  "width": {
                    "type": "number",
                    "description": "Generated ticket width in pixels.",
                    "default": 300
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base64EncodedUrl": {
                            "type": "string"
                          },
                          "ticketCategoryName": {
                            "type": "string"
                          },
                          "ticketId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketGenerator/latest/actions/create-ticket-url": {
      "post": {
        "operationId": "ticketGenerator.create-ticket-url",
        "summary": "Create Ticket URL",
        "description": "Creates a QR code ticket URL in Ticket Generator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketGenerator/latest/actions/create-ticket-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Ticket Generator event identifier."
                  },
                  "ticketCategoryId": {
                    "type": "string",
                    "description": "Ticket category identifier. Optional when the event has exactly one ticket category."
                  },
                  "header1": {
                    "type": "string",
                    "description": "Variable information field label 1."
                  },
                  "value1": {
                    "type": "string",
                    "description": "Variable information field value 1."
                  },
                  "header2": {
                    "type": "string",
                    "description": "Variable information field label 2."
                  },
                  "value2": {
                    "type": "string",
                    "description": "Variable information field value 2."
                  },
                  "header3": {
                    "type": "string",
                    "description": "Variable information field label 3."
                  },
                  "value3": {
                    "type": "string",
                    "description": "Variable information field value 3."
                  },
                  "header4": {
                    "type": "string",
                    "description": "Variable information field label 4."
                  },
                  "value4": {
                    "type": "string",
                    "description": "Variable information field value 4."
                  },
                  "header5": {
                    "type": "string",
                    "description": "Variable information field label 5."
                  },
                  "value5": {
                    "type": "string",
                    "description": "Variable information field value 5."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketGenerator/latest/actions/get-event-details": {
      "get": {
        "operationId": "ticketGenerator.get-event-details",
        "summary": "Get Event Details",
        "description": "Retrieves active event details and ticket categories from Ticket Generator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketGenerator/latest/actions/get-event-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "endDateTime": {
                            "type": "string"
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "eventName": {
                            "type": "string"
                          },
                          "eventType": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "seatsIoVenueData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDateTime": {
                            "type": "string"
                          },
                          "ticketCategories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "venue": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketGenerator/latest/actions/send-ticket": {
      "post": {
        "operationId": "ticketGenerator.send-ticket",
        "summary": "Send Ticket",
        "description": "Sends a ticket by email, SMS, or WhatsApp in Ticket Generator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketGenerator/latest/actions/send-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Ticket Generator event identifier."
                  },
                  "ticketCategoryId": {
                    "type": "string",
                    "description": "Ticket category identifier. Optional when the event has exactly one ticket category."
                  },
                  "email": {
                    "type": "string",
                    "description": "Recipient email address."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Recipient phone number in E.164 format."
                  },
                  "whatsApp": {
                    "type": "boolean",
                    "description": "Send the ticket over WhatsApp instead of SMS when a phone number is provided."
                  },
                  "whatsAppConsent": {
                    "type": "boolean",
                    "description": "Confirms the recipient consented to receive the ticket on WhatsApp."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject line."
                  },
                  "body": {
                    "type": "string",
                    "description": "Email body content."
                  },
                  "fromName": {
                    "type": "string",
                    "description": "Sender name displayed in the email."
                  },
                  "header1": {
                    "type": "string",
                    "description": "Variable information field label 1."
                  },
                  "value1": {
                    "type": "string",
                    "description": "Variable information field value 1."
                  },
                  "header2": {
                    "type": "string",
                    "description": "Variable information field label 2."
                  },
                  "value2": {
                    "type": "string",
                    "description": "Variable information field value 2."
                  },
                  "header3": {
                    "type": "string",
                    "description": "Variable information field label 3."
                  },
                  "value3": {
                    "type": "string",
                    "description": "Variable information field value 3."
                  },
                  "header4": {
                    "type": "string",
                    "description": "Variable information field label 4."
                  },
                  "value4": {
                    "type": "string",
                    "description": "Variable information field value 4."
                  },
                  "header5": {
                    "type": "string",
                    "description": "Variable information field label 5."
                  },
                  "value5": {
                    "type": "string",
                    "description": "Variable information field value 5."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "mobileTicketPageLinkId": {
                            "type": "string"
                          },
                          "ticketId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
