{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Environmental Protection Agency Universal API",
    "version": "0.0.2",
    "description": "Access EPA Air Quality System (AQS) metadata, monitor inventory, ambient air sample measurements, summary data, and quality assurance records."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/environmentalProtectionAgency/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/environmentalProtectionAgency/latest/actions/check-api-availability": {
      "get": {
        "operationId": "environmentalProtectionAgency.check-api-availability",
        "summary": "Check API Availability",
        "description": "Retrieves API availability status from EPA AQS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/environmentalProtectionAgency/latest/actions/check-api-availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "request_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Server timestamp for the request."
                          },
                          "status": {
                            "type": "string",
                            "description": "EPA API availability status from the response header."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL processed by EPA."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/environmentalProtectionAgency/latest/actions/get-annual-data-by-box": {
      "get": {
        "operationId": "environmentalProtectionAgency.get-annual-data-by-box",
        "summary": "Get Annual Data By Box",
        "description": "Retrieves annual summary data for a bounding box from EPA AQS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/environmentalProtectionAgency/latest/actions/get-annual-data-by-box"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "description": "AQS parameter code. EPA allows up to five comma-separated 5-digit parameter codes for most data services.",
            "schema": {
              "type": "string",
              "description": "AQS parameter code. EPA allows up to five comma-separated 5-digit parameter codes for most data services. Pass multiple values separated by `,`.",
              "example": "44201"
            }
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "description": "Begin date in YYYYMMDD format.",
            "schema": {
              "type": "string",
              "description": "Begin date in YYYYMMDD format.",
              "example": "20170101"
            }
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "description": "End date in YYYYMMDD format. EPA requires this to be in the same year as the begin date except for monitors.",
            "schema": {
              "type": "string",
              "description": "End date in YYYYMMDD format. EPA requires this to be in the same year as the begin date except for monitors.",
              "example": "20171231"
            }
          },
          {
            "name": "minlat",
            "in": "query",
            "required": true,
            "description": "Southern latitude bound for a geographic box query.",
            "schema": {
              "type": "number",
              "description": "Southern latitude bound for a geographic box query.",
              "example": 33.3
            }
          },
          {
            "name": "maxlat",
            "in": "query",
            "required": true,
            "description": "Northern latitude bound for a geographic box query.",
            "schema": {
              "type": "number",
              "description": "Northern latitude bound for a geographic box query.",
              "example": 33.6
            }
          },
          {
            "name": "minlon",
            "in": "query",
            "required": true,
            "description": "Western longitude bound for a geographic box query. Use negative values in the western hemisphere.",
            "schema": {
              "type": "number",
              "description": "Western longitude bound for a geographic box query. Use negative values in the western hemisphere.",
              "example": -87
            }
          },
          {
            "name": "maxlon",
            "in": "query",
            "required": true,
            "description": "Eastern longitude bound for a geographic box query. Use negative values in the western hemisphere.",
            "schema": {
              "type": "number",
              "description": "Eastern longitude bound for a geographic box query. Use negative values in the western hemisphere.",
              "example": -86.7
            }
          },
          {
            "name": "cbdate",
            "in": "query",
            "required": false,
            "description": "Optional begin date in YYYYMMDD format for filtering by date of last change.",
            "schema": {
              "type": "string",
              "description": "Optional begin date in YYYYMMDD format for filtering by date of last change.",
              "example": "20180101",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cedate",
            "in": "query",
            "required": false,
            "description": "Optional end date in YYYYMMDD format for filtering by date of last change.",
            "schema": {
              "type": "string",
              "description": "Optional end date in YYYYMMDD format for filtering by date of last change.",
              "example": "20181231",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arithmetic_mean": {
                            "type": "number",
                            "description": "The measure of central tendency obtained from the sum of the observed pollutant data values or National Ambient Air Quality Standards (NAAQS) averages in the yearly data set divided by the number of values that comprise the sum for the yearly data set. For criteria pollutants, the sum of values only adds the values with the appropriate flagging and concurrence for the exceptional data type."
                          },
                          "cbsa": {
                            "type": "string",
                            "description": "The shortened name of the core based statistical area (metropolitan area) where the monitoring site is located."
                          },
                          "cbsa_code": {
                            "type": "string",
                            "description": "The code of the core based statistical area (metropolitan area) where the monitoring site is located."
                          },
                          "certification_indicator": {
                            "type": "string",
                            "description": "An indication whether the completeness and accuracy of the reported monitoring information for a particular calendar year. Certified means the submitter has certified the data as complete and correct. Certification of a calendar year of data is due May 01 the year after collection. Certification not required means that the parameter does not require certification or the deadline has not yet passed. Uncertified (past due) means that certification is required but is overdue. Requested but not yet"
                          },
                          "city": {
                            "type": "string",
                            "description": "The name of the city where the monitoring site is located. This represents the legal incorporated boundaries of cities and not urban areas."
                          },
                          "county": {
                            "type": "number",
                            "description": "The name of the county where the monitoring site is located."
                          },
                          "county_code": {
                            "type": "string",
                            "description": "A Federal Information Processing Standards (FIPS) code that identifies a county, parish, or independent city within a state. In certain cases other geo-political entities, such as tribe via the BIA tribal code, may be used. For border sites, it identifies the geo-political equivalent to U. S. states, such as Mexican states or Canadian provinces. When submitting transactions, a user may opt to use a Bureau of Indian Affairs tribal code in this fied (if the State Code was entered as 'TT' to indica"
                          },
                          "date_of_last_change": {
                            "type": "string",
                            "format": "date-time",
                            "description": "This represents the date the most relevant underlying data in AQS was last changed. That is, for annual summary data, it is the date these values were last affected by a change in raw data. If the AQCR code on the annual summary view changed, the date of last change would not be updated."
                          },
                          "datum": {
                            "type": "string",
                            "description": "The Datum associated with the Latitude and Longitude measures. The Datum represents the physical model of the earth used when determining latitude and longitude. AQS computes a \"standard\" location representation for all site location/coordinates so that data from AQS can be more easily used for mapping and geospatial analysis. This is accomplished using a geodatabase lookup to convert the user-provided coordinates into Latitude and Longitude with the standard horizontal datum of WGS84. (i.e. Thi"
                          },
                          "event_type": {
                            "type": "string",
                            "description": "Indicates whether data measured during exceptional events are included in the summary. A wildfire is an example of an exceptional event; it is something that affects air quality, but the local agency has no control over. No Events means no events occurred. Events Included means events occurred and the data from them is included in the summary. Events Excluded means that events occurred but data form them is excluded from the summary. Concurred Events Excluded means that events occurred but only"
                          },
                          "exceptional_data_count": {
                            "type": "number",
                            "description": "The number of data points in the annual data set affected by exceptional air quality events (things outside the norm that affect air quality)."
                          },
                          "fiftieth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 50% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "first_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the highest value for the year was taken."
                          },
                          "first_max_n_o_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the first maximum non overlapping value for the year was taken."
                          },
                          "first_max_nonoverlap_value": {
                            "type": "number",
                            "description": "For 8-hour CO averages, the highest value of the year."
                          },
                          "first_max_value": {
                            "type": "number",
                            "description": "The highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "fourth_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the fourth highest value for the year was taken."
                          },
                          "fourth_max_value": {
                            "type": "number",
                            "description": "The fourth highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the fourth maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "The angular distance north or south of the equator measured in decimal degrees. North is positive. AQS converts reported coordinates (latitude and longitude) to the same datum so that sites can be more easily used for mapping and geospatial analysis. The standard datum is WGS84 and this is the latitude in the WGS84 datum."
                          },
                          "local_site_name": {
                            "type": "string",
                            "description": "The identifier of the site in the onwning agency's (e.g., not US EPA) nomenclature. AQS makes no use of this field, but provides it on some output for the convenience of users."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "The angular distance east or west of the prime meridian measured in decimal degrees. East is positive, West is negative. AQS converts reported coordinates (latitude and longitude) to the same datum so that sites can be more easily used for mapping and geospatial analysis. The standard datum is WGS84 and this is the longitude in the WGS84 datum."
                          },
                          "method": {
                            "type": "string",
                            "description": "A short description of the processes, equipment, and protocols used in gathering and measuring the sample. This field is a concatenation of the method of collection and the method of analysis."
                          },
                          "metric_used": {
                            "type": "string",
                            "description": "The base metric used in the calculation of the aggregate statistics presented in the remainder of the row. This corresponds to a form of a pollutant standard. For example, if this is Daily Maximum, then the value in the Mean column is the mean of the daily maximums."
                          },
                          "ninetieth_percnetile": {
                            "type": "string",
                            "description": "The sample value in the summarized sample set where 90% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "ninety_eigth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 98% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "ninety_ninth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 99% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "niney_fifth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 95% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "null_observation_count": {
                            "type": "number",
                            "description": "When a monitor does not make a scheduled sample, it should report a \"null data reason code\". This is the count of null data codes reported during the summary period."
                          },
                          "observation_count": {
                            "type": "number",
                            "description": "The number of observations (samples) taken during the averaging period."
                          },
                          "observation_percent": {
                            "type": "number",
                            "description": "The percent representing the number of observations taken with respect to the number scheduled to be taken during the aggregation period. This is only calculated for monitors where measurements are required (e.g., only certain parameters)."
                          },
                          "parameter": {
                            "type": "string",
                            "description": "The name or description assigned in AQS to the parameter measured by the monitor. Parameters may be pollutants or non-pollutants (e.g., wind speed)."
                          },
                          "parameter_code": {
                            "type": "string",
                            "description": "The AQS code corresponding to the parameter measured by the monitor."
                          },
                          "poc": {
                            "type": "number",
                            "description": "This is the \"Parameter Occurrence Code\" used to distinguish different instruments that measure the same parameter at the same site. There is no meaning to the POC (e.g. POC 1 does not indicate the primary monitor). For example, the first monitor established to measure carbon monoxide (CO) at a site could have a POC of 1. If an additional monitor were established at the same site to measure CO, that monitor could have a POC of 2. However, if a new instrument were installed to replace the original"
                          },
                          "pollutant_standard": {
                            "type": "string",
                            "description": "A description of the national ambient air quality standard (NAAQS) rules used to calculate aggregate statistics. A pollutant standard will include the pollutant, the averaging time, and the year of promulgation. AQS calculates and stores aggregate information for the following current and some historical standards: ======================== =================== Pollutant Standard Name AQS Parameter Code ======================== =================== Lead Quarterly 1978 12128 Lead 3-Month (PM10) 2009"
                          },
                          "primary_exceedance_count": {
                            "type": "number",
                            "description": "The number of times during the year the pollutant levels (expressed in the NAAQS average) exceeded the NAAQS standard."
                          },
                          "required_day_count": {
                            "type": "number",
                            "description": "The number of days during the year which the monitor was scheduled to take samples if measurements are required."
                          },
                          "sample_duration": {
                            "type": "string",
                            "description": "The length of time that air passes through the monitoring device before it is analyzed (measured). So, it represents an averaging period in the atmosphere (for example, a 24-hour sample duration draws ambient air over a collection filter for 24 straight hours). For continuous monitors, it can represent an averaging time of many samples (for example, a 1-hour value may be the average of four one-minute samples collected during each quarter of the hour). There are two types of sample durations. Fi"
                          },
                          "second_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the second highest value for the year was taken."
                          },
                          "second_max_n_o_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the second maximum non overlapping value for the year was taken."
                          },
                          "second_max_nonoverlap_value": {
                            "type": "number",
                            "description": "For 8-hour CO averages, the second highest value of the year that does not share any hours with the 8-hour period of the first max non overlapping value."
                          },
                          "second_max_value": {
                            "type": "number",
                            "description": "The second highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the second maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "secondary_exceedance_count": {
                            "type": "number",
                            "description": "The number of samples during the year that exceeded the secondary air quality standard."
                          },
                          "seventy_fifth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 75% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "site_address": {
                            "type": "string",
                            "description": "The street address giving an approximate location (building number and street; or other descriptor) of the site."
                          },
                          "site_number": {
                            "type": "string",
                            "description": "The 4-digit number used to uniquely identify the air monitoring site within a county or tribal land. The values are always numeric, but are treated as a string and padded with leading zeroes so they must always have 4 digits. There is no requirement that Site Numbers be assigned continuously or in any particular order. Regional or local organizations are thus free to allocate Site Numbers in any way they choose, as long as there is no duplication within a county or tribal area. Be aware that a t"
                          },
                          "standard_deviation": {
                            "type": "number",
                            "description": "The standard deviation about the mean of the values for the averaging period. This value is a measure of the dispersion about the central tendency of a pollutant that is the square root of the precision mean of the squares of the variation of each Relative Percent Differences of a value pair from the precision mean of the Relative Percent Differences of the value pairs for the time period. Used in monitor precision (summary) calculations and agency level calculations."
                          },
                          "state": {
                            "type": "string",
                            "description": "The name of the state where the monitoring site is located."
                          },
                          "state_code": {
                            "type": "string",
                            "description": "The FIPS code of the state in which the monitor resides. AQS uses 2-digit or character codes that identifies one of the 50 states, U. S. territories, or Washington, DC. For border sites, the code '80' is used for Mexico and 'CC' is used for Canada. When submitting transactions, a user may opt to use the code 'TT' to indicate that this data is for a Native American Tribe, and that the next field on the transaction identifies a tribal area using the Bureau of Indian Affairs tribal code. Data in th"
                          },
                          "tenth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 10% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "third_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the third highest value for the year was taken."
                          },
                          "third_max_value": {
                            "type": "number",
                            "description": "The third highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the third maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "units_of_mesure": {
                            "type": "string",
                            "description": "The unit of measure for all statistics on the same row. Every parameter has a standard unit of measure. Submitters are allowed to report data in any unit and EPA converts to a standard unit so that we may use the data in calculations."
                          },
                          "valid_day_count": {
                            "type": "number",
                            "description": "The number of required monitoring days in the aggregation period (e.g., year) where the monitoring criteria were met. (Only applicable for criteria pollutants.)"
                          },
                          "validity_indicator": {
                            "type": "string",
                            "description": "An indicator whether the calculated value meets all completeness criteria to be considered valid."
                          },
                          "year": {
                            "type": "number",
                            "description": "The year the data represents."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/environmentalProtectionAgency/latest/actions/get-annual-data-by-cbsa": {
      "get": {
        "operationId": "environmentalProtectionAgency.get-annual-data-by-cbsa",
        "summary": "Get Annual Data By CBSA",
        "description": "Retrieves annual summary data for a CBSA from EPA AQS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/environmentalProtectionAgency/latest/actions/get-annual-data-by-cbsa"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "description": "AQS parameter code. EPA allows up to five comma-separated 5-digit parameter codes for most data services.",
            "schema": {
              "type": "string",
              "description": "AQS parameter code. EPA allows up to five comma-separated 5-digit parameter codes for most data services. Pass multiple values separated by `,`.",
              "example": "44201"
            }
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "description": "Begin date in YYYYMMDD format.",
            "schema": {
              "type": "string",
              "description": "Begin date in YYYYMMDD format.",
              "example": "20170101"
            }
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "description": "End date in YYYYMMDD format. EPA requires this to be in the same year as the begin date except for monitors.",
            "schema": {
              "type": "string",
              "description": "End date in YYYYMMDD format. EPA requires this to be in the same year as the begin date except for monitors.",
              "example": "20171231"
            }
          },
          {
            "name": "cbsa",
            "in": "query",
            "required": true,
            "description": "Five-digit Core Based Statistical Area code.",
            "schema": {
              "type": "string",
              "description": "Five-digit Core Based Statistical Area code.",
              "example": "16740"
            }
          },
          {
            "name": "cbdate",
            "in": "query",
            "required": false,
            "description": "Optional begin date in YYYYMMDD format for filtering by date of last change.",
            "schema": {
              "type": "string",
              "description": "Optional begin date in YYYYMMDD format for filtering by date of last change.",
              "example": "20180101",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cedate",
            "in": "query",
            "required": false,
            "description": "Optional end date in YYYYMMDD format for filtering by date of last change.",
            "schema": {
              "type": "string",
              "description": "Optional end date in YYYYMMDD format for filtering by date of last change.",
              "example": "20181231",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arithmetic_mean": {
                            "type": "number",
                            "description": "The measure of central tendency obtained from the sum of the observed pollutant data values or National Ambient Air Quality Standards (NAAQS) averages in the yearly data set divided by the number of values that comprise the sum for the yearly data set. For criteria pollutants, the sum of values only adds the values with the appropriate flagging and concurrence for the exceptional data type."
                          },
                          "cbsa": {
                            "type": "string",
                            "description": "The shortened name of the core based statistical area (metropolitan area) where the monitoring site is located."
                          },
                          "cbsa_code": {
                            "type": "string",
                            "description": "The code of the core based statistical area (metropolitan area) where the monitoring site is located."
                          },
                          "certification_indicator": {
                            "type": "string",
                            "description": "An indication whether the completeness and accuracy of the reported monitoring information for a particular calendar year. Certified means the submitter has certified the data as complete and correct. Certification of a calendar year of data is due May 01 the year after collection. Certification not required means that the parameter does not require certification or the deadline has not yet passed. Uncertified (past due) means that certification is required but is overdue. Requested but not yet"
                          },
                          "city": {
                            "type": "string",
                            "description": "The name of the city where the monitoring site is located. This represents the legal incorporated boundaries of cities and not urban areas."
                          },
                          "county": {
                            "type": "number",
                            "description": "The name of the county where the monitoring site is located."
                          },
                          "county_code": {
                            "type": "string",
                            "description": "A Federal Information Processing Standards (FIPS) code that identifies a county, parish, or independent city within a state. In certain cases other geo-political entities, such as tribe via the BIA tribal code, may be used. For border sites, it identifies the geo-political equivalent to U. S. states, such as Mexican states or Canadian provinces. When submitting transactions, a user may opt to use a Bureau of Indian Affairs tribal code in this fied (if the State Code was entered as 'TT' to indica"
                          },
                          "date_of_last_change": {
                            "type": "string",
                            "format": "date-time",
                            "description": "This represents the date the most relevant underlying data in AQS was last changed. That is, for annual summary data, it is the date these values were last affected by a change in raw data. If the AQCR code on the annual summary view changed, the date of last change would not be updated."
                          },
                          "datum": {
                            "type": "string",
                            "description": "The Datum associated with the Latitude and Longitude measures. The Datum represents the physical model of the earth used when determining latitude and longitude. AQS computes a \"standard\" location representation for all site location/coordinates so that data from AQS can be more easily used for mapping and geospatial analysis. This is accomplished using a geodatabase lookup to convert the user-provided coordinates into Latitude and Longitude with the standard horizontal datum of WGS84. (i.e. Thi"
                          },
                          "event_type": {
                            "type": "string",
                            "description": "Indicates whether data measured during exceptional events are included in the summary. A wildfire is an example of an exceptional event; it is something that affects air quality, but the local agency has no control over. No Events means no events occurred. Events Included means events occurred and the data from them is included in the summary. Events Excluded means that events occurred but data form them is excluded from the summary. Concurred Events Excluded means that events occurred but only"
                          },
                          "exceptional_data_count": {
                            "type": "number",
                            "description": "The number of data points in the annual data set affected by exceptional air quality events (things outside the norm that affect air quality)."
                          },
                          "fiftieth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 50% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "first_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the highest value for the year was taken."
                          },
                          "first_max_n_o_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the first maximum non overlapping value for the year was taken."
                          },
                          "first_max_nonoverlap_value": {
                            "type": "number",
                            "description": "For 8-hour CO averages, the highest value of the year."
                          },
                          "first_max_value": {
                            "type": "number",
                            "description": "The highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "fourth_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the fourth highest value for the year was taken."
                          },
                          "fourth_max_value": {
                            "type": "number",
                            "description": "The fourth highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the fourth maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "The angular distance north or south of the equator measured in decimal degrees. North is positive. AQS converts reported coordinates (latitude and longitude) to the same datum so that sites can be more easily used for mapping and geospatial analysis. The standard datum is WGS84 and this is the latitude in the WGS84 datum."
                          },
                          "local_site_name": {
                            "type": "string",
                            "description": "The identifier of the site in the onwning agency's (e.g., not US EPA) nomenclature. AQS makes no use of this field, but provides it on some output for the convenience of users."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "The angular distance east or west of the prime meridian measured in decimal degrees. East is positive, West is negative. AQS converts reported coordinates (latitude and longitude) to the same datum so that sites can be more easily used for mapping and geospatial analysis. The standard datum is WGS84 and this is the longitude in the WGS84 datum."
                          },
                          "method": {
                            "type": "string",
                            "description": "A short description of the processes, equipment, and protocols used in gathering and measuring the sample. This field is a concatenation of the method of collection and the method of analysis."
                          },
                          "metric_used": {
                            "type": "string",
                            "description": "The base metric used in the calculation of the aggregate statistics presented in the remainder of the row. This corresponds to a form of a pollutant standard. For example, if this is Daily Maximum, then the value in the Mean column is the mean of the daily maximums."
                          },
                          "ninetieth_percnetile": {
                            "type": "string",
                            "description": "The sample value in the summarized sample set where 90% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "ninety_eigth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 98% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "ninety_ninth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 99% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "niney_fifth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 95% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "null_observation_count": {
                            "type": "number",
                            "description": "When a monitor does not make a scheduled sample, it should report a \"null data reason code\". This is the count of null data codes reported during the summary period."
                          },
                          "observation_count": {
                            "type": "number",
                            "description": "The number of observations (samples) taken during the averaging period."
                          },
                          "observation_percent": {
                            "type": "number",
                            "description": "The percent representing the number of observations taken with respect to the number scheduled to be taken during the aggregation period. This is only calculated for monitors where measurements are required (e.g., only certain parameters)."
                          },
                          "parameter": {
                            "type": "string",
                            "description": "The name or description assigned in AQS to the parameter measured by the monitor. Parameters may be pollutants or non-pollutants (e.g., wind speed)."
                          },
                          "parameter_code": {
                            "type": "string",
                            "description": "The AQS code corresponding to the parameter measured by the monitor."
                          },
                          "poc": {
                            "type": "number",
                            "description": "This is the \"Parameter Occurrence Code\" used to distinguish different instruments that measure the same parameter at the same site. There is no meaning to the POC (e.g. POC 1 does not indicate the primary monitor). For example, the first monitor established to measure carbon monoxide (CO) at a site could have a POC of 1. If an additional monitor were established at the same site to measure CO, that monitor could have a POC of 2. However, if a new instrument were installed to replace the original"
                          },
                          "pollutant_standard": {
                            "type": "string",
                            "description": "A description of the national ambient air quality standard (NAAQS) rules used to calculate aggregate statistics. A pollutant standard will include the pollutant, the averaging time, and the year of promulgation. AQS calculates and stores aggregate information for the following current and some historical standards: ======================== =================== Pollutant Standard Name AQS Parameter Code ======================== =================== Lead Quarterly 1978 12128 Lead 3-Month (PM10) 2009"
                          },
                          "primary_exceedance_count": {
                            "type": "number",
                            "description": "The number of times during the year the pollutant levels (expressed in the NAAQS average) exceeded the NAAQS standard."
                          },
                          "required_day_count": {
                            "type": "number",
                            "description": "The number of days during the year which the monitor was scheduled to take samples if measurements are required."
                          },
                          "sample_duration": {
                            "type": "string",
                            "description": "The length of time that air passes through the monitoring device before it is analyzed (measured). So, it represents an averaging period in the atmosphere (for example, a 24-hour sample duration draws ambient air over a collection filter for 24 straight hours). For continuous monitors, it can represent an averaging time of many samples (for example, a 1-hour value may be the average of four one-minute samples collected during each quarter of the hour). There are two types of sample durations. Fi"
                          },
                          "second_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the second highest value for the year was taken."
                          },
                          "second_max_n_o_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the second maximum non overlapping value for the year was taken."
                          },
                          "second_max_nonoverlap_value": {
                            "type": "number",
                            "description": "For 8-hour CO averages, the second highest value of the year that does not share any hours with the 8-hour period of the first max non overlapping value."
                          },
                          "second_max_value": {
                            "type": "number",
                            "description": "The second highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the second maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "secondary_exceedance_count": {
                            "type": "number",
                            "description": "The number of samples during the year that exceeded the secondary air quality standard."
                          },
                          "seventy_fifth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 75% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "site_address": {
                            "type": "string",
                            "description": "The street address giving an approximate location (building number and street; or other descriptor) of the site."
                          },
                          "site_number": {
                            "type": "string",
                            "description": "The 4-digit number used to uniquely identify the air monitoring site within a county or tribal land. The values are always numeric, but are treated as a string and padded with leading zeroes so they must always have 4 digits. There is no requirement that Site Numbers be assigned continuously or in any particular order. Regional or local organizations are thus free to allocate Site Numbers in any way they choose, as long as there is no duplication within a county or tribal area. Be aware that a t"
                          },
                          "standard_deviation": {
                            "type": "number",
                            "description": "The standard deviation about the mean of the values for the averaging period. This value is a measure of the dispersion about the central tendency of a pollutant that is the square root of the precision mean of the squares of the variation of each Relative Percent Differences of a value pair from the precision mean of the Relative Percent Differences of the value pairs for the time period. Used in monitor precision (summary) calculations and agency level calculations."
                          },
                          "state": {
                            "type": "string",
                            "description": "The name of the state where the monitoring site is located."
                          },
                          "state_code": {
                            "type": "string",
                            "description": "The FIPS code of the state in which the monitor resides. AQS uses 2-digit or character codes that identifies one of the 50 states, U. S. territories, or Washington, DC. For border sites, the code '80' is used for Mexico and 'CC' is used for Canada. When submitting transactions, a user may opt to use the code 'TT' to indicate that this data is for a Native American Tribe, and that the next field on the transaction identifies a tribal area using the Bureau of Indian Affairs tribal code. Data in th"
                          },
                          "tenth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 10% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "third_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the third highest value for the year was taken."
                          },
                          "third_max_value": {
                            "type": "number",
                            "description": "The third highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the third maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "units_of_mesure": {
                            "type": "string",
                            "description": "The unit of measure for all statistics on the same row. Every parameter has a standard unit of measure. Submitters are allowed to report data in any unit and EPA converts to a standard unit so that we may use the data in calculations."
                          },
                          "valid_day_count": {
                            "type": "number",
                            "description": "The number of required monitoring days in the aggregation period (e.g., year) where the monitoring criteria were met. (Only applicable for criteria pollutants.)"
                          },
                          "validity_indicator": {
                            "type": "string",
                            "description": "An indicator whether the calculated value meets all completeness criteria to be considered valid."
                          },
                          "year": {
                            "type": "number",
                            "description": "The year the data represents."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/environmentalProtectionAgency/latest/actions/get-annual-data-by-county": {
      "get": {
        "operationId": "environmentalProtectionAgency.get-annual-data-by-county",
        "summary": "Get Annual Data By County",
        "description": "Retrieves annual summary data for a county from EPA AQS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/environmentalProtectionAgency/latest/actions/get-annual-data-by-county"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "description": "AQS parameter code. EPA allows up to five comma-separated 5-digit parameter codes for most data services.",
            "schema": {
              "type": "string",
              "description": "AQS parameter code. EPA allows up to five comma-separated 5-digit parameter codes for most data services. Pass multiple values separated by `,`.",
              "example": "44201"
            }
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "description": "Begin date in YYYYMMDD format.",
            "schema": {
              "type": "string",
              "description": "Begin date in YYYYMMDD format.",
              "example": "20170101"
            }
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "description": "End date in YYYYMMDD format. EPA requires this to be in the same year as the begin date except for monitors.",
            "schema": {
              "type": "string",
              "description": "End date in YYYYMMDD format. EPA requires this to be in the same year as the begin date except for monitors.",
              "example": "20171231"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Two-digit state FIPS code, including a leading zero when applicable.",
            "schema": {
              "type": "string",
              "description": "Two-digit state FIPS code, including a leading zero when applicable.",
              "example": "37"
            }
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "description": "Three-digit county FIPS code within the selected state, including leading zeroes when applicable.",
            "schema": {
              "type": "string",
              "description": "Three-digit county FIPS code within the selected state, including leading zeroes when applicable.",
              "example": "183"
            }
          },
          {
            "name": "cbdate",
            "in": "query",
            "required": false,
            "description": "Optional begin date in YYYYMMDD format for filtering by date of last change.",
            "schema": {
              "type": "string",
              "description": "Optional begin date in YYYYMMDD format for filtering by date of last change.",
              "example": "20180101",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cedate",
            "in": "query",
            "required": false,
            "description": "Optional end date in YYYYMMDD format for filtering by date of last change.",
            "schema": {
              "type": "string",
              "description": "Optional end date in YYYYMMDD format for filtering by date of last change.",
              "example": "20181231",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arithmetic_mean": {
                            "type": "number",
                            "description": "The measure of central tendency obtained from the sum of the observed pollutant data values or National Ambient Air Quality Standards (NAAQS) averages in the yearly data set divided by the number of values that comprise the sum for the yearly data set. For criteria pollutants, the sum of values only adds the values with the appropriate flagging and concurrence for the exceptional data type."
                          },
                          "cbsa": {
                            "type": "string",
                            "description": "The shortened name of the core based statistical area (metropolitan area) where the monitoring site is located."
                          },
                          "cbsa_code": {
                            "type": "string",
                            "description": "The code of the core based statistical area (metropolitan area) where the monitoring site is located."
                          },
                          "certification_indicator": {
                            "type": "string",
                            "description": "An indication whether the completeness and accuracy of the reported monitoring information for a particular calendar year. Certified means the submitter has certified the data as complete and correct. Certification of a calendar year of data is due May 01 the year after collection. Certification not required means that the parameter does not require certification or the deadline has not yet passed. Uncertified (past due) means that certification is required but is overdue. Requested but not yet"
                          },
                          "city": {
                            "type": "string",
                            "description": "The name of the city where the monitoring site is located. This represents the legal incorporated boundaries of cities and not urban areas."
                          },
                          "county": {
                            "type": "number",
                            "description": "The name of the county where the monitoring site is located."
                          },
                          "county_code": {
                            "type": "string",
                            "description": "A Federal Information Processing Standards (FIPS) code that identifies a county, parish, or independent city within a state. In certain cases other geo-political entities, such as tribe via the BIA tribal code, may be used. For border sites, it identifies the geo-political equivalent to U. S. states, such as Mexican states or Canadian provinces. When submitting transactions, a user may opt to use a Bureau of Indian Affairs tribal code in this fied (if the State Code was entered as 'TT' to indica"
                          },
                          "date_of_last_change": {
                            "type": "string",
                            "format": "date-time",
                            "description": "This represents the date the most relevant underlying data in AQS was last changed. That is, for annual summary data, it is the date these values were last affected by a change in raw data. If the AQCR code on the annual summary view changed, the date of last change would not be updated."
                          },
                          "datum": {
                            "type": "string",
                            "description": "The Datum associated with the Latitude and Longitude measures. The Datum represents the physical model of the earth used when determining latitude and longitude. AQS computes a \"standard\" location representation for all site location/coordinates so that data from AQS can be more easily used for mapping and geospatial analysis. This is accomplished using a geodatabase lookup to convert the user-provided coordinates into Latitude and Longitude with the standard horizontal datum of WGS84. (i.e. Thi"
                          },
                          "event_type": {
                            "type": "string",
                            "description": "Indicates whether data measured during exceptional events are included in the summary. A wildfire is an example of an exceptional event; it is something that affects air quality, but the local agency has no control over. No Events means no events occurred. Events Included means events occurred and the data from them is included in the summary. Events Excluded means that events occurred but data form them is excluded from the summary. Concurred Events Excluded means that events occurred but only"
                          },
                          "exceptional_data_count": {
                            "type": "number",
                            "description": "The number of data points in the annual data set affected by exceptional air quality events (things outside the norm that affect air quality)."
                          },
                          "fiftieth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 50% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "first_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the highest value for the year was taken."
                          },
                          "first_max_n_o_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the first maximum non overlapping value for the year was taken."
                          },
                          "first_max_nonoverlap_value": {
                            "type": "number",
                            "description": "For 8-hour CO averages, the highest value of the year."
                          },
                          "first_max_value": {
                            "type": "number",
                            "description": "The highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "fourth_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the fourth highest value for the year was taken."
                          },
                          "fourth_max_value": {
                            "type": "number",
                            "description": "The fourth highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the fourth maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "The angular distance north or south of the equator measured in decimal degrees. North is positive. AQS converts reported coordinates (latitude and longitude) to the same datum so that sites can be more easily used for mapping and geospatial analysis. The standard datum is WGS84 and this is the latitude in the WGS84 datum."
                          },
                          "local_site_name": {
                            "type": "string",
                            "description": "The identifier of the site in the onwning agency's (e.g., not US EPA) nomenclature. AQS makes no use of this field, but provides it on some output for the convenience of users."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "The angular distance east or west of the prime meridian measured in decimal degrees. East is positive, West is negative. AQS converts reported coordinates (latitude and longitude) to the same datum so that sites can be more easily used for mapping and geospatial analysis. The standard datum is WGS84 and this is the longitude in the WGS84 datum."
                          },
                          "method": {
                            "type": "string",
                            "description": "A short description of the processes, equipment, and protocols used in gathering and measuring the sample. This field is a concatenation of the method of collection and the method of analysis."
                          },
                          "metric_used": {
                            "type": "string",
                            "description": "The base metric used in the calculation of the aggregate statistics presented in the remainder of the row. This corresponds to a form of a pollutant standard. For example, if this is Daily Maximum, then the value in the Mean column is the mean of the daily maximums."
                          },
                          "ninetieth_percnetile": {
                            "type": "string",
                            "description": "The sample value in the summarized sample set where 90% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "ninety_eigth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 98% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "ninety_ninth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 99% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "niney_fifth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 95% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "null_observation_count": {
                            "type": "number",
                            "description": "When a monitor does not make a scheduled sample, it should report a \"null data reason code\". This is the count of null data codes reported during the summary period."
                          },
                          "observation_count": {
                            "type": "number",
                            "description": "The number of observations (samples) taken during the averaging period."
                          },
                          "observation_percent": {
                            "type": "number",
                            "description": "The percent representing the number of observations taken with respect to the number scheduled to be taken during the aggregation period. This is only calculated for monitors where measurements are required (e.g., only certain parameters)."
                          },
                          "parameter": {
                            "type": "string",
                            "description": "The name or description assigned in AQS to the parameter measured by the monitor. Parameters may be pollutants or non-pollutants (e.g., wind speed)."
                          },
                          "parameter_code": {
                            "type": "string",
                            "description": "The AQS code corresponding to the parameter measured by the monitor."
                          },
                          "poc": {
                            "type": "number",
                            "description": "This is the \"Parameter Occurrence Code\" used to distinguish different instruments that measure the same parameter at the same site. There is no meaning to the POC (e.g. POC 1 does not indicate the primary monitor). For example, the first monitor established to measure carbon monoxide (CO) at a site could have a POC of 1. If an additional monitor were established at the same site to measure CO, that monitor could have a POC of 2. However, if a new instrument were installed to replace the original"
                          },
                          "pollutant_standard": {
                            "type": "string",
                            "description": "A description of the national ambient air quality standard (NAAQS) rules used to calculate aggregate statistics. A pollutant standard will include the pollutant, the averaging time, and the year of promulgation. AQS calculates and stores aggregate information for the following current and some historical standards: ======================== =================== Pollutant Standard Name AQS Parameter Code ======================== =================== Lead Quarterly 1978 12128 Lead 3-Month (PM10) 2009"
                          },
                          "primary_exceedance_count": {
                            "type": "number",
                            "description": "The number of times during the year the pollutant levels (expressed in the NAAQS average) exceeded the NAAQS standard."
                          },
                          "required_day_count": {
                            "type": "number",
                            "description": "The number of days during the year which the monitor was scheduled to take samples if measurements are required."
                          },
                          "sample_duration": {
                            "type": "string",
                            "description": "The length of time that air passes through the monitoring device before it is analyzed (measured). So, it represents an averaging period in the atmosphere (for example, a 24-hour sample duration draws ambient air over a collection filter for 24 straight hours). For continuous monitors, it can represent an averaging time of many samples (for example, a 1-hour value may be the average of four one-minute samples collected during each quarter of the hour). There are two types of sample durations. Fi"
                          },
                          "second_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the second highest value for the year was taken."
                          },
                          "second_max_n_o_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the second maximum non overlapping value for the year was taken."
                          },
                          "second_max_nonoverlap_value": {
                            "type": "number",
                            "description": "For 8-hour CO averages, the second highest value of the year that does not share any hours with the 8-hour period of the first max non overlapping value."
                          },
                          "second_max_value": {
                            "type": "number",
                            "description": "The second highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the second maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "secondary_exceedance_count": {
                            "type": "number",
                            "description": "The number of samples during the year that exceeded the secondary air quality standard."
                          },
                          "seventy_fifth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 75% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "site_address": {
                            "type": "string",
                            "description": "The street address giving an approximate location (building number and street; or other descriptor) of the site."
                          },
                          "site_number": {
                            "type": "string",
                            "description": "The 4-digit number used to uniquely identify the air monitoring site within a county or tribal land. The values are always numeric, but are treated as a string and padded with leading zeroes so they must always have 4 digits. There is no requirement that Site Numbers be assigned continuously or in any particular order. Regional or local organizations are thus free to allocate Site Numbers in any way they choose, as long as there is no duplication within a county or tribal area. Be aware that a t"
                          },
                          "standard_deviation": {
                            "type": "number",
                            "description": "The standard deviation about the mean of the values for the averaging period. This value is a measure of the dispersion about the central tendency of a pollutant that is the square root of the precision mean of the squares of the variation of each Relative Percent Differences of a value pair from the precision mean of the Relative Percent Differences of the value pairs for the time period. Used in monitor precision (summary) calculations and agency level calculations."
                          },
                          "state": {
                            "type": "string",
                            "description": "The name of the state where the monitoring site is located."
                          },
                          "state_code": {
                            "type": "string",
                            "description": "The FIPS code of the state in which the monitor resides. AQS uses 2-digit or character codes that identifies one of the 50 states, U. S. territories, or Washington, DC. For border sites, the code '80' is used for Mexico and 'CC' is used for Canada. When submitting transactions, a user may opt to use the code 'TT' to indicate that this data is for a Native American Tribe, and that the next field on the transaction identifies a tribal area using the Bureau of Indian Affairs tribal code. Data in th"
                          },
                          "tenth_percentile": {
                            "type": "number",
                            "description": "The sample value in the summarized sample set where 10% of the values in that set are less than or equal to it. (For ozone, based on valid daily maxima; for PM2.5, based on seasonal and non-seasonal algorithms.)"
                          },
                          "third_max_datetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time (on a 24-hour clock) when the third highest value for the year was taken."
                          },
                          "third_max_value": {
                            "type": "number",
                            "description": "The third highest value for the indicated year. This only includes data at the selected duration or standard (e.g., it may be the third maximum daily value). For seasonal monitoring, it only includes data during the effective monitoring season."
                          },
                          "units_of_mesure": {
                            "type": "string",
                            "description": "The unit of measure for all statistics on the same row. Every parameter has a standard unit of measure. Submitters are allowed to report data in any unit and EPA converts to a standard unit so that we may use the data in calculations."
                          },
                          "valid_day_count": {
                            "type": "number",
                            "description": "The number of required monitoring days in the aggregation period (e.g., year) where the monitoring criteria were met. (Only applicable for criteria pollutants.)"
                          },
                          "validity_indicator": {
                            "type": "string",
                            "description": "An indicator whether the calculated value meets all completeness criteria to be considered valid."
                          },
                          "year": {
                            "type": "number",
                            "description": "The year the data represents."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/environmentalProtectionAgency/latest/actions/get-annual-data-by-site": {
      "get": {
        "operationId": "environmentalProtectionAgency.get-annual-data-by-site",
        "summary": "Get Annual Data By Site",
[...]
