{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GetTranscribe Universal API",
    "version": "0.0.6",
    "description": "GetTranscribe API wrapper for managing video transcriptions, folders, and user account data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/getTranscribe/latest/actions/create-folder": {
      "post": {
        "operationId": "getTranscribe.create-folder",
        "summary": "Create Folder",
        "description": "Creates a folder in GetTranscribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the folder."
                  },
                  "parentId": {
                    "type": "number",
                    "description": "Optional parent folder ID for subfolders."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/getTranscribe/latest/actions/create-transcription": {
      "post": {
        "operationId": "getTranscribe.create-transcription",
        "summary": "Create Transcription",
        "description": "Creates a transcription in GetTranscribe from a video URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/create-transcription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The video URL to transcribe."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Optional folder ID for organization."
                  },
                  "language": {
                    "type": "string",
                    "description": "Optional ISO-639-1 language code."
                  },
                  "model": {
                    "type": "string",
                    "description": "Optional transcription profile.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional context text to guide transcription."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analysisLanguage": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "authorId": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "charCount": {
                            "type": "number"
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "consumptionType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "downloadAudioUrl": {
                            "type": "string"
                          },
                          "downloadMethod": {
                            "type": "string"
                          },
                          "downloadVideoUrl": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "durationSeconds": {
                            "type": "number"
                          },
                          "folderId": {
                            "type": "number"
                          },
                          "generatedTitle": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "likeCount": {
                            "type": "number"
                          },
                          "openaiTranscriptionAnalysisCost": {
                            "type": "string"
                          },
                          "openaiTranscriptionAnalysisModel": {
                            "type": "string"
                          },
                          "originalTranscription": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "proxyProvider": {
                            "type": "string"
                          },
                          "proxyUsed": {
                            "type": "boolean"
                          },
                          "rawMetadata": {
                            "type": "string"
                          },
                          "relationFolder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "s3AudioPath": {
                            "type": "string"
                          },
                          "s3ThumbnailPath": {
                            "type": "string"
                          },
                          "s3VideoPath": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          },
                          "transcription": {
                            "type": "string"
                          },
                          "transcriptionAnalysis": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "transcriptionSegments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "transcriptionWords": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uploadDate": {
                            "type": "string"
                          },
                          "uploadTimestamp": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "videoDescription": {
                            "type": "string"
                          },
                          "videoHeight": {
                            "type": "number"
                          },
                          "videoTitle": {
                            "type": "string"
                          },
                          "videoWidth": {
                            "type": "number"
                          },
                          "viewCount": {
                            "type": "number"
                          },
                          "wordCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/getTranscribe/latest/actions/get-transcription": {
      "get": {
        "operationId": "getTranscribe.get-transcription",
        "summary": "Get Transcription",
        "description": "Retrieves a transcription from GetTranscribe by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/get-transcription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the transcription to retrieve.",
            "schema": {
              "type": "number",
              "description": "The ID of the transcription to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analysisLanguage": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "authorId": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "charCount": {
                            "type": "number"
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "consumptionType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "downloadAudioUrl": {
                            "type": "string"
                          },
                          "downloadMethod": {
                            "type": "string"
                          },
                          "downloadVideoUrl": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "durationSeconds": {
                            "type": "number"
                          },
                          "folderId": {
                            "type": "number"
                          },
                          "generatedTitle": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "likeCount": {
                            "type": "number"
                          },
                          "openaiTranscriptionAnalysisCost": {
                            "type": "string"
                          },
                          "openaiTranscriptionAnalysisModel": {
                            "type": "string"
                          },
                          "originalTranscription": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "proxyProvider": {
                            "type": "string"
                          },
                          "proxyUsed": {
                            "type": "boolean"
                          },
                          "rawMetadata": {
                            "type": "string"
                          },
                          "relationFolder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "s3AudioPath": {
                            "type": "string"
                          },
                          "s3ThumbnailPath": {
                            "type": "string"
                          },
                          "s3VideoPath": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          },
                          "transcription": {
                            "type": "string"
                          },
                          "transcriptionAnalysis": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "transcriptionSegments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "transcriptionWords": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uploadDate": {
                            "type": "string"
                          },
                          "uploadTimestamp": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userCity": {
                            "type": "string"
                          },
                          "userCountry": {
                            "type": "string"
                          },
                          "userCountryCode": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "userIp": {
                            "type": "string"
                          },
                          "userLatitude": {
                            "type": "number"
                          },
                          "userLongitude": {
                            "type": "number"
                          },
                          "userOrg": {
                            "type": "string"
                          },
                          "userRegion": {
                            "type": "string"
                          },
                          "userTimezone": {
                            "type": "string"
                          },
                          "videoDescription": {
                            "type": "string"
                          },
                          "videoHeight": {
                            "type": "number"
                          },
                          "videoTitle": {
                            "type": "string"
                          },
                          "videoWidth": {
                            "type": "number"
                          },
                          "viewCount": {
                            "type": "number"
                          },
                          "wordCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/getTranscribe/latest/actions/get-user-info": {
      "get": {
        "operationId": "getTranscribe.get-user-info",
        "summary": "Get User Info",
        "description": "Retrieves user account details from GetTranscribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/get-user-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the user to retrieve.",
            "schema": {
              "type": "number",
              "description": "The ID of the user to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiMinutesLimit": {
                            "type": "number"
                          },
                          "autoRechargeAmount": {
                            "type": "number"
                          },
                          "autoRechargeThreshold": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currentUsageMessages": {
                            "type": "number"
                          },
                          "currentUsageMinutes": {
                            "type": "number"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "demoTranscriptionSessionId": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "enableAutoRecharge": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "googleId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "messagesLimit": {
                            "type": "number"
                          },
                          "minutesLimit": {
                            "type": "number"
                          },
                          "onboardingCompleted": {
                            "type": "boolean"
                          },
                          "profilePicture": {
                            "type": "string"
                          },
                          "purchasedMessagesBalance": {
                            "type": "number"
                          },
                          "purchasedMinutesBalance": {
                            "type": "number"
                          },
                          "subscriptionAmount": {
                            "type": "string"
                          },
                          "subscriptionCurrentPeriodEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subscriptionCurrentPeriodStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subscriptionPlanName": {
                            "type": "string"
                          },
                          "subscriptionStatus": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/getTranscribe/latest/actions/list-folders": {
      "get": {
        "operationId": "getTranscribe.list-folders",
        "summary": "List Folders",
        "description": "Retrieves folders from GetTranscribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/list-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortName",
            "in": "query",
            "required": false,
            "description": "Sort folders by name using 1 for ascending or -1 for descending.",
            "schema": {
              "type": "number",
              "description": "Sort folders by name using 1 for ascending or -1 for descending."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/getTranscribe/latest/actions/list-transcriptions": {
      "get": {
        "operationId": "getTranscribe.list-transcriptions",
        "summary": "List Transcriptions",
        "description": "Retrieves transcriptions from GetTranscribe by filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/list-transcriptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": false,
            "description": "Filter transcriptions by folder ID.",
            "schema": {
              "type": "number",
              "description": "Filter transcriptions by folder ID."
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "description": "Filter transcriptions by source platform.",
            "schema": {
              "type": "string",
              "description": "Filter transcriptions by source platform.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "authorId": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "charCount": {
                            "type": "number"
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "consumptionType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "downloadMethod": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "durationSeconds": {
                            "type": "number"
                          },
                          "folderId": {
                            "type": "number"
                          },
                          "generatedTitle": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "likeCount": {
                            "type": "number"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "proxyProvider": {
                            "type": "string"
                          },
                          "proxyUsed": {
                            "type": "boolean"
                          },
                          "relationFolder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "string"
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uploadDate": {
                            "type": "string"
                          },
                          "uploadTimestamp": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "videoDescription": {
                            "type": "string"
                          },
                          "videoHeight": {
                            "type": "number"
                          },
                          "videoTitle": {
                            "type": "string"
                          },
                          "videoWidth": {
                            "type": "number"
                          },
                          "viewCount": {
                            "type": "number"
                          },
                          "wordCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/getTranscribe/latest/actions/update-folder": {
      "put": {
        "operationId": "getTranscribe.update-folder",
        "summary": "Update Folder",
        "description": "Updates a folder in GetTranscribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/getTranscribe/latest/actions/update-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "The ID of the folder to update."
                  },
                  "name": {
                    "type": "string",
                    "description": "New name for the folder."
                  },
                  "parentId": {
                    "type": "number",
                    "description": "New parent folder ID or null for the root."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
