{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Recruitee ATS Universal API",
    "version": "0.0.5",
    "description": "Manage candidates, offers, locations, departments, attachments, and hiring pipeline data in Recruitee ATS"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/recruiteeATS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/recruiteeATS/latest/actions/create-candidate": {
      "post": {
        "operationId": "recruiteeATS.create-candidate",
        "summary": "Create Candidate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/recruiteeATS/latest/actions/create-candidate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "candidate.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "candidate.name": {
                    "type": "string",
                    "description": "Candidate name."
                  },
                  "candidate.remote_cv_url": {
                    "type": "string",
                    "description": "Public URL to the candidate CV file.",
                    "x-mindcloud-advanced": true
                  },
                  "candidate.emails": {
                    "type": "string",
                    "description": "Candidate email addresses.",
                    "x-mindcloud-advanced": true
                  },
                  "candidate.phones": {
                    "type": "string",
                    "description": "Candidate phone numbers.",
                    "x-mindcloud-advanced": true
                  },
                  "candidate.social_links": {
                    "type": "string",
                    "description": "Candidate social profile URLs.",
                    "x-mindcloud-advanced": true
                  },
                  "candidate.links": {
                    "type": "string",
                    "description": "Additional candidate links.",
                    "x-mindcloud-advanced": true
                  },
                  "candidate.cover_letter": {
                    "type": "string",
                    "description": "Candidate cover letter text.",
                    "x-mindcloud-advanced": true
                  },
                  "candidate.sources": {
                    "type": "string",
                    "description": "Source tags to assign to the candidate.",
                    "x-mindcloud-advanced": true
                  },
                  "offers": {
                    "type": "string",
                    "description": "Offer IDs to assign to the candidate.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "candidate": {
                            "type": "object",
                            "properties": {
                              "adminappUrl": {
                                "type": "string"
                              },
                              "adminId": {
                                "type": "number"
                              },
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "coverLetter": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "coverLetterFileOriginalUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "coverLetterFileProcessingStatus": {
                                "type": "string"
                              },
                              "coverLetterFileUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "cvOriginalUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "cvParseStatus": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "cvProcessingStatus": {
                                "type": "string"
                              },
                              "cvUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "duplicates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "emails": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "eventsCount": {
                                "type": "number"
                              },
                              "example": {
                                "type": "boolean"
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fixed": {
                                      "type": "boolean"
                                    },
                                    "id": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "isAnonymous": {
                                      "type": "boolean"
                                    },
                                    "kind": {
                                      "type": "string"
                                    },
                                    "origin": {
                                      "type": "string"
                                    },
                                    "visibility": {
                                      "type": "object",
                                      "properties": {
                                        "level": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "visible": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "followed": {
                                "type": "boolean"
                              },
                              "gdprConsentEverGiven": {
                                "type": "boolean"
                              },
                              "gdprConsentRequestCompletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gdprConsentRequestSentAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gdprConsentRequestType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gdprExpiresAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gdprScheduledToDeleteAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gdprStatus": {
                                "type": "string"
                              },
                              "hasAvatar": {
                                "type": "boolean"
                              },
                              "hasCoverLetter": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "inActiveShare": {
                                "type": "boolean"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "isAnonymous": {
                                "type": "boolean"
                              },
                              "isHired": {
                                "type": "boolean"
                              },
                              "isRevealed": {
                                "type": "boolean"
                              },
                              "lastActivityAt": {
                                "type": "string"
                              },
                              "lastMessageAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mailboxMessagesCount": {
                                "type": "number"
                              },
                              "myLastRating": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "myPendingResultRequest": {
                                "type": "boolean"
                              },
                              "myUpcomingEvent": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "notesCount": {
                                "type": "number"
                              },
                              "onlineData": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pendingRequestLink": {
                                "type": "boolean"
                              },
                              "pendingResultRequest": {
                                "type": "boolean"
                              },
                              "photoThumbUrl": {
                                "type": "string"
                              },
                              "photoUrl": {
                                "type": "string"
                              },
                              "positiveRatings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "ratingsCount": {
                                "type": "number"
                              },
                              "ratingVisible": {
                                "type": "boolean"
                              },
                              "referrer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "salutation": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sharedAdminCount": {
                                "type": "number"
                              },
                              "sharedContainerCount": {
                                "type": "number"
                              },
                              "source": {
                                "type": "string"
                              },
                              "sourcingData": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sourcingOrigin": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tasksCount": {
                                "type": "number"
                              },
                              "title": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "unreadNotifications": {
                                "type": "boolean"
                              },
                              "upcomingEvent": {
                                "type": "boolean"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "viewed": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "anonymizedAt": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "hasAvatar": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "initials": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "photoNormalUrl": {
                                  "type": "string"
                                },
                                "photoThumbUrl": {
                                  "type": "string"
                                },
                                "timeFormat24": {
                                  "type": "boolean"
                                },
                                "timezone": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/recruiteeATS/latest/actions/create-offer": {
      "post": {
        "operationId": "recruiteeATS.create-offer",
        "summary": "Create Offer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/recruiteeATS/latest/actions/create-offer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "offer.title",
                  "offer.location_ids",
                  "offer.description",
                  "offer.requirements"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "offer.title": {
                    "type": "string",
                    "description": "Offer title."
                  },
                  "offer.kind": {
                    "type": "string",
                    "description": "Offer kind.",
                    "default": "job",
                    "x-mindcloud-advanced": true
                  },
                  "offer.location_ids": {
                    "type": "string",
                    "description": "Offer location IDs."
                  },
                  "offer.description": {
                    "type": "string",
                    "description": "Offer description."
                  },
                  "offer.requirements": {
                    "type": "string",
                    "description": "Offer requirements."
                  },
                  "offer.department_id": {
                    "type": "number",
                    "description": "Department ID.",
                    "x-mindcloud-advanced": true
                  },
                  "offer.on_site": {
                    "type": "boolean",
                    "description": "Whether the offer is on-site.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "offer.hybrid": {
                    "type": "boolean",
                    "description": "Whether the offer is hybrid.",
                    "x-mindcloud-advanced": true
                  },
                  "offer.remote": {
                    "type": "boolean",
                    "description": "Whether the offer is remote.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "offer.visibility_options": {
                    "type": "string",
                    "description": "Visibility options for the offer.",
                    "x-mindcloud-advanced": true
                  },
                  "offer.locations_question": {
                    "type": "string",
                    "description": "Location picker question text.",
                    "x-mindcloud-advanced": true
                  },
                  "offer.locations_question_type": {
                    "type": "string",
                    "description": "Location question type.",
                    "default": "single_choice",
                    "x-mindcloud-advanced": true
                  },
                  "offer.locations_question_required": {
                    "type": "boolean",
                    "description": "Whether the location question is required.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "offer": {
                            "type": "object",
                            "properties": {
                              "adminappUrl": {
                                "type": "string"
                              },
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "autoReplyTemplateId": {
                                "type": "number"
                              },
                              "candidatesCount": {
                                "type": "number"
                              },
                              "careersJobPageLayoutId": {
                                "type": "number"
                              },
                              "careersUrl": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "string"
                              },
                              "closedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "coverImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "coverImageUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "defaultTranslations": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "descriptionHtml": {
                                    "type": "string"
                                  },
                                  "descriptionJson": {
                                    "type": "object",
                                    "properties": {
                                      "doc": {
                                        "type": "object",
                                        "properties": {
                                          "content": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "attrs": {
                                                  "type": "object",
                                                  "properties": {
                                                    "align": {
                                                      "type": "string"
                                                    },
                                                    "htmlClass": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                "content": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "text": {
                                                        "type": "string"
                                                      },
                                                      "type": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "type": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "type": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "emailConfirmationBody": {
                                    "type": "string"
                                  },
                                  "emailConfirmationSubject": {
                                    "type": "string"
                                  },
                                  "locationsQuestion": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "department": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "departmentId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "descriptionHtml": {
                                "type": "string"
                              },
                              "descriptionJson": {
                                "type": "object",
                                "properties": {
                                  "doc": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "attrs": {
                                              "type": "object",
                                              "properties": {
                                                "align": {
                                                  "type": "string"
                                                },
                                                "htmlClass": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "content": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "text": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "disqualifiedCandidatesCount": {
                                "type": "number"
                              },
                              "dynamicFieldsCount": {
                                "type": "number"
                              },
                              "education": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "eeoSettings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailConfirmation": {
                                "type": "boolean"
                              },
                              "emailConfirmationBody": {
                                "type": "string"
                              },
                              "emailConfirmationSubject": {
                                "type": "string"
                              },
                              "employmentType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "enabledForReferrals": {
                                "type": "boolean"
                              },
                              "example": {
                                "type": "boolean"
                              },
                              "experience": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fieldset": {
                                "type": "object",
                                "properties": {
                                  "default": {
                                    "type": "boolean"
                                  },
                                  "fields": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "kind": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "visibility": {
                                          "type": "object",
                                          "properties": {
                                            "level": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "visible": {
                                          "type": "boolean"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "fieldsetId": {
                                "type": "number"
                              },
                              "followed": {
                                "type": "boolean"
                              },
                              "guid": {
                                "type": "string"
                              },
                              "hasActiveCampaign": {
                                "type": "boolean"
                              },
                              "hasAdditionalInfo": {
                                "type": "boolean"
                              },
                              "hasAutomations": {
                                "type": "boolean"
                              },
                              "highlightHtml": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "highlightJson": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hireAssistant": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hiredCandidatesCount": {
                                "type": "number"
                              },
                              "hiredCandidatesWithoutOpeningsCount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hiringManagerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hybrid": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "issues": {
                                "type": "object",
                                "properties": {
                                  "isDynamicFieldsLimitExceeded": {
                                    "type": "boolean"
                                  },
                                  "isMigratedHtmlEqual": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isRequiredDataMissing": {
                                    "type": "boolean"
                                  },
                                  "isRequisitionMissing": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "jobScheduler": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "kind": {
                                "type": "string"
                              },
                              "langCode": {
                                "type": "string"
                              },
                              "location": {
                                "type": "string"
                              },
                              "locationIds": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "locationsQuestion": {
                                "type": "string"
                              },
                              "locationsQuestionRequired": {
                                "type": "boolean"
                              },
                              "locationsQuestionType": {
                                "type": "string"
                              },
                              "mailboxEmail": {
                                "type": "string"
                              },
                              "maxHours": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "maxHoursPerWeek": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "minHours": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "minHoursPerWeek": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "notesCount": {
                                "type": "number"
                              },
                              "numberOfOpenings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "onSite": {
                                "type": "boolean"
                              },
                              "openQuestionTemplateId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "optionsCoverLetter": {
                                "type": "string"
                              },
                              "optionsCv": {
                                "type": "string"
                              },
                              "optionsPhone": {
                                "type": "string"
                              },
                              "optionsPhoto": {
                                "type": "string"
                              },
                              "optionsSalutation": {
                                "type": "string"
                              },
                              "optionsTitle": {
                                "type": "string"
                              },
                              "pipeline": {
                                "type": "boolean"
                              },
                              "pipelineTemplate": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom": {
                                    "type": "boolean"
                                  },
                                  "default": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "position": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requiresAdjustment": {
                                    "type": "boolean"
                                  },
                                  "stages": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "candidateAnonymizationEnabled": {
                                          "type": "boolean"
                                        },
                                        "category": {
                                          "type": "string"
                                        },
                                        "fairEvaluationsEnabled": {
                                          "type": "boolean"
                                        },
                                        "group": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "locked": {
                                          "type": "boolean"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "placementsCount": {
                                          "type": "number"
                                        },
                                        "position": {
                                          "type": "number"
                                        },
                                        "timeLimit": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pipelineTemplateId": {
                                "type": "number"
                              },
                              "position": {
                                "type": "number"
                              },
                              "postalCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "primaryLangCode": {
                                "type": "string"
                              },
                              "priority": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "publishedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "qualifiedCandidatesCount": {
                                "type": "number"
                              },
                              "recruiterId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "remote": {
                                "type": "boolean"
                              },
                              "requirements": {
                                "type": "string"
                              },
                              "requirementsHtml": {
                                "type": "string"
                              },
                              "requirementsJson": {
                                "type": "object",
                                "properties": {
                                  "doc": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "attrs": {
                                              "type": "object",
                                              "properties": {
                                                "align": {
                                                  "type": "string"
                                                },
                                                "htmlClass": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "content": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "text": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "salary": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "max": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "min": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "period": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "sharedOpeningsCount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sharingDescription": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sharingImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sharingImageUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sharingTitle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "slug": {
                                "type": "string"
                              },
                              "stateCode": {
                                "type": "string"
                              },
                              "stateName": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "street": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "visibilityOptions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "wysiwygEditor": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/recruiteeATS/latest/actions/delete-candidate": {
      "delete": {
        "operationId": "recruiteeATS.delete-candidate",
        "summary": "Delete Candidate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/recruiteeATS/latest/actions/delete-candidate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Candidate ID.",
            "schema": {
              "type": "number",
              "description": "Candidate ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "candidate": {
                            "type": "object",
                            "properties": {
                              "adminappUrl": {
                                "type": "string"
                              },
                              "adminId": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "string"
                              },
                              "deletedByKind": {
                                "type": "string"
                              },
                              "emails": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "example": {
                                "type": "boolean"
                              },
                              "hasAvatar": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "isAnonymous": {
                                "type": "boolean"
                              },
                              "isHired": {
                                "type": "boolean"
                              },
                              "isRevealed": {
                                "type": "boolean"
                              },
                              "lastMessageAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "phones": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "photoThumbUrl": {
                                "type": "string"
                              },
                              "positiveRatings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "ratingsCount": {
                                "type": "number"
                              },
                              "referrer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "salutation": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "source": {
                                "type": "string"
                              },
                              "tasksCount": {
                                "type": "number"
                              },
                              "title": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "viewed": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/recruiteeATS/latest/actions/delete-offer": {
      "delete": {
        "operationId": "recruiteeATS.delete-offer",
        "summary": "Delete Offer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/recruiteeATS/latest/actions/delete-offer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Offer ID.",
            "schema": {
              "type": "number",
              "description": "Offer ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "offer": {
                            "type": "object",
                            "properties": {
                              "adminappUrl": {
                                "type": "string"
                              },
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "autoReplyTemplateId": {
                                "type": "number"
                              },
                              "candidatesCount": {
                                "type": "number"
                              },
                              "careersJobPageLayoutId": {
                                "type": "number"
                              },
                              "careersUrl": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "closedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "coverImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "coverImageUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "defaultTranslations": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "descriptionHtml": {
                                    "type": "string"
                                  },
                                  "descriptionJson": {
                                    "type": "object",
                                    "properties": {
                                      "doc": {
                                        "type": "object",
                                        "properties": {
                                          "content": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "attrs": {
                                                  "type": "object",
                                                  "properties": {
                                                    "align": {
                                                      "type": "string"
                                                    },
                                                    "htmlClass": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                "content": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "text": {
                                                        "type": "string"
                                                      },
                                                      "type": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "type": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "type": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "emailConfirmationBody": {
                                    "type": "string"
                                  },
                                  "emailConfirmationSubject": {
                                    "type": "string"
                                  },
                                  "locationsQuestion": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "department": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "departmentId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "descriptionHtml": {
                                "type": "string"
                              },
                              "descriptionJson": {
                                "type": "object",
                                "properties": {
                                  "doc": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "attrs": {
                                              "type": "object",
                                              "properties": {
                                                "align": {
                                                  "type": "string"
                                                },
                                                "htmlClass": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "content": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "text": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "disqualifiedCandidatesCount": {
                                "type": "number"
                              },
                              "dynamicFieldsCount": {
                                "type": "number"
                              },
                              "education": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "eeoSettings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailConfirmation": {
                                "type": "boolean"
                              },
                              "emailConfirmationBody": {
                                "type": "string"
                              },
                              "emailConfirmationSubject": {
                                "type": "string"
                              },
                              "employmentType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "enabledForReferrals": {
                                "type": "boolean"
                              },
                              "example": {
                                "type": "boolean"
                              },
                              "experience": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fieldset": {
                                "type": "object",
                                "properties": {
                                  "default": {
                                    "type": "boolean"
                                  },
                                  "fields": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "kind": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "visibility": {
                                          "type": "object",
                                          "properties": {
                                            "level": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "visible": {
                                          "type": "boolean"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "fieldsetId": {
                                "type": "number"
                              },
                              "followed": {
                                "type": "boolean"
                              },
                              "guid": {
                                "type": "string"
                              },
                              "hasActiveCampaign": {
                                "type": "boolean"
                              },
                              "hasAdditionalInfo": {
                                "type": "boolean"
                              },
                              "hasAutomations": {
                                "type": "boolean"
                              },
                              "highlightHtml": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "highlightJson": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hireAssistant": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hiredCandidatesCount": {
                                "type": "number"
                              },
                              "hiredCandidatesWithoutOpeningsCount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hiringManagerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hybrid": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "issues": {
                                "type": "object",
                                "properties": {
                                  "isDynamicFieldsLimitExceeded": {
                                    "type": "boolean"
                                  },
                                  "isMigratedHtmlEqual": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isRequiredDataMissing": {
                                    "type": "boolean"
                                  },
                                  "isRequisitionMissing": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "jobScheduler": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "kind": {
                                "type": "string"
                              },
                              "langCode": {
                                "type": "string"
                              },
                              "location": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "locationsQuestion": {
                                "type": "string"
                              },
                              "locationsQuestionRequired": {
                                "type": "boolean"
                              },
                              "locationsQuestionType": {
                                "type": "string"
                              },
                              "mailboxEmail": {
                                "type": "string"
                              },
                              "maxHours": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "maxHoursPerWeek": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "minHours": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "minHoursPerWeek": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "notesCount": {
                                "type": "number"
                              },
                              "numberOfOpenings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "onSite": {
                                "type": "boolean"
                              },
                              "openQuestionTemplateId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "optionsCoverLetter": {
                                "type": "string"
                              },
                              "optionsCv": {
                                "type": "string"
                              },
                              "optionsPhone": {
                                "type": "string"
                              },
                              "optionsPhoto": {
                                "type": "string"
                              },
                              "optionsSalutation": {
                                "type": "string"
                              },
                              "optionsTitle": {
                                "type": "string"
                              },
                              "pipeline": {
                                "type": "boolean"
                              },
                              "pipelineTemplate": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom": {
                                    "type": "boolean"
                                  },
                                  "default": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "position": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requiresAdjustment": {
                                    "type": "boolean"
                                  },
                                  "stages": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "candidateAnonymizationEnabled": {
                                          "type": "boolean"
                                        },
                                        "category": {
                                          "type": "string"
                                        },
                                        "fairEvaluationsEnabled": {
                                          "type": "boolean"
                                        },
                                        "group": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "locked": {
                                          "type": "boolean"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "placementsCount": {
                                          "type": "number"
                                        },
                                        "position": {
                                          "type": "number"
                                        },
                                        "timeLimit": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pipelineTemplateId": {
                                "type": "number"
                              },
                              "position": {
                                "type": "number"
                              },
                              "postalCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "primaryLangCode": {
                                "type": "string"
                              },
                              "priority": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "publishedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "qualifiedCandidatesCount": {
                                "type": "number"
                              },
                              "recruiterId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "remote": {
                                "type": "boolean"
                              },
                              "requirements": {
                                "type": "string"
                              },
                              "requirementsHtml": {
                                "type": "string"
                              },
                              "requirementsJson": {
                                "type": "object",
                                "properties": {
                                  "doc": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "array",
                                        "items": {
[...]
