{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Phemex Universal API",
    "version": "0.0.3",
    "description": "Phemex is a cryptocurrency exchange for spot, futures, margin, wallet, transfer, and market-data operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/phemex/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/phemex/latest/actions/list-products": {
      "get": {
        "operationId": "phemex.list-products",
        "summary": "List Products",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/phemex/latest/actions/list-products"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currencies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "assetsPrecision": {
                                  "type": "number"
                                },
                                "code": {
                                  "type": "number"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "displayCurrency": {
                                  "type": "string"
                                },
                                "inAssetsDisplay": {
                                  "type": "number"
                                },
                                "maxValueEv": {
                                  "type": "number"
                                },
                                "minValueEv": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "needAddrTag": {
                                  "type": "number"
                                },
                                "perpetual": {
                                  "type": "number"
                                },
                                "spotInnoStatus": {
                                  "type": "number"
                                },
                                "stableCoin": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "string"
                                },
                                "valueScale": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "leverageMargins": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "index_id": {
                                  "type": "number"
                                },
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "maintenanceAmountRv": {
                                        "type": "string"
                                      },
                                      "maintenanceMarginRateRr": {
                                        "type": "string"
                                      },
                                      "maxLeverage": {
                                        "type": "number"
                                      },
                                      "notionalValueRv": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "leverages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "initialMargin": {
                                  "type": "string"
                                },
                                "initialMarginEr": {
                                  "type": "number"
                                },
                                "options": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "leveragesV2": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "initialMarginRr": {
                                  "type": "string"
                                },
                                "options": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "md5Checksum": {
                            "type": "string"
                          },
                          "perpProductsPilot": {
                            "type": "string"
                          },
                          "perpProductsV2": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "baseCurrency": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "number"
                                },
                                "contractUnderlyingAssets": {
                                  "type": "string"
                                },
                                "defaultLeverage": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "displaySymbol": {
                                  "type": "string"
                                },
                                "fundingInterval": {
                                  "type": "number"
                                },
                                "fundingRate8hSymbol": {
                                  "type": "string"
                                },
                                "fundingRateSymbol": {
                                  "type": "string"
                                },
                                "indexSymbol": {
                                  "type": "string"
                                },
                                "leverageMargin": {
                                  "type": "number"
                                },
                                "listTime": {
                                  "type": "number"
                                },
                                "majorSymbol": {
                                  "type": "boolean"
                                },
                                "markSymbol": {
                                  "type": "string"
                                },
                                "maxLeverage": {
                                  "type": "number"
                                },
                                "maxOI": {
                                  "type": "number"
                                },
                                "maxOpenPosLeverage": {
                                  "type": "number"
                                },
                                "maxOrderQtyRq": {
                                  "type": "string"
                                },
                                "maxPriceRp": {
                                  "type": "string"
                                },
                                "minOrderValueRv": {
                                  "type": "string"
                                },
                                "minPriceRp": {
                                  "type": "string"
                                },
                                "perpProductSubType": {
                                  "type": "string"
                                },
                                "pricePrecision": {
                                  "type": "number"
                                },
                                "priceScale": {
                                  "type": "number"
                                },
                                "qtyPrecision": {
                                  "type": "number"
                                },
                                "qtyStepSize": {
                                  "type": "string"
                                },
                                "quoteCurrency": {
                                  "type": "string"
                                },
                                "ratioScale": {
                                  "type": "number"
                                },
                                "settleCurrency": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "tickSize": {
                                  "type": "string"
                                },
                                "tipOrderQty": {
                                  "type": "number"
                                },
                                "tipOrderQtyRq": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "number"
                                },
                                "contractSize": {
                                  "type": "number"
                                },
                                "contractUnderlyingAssets": {
                                  "type": "string"
                                },
                                "defaultLeverage": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "displaySymbol": {
                                  "type": "string"
                                },
                                "fundingInterval": {
                                  "type": "number"
                                },
                                "fundingRate8hSymbol": {
                                  "type": "string"
                                },
                                "fundingRateSymbol": {
                                  "type": "string"
                                },
                                "indexSymbol": {
                                  "type": "string"
                                },
                                "leverageMargin": {
                                  "type": "number"
                                },
                                "listTime": {
                                  "type": "number"
                                },
                                "lotSize": {
                                  "type": "number"
                                },
                                "majorSymbol": {
                                  "type": "boolean"
                                },
                                "markSymbol": {
                                  "type": "string"
                                },
                                "maxLeverage": {
                                  "type": "number"
                                },
                                "maxOI": {
                                  "type": "number"
                                },
                                "maxOrderQty": {
                                  "type": "number"
                                },
                                "maxPriceEp": {
                                  "type": "number"
                                },
                                "minPriceEp": {
                                  "type": "number"
                                },
                                "pricePrecision": {
                                  "type": "number"
                                },
                                "priceScale": {
                                  "type": "number"
                                },
                                "quoteCurrency": {
                                  "type": "string"
                                },
                                "ratioScale": {
                                  "type": "number"
                                },
                                "settleCurrency": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "tickSize": {
                                  "type": "number"
                                },
                                "tipOrderQty": {
                                  "type": "number"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "ratioScale": {
                            "type": "number"
                          },
                          "riskLimits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "riskLimits": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "initialMargin": {
                                        "type": "string"
                                      },
                                      "initialMarginEr": {
                                        "type": "number"
                                      },
                                      "limit": {
                                        "type": "number"
                                      },
                                      "maintenanceMargin": {
                                        "type": "string"
                                      },
                                      "maintenanceMarginEr": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "steps": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "riskLimitsV2": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "riskLimits": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "initialMarginRr": {
                                        "type": "string"
                                      },
                                      "limit": {
                                        "type": "number"
                                      },
                                      "maintenanceMarginRr": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "steps": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/phemex/latest/actions/list-spot-assets": {
      "get": {
        "operationId": "phemex.list-spot-assets",
        "summary": "List Spot Assets",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/phemex/latest/actions/list-spot-assets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "balanceEv": {
                                  "type": "number"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "lastUpdateTimeNs": {
                                  "type": "number"
                                },
                                "lockedTradingBalanceEv": {
                                  "type": "number"
                                },
                                "lockedWithdrawEv": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
