{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ice and Fire (Game of Thrones) Universal API",
    "version": "0.0.3",
    "description": "Explore Ice and Fire books, characters, and houses"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/iceAndFireGameOfThrones/latest/actions/get-book": {
      "get": {
        "operationId": "iceAndFireGameOfThrones.get-book",
        "summary": "Get Book",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest/actions/get-book"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the book to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the book to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "characters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "country": {
                            "type": "string"
                          },
                          "isbn": {
                            "type": "string"
                          },
                          "mediaType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfPages": {
                            "type": "number"
                          },
                          "povCharacters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "publisher": {
                            "type": "string"
                          },
                          "released": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iceAndFireGameOfThrones/latest/actions/get-character": {
      "get": {
        "operationId": "iceAndFireGameOfThrones.get-character",
        "summary": "Get Character",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest/actions/get-character"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "characterId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the character to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the character to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aliases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "allegiances": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "books": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "born": {
                            "type": "string"
                          },
                          "culture": {
                            "type": "string"
                          },
                          "died": {
                            "type": "string"
                          },
                          "father": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "mother": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "playedBy": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "povBooks": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "spouse": {
                            "type": "string"
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tvSeries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iceAndFireGameOfThrones/latest/actions/get-house": {
      "get": {
        "operationId": "iceAndFireGameOfThrones.get-house",
        "summary": "Get House",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest/actions/get-house"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "houseId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the house to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the house to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ancestralWeapons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cadetBranches": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "coatOfArms": {
                            "type": "string"
                          },
                          "currentLord": {
                            "type": "string"
                          },
                          "diedOut": {
                            "type": "string"
                          },
                          "founded": {
                            "type": "string"
                          },
                          "founder": {
                            "type": "string"
                          },
                          "heir": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overlord": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "seats": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "swornMembers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "words": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iceAndFireGameOfThrones/latest/actions/list-books": {
      "get": {
        "operationId": "iceAndFireGameOfThrones.list-books",
        "summary": "List Books",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest/actions/list-books"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Return books with this exact name.",
            "schema": {
              "type": "string",
              "description": "Return books with this exact name."
            }
          },
          {
            "name": "fromReleaseDate",
            "in": "query",
            "required": false,
            "description": "Return books released on or after this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return books released on or after this date."
            }
          },
          {
            "name": "toReleaseDate",
            "in": "query",
            "required": false,
            "description": "Return books released on or before this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return books released on or before this date."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "characters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "country": {
                            "type": "string"
                          },
                          "isbn": {
                            "type": "string"
                          },
                          "mediaType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfPages": {
                            "type": "number"
                          },
                          "povCharacters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "publisher": {
                            "type": "string"
                          },
                          "released": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iceAndFireGameOfThrones/latest/actions/list-characters": {
      "get": {
        "operationId": "iceAndFireGameOfThrones.list-characters",
        "summary": "List Characters",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest/actions/list-characters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Return only characters with this exact name.",
            "schema": {
              "type": "string",
              "description": "Return only characters with this exact name."
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Return only characters with this gender.",
            "schema": {
              "type": "string",
              "description": "Return only characters with this gender."
            }
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "description": "Return only characters from this culture.",
            "schema": {
              "type": "string",
              "description": "Return only characters from this culture."
            }
          },
          {
            "name": "born",
            "in": "query",
            "required": false,
            "description": "Return only characters born in this year string.",
            "schema": {
              "type": "string",
              "description": "Return only characters born in this year string."
            }
          },
          {
            "name": "died",
            "in": "query",
            "required": false,
            "description": "Return only characters who died in this year string.",
            "schema": {
              "type": "string",
              "description": "Return only characters who died in this year string."
            }
          },
          {
            "name": "isAlive",
            "in": "query",
            "required": false,
            "description": "Return only characters who are alive or dead.",
            "schema": {
              "type": "boolean",
              "description": "Return only characters who are alive or dead."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aliases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "allegiances": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "books": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "born": {
                            "type": "string"
                          },
                          "culture": {
                            "type": "string"
                          },
                          "died": {
                            "type": "string"
                          },
                          "father": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "mother": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "playedBy": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "povBooks": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "spouse": {
                            "type": "string"
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tvSeries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iceAndFireGameOfThrones/latest/actions/list-houses": {
      "get": {
        "operationId": "iceAndFireGameOfThrones.list-houses",
        "summary": "List Houses",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iceAndFireGameOfThrones/latest/actions/list-houses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Return only houses with this exact name.",
            "schema": {
              "type": "string",
              "description": "Return only houses with this exact name."
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Return only houses from this region.",
            "schema": {
              "type": "string",
              "description": "Return only houses from this region."
            }
          },
          {
            "name": "words",
            "in": "query",
            "required": false,
            "description": "Return only houses with these words.",
            "schema": {
              "type": "string",
              "description": "Return only houses with these words."
            }
          },
          {
            "name": "hasWords",
            "in": "query",
            "required": false,
            "description": "Return only houses that do or do not have words.",
            "schema": {
              "type": "boolean",
              "description": "Return only houses that do or do not have words."
            }
          },
          {
            "name": "hasTitles",
            "in": "query",
            "required": false,
            "description": "Return only houses that do or do not have titles.",
            "schema": {
              "type": "boolean",
              "description": "Return only houses that do or do not have titles."
            }
          },
          {
            "name": "hasSeats",
            "in": "query",
            "required": false,
            "description": "Return only houses that do or do not have seats.",
            "schema": {
              "type": "boolean",
              "description": "Return only houses that do or do not have seats."
            }
          },
          {
            "name": "hasDiedOut",
            "in": "query",
            "required": false,
            "description": "Return only houses that have or have not died out.",
            "schema": {
              "type": "boolean",
              "description": "Return only houses that have or have not died out."
            }
          },
          {
            "name": "hasAncestralWeapons",
            "in": "query",
            "required": false,
            "description": "Return only houses that do or do not have ancestral weapons.",
            "schema": {
              "type": "boolean",
              "description": "Return only houses that do or do not have ancestral weapons."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ancestralWeapons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cadetBranches": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "coatOfArms": {
                            "type": "string"
                          },
                          "currentLord": {
                            "type": "string"
                          },
                          "diedOut": {
                            "type": "string"
                          },
                          "founded": {
                            "type": "string"
                          },
                          "founder": {
                            "type": "string"
                          },
                          "heir": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overlord": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "seats": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "swornMembers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "words": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
