{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ValidEmail Universal API",
    "version": "0.0.5",
    "description": "Validate email addresses in real time with the ValidEmail API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/validEmail/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/validEmail/latest/actions/verify-email": {
      "get": {
        "operationId": "validEmail.verify-email",
        "summary": "Verify Email",
        "description": "Verifies an email address with ValidEmail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/validEmail/latest/actions/verify-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address to verify.",
            "schema": {
              "type": "string",
              "description": "The email address to verify.",
              "example": "name@example.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AcceptAll": {
                            "type": "boolean",
                            "description": "True when the domain accepts all emails."
                          },
                          "Disposable": {
                            "type": "boolean",
                            "description": "True when the email is disposable or temporary."
                          },
                          "Domain": {
                            "type": "string",
                            "description": "Domain portion of the queried email address."
                          },
                          "Email": {
                            "type": "string",
                            "description": "The queried email address."
                          },
                          "EmailAdditionalInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional provider metadata for the email, reserved for future enhancements."
                          },
                          "Free": {
                            "type": "boolean",
                            "description": "True when the domain is a free email provider."
                          },
                          "IsValid": {
                            "type": "boolean",
                            "description": "True when the email is syntactically and technically valid."
                          },
                          "MXRecord": {
                            "type": "string",
                            "description": "MX record reported for the domain."
                          },
                          "Reason": {
                            "type": "string",
                            "description": "Reason returned by ValidEmail for the verification result."
                          },
                          "Role": {
                            "type": "boolean",
                            "description": "True when the email is role-based."
                          },
                          "Score": {
                            "type": "number",
                            "description": "Confidence score from 0 to 100."
                          },
                          "State": {
                            "type": "string",
                            "description": "Deliverable or Not Deliverable."
                          },
                          "Tag": {
                            "type": "boolean",
                            "description": "True when the email contains a plus-tag."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
