{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WaiverForever Universal API",
    "version": "0.0.5",
    "description": "Create, sign, and manage digital waivers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/waiverForever/latest/actions/accept-waiver": {
      "put": {
        "operationId": "waiverForever.accept-waiver",
        "summary": "Accept Waiver",
        "description": "Accepts a waiver in WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/accept-waiver"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "waiverId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "waiverId": {
                    "type": "string",
                    "description": "Signed waiver identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "msg": {
                            "type": "string",
                            "description": "Provider response message."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Whether the accept request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/create-waiver-request": {
      "post": {
        "operationId": "waiverForever.create-waiver-request",
        "summary": "Create Waiver Request",
        "description": "Creates a waiver request in WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/create-waiver-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "size",
                  "templateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactInfo": {
                    "type": "string",
                    "description": "Optional contact information for the request group."
                  },
                  "name": {
                    "type": "string",
                    "description": "Waiver request group name."
                  },
                  "note": {
                    "type": "string",
                    "description": "Optional request note."
                  },
                  "size": {
                    "type": "number",
                    "description": "Number of recipients to create in the request group."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Template used by the waiver request."
                  },
                  "type": {
                    "type": "string",
                    "description": "Request type such as normal or anonymous."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acceptedCount": {
                            "type": "number",
                            "description": "Number of accepted request slots."
                          },
                          "contactInfo": {
                            "type": "string",
                            "description": "Contact information stored on the request."
                          },
                          "datetime": {
                            "type": "number",
                            "description": "Created timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Waiver request identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Waiver request name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Waiver request note."
                          },
                          "requestLink": {
                            "type": "string",
                            "description": "Share link for the waiver request."
                          },
                          "size": {
                            "type": "number",
                            "description": "Number of recipients in the request group."
                          },
                          "status": {
                            "type": "string",
                            "description": "Waiver request status."
                          },
                          "submittedCount": {
                            "type": "number",
                            "description": "Number of submitted waivers."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template used for the waiver request."
                          },
                          "type": {
                            "type": "string",
                            "description": "Waiver request type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/edit-waiver-request": {
      "put": {
        "operationId": "waiverForever.edit-waiver-request",
        "summary": "Edit Waiver Request",
        "description": "Updates a waiver request in WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/edit-waiver-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "size",
                  "waiverRequestId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactInfo": {
                    "type": "string",
                    "description": "Updated contact information."
                  },
                  "name": {
                    "type": "string",
                    "description": "Updated waiver request group name."
                  },
                  "note": {
                    "type": "string",
                    "description": "Updated request note."
                  },
                  "size": {
                    "type": "number",
                    "description": "Updated request group size."
                  },
                  "waiverRequestId": {
                    "type": "string",
                    "description": "Waiver request group identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acceptedCount": {
                            "type": "number",
                            "description": "Number of accepted request slots."
                          },
                          "contactInfo": {
                            "type": "string",
                            "description": "Contact information stored on the request."
                          },
                          "datetime": {
                            "type": "number",
                            "description": "Created timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Waiver request identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Waiver request name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Waiver request note."
                          },
                          "requestLink": {
                            "type": "string",
                            "description": "Share link for the waiver request."
                          },
                          "size": {
                            "type": "number",
                            "description": "Number of recipients in the request group."
                          },
                          "status": {
                            "type": "string",
                            "description": "Waiver request status."
                          },
                          "submittedCount": {
                            "type": "number",
                            "description": "Number of submitted waivers."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template used for the waiver request."
                          },
                          "type": {
                            "type": "string",
                            "description": "Waiver request type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/generate-template-prefill-link": {
      "post": {
        "operationId": "waiverForever.generate-template-prefill-link",
        "summary": "Generate Template Prefill Link",
        "description": "Creates a prefilled template link in WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/generate-template-prefill-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fields",
                  "templateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "expireAt": {
                    "type": "number",
                    "description": "Expiration timestamp for the generated prefill link.",
                    "example": 1720749890
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Prefilled field values that must match the template prefill schema for the template."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "WaiverForever template identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expireAt": {
                            "type": "number",
                            "description": "Expiration timestamp for the prefill link."
                          },
                          "url": {
                            "type": "string",
                            "description": "Generated prefill signing URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-sample-waiver": {
      "get": {
        "operationId": "waiverForever.get-sample-waiver",
        "summary": "Get Sample Waiver",
        "description": "Retrieves a sample waiver from a WaiverForever template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-sample-waiver"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "description": "WaiverForever template identifier.",
            "schema": {
              "type": "string",
              "description": "WaiverForever template identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Filled waiver fields."
                          },
                          "device": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Signing device details."
                          },
                          "geolocation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Signing geolocation."
                          },
                          "hasPdf": {
                            "type": "boolean",
                            "description": "Whether a PDF is available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Sample waiver identifier."
                          },
                          "ip": {
                            "type": "string",
                            "description": "Signer IP address."
                          },
                          "note": {
                            "type": "string",
                            "description": "Waiver note when present."
                          },
                          "pictures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Pictures attached to the waiver."
                          },
                          "receivedAt": {
                            "type": "number",
                            "description": "Server received timestamp."
                          },
                          "s3PdfDownloadUrl": {
                            "type": "string",
                            "description": "Temporary PDF download URL when available."
                          },
                          "signedAt": {
                            "type": "number",
                            "description": "Waiver signed timestamp."
                          },
                          "status": {
                            "type": "string",
                            "description": "Waiver status when present."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Waiver tags when present."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template identifier."
                          },
                          "templateTitle": {
                            "type": "string",
                            "description": "Template title."
                          },
                          "templateVersion": {
                            "type": "string",
                            "description": "Template version."
                          },
                          "trackingId": {
                            "type": "string",
                            "description": "Tracking identifier if present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-signed-waiver": {
      "get": {
        "operationId": "waiverForever.get-signed-waiver",
        "summary": "Get Signed Waiver",
        "description": "Retrieves a signed waiver from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-signed-waiver"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "waiverId",
            "in": "query",
            "required": true,
            "description": "Signed waiver identifier.",
            "schema": {
              "type": "string",
              "description": "Signed waiver identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Filled waiver fields."
                          },
                          "device": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Signing device details."
                          },
                          "geolocation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Signing geolocation."
                          },
                          "hasPdf": {
                            "type": "boolean",
                            "description": "Whether a PDF is available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Signed waiver identifier."
                          },
                          "ip": {
                            "type": "string",
                            "description": "Signer IP address."
                          },
                          "note": {
                            "type": "string",
                            "description": "Waiver note."
                          },
                          "pictures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Pictures attached to the waiver."
                          },
                          "receivedAt": {
                            "type": "number",
                            "description": "Server received timestamp."
                          },
                          "requestId": {
                            "type": "string",
                            "description": "Waiver request identifier if present."
                          },
                          "s3PdfDownloadUrl": {
                            "type": "string",
                            "description": "Temporary PDF download URL when available."
                          },
                          "signedAt": {
                            "type": "number",
                            "description": "Waiver signed timestamp."
                          },
                          "status": {
                            "type": "string",
                            "description": "Waiver status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Waiver tags."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template identifier."
                          },
                          "templateTitle": {
                            "type": "string",
                            "description": "Template title."
                          },
                          "templateVersion": {
                            "type": "string",
                            "description": "Template version."
                          },
                          "trackingId": {
                            "type": "string",
                            "description": "Tracking identifier if present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-template-prefill-schema": {
      "get": {
        "operationId": "waiverForever.get-template-prefill-schema",
        "summary": "Get Template Prefill Schema",
        "description": "Retrieves a template prefill schema from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-template-prefill-schema"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "description": "WaiverForever template identifier.",
            "schema": {
              "type": "string",
              "description": "WaiverForever template identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$id": {
                            "type": "string",
                            "description": "Schema identifier URL."
                          },
                          "$schema": {
                            "type": "string",
                            "description": "JSON Schema spec URL."
                          },
                          "additionalProperties": {
                            "type": "boolean",
                            "description": "Whether extra properties are allowed."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Prefillable properties."
                          },
                          "title": {
                            "type": "string",
                            "description": "Schema title."
                          },
                          "type": {
                            "type": "string",
                            "description": "Top-level schema type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-tracking-waiver": {
      "get": {
        "operationId": "waiverForever.get-tracking-waiver",
        "summary": "Get Tracking Waiver",
        "description": "Retrieves a waiver from WaiverForever by tracking ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-tracking-waiver"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingId",
            "in": "query",
            "required": true,
            "description": "Tracking identifier returned by Request Waiver.",
            "schema": {
              "type": "string",
              "description": "Tracking identifier returned by Request Waiver."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Filled waiver fields."
                          },
                          "device": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Signing device details."
                          },
                          "geolocation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Signing geolocation."
                          },
                          "hasPdf": {
                            "type": "boolean",
                            "description": "Whether a PDF is available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Signed waiver identifier."
                          },
                          "ip": {
                            "type": "string",
                            "description": "Signer IP address."
                          },
                          "note": {
                            "type": "string",
                            "description": "Waiver note."
                          },
                          "pictures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Pictures attached to the waiver."
                          },
                          "receivedAt": {
                            "type": "number",
                            "description": "Server received timestamp."
                          },
                          "requestId": {
                            "type": "string",
                            "description": "Waiver request identifier if present."
                          },
                          "s3PdfDownloadUrl": {
                            "type": "string",
                            "description": "Temporary PDF download URL when available."
                          },
                          "signedAt": {
                            "type": "number",
                            "description": "Waiver signed timestamp."
                          },
                          "status": {
                            "type": "string",
                            "description": "Waiver status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Waiver tags."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template identifier."
                          },
                          "templateTitle": {
                            "type": "string",
                            "description": "Template title."
                          },
                          "templateVersion": {
                            "type": "string",
                            "description": "Template version."
                          },
                          "trackingId": {
                            "type": "string",
                            "description": "Tracking identifier if present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-user-info": {
      "get": {
        "operationId": "waiverForever.get-user-info",
        "summary": "Get User Info",
        "description": "Retrieves user info from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-user-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string",
                            "description": "WaiverForever account username."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-waiver-request": {
      "get": {
        "operationId": "waiverForever.get-waiver-request",
        "summary": "Get Waiver Request",
        "description": "Retrieves a waiver request from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-waiver-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeWaivers",
            "in": "query",
            "required": false,
            "description": "Include submitted waivers in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include submitted waivers in the response."
            }
          },
          {
            "name": "waiverRequestId",
            "in": "query",
            "required": true,
            "description": "Waiver request group identifier.",
            "schema": {
              "type": "string",
              "description": "Waiver request group identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acceptedCount": {
                            "type": "number",
                            "description": "Number of accepted request slots."
                          },
                          "contactInfo": {
                            "type": "string",
                            "description": "Contact information stored on the request."
                          },
                          "datetime": {
                            "type": "number",
                            "description": "Created timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Waiver request identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Waiver request name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Waiver request note."
                          },
                          "requestLink": {
                            "type": "string",
                            "description": "Share link for the waiver request."
                          },
                          "size": {
                            "type": "number",
                            "description": "Number of recipients in the request group."
                          },
                          "status": {
                            "type": "string",
                            "description": "Waiver request status."
                          },
                          "submittedCount": {
                            "type": "number",
                            "description": "Number of submitted waivers."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template used for the waiver request."
                          },
                          "type": {
                            "type": "string",
                            "description": "Waiver request type."
                          },
                          "waivers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Waivers submitted into this request group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-waiver-request-prefill-schema": {
      "get": {
        "operationId": "waiverForever.get-waiver-request-prefill-schema",
        "summary": "Get Waiver Request Prefill Schema",
        "description": "Retrieves a waiver request prefill schema from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-waiver-request-prefill-schema"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "description": "Waiver request group identifier.",
            "schema": {
              "type": "string",
              "description": "Waiver request group identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$id": {
                            "type": "string",
                            "description": "Schema identifier URL."
                          },
                          "$schema": {
                            "type": "string",
                            "description": "JSON Schema dialect URI."
                          },
                          "items": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Schema for each prefill record item."
                          },
                          "title": {
                            "type": "string",
                            "description": "Schema title."
                          },
                          "type": {
                            "type": "string",
                            "description": "Top-level JSON type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/get-waiver-request-tracking-info": {
      "get": {
        "operationId": "waiverForever.get-waiver-request-tracking-info",
        "summary": "Get Waiver Request Tracking Info",
        "description": "Retrieves waiver request tracking info from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/get-waiver-request-tracking-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "description": "Waiver request group to inspect.",
            "schema": {
              "type": "string",
              "description": "Waiver request group to inspect."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number.",
            "schema": {
              "type": "number",
              "description": "Results page number."
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Results returned per page.",
            "schema": {
              "type": "number",
              "description": "Results returned per page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Number of tracking records matching the query."
                          },
                          "page": {
                            "type": "number",
                            "description": "Current tracking results page."
                          },
                          "perPage": {
                            "type": "number",
                            "description": "Tracking records returned per page."
                          },
                          "trackings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tracking rows for recipients in the waiver request group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/waiverForever/latest/actions/list-subscriptions": {
      "get": {
        "operationId": "waiverForever.list-subscriptions",
        "summary": "List Subscriptions",
        "description": "Retrieves webhook subscriptions from WaiverForever.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/waiverForever/latest/actions/list-subscriptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string",
                            "description": "Actor that created the subscription."
                          },
                          "disabled": {
                            "type": "boolean",
                            "description": "Whether the subscription is disabled."
                          },
                          "event": {
                            "type": "string",
                            "description": "Subscribed event name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Webhook subscription identifier."
                          },
                          "secretKey": {
                            "type": "string",
                            "description": "Secret key used to sign webhook payloads."
                          },
                          "state": {
                            "type": "string",
                            "description": "Provider state string for the subscription."
                          },
                          "targetUrl": {
                            "type": "string",
                            "description": "Webhook callback URL."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template attached to the subscription."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
