{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Chainstream Universal API",
    "version": "0.0.2",
    "description": "Analyze blockchain, token, wallet, trade, and compliance data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/chainstream/latest/actions/batch-get-token-metadata": {
      "get": {
        "operationId": "chainstream.batch-get-token-metadata",
        "summary": "Batch Get Token Metadata",
        "description": "Retrieves token metadata in bulk from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/batch-get-token-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Supported blockchain chain",
            "schema": {
              "type": "string",
              "description": "Supported blockchain chain"
            }
          },
          {
            "name": "tokenAddresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of token addresses",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of token addresses"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/build-dex-route": {
      "get": {
        "operationId": "chainstream.build-dex-route",
        "summary": "Build DEX Route",
        "description": "Calculates the best DEX swap route in Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/build-dex-route"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks"
            }
          },
          {
            "name": "dex",
            "in": "query",
            "required": true,
            "description": "DEX identifier for the trade",
            "schema": {
              "type": "string",
              "description": "DEX identifier for the trade"
            }
          },
          {
            "name": "userAddress",
            "in": "query",
            "required": true,
            "description": "Public key of the wallet initiating the transaction",
            "schema": {
              "type": "string",
              "description": "Public key of the wallet initiating the transaction"
            }
          },
          {
            "name": "priorityFee",
            "in": "query",
            "required": false,
            "description": "Priority fee to increase transaction processing speed",
            "schema": {
              "type": "string",
              "description": "Priority fee to increase transaction processing speed",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to swap",
            "schema": {
              "type": "string",
              "description": "Amount to swap"
            }
          },
          {
            "name": "swapMode",
            "in": "query",
            "required": true,
            "description": "Swap direction mode",
            "schema": {
              "type": "string",
              "description": "Swap direction mode"
            }
          },
          {
            "name": "slippage",
            "in": "query",
            "required": true,
            "description": "Slippage tolerance percentage",
            "schema": {
              "type": "number",
              "description": "Slippage tolerance percentage"
            }
          },
          {
            "name": "inputMint",
            "in": "query",
            "required": false,
            "description": "Input token mint address",
            "schema": {
              "type": "string",
              "description": "Input token mint address"
            }
          },
          {
            "name": "outputMint",
            "in": "query",
            "required": false,
            "description": "Output token mint address",
            "schema": {
              "type": "string",
              "description": "Output token mint address"
            }
          },
          {
            "name": "recipientAddress",
            "in": "query",
            "required": false,
            "description": "Recipient wallet address for the swap",
            "schema": {
              "type": "string",
              "description": "Recipient wallet address for the swap",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "permit",
            "in": "query",
            "required": false,
            "description": "Permit data for the swap",
            "schema": {
              "type": "string",
              "description": "Permit data for the swap",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deadline",
            "in": "query",
            "required": false,
            "description": "Swap deadline timestamp",
            "schema": {
              "type": "number",
              "description": "Swap deadline timestamp",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tipFee",
            "in": "query",
            "required": false,
            "description": "Tip fee to increase transaction processing speed",
            "schema": {
              "type": "string",
              "description": "Tip fee to increase transaction processing speed",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "isAntiMev",
            "in": "query",
            "required": false,
            "description": "Whether to enable anti-MEV protection",
            "schema": {
              "type": "boolean",
              "description": "Whether to enable anti-MEV protection",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "maxFeePerGas",
            "in": "query",
            "required": false,
            "description": "Maximum fee per gas unit in wei",
            "schema": {
              "type": "string",
              "description": "Maximum fee per gas unit in wei",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "maxPriorityFeePerGas",
            "in": "query",
            "required": false,
            "description": "Maximum priority fee per gas unit in wei",
            "schema": {
              "type": "string",
              "description": "Maximum priority fee per gas unit in wei",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "gasPrice",
            "in": "query",
            "required": false,
            "description": "Gas price in wei",
            "schema": {
              "type": "string",
              "description": "Gas price in wei",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "gasLimit",
            "in": "query",
            "required": false,
            "description": "Gas limit for the transaction",
            "schema": {
              "type": "string",
              "description": "Gas limit for the transaction",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "args": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "dex": {
                                "type": "string"
                              },
                              "inputMint": {
                                "type": "string"
                              },
                              "outputMint": {
                                "type": "string"
                              },
                              "slippage": {
                                "type": "number"
                              },
                              "swapMode": {
                                "type": "string"
                              },
                              "userAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "elapsedTime": {
                            "type": "number"
                          },
                          "routeInfo": {
                            "type": "object",
                            "properties": {
                              "contextSlot": {
                                "type": "number"
                              },
                              "inAmount": {
                                "type": "string"
                              },
                              "inputMint": {
                                "type": "string"
                              },
                              "otherAmountThreshold": {
                                "type": "string"
                              },
                              "outAmount": {
                                "type": "string"
                              },
                              "outputMint": {
                                "type": "string"
                              },
                              "routePlan": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "percent": {
                                      "type": "number"
                                    },
                                    "swapInfo": {
                                      "type": "object",
                                      "properties": {
                                        "ammKey": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "slippageBps": {
                                "type": "number"
                              },
                              "swapMode": {
                                "type": "string"
                              },
                              "timeTaken": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "serializedTx": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/calculate-wallet-pnl": {
      "post": {
        "operationId": "chainstream.calculate-wallet-pnl",
        "summary": "Calculate Wallet PnL",
        "description": "Calculates wallet token PnL in Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/calculate-wallet-pnl"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chain",
                  "walletAddress"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chain": {
                    "type": "string",
                    "description": "A chain name listed in supported networks."
                  },
                  "walletAddress": {
                    "type": "string",
                    "description": "An address of a wallet."
                  },
                  "tokenAddresses[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Token addresses to include in the calculation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/create-webhook-endpoint": {
      "post": {
        "operationId": "chainstream.create-webhook-endpoint",
        "summary": "Create Webhook Endpoint",
        "description": "Creates a webhook endpoint in Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/create-webhook-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Webhook destination URL"
                  },
                  "channels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook event channels to subscribe to"
                  },
                  "description": {
                    "type": "string",
                    "description": "Endpoint description"
                  },
                  "disabled": {
                    "type": "boolean",
                    "description": "Whether the endpoint is disabled"
                  },
                  "filter": {
                    "type": "string",
                    "description": "Event filter configuration"
                  },
                  "filterTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Event type filters"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Endpoint metadata"
                  },
                  "rateLimit": {
                    "type": "number",
                    "description": "Rate limit for the endpoint"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Endpoint signing secret",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "disabled": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/execute-dex-swap": {
      "post": {
        "operationId": "chainstream.execute-dex-swap",
        "summary": "Execute DEX Swap",
        "description": "Creates a DEX swap transaction in Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/execute-dex-swap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chain",
                  "dex",
                  "userAddress",
                  "amount",
                  "swapMode",
                  "slippage"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chain": {
                    "type": "string",
                    "description": "A chain name listed in supported networks"
                  },
                  "dex": {
                    "type": "string",
                    "description": "DEX identifier for the trade"
                  },
                  "userAddress": {
                    "type": "string",
                    "description": "Public key of the wallet initiating the transaction"
                  },
                  "priorityFee": {
                    "type": "string",
                    "description": "Priority fee to increase transaction processing speed",
                    "x-mindcloud-advanced": true
                  },
                  "poolAddress": {
                    "type": "string",
                    "description": "DEX pool address",
                    "x-mindcloud-advanced": true
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to swap"
                  },
                  "swapMode": {
                    "type": "string",
                    "description": "Swap direction mode"
                  },
                  "slippage": {
                    "type": "number",
                    "description": "Slippage tolerance percentage"
                  },
                  "inputMint": {
                    "type": "string",
                    "description": "Input token mint address"
                  },
                  "outputMint": {
                    "type": "string",
                    "description": "Output token mint address"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "elapsedTime": {
                            "type": "number"
                          },
                          "serializedTx": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-dex-quote": {
      "get": {
        "operationId": "chainstream.get-dex-quote",
        "summary": "Get DEX Quote",
        "description": "Retrieves a DEX quote from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-dex-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks"
            }
          },
          {
            "name": "dex",
            "in": "query",
            "required": true,
            "description": "DEX identifier",
            "schema": {
              "type": "string",
              "description": "DEX identifier"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to quote",
            "schema": {
              "type": "string",
              "description": "Amount to quote"
            }
          },
          {
            "name": "inputMint",
            "in": "query",
            "required": true,
            "description": "Input token mint address",
            "schema": {
              "type": "string",
              "description": "Input token mint address"
            }
          },
          {
            "name": "outputMint",
            "in": "query",
            "required": true,
            "description": "Output token mint address",
            "schema": {
              "type": "string",
              "description": "Output token mint address"
            }
          },
          {
            "name": "exactIn",
            "in": "query",
            "required": true,
            "description": "Whether the amount is exact input",
            "schema": {
              "type": "boolean",
              "description": "Whether the amount is exact input"
            }
          },
          {
            "name": "slippage",
            "in": "query",
            "required": true,
            "description": "Slippage tolerance percentage",
            "schema": {
              "type": "number",
              "description": "Slippage tolerance percentage"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountOut": {
                            "type": "string"
                          },
                          "currentPrice": {
                            "type": "string"
                          },
                          "executionPrice": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "string"
                          },
                          "minAmountOut": {
                            "type": "string"
                          },
                          "priceImpact": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-final-stretch-tokens": {
      "get": {
        "operationId": "chainstream.get-final-stretch-tokens",
        "summary": "Get Final Stretch Tokens",
        "description": "Retrieves final stretch tokens from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-final-stretch-tokens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks.",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "description": "Sort direction.",
              "default": "desc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Ranking tag filter.",
            "schema": {
              "type": "string",
              "description": "Ranking tag filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "chain": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "marketData": {
                                  "type": "object",
                                  "properties": {
                                    "marketCapInUsd": {
                                      "type": "string"
                                    },
                                    "priceInUsd": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "tokenCreatedAt": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-hot-tokens": {
      "get": {
        "operationId": "chainstream.get-hot-tokens",
        "summary": "Get Hot Tokens",
        "description": "Retrieves hot tokens from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-hot-tokens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks.",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks."
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "description": "Duration of the ranking.",
            "schema": {
              "type": "string",
              "description": "Duration of the ranking."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "description": "Sort direction.",
              "default": "desc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Ranking tag filter.",
            "schema": {
              "type": "string",
              "description": "Ranking tag filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "searchKeywords[]",
            "in": "query",
            "required": false,
            "description": "Search keywords.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Search keywords.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "excludeKeywords[]",
            "in": "query",
            "required": false,
            "description": "Exclude keywords.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Exclude keywords.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "chain": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "marketData": {
                                  "type": "object",
                                  "properties": {
                                    "marketCapInUsd": {
                                      "type": "string"
                                    },
                                    "priceInUsd": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "tokenCreatedAt": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-latest-block": {
      "get": {
        "operationId": "chainstream.get-latest-block",
        "summary": "Get Latest Block",
        "description": "Retrieves the latest blockchain block from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-latest-block"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks.",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockhash": {
                            "type": "string"
                          },
                          "lastValidBlockHeight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-migrated-tokens": {
      "get": {
        "operationId": "chainstream.get-migrated-tokens",
        "summary": "Get Migrated Tokens",
        "description": "Retrieves migrated tokens from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-migrated-tokens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks.",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "description": "Sort direction.",
              "default": "desc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Ranking tag filter.",
            "schema": {
              "type": "string",
              "description": "Ranking tag filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "chain": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "marketData": {
                                  "type": "object",
                                  "properties": {
                                    "marketCapInUsd": {
                                      "type": "string"
                                    },
                                    "priceInUsd": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "tokenCreatedAt": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-new-tokens": {
      "get": {
        "operationId": "chainstream.get-new-tokens",
        "summary": "Get New Tokens",
        "description": "Retrieves new tokens from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-new-tokens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "A chain name listed in supported networks.",
            "schema": {
              "type": "string",
              "description": "A chain name listed in supported networks."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "description": "Sort direction.",
              "default": "desc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Ranking tag filter.",
            "schema": {
              "type": "string",
              "description": "Ranking tag filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "chain": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "marketData": {
                                  "type": "object",
                                  "properties": {
                                    "marketCapInUsd": {
                                      "type": "string"
                                    },
                                    "priceInUsd": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "tokenCreatedAt": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chainstream/latest/actions/get-token-creation": {
      "get": {
        "operationId": "chainstream.get-token-creation",
        "summary": "Get Token Creation",
        "description": "Retrieves token creation details from Chainstream.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chainstream/latest/actions/get-token-creation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Supported blockchain chain",
            "schema": {
              "type": "string",
              "description": "Supported blockchain chain"
            }
          },
          {
            "name": "tokenAddress",
            "in": "query",
            "required": true,
            "description": "Token contract address",
            "schema": {
              "type": "string",
              "description": "Token contract address"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockHash": {
                            "type": "string"
                          },
                          "blockHeight": {
                            "type": "number"
                          },
                          "blockSlot": {
                            "type": "number"
                          },
                          "blockTimestamp": {
                            "type": "number"
                          },
                          "tokenAddress": {
                            "type": "string"
                          },
                          "transactionSignature": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
[...]
