{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "CallRail Universal API",
    "version": "0.0.7",
    "description": "CallRail provides call tracking, form tracking, lead attribution, and conversation intelligence for marketers and agencies."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/callRail/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/callRail/latest/actions/create-company": {
      "post": {
        "operationId": "callRail.create-company",
        "summary": "Create Company",
        "description": "Creates a company in CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "account_id",
                  "name",
                  "time_zone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "time_zone": {
                    "type": "string"
                  },
                  "swap_ppc_override": {
                    "type": "boolean"
                  },
                  "swap_landing_override": {
                    "type": "boolean"
                  },
                  "callscribe_enabled": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callscoreEnabled": {
                            "type": "boolean"
                          },
                          "callscribeEnabled": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "disabledAt": {
                            "type": "string"
                          },
                          "dniActive": {
                            "type": "string"
                          },
                          "formCapture": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "keywordSpottingEnabled": {
                            "type": "string"
                          },
                          "leadScoringEnabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scriptUrl": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "swapCookieDuration": {
                            "type": "number"
                          },
                          "swapCookieDurationUnit": {
                            "type": "string"
                          },
                          "swapExcludeJquery": {
                            "type": "string"
                          },
                          "swapLandingOverride": {
                            "type": "string"
                          },
                          "swapPpcOverride": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/create-form-submission": {
      "post": {
        "operationId": "callRail.create-form-submission",
        "summary": "Create Form Submission",
        "description": "Creates a form submission in CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/create-form-submission"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "account_id",
                  "form_submission.company_id",
                  "form_submission.form_url",
                  "form_submission.form_data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "form_submission.company_id": {
                    "type": "string"
                  },
                  "form_submission.form_url": {
                    "type": "string"
                  },
                  "form_submission.form_data": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "form_submission.referrer": {
                    "type": "string"
                  },
                  "form_submission.referring_url": {
                    "type": "string"
                  },
                  "form_submission.landing_page_url": {
                    "type": "string"
                  },
                  "form_submission.session_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "string"
                          },
                          "firstForm": {
                            "type": "boolean"
                          },
                          "formData": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              },
                              "textingConsent": {
                                "type": "string"
                              },
                              "yourName": {
                                "type": "string"
                              }
                            }
                          },
                          "formUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "landingPageUrl": {
                            "type": "string"
                          },
                          "personId": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "referringUrl": {
                            "type": "string"
                          },
                          "submittedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/create-tag": {
      "post": {
        "operationId": "callRail.create-tag",
        "summary": "Create Tag",
        "description": "Creates a tag in CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "account_id",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "company_id": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "tag_level": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundColor": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tagLevel": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/disable-company": {
      "delete": {
        "operationId": "callRail.disable-company",
        "summary": "Disable Company",
        "description": "Disables a company in CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/disable-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/get-account": {
      "get": {
        "operationId": "callRail.get-account",
        "summary": "Get Account",
        "description": "Retrieves an account from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated additional account fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated additional account fields to include in the response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agencyInTrial": {
                            "type": "boolean"
                          },
                          "brandStatus": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "hasZuoraAccount": {
                            "type": "boolean"
                          },
                          "hipaaAccount": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inboundRecordingEnabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numericId": {
                            "type": "number"
                          },
                          "outboundRecordingEnabled": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/get-call": {
      "get": {
        "operationId": "callRail.get-call",
        "summary": "Get Call",
        "description": "Retrieves a call from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/get-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "call_id",
            "in": "query",
            "required": true,
            "description": "The CallRail call ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail call ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated additional call fields to return.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated additional call fields to return."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answered": {
                            "type": "boolean"
                          },
                          "businessPhoneNumber": {
                            "type": "string"
                          },
                          "customerCity": {
                            "type": "string"
                          },
                          "customerCountry": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerPhoneNumber": {
                            "type": "string"
                          },
                          "customerState": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "leadExplanation": {
                            "type": "string"
                          },
                          "leadScore": {
                            "type": "string"
                          },
                          "recording": {
                            "type": "string"
                          },
                          "recordingDuration": {
                            "type": "number"
                          },
                          "recordingPlayer": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "trackingPhoneNumber": {
                            "type": "string"
                          },
                          "voicemail": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/get-call-recording": {
      "get": {
        "operationId": "callRail.get-call-recording",
        "summary": "Get Call Recording",
        "description": "Retrieves a call recording from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/get-call-recording"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "call_id",
            "in": "query",
            "required": true,
            "description": "The CallRail call ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail call ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/get-company": {
      "get": {
        "operationId": "callRail.get-company",
        "summary": "Get Company",
        "description": "Retrieves a company from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "description": "The CallRail company ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail company ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callscoreEnabled": {
                            "type": "boolean"
                          },
                          "callscribeEnabled": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "disabledAt": {
                            "type": "string"
                          },
                          "dniActive": {
                            "type": "string"
                          },
                          "formCapture": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "keywordSpottingEnabled": {
                            "type": "string"
                          },
                          "leadScoringEnabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scriptUrl": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "swapCookieDuration": {
                            "type": "number"
                          },
                          "swapCookieDurationUnit": {
                            "type": "string"
                          },
                          "swapExcludeJquery": {
                            "type": "string"
                          },
                          "swapLandingOverride": {
                            "type": "string"
                          },
                          "swapPpcOverride": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/list-accounts": {
      "get": {
        "operationId": "callRail.list-accounts",
        "summary": "List Accounts",
        "description": "Retrieves accounts from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/list-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated additional account fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated additional account fields to include in the response."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agencyInTrial": {
                            "type": "boolean"
                          },
                          "brandStatus": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "hasZuoraAccount": {
                            "type": "boolean"
                          },
                          "hipaaAccount": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inboundRecordingEnabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numericId": {
                            "type": "number"
                          },
                          "outboundRecordingEnabled": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/list-call-page-views": {
      "get": {
        "operationId": "callRail.list-call-page-views",
        "summary": "List Call Page Views",
        "description": "Retrieves page views for a CallRail call.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/list-call-page-views"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "call_id",
            "in": "query",
            "required": true,
            "description": "The CallRail call ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail call ID."
            }
          },
          {
            "name": "time_zone",
            "in": "query",
            "required": false,
            "description": "Optional IANA time zone override for page view timestamps.",
            "schema": {
              "type": "string",
              "description": "Optional IANA time zone override for page view timestamps."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageViews": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "perPage": {
                            "type": "number"
                          },
                          "totalPages": {
                            "type": "number"
                          },
                          "totalRecords": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/list-calls": {
      "get": {
        "operationId": "callRail.list-calls",
        "summary": "List Calls",
        "description": "Retrieves calls from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/list-calls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Optional company ID to limit calls to one company.",
            "schema": {
              "type": "string",
              "description": "Optional company ID to limit calls to one company."
            }
          },
          {
            "name": "tracker_id",
            "in": "query",
            "required": false,
            "description": "Optional tracker ID to limit calls to one tracking number.",
            "schema": {
              "type": "string",
              "description": "Optional tracker ID to limit calls to one tracking number."
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "required": false,
            "description": "Optional preset date range such as recent or today.",
            "schema": {
              "type": "string",
              "description": "Optional preset date range such as recent or today."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Optional ISO 8601 start date for a custom date range.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 8601 start date for a custom date range."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Optional ISO 8601 end date for a custom date range.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 8601 end date for a custom date range."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Optional search text for customer, number, note, or source fields.",
            "schema": {
              "type": "string",
              "description": "Optional search text for customer, number, note, or source fields."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated additional call fields to return.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated additional call fields to return."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answered": {
                            "type": "boolean"
                          },
                          "businessPhoneNumber": {
                            "type": "string"
                          },
                          "customerCity": {
                            "type": "string"
                          },
                          "customerCountry": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerPhoneNumber": {
                            "type": "string"
                          },
                          "customerState": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "leadExplanation": {
                            "type": "string"
                          },
                          "leadScore": {
                            "type": "string"
                          },
                          "recording": {
                            "type": "string"
                          },
                          "recordingDuration": {
                            "type": "number"
                          },
                          "recordingPlayer": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "trackingPhoneNumber": {
                            "type": "string"
                          },
                          "voicemail": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/list-companies": {
      "get": {
        "operationId": "callRail.list-companies",
        "summary": "List Companies",
        "description": "Retrieves companies from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/list-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callscoreEnabled": {
                            "type": "boolean"
                          },
                          "callscribeEnabled": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "disabledAt": {
                            "type": "string"
                          },
                          "dniActive": {
                            "type": "string"
                          },
                          "formCapture": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "keywordSpottingEnabled": {
                            "type": "string"
                          },
                          "leadScoringEnabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scriptUrl": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "swapCookieDuration": {
                            "type": "number"
                          },
                          "swapCookieDurationUnit": {
                            "type": "string"
                          },
                          "swapExcludeJquery": {
                            "type": "string"
                          },
                          "swapLandingOverride": {
                            "type": "string"
                          },
                          "swapPpcOverride": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callRail/latest/actions/list-form-submissions": {
      "get": {
        "operationId": "callRail.list-form-submissions",
        "summary": "List Form Submissions",
        "description": "Retrieves form submissions from CallRail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callRail/latest/actions/list-form-submissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "The CallRail account ID.",
            "schema": {
              "type": "string",
              "description": "The CallRail account ID."
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Optional company ID to filter form submissions.",
            "schema": {
              "type": "string",
              "description": "Optional company ID to filter form submissions."
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "required": false,
            "description": "Standard CallRail date range filter.",
            "schema": {
              "type": "string",
              "description": "Standard CallRail date range filter."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start of a custom date range in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "Start of a custom date range in ISO 8601 format."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End of a custom date range in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "End of a custom date range in ISO 8601 format."
            }
          },
          {
            "name": "person_lead",
            "in": "query",
            "required": false,
            "description": "Return only form submissions that have an associated lead when true.",
            "schema": {
              "type": "boolean",
              "description": "Return only form submissions that have an associated lead when true."
            }
          },
          {
            "name": "lead_status",
            "in": "query",
            "required": false,
            "description": "Filter submissions by lead status.",
            "schema": {
              "type": "string",
              "description": "Filter submissions by lead status."
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tag names to match.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tag names to match."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated response fields to include."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
[...]
