{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Rat Genome Database Universal API",
    "version": "0.0.1",
    "description": "Search genes, variants, QTLs, and strains"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ratGenomeDatabase/latest/actions/get-all-strains": {
      "get": {
        "operationId": "ratGenomeDatabase.get-all-strains",
        "summary": "Get All Strains",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-all-strains"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundStrainRgdId": {
                            "type": "number",
                            "description": "Background strain RGD identifier when available."
                          },
                          "chrAltered": {
                            "type": "string",
                            "description": "Altered chromosome label."
                          },
                          "color": {
                            "type": "string",
                            "description": "Strain color."
                          },
                          "description": {
                            "type": "string",
                            "description": "Long-form description."
                          },
                          "genetics": {
                            "type": "string",
                            "description": "Genetics summary."
                          },
                          "geneticStatus": {
                            "type": "string",
                            "description": "Genetic status."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Image URL when available."
                          },
                          "inbredGen": {
                            "type": "string",
                            "description": "Inbred generation."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal strain key."
                          },
                          "lastStatus": {
                            "type": "string",
                            "description": "Latest status label."
                          },
                          "lastStatusObject": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Most recent status object."
                          },
                          "modificationMethod": {
                            "type": "string",
                            "description": "Modification method."
                          },
                          "name": {
                            "type": "string",
                            "description": "Strain name."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Provider notes."
                          },
                          "origin": {
                            "type": "string",
                            "description": "Origin information."
                          },
                          "origination": {
                            "type": "string",
                            "description": "Origination details."
                          },
                          "researchUse": {
                            "type": "string",
                            "description": "Research use notes."
                          },
                          "rgdId": {
                            "type": "number",
                            "description": "RGD identifier for the strain."
                          },
                          "source": {
                            "type": "string",
                            "description": "Provider source."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "statusLog": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Status history entries."
                          },
                          "strain": {
                            "type": "string",
                            "description": "Strain label."
                          },
                          "strainTypeName": {
                            "type": "string",
                            "description": "Strain type name."
                          },
                          "substrain": {
                            "type": "string",
                            "description": "Substrain label."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Strain symbol."
                          },
                          "taglessStrainSymbol": {
                            "type": "string",
                            "description": "Tagless strain symbol."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-annotations-by-rgd-id": {
      "get": {
        "operationId": "ratGenomeDatabase.get-annotations-by-rgd-id",
        "summary": "Get Annotations By RGD ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-annotations-by-rgd-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rgdId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alteration": {
                            "type": "string",
                            "description": "Alteration description."
                          },
                          "alterationLocation": {
                            "type": "string",
                            "description": "Alteration location."
                          },
                          "annotatedObjectRgdId": {
                            "type": "number",
                            "description": "RGD identifier for the annotated object."
                          },
                          "annotationExtension": {
                            "type": "string",
                            "description": "Annotation extension."
                          },
                          "aspect": {
                            "type": "string",
                            "description": "Ontology aspect."
                          },
                          "associatedWith": {
                            "type": "string",
                            "description": "Associated-with field."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "Creator identifier."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "dataSrc": {
                            "type": "string",
                            "description": "Provider data source."
                          },
                          "evidence": {
                            "type": "string",
                            "description": "Evidence code."
                          },
                          "geneProductFormId": {
                            "type": "string",
                            "description": "Gene product form identifier."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal annotation key."
                          },
                          "lastModifiedBy": {
                            "type": "number",
                            "description": "Last modifier identifier."
                          },
                          "lastModifiedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "molecularEntity": {
                            "type": "string",
                            "description": "Molecular entity value."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Provider notes."
                          },
                          "objectName": {
                            "type": "string",
                            "description": "Annotated object name."
                          },
                          "objectSymbol": {
                            "type": "string",
                            "description": "Annotated object symbol."
                          },
                          "originalCreatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Original creation timestamp."
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "Primary qualifier."
                          },
                          "qualifier2": {
                            "type": "string",
                            "description": "Secondary qualifier."
                          },
                          "refRgdId": {
                            "type": "number",
                            "description": "Reference RGD identifier."
                          },
                          "rgdObjectKey": {
                            "type": "number",
                            "description": "Internal object key."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "term": {
                            "type": "string",
                            "description": "Annotation term label."
                          },
                          "termAcc": {
                            "type": "string",
                            "description": "Ontology term accession."
                          },
                          "variantNomenclature": {
                            "type": "string",
                            "description": "Variant nomenclature string."
                          },
                          "withInfo": {
                            "type": "string",
                            "description": "With or from information."
                          },
                          "xrefSource": {
                            "type": "string",
                            "description": "Cross-reference source."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-annotations-for-term": {
      "get": {
        "operationId": "ratGenomeDatabase.get-annotations-for-term",
        "summary": "Get Annotations For Term",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-annotations-for-term"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "speciesTypeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alteration": {
                            "type": "string",
                            "description": "Alteration description."
                          },
                          "alterationLocation": {
                            "type": "string",
                            "description": "Alteration location."
                          },
                          "annotatedObjectRgdId": {
                            "type": "number",
                            "description": "RGD identifier for the annotated object."
                          },
                          "annotationExtension": {
                            "type": "string",
                            "description": "Annotation extension."
                          },
                          "aspect": {
                            "type": "string",
                            "description": "Ontology aspect."
                          },
                          "associatedWith": {
                            "type": "string",
                            "description": "Associated-with field."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "Creator identifier."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "dataSrc": {
                            "type": "string",
                            "description": "Provider data source."
                          },
                          "evidence": {
                            "type": "string",
                            "description": "Evidence code."
                          },
                          "geneProductFormId": {
                            "type": "string",
                            "description": "Gene product form identifier."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal annotation key."
                          },
                          "lastModifiedBy": {
                            "type": "number",
                            "description": "Last modifier identifier."
                          },
                          "lastModifiedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "molecularEntity": {
                            "type": "string",
                            "description": "Molecular entity value."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Provider notes."
                          },
                          "objectName": {
                            "type": "string",
                            "description": "Annotated object name."
                          },
                          "objectSymbol": {
                            "type": "string",
                            "description": "Annotated object symbol."
                          },
                          "originalCreatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Original creation timestamp."
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "Primary qualifier."
                          },
                          "qualifier2": {
                            "type": "string",
                            "description": "Secondary qualifier."
                          },
                          "refRgdId": {
                            "type": "number",
                            "description": "Reference RGD identifier."
                          },
                          "rgdObjectKey": {
                            "type": "number",
                            "description": "Internal object key."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "term": {
                            "type": "string",
                            "description": "Annotation term label."
                          },
                          "termAcc": {
                            "type": "string",
                            "description": "Ontology term accession."
                          },
                          "variantNomenclature": {
                            "type": "string",
                            "description": "Variant nomenclature string."
                          },
                          "withInfo": {
                            "type": "string",
                            "description": "With or from information."
                          },
                          "xrefSource": {
                            "type": "string",
                            "description": "Cross-reference source."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-chromosomes-by-assembly": {
      "get": {
        "operationId": "ratGenomeDatabase.get-chromosomes-by-assembly",
        "summary": "Get Chromosomes By Assembly",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-chromosomes-by-assembly"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mapKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Chromosome label."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-chromosomes-by-primary-assembly": {
      "get": {
        "operationId": "ratGenomeDatabase.get-chromosomes-by-primary-assembly",
        "summary": "Get Chromosomes By Primary Assembly",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-chromosomes-by-primary-assembly"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "speciesTypeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Chromosome label."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-ensembl-gene-mapping": {
      "get": {
        "operationId": "ratGenomeDatabase.get-ensembl-gene-mapping",
        "summary": "Get Ensembl Gene Mapping",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-ensembl-gene-mapping"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rgdId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-gene-by-rgd-id": {
      "get": {
        "operationId": "ratGenomeDatabase.get-gene-by-rgd-id",
        "summary": "Get Gene By RGD ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-gene-by-rgd-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rgdId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agrDescription": {
                            "type": "string",
                            "description": "Alliance of Genome Resources description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Gene description."
                          },
                          "ensemblFullName": {
                            "type": "string",
                            "description": "Ensembl full gene name."
                          },
                          "ensemblGeneSymbol": {
                            "type": "string",
                            "description": "Ensembl gene symbol."
                          },
                          "ensemblGeneType": {
                            "type": "string",
                            "description": "Ensembl gene type."
                          },
                          "geneSource": {
                            "type": "string",
                            "description": "Primary source for the gene record."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal gene key."
                          },
                          "mergedDescription": {
                            "type": "string",
                            "description": "Merged long-form description."
                          },
                          "name": {
                            "type": "string",
                            "description": "Gene name."
                          },
                          "ncbiAnnotStatus": {
                            "type": "string",
                            "description": "NCBI annotation status when available."
                          },
                          "nomenReviewDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Nomenclature review timestamp."
                          },
                          "nomenSource": {
                            "type": "string",
                            "description": "Nomenclature source when available."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Additional provider notes."
                          },
                          "refSeqStatus": {
                            "type": "string",
                            "description": "RefSeq status."
                          },
                          "rgdId": {
                            "type": "number",
                            "description": "RGD identifier for the gene."
                          },
                          "soAccId": {
                            "type": "string",
                            "description": "Sequence Ontology accession."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Gene symbol."
                          },
                          "taglessAlleleSymbol": {
                            "type": "string",
                            "description": "Tagless allele symbol when available."
                          },
                          "type": {
                            "type": "string",
                            "description": "Gene type label."
                          },
                          "variant": {
                            "type": "boolean",
                            "description": "Whether the record represents a variant."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-gene-by-symbol": {
      "get": {
        "operationId": "ratGenomeDatabase.get-gene-by-symbol",
        "summary": "Get Gene By Symbol",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-gene-by-symbol"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "speciesTypeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agrDescription": {
                            "type": "string",
                            "description": "Alliance of Genome Resources description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Gene description."
                          },
                          "ensemblFullName": {
                            "type": "string",
                            "description": "Ensembl full gene name."
                          },
                          "ensemblGeneSymbol": {
                            "type": "string",
                            "description": "Ensembl gene symbol."
                          },
                          "ensemblGeneType": {
                            "type": "string",
                            "description": "Ensembl gene type."
                          },
                          "geneSource": {
                            "type": "string",
                            "description": "Primary source for the gene record."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal gene key."
                          },
                          "mergedDescription": {
                            "type": "string",
                            "description": "Merged long-form description."
                          },
                          "name": {
                            "type": "string",
                            "description": "Gene name."
                          },
                          "ncbiAnnotStatus": {
                            "type": "string",
                            "description": "NCBI annotation status when available."
                          },
                          "nomenReviewDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Nomenclature review timestamp."
                          },
                          "nomenSource": {
                            "type": "string",
                            "description": "Nomenclature source when available."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Additional provider notes."
                          },
                          "refSeqStatus": {
                            "type": "string",
                            "description": "RefSeq status."
                          },
                          "rgdId": {
                            "type": "number",
                            "description": "RGD identifier for the gene."
                          },
                          "soAccId": {
                            "type": "string",
                            "description": "Sequence Ontology accession."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Gene symbol."
                          },
                          "taglessAlleleSymbol": {
                            "type": "string",
                            "description": "Tagless allele symbol when available."
                          },
                          "type": {
                            "type": "string",
                            "description": "Gene type label."
                          },
                          "variant": {
                            "type": "boolean",
                            "description": "Whether the record represents a variant."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-gene-orthologs": {
      "get": {
        "operationId": "ratGenomeDatabase.get-gene-orthologs",
        "summary": "Get Gene Orthologs",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-gene-orthologs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rgdId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agrDescription": {
                            "type": "string",
                            "description": "Alliance of Genome Resources description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Gene description."
                          },
                          "ensemblFullName": {
                            "type": "string",
                            "description": "Ensembl full gene name."
                          },
                          "ensemblGeneSymbol": {
                            "type": "string",
                            "description": "Ensembl gene symbol."
                          },
                          "ensemblGeneType": {
                            "type": "string",
                            "description": "Ensembl gene type."
                          },
                          "geneSource": {
                            "type": "string",
                            "description": "Primary source for the gene record."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal gene key."
                          },
                          "mergedDescription": {
                            "type": "string",
                            "description": "Merged long-form description."
                          },
                          "name": {
                            "type": "string",
                            "description": "Gene name."
                          },
                          "ncbiAnnotStatus": {
                            "type": "string",
                            "description": "NCBI annotation status when available."
                          },
                          "nomenReviewDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Nomenclature review timestamp."
                          },
                          "nomenSource": {
                            "type": "string",
                            "description": "Nomenclature source when available."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Additional provider notes."
                          },
                          "refSeqStatus": {
                            "type": "string",
                            "description": "RefSeq status."
                          },
                          "rgdId": {
                            "type": "number",
                            "description": "RGD identifier for the gene."
                          },
                          "soAccId": {
                            "type": "string",
                            "description": "Sequence Ontology accession."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Gene symbol."
                          },
                          "taglessAlleleSymbol": {
                            "type": "string",
                            "description": "Tagless allele symbol when available."
                          },
                          "type": {
                            "type": "string",
                            "description": "Gene type label."
                          },
                          "variant": {
                            "type": "boolean",
                            "description": "Whether the record represents a variant."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-gene-types": {
      "get": {
        "operationId": "ratGenomeDatabase.get-gene-types",
        "summary": "Get Gene Types",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-gene-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Gene type label."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-genes-annotated": {
      "get": {
        "operationId": "ratGenomeDatabase.get-genes-annotated",
        "summary": "Get Genes Annotated",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-genes-annotated"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "speciesTypeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agrDescription": {
                            "type": "string",
                            "description": "Alliance of Genome Resources description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Gene description."
                          },
                          "ensemblFullName": {
                            "type": "string",
                            "description": "Ensembl full gene name."
                          },
                          "ensemblGeneSymbol": {
                            "type": "string",
                            "description": "Ensembl gene symbol."
                          },
                          "ensemblGeneType": {
                            "type": "string",
                            "description": "Ensembl gene type."
                          },
                          "geneSource": {
                            "type": "string",
                            "description": "Primary source for the gene record."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal gene key."
                          },
                          "mergedDescription": {
                            "type": "string",
                            "description": "Merged long-form description."
                          },
                          "name": {
                            "type": "string",
                            "description": "Gene name."
                          },
                          "ncbiAnnotStatus": {
                            "type": "string",
                            "description": "NCBI annotation status when available."
                          },
                          "nomenReviewDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Nomenclature review timestamp."
                          },
                          "nomenSource": {
                            "type": "string",
                            "description": "Nomenclature source when available."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Additional provider notes."
                          },
                          "refSeqStatus": {
                            "type": "string",
                            "description": "RefSeq status."
                          },
                          "rgdId": {
                            "type": "number",
                            "description": "RGD identifier for the gene."
                          },
                          "soAccId": {
                            "type": "string",
                            "description": "Sequence Ontology accession."
                          },
                          "speciesTypeKey": {
                            "type": "number",
                            "description": "Species type key."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Gene symbol."
                          },
                          "taglessAlleleSymbol": {
                            "type": "string",
                            "description": "Tagless allele symbol when available."
                          },
                          "type": {
                            "type": "string",
                            "description": "Gene type label."
                          },
                          "variant": {
                            "type": "boolean",
                            "description": "Whether the record represents a variant."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ratGenomeDatabase/latest/actions/get-genes-by-keyword": {
      "get": {
        "operationId": "ratGenomeDatabase.get-genes-by-keyword",
        "summary": "Get Genes By Keyword",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ratGenomeDatabase/latest/actions/get-genes-by-keyword"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "speciesTypeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agrDescription": {
                            "type": "string",
                            "description": "Alliance of Genome Resources description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Gene description."
                          },
                          "ensemblFullName": {
                            "type": "string",
                            "description": "Ensembl full gene name."
                          },
                          "ensemblGeneSymbol": {
                            "type": "string",
                            "description": "Ensembl gene symbol."
                          },
                          "ensemblGeneType": {
                            "type": "string",
                            "description": "Ensembl gene type."
                          },
                          "geneSource": {
                            "type": "string",
                            "description": "Primary source for the gene record."
                          },
                          "key": {
                            "type": "number",
                            "description": "Internal gene key."
                          },
                          "mergedDescription": {
                            "type": "string",
                            "description": "Merged long-form description."
                          },
                          "name": {
                            "type": "string",
                            "description": "Gene name."
                          },
                          "ncbiAnnotStatus": {
                            "type": "string",
                            "description": "NCBI annotation status when available."
                          },
                          "nomenReviewDate": {
                            "type": "string",
                            "format": "date-time",
[...]
